Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz

dev: Move VirtualAnalogWrapper as plugin
  src/devices/CMakeLists.txt
  src/devices/VirtualAnalogWrapper/CMakeLists.txt
  src/devices/VirtualAnalogWrapper/VirtualAnalogWrapper.cpp
  src/devices/VirtualAnalogWrapper/VirtualAnalogWrapper.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move RobotDescriptionClient and RobotDescriptionServer as plugin
  src/devices/CMakeLists.txt
  src/devices/RobotDescriptionClient/CMakeLists.txt
  src/devices/RobotDescriptionClient/RobotDescriptionClient.cpp
  src/devices/RobotDescriptionClient/RobotDescriptionClient.h
  src/devices/RobotDescriptionServer/CMakeLists.txt
  src/devices/RobotDescriptionServer/RobotDescriptionServer.cpp
  src/devices/RobotDescriptionServer/RobotDescriptionServer.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  tests/libYARP_dev/robotDescriptionTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move DevicePipe as plugin
  doc/device_invocation/ffmpeg_writer_basic.dox
  doc/device_invocation/remote_grabber_basic.dox
  src/devices/CMakeLists.txt
  src/devices/DevicePipe/CMakeLists.txt
  src/devices/DevicePipe/DevicePipe.cpp
  src/devices/DevicePipe/DevicePipe.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move RGBDSensorWrapper as plugin
  src/devices/CMakeLists.txt
  src/devices/RGBDSensorWrapper/CMakeLists.txt
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.h
  src/devices/RGBDSensorWrapper/rosPixelCode.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move AnalogSensorClient as plugin
  src/devices/AnalogSensorClient/AnalogSensorClient.cpp
  src/devices/AnalogSensorClient/AnalogSensorClient.h
  src/devices/AnalogSensorClient/CMakeLists.txt
  src/devices/CMakeLists.txt
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene, @drdanz

dev: Move ServerGrabber as plugin
  src/devices/CMakeLists.txt
  src/devices/ServerGrabber/CMakeLists.txt
  src/devices/ServerGrabber/ServerGrabber.cpp
  src/devices/ServerGrabber/ServerGrabber.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  tests/libYARP_dev/TestFrameGrabberTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move ControlBoardRemapper and RemoteControlBoardRemapper as plugin
  src/devices/CMakeLists.txt
  src/devices/ControlBoardRemapper/CMakeLists.txt
  src/devices/ControlBoardRemapper/ControlBoardRemapper.cpp
  src/devices/ControlBoardRemapper/ControlBoardRemapper.h
  src/devices/ControlBoardRemapper/ControlBoardRemapperHelpers.cpp
  src/devices/ControlBoardRemapper/ControlBoardRemapperHelpers.h
  src/devices/ControlBoardRemapper/RemoteControlBoardRemapper.cpp
  src/devices/ControlBoardRemapper/RemoteControlBoardRemapper.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move TestMotor as plugin
  doc/device_invocation/test_motor_basic.dox
  src/devices/CMakeLists.txt
  src/devices/TestMotor/CMakeLists.txt
  src/devices/TestMotor/TestMotor.cpp
  src/devices/TestMotor/TestMotor.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  src/libYARP_dev/src/devices/TestMotor/TestMotor.cpp
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/ControlBoardWrapper2Test.cpp
  tests/libYARP_dev/GroupDriverTest.cpp
  tests/libYARP_dev/PolyDriverTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move RemoteControlBoard as plugin
  src/devices/CMakeLists.txt
  src/devices/RemoteControlBoard/CMakeLists.txt
  src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/devices/RemoteControlBoard/RemoteControlBoard.h
  src/devices/RemoteControlBoard/stateExtendedReader.cpp
  src/devices/RemoteControlBoard/stateExtendedReader.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.h
  tests/libYARP_dev/ControlBoardWrapper2Test.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move ServerInertial as plugin
  src/devices/CMakeLists.txt
  src/devices/ServerInertial/CMakeLists.txt
  src/devices/ServerInertial/ServerInertial.cpp
  src/devices/ServerInertial/ServerInertial.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move DeviceGroup as plugin
  doc/device_invocation/group_basic.dox
  src/devices/CMakeLists.txt
  src/devices/DeviceGroup/CMakeLists.txt
  src/devices/DeviceGroup/DeviceGroup.cpp
  src/devices/DeviceGroup/DeviceGroup.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/GroupDriverTest.cpp
  tests/libYARP_dev/PolyDriverTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move RGBDSensorClient as plugin
  src/devices/CMakeLists.txt
  src/devices/RGBDSensorClient/CMakeLists.txt
  src/devices/RGBDSensorClient/RGBDSensorClient.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient.h
  src/devices/RGBDSensorClient/RGBDSensorClient_StreamingMsgParser.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient_StreamingMsgParser.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move AnalogWrapper as plugin
  src/devices/AnalogWrapper/AnalogWrapper.cpp
  src/devices/AnalogWrapper/AnalogWrapper.h
  src/devices/AnalogWrapper/CMakeLists.txt
  src/devices/CMakeLists.txt
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  tests/libYARP_dev/AnalogWrapperTest.cpp
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene, @drdanz

RemoteControlBoard temporary hack
  src/libYARP_dev/idl/stateExt.thrift
  src/libYARP_dev/idl_generated_code/include/yarp/dev/impl/jointData.h
Owners: @barbalberto, @randaz81

dev: Move ServerSerial as plugin
  src/devices/CMakeLists.txt
  src/devices/ServerSerial/CMakeLists.txt
  src/devices/ServerSerial/ServerSerial.cpp
  src/devices/ServerSerial/ServerSerial.h
  src/devices/serialport/CMakeLists.txt
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

Add release notes
  doc/release/devel/device_plugins.md
Owners: @drdanz

Cleanup
  src/devices/realsense2/realsense2Driver.h
Owners: @Nicogene

dev/Drivers: Cleanup PIMPL and remote init/PopulateDrivers
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/Drivers.h
  src/libYARP_dev/src/Drivers.cpp
  src/libYARP_dev/src/PopulateDrivers.cpp
Owners: @drdanz, @barbalberto, @randaz81

dev: Move JoypadControlClient and JoypadControlServer as plugins
  src/devices/CMakeLists.txt
  src/devices/JoypadControlClient/CMakeLists.txt
  src/devices/JoypadControlClient/JoypadControlClient.cpp
  src/devices/JoypadControlClient/JoypadControlClient.h
  src/devices/JoypadControlNetUtils/CMakeLists.txt
  src/devices/JoypadControlNetUtils/JoypadControlNetUtils.cpp
  src/devices/JoypadControlNetUtils/JoypadControlNetUtils.h
  src/devices/JoypadControlServer/CMakeLists.txt
  src/devices/JoypadControlServer/JoypadControlServer.cpp
  src/devices/JoypadControlServer/JoypadControlServer.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  src/libYARP_dev/src/devices/JoypadControlServer/JoypadControlNetUtils.h
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Fix PreciselyTimed.h not installed
  src/libYARP_dev/CMakeLists.txt
Owners: @drdanz

Cleanup
  example/attachable/main.cpp
  example/dev/RGBD/RGBD_test_1b_client.cpp
Owners: @drdanz

Remove unused headers
  example/dev/RGBD/RGBD_test_1b_client.cpp
  src/devices/ControlBoardRemapper/ControlBoardRemapperHelpers.h
  src/devices/ControlBoardWrapper/RPCMessagesParser.h
  src/devices/ControlBoardWrapper/StreamingMessagesParser.h
  src/devices/ControlBoardWrapper/SubDevice.h
  src/devices/map2DServer/Map2DServer.h
  src/devices/portaudio/PortAudioDeviceDriver.cpp
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.cpp
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.cpp
  src/devices/transformServer/FrameTransformServer.h
  tests/libYARP_dev/GroupDriverTest.cpp
  tests/libYARP_dev/PolyDriverTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene, @aerydna

cmake: Remove no longer existing directory
  src/libYARP_dev/CMakeLists.txt
Owners: @drdanz

Cleanup
  src/libYARP_dev/include/yarp/dev/DriverLinkCreator.h
  src/libYARP_dev/include/yarp/dev/IAnalogSensor.h
  src/libYARP_dev/include/yarp/dev/IRGBDSensor.h
  src/libYARP_dev/include/yarp/dev/IRobotDescription.h
Owners: @barbalberto, @randaz81

dev/AudioBufferSize: Ensure that the .h file is included at least once in the library
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/AudioBufferSize.h
  src/libYARP_dev/src/AudioBufferSize.cpp
Owners: @drdanz, @barbalberto, @randaz81

dev/IRGBDSensor: Ensure that the .h file is included at least once in the library
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/IRGBDSensor.h
  src/libYARP_dev/src/IRGBDSensor.cpp
Owners: @drdanz, @barbalberto, @randaz81

dev/IPreciselyTimed: Ensure that the .h file is included at least once in the library
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/IPreciselyTimed.h
  src/libYARP_dev/src/IPreciselyTimed.cpp
Owners: @drdanz, @barbalberto, @randaz81

dev/IAnalogSensor: Ensure that the .h file is included at least once in the library
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/IAnalogSensor.h
  src/libYARP_dev/src/IAnalogSensor.cpp
Owners: @drdanz, @barbalberto, @randaz81

dev/IRobotDescription: Ensure that the .h file is included at least once in the library
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/IRobotDescription.h
  src/libYARP_dev/src/IRobotDescription.cpp
Owners: @drdanz, @barbalberto, @randaz81

dev/DriverLinkCreator: Ensure that the .h file is included at least once in the library
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/DriverLinkCreator.h
  src/libYARP_dev/src/DriverLinkCreator.cpp
Owners: @drdanz, @barbalberto, @randaz81

dev: Deprecate SerialInterfaces.h in favour of ISerialDevice.h
  doc/release/devel/SerialInterfaces.md
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/ISerialDevice.h
  src/libYARP_dev/src/ISerialDevice.cpp
Owners: @drdanz, @barbalberto, @randaz81

Use IGenericSensor instead of GenericSensorInterfaces
  src/devices/ServerInertial/ServerInertial.cpp
  src/devices/ServerInertial/ServerInertial.h
  src/devices/fakeIMU/fakeIMU.h
  src/devices/fakeMicrophone/fakeMicrophone.h
  src/devices/fakeSpeaker/fakeSpeaker.h
  src/devices/imuBosch_BNO055/imuBosch_BNO055.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Split AudioVisualInterfaces classes in correspondent .h/.cpp files
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/AudioVisualInterfaces.h
  src/libYARP_dev/include/yarp/dev/IAudioVisualGrabber.h
  src/libYARP_dev/include/yarp/dev/IAudioVisualStream.h
  src/libYARP_dev/include/yarp/dev/IFrameWriterAudioVisual.h
  src/libYARP_dev/src/IAudioVisualGrabber.cpp
  src/libYARP_dev/src/IAudioVisualStream.cpp
  src/libYARP_dev/src/IFrameWriterAudioVisual.cpp
Owners: @drdanz, @barbalberto, @randaz81

Use ISerialDevice.h instead of SerialInterfaces.h
  src/devices/SerialServoBoard/SerialServoBoard.cpp
  src/devices/SerialServoBoard/SerialServoBoard.h
  src/devices/ServerSerial/ServerSerial.h
  src/devices/imuBosch_BNO055/imuBosch_BNO055.h
  src/devices/laserHokuyo/laserHokuyo.h
  src/devices/rpLidar/rpLidar.h
  src/devices/rpLidar2/rpLidar2.h
  src/devices/serialport/SerialDeviceDriver.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Deprecate and split Wrapper.h file in favour of IWrapper.h and IMultipleWrapper.h
  doc/release/devel/Wrapper.md
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/IMultipleWrapper.h
  src/libYARP_dev/include/yarp/dev/IWrapper.h
  src/libYARP_dev/include/yarp/dev/Wrapper.h
  src/libYARP_dev/include/yarp/dev/all.h
  src/libYARP_dev/src/IMultipleWrapper.cpp
  src/libYARP_dev/src/IWrapper.cpp
Owners: @drdanz, @barbalberto, @randaz81

Use IWrapper.h/IMultipleWrapper.h instead of Wrapper.h
  example/attachable/main.cpp
  example/dev/RGBD/RGBD_test_1b_server.cpp
  src/devices/AnalogWrapper/AnalogWrapper.h
  src/devices/ControlBoardRemapper/ControlBoardRemapper.h
  src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/devices/JoypadControlServer/JoypadControlServer.h
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.h
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.h
  src/devices/RobotDescriptionServer/RobotDescriptionServer.h
  src/devices/ServerGrabber/ServerGrabber.h
  src/devices/ServerInertial/ServerInertial.h
  src/devices/VirtualAnalogWrapper/VirtualAnalogWrapper.h
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.h
  src/devices/batteryWrapper/BatteryWrapper.h
  src/devices/localization2DServer/Localization2DServer.h
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.h
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
  src/devices/navigation2DServer/navigation2DServer.h
  src/yarprobotinterface/Device.cpp
  tests/libYARP_dev/ControlBoardRemapperTest.cpp
  tests/libYARP_dev/ControlBoardWrapper2Test.cpp
  tests/libYARP_dev/MultipleAnalogSensorsInterfacesTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Deprecate GenericSensorInterfaces.h in favour of IGenericSensor.h
  doc/release/devel/GenericSensorInterfaces.md
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/IGenericSensor.h
  src/libYARP_dev/include/yarp/dev/all.h
  src/libYARP_dev/src/IGenericSensor.cpp
Owners: @drdanz, @barbalberto, @randaz81

Fix yarprun issues introduced by 3229150
  src/libYARP_run/src/Run.cpp
Owners: @drdanz

ci: Automatically update yarp-3.2 branch
  .github/workflows/nightly-merge.yml
Owners: @drdanz

ci: Try to enable again the rebase-pr action
  .github/workflows/rebase-pr.yml
Owners: @drdanz
