Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

os/impl/PortCore: Remove unused parameter from adminBlock
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/PortCoreInputUnit.cpp
Owners: @drdanz

os/impl/PortCore: Remove unused variable
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Use long to handle tid
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Remove NONSENSE_ADMIN_DELAY environment variable
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Use size_t for sizes
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

Rename YarpOSXUtilities -> YarpMacOSUtilities
  cmake/YarpMacOSUtilities.cmake
  src/yarpbatterygui/CMakeLists.txt
  src/yarpdataplayer/CMakeLists.txt
  src/yarplaserscannergui/CMakeLists.txt
  src/yarplogger/CMakeLists.txt
  src/yarpmanager/CMakeLists.txt
  src/yarpmotorgui/CMakeLists.txt
  src/yarpscope/src/CMakeLists.txt
  src/yarpview/src/CMakeLists.txt
  src/yarpviz/CMakeLists.txt
  src/yarpviz/src/CMakeLists.txt
Owners: @drdanz

os/impl/PortCore: Parse remaining command as soon as possible
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Parse in/out separately
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: avoid reassigning a value before using the old one
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'getPid' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'add' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'dtch' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'publisherUpdate' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'set' command in separate methods
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle unknown command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'atch' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Refactor describeRoute to avoid macros and useless bottle copies
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'get' command in separate methods
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'del' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'prop' command in separate methods
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Cleanup
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'getBusInfo' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'list' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Reduce variable scope
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'requestTopic' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os: Make yAssert a proper assertion (removed in Release builds)
  doc/release/devel/yAssert_ndebug.md
  src/libYARP_OS/include/yarp/os/Log.h
Owners: @drdanz

Fix spelling errors reported by lintian
  data/yarpmanager/tests/xml/modules/logpolarTransform.xml
  src/devices/ovrheadset/OVRHeadset.cpp
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_manager/include/yarp/manager/graph.h
  src/libYARP_profiler/src/NetworkProfiler.cpp
  src/libYARP_robottestingframework/include/yarp/robottestingframework/TestAsserter.h
  src/libYARP_robottestingframework/src/TestAsserter.cpp
  src/yarp-config/yarpcontextutils.cpp
  src/yarpviz/src/MainWindow.cpp
  src/yarpviz/src/MainWindow.h
  src/yarpviz/src/portloggerdialog.cpp
Owners: @drdanz, @aerydna, @Nicogene

Added new data types: - yarp::dev::MapGrid2D::MapOrigin - yarp::dev::MapGrid2D::MapInfo
  src/libYARP_dev/include/yarp/dev/MapGrid2D.h
  src/libYARP_dev/src/MapGrid2D.cpp
Owners: @barbalberto, @randaz81

added changelog
  doc/release/devel/Mapinfo.md
Owners: @drdanz

Rename files conflicting with github actions
  .github/CONTRIBUTING.md
  .github/git-workflow.png
  .github/git-workflow/LICENSE.gitgraph.md
  .github/git-workflow/gitgraph.css
  .github/git-workflow/gitgraph.js
  .github/git-workflow/workflow.html
  .github/git-workflow/workflow.js
Owners: @drdanz

Add .github/workflow/rebase.yml
  .github/workflow/rebase.yml
Owners: @drdanz

Add .github/workflow/rebase.yml
  .github/workflows/rebase.yml
Owners: @drdanz

Remove wrong file
  .github/workflow/rebase.yml
Owners: @drdanz

Fix PeriodicTestThread
  tests/libYARP_OS/PeriodicThreadTest.cpp
Owners: @drdanz

.travis.yml: Set git.depth=100
  .travis.yml
Owners: @drdanz

os/Bottle: Add move constructor and assignment operator
  doc/release/devel/Property_refactor.md
  src/libYARP_OS/include/yarp/os/Bottle.h
  src/libYARP_OS/include/yarp/os/impl/BottleImpl.h
  src/libYARP_OS/src/Bottle.cpp
Owners: @drdanz

Small refactor and try to fix #2084 and comments in #2079
  src/libYARP_OS/src/Property.cpp
Owners: @drdanz

Add .github/workflows/nightly-merge.yml
  .github/workflows/nightly-merge.yml
Owners: @drdanz

tests: Set timeout to 2 minutes
  tests/CMakeLists.txt
Owners: @drdanz

Fix PeriodicTestThread
  tests/libYARP_OS/PeriodicThreadTest.cpp
Owners: @drdanz

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz
