Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz

fixed width for toString function to be consistent with previous impl and to pass unit tests.
  src/libYARP_sig/src/Matrix.cpp
Owners: @drdanz

Improved the yarp matrix function toString, which was previously calling the c++ string method substr, which caused this function to slow down for large matrices.
  src/libYARP_sig/src/Matrix.cpp
Owners: @drdanz

yarpmanager: disable nodes buttons in case the server is not running
  src/yarpmanager/src-manager/clusterWidget.cpp
Owners: @Nicogene

yarpmanager: restilying of cluster
  src/yarpmanager/src-manager/clusterWidget.ui
Owners: @Nicogene

yarpmanager: add statusBar
  src/yarpmanager/res.qrc
  src/yarpmanager/src-manager/mainwindow.cpp
Owners: @Nicogene

yarpmanager: refactor/restyle the execution section of the cluster
  src/yarpmanager/src-manager/clusterWidget.cpp
  src/yarpmanager/src-manager/clusterWidget.h
  src/yarpmanager/src-manager/clusterWidget.ui
Owners: @Nicogene

yarpmanager: change NS text entry into a combo box in clusterWidget
  src/yarpmanager/src-manager/clusterWidget.cpp
  src/yarpmanager/src-manager/clusterWidget.ui
Owners: @Nicogene

yarpmanager: optimize refresh of connection status.
  src/libYARP_manager/include/yarp/manager/application.h
  src/libYARP_manager/src/manager.cpp
  src/libYARP_manager/src/yarpbroker.cpp
  src/yarpmanager/src-manager/safe_manager.cpp
Owners: @Nicogene

yarpmanager: add message box when trying to stop the server
  src/yarpmanager/src-manager/clusterWidget.cpp
  src/yarpmanager/src-manager/clusterWidget.h
Owners: @Nicogene

yarpmanager: add tooltip in the clusterWidget
  src/yarpmanager/src-manager/clusterWidget.ui
Owners: @Nicogene

yarpmanager: change NS status checkbox to an icon in the clusterWidget
  src/yarpmanager/src-manager/clusterWidget.cpp
  src/yarpmanager/src-manager/clusterWidget.ui
Owners: @Nicogene

Fix devices built even when disabled
  src/devices/audioPlayerWrapper/CMakeLists.txt
  src/devices/fakeSpeaker/CMakeLists.txt
Owners: @drdanz

Cleanup
  src/carriers/h264_carrier/H264Stream.cpp
Owners: @drdanz

.travis.yml: Add robotology/travis ppa
  .travis.yml
Owners: @drdanz

.travis.yml: The sudo keyword is deprecated
  .travis.yml
Owners: @drdanz

.travis.yml: Force YARP_PORT_RANGE=20000
  .travis.yml
Owners: @drdanz

.travis.yml: Print list of open ports
  .travis.yml
Owners: @drdanz

.travis.yml: Use xenial instead of trusty
  .travis.yml
Owners: @drdanz

.travis.yml: Fix printing cmake command line
  .travis.yml
Owners: @drdanz

.travis.yml: Install ycm and librobottestingframework-dev from robotology ppa
  .travis.yml
Owners: @drdanz

.travis.yml: Stop docker service before running anything
  .travis.yml
Owners: @drdanz

.travis.yml: Enable ffmpeg, opencv, and portaudio devices
  .travis.yml
Owners: @drdanz

.travis.yml: Remove arguments no longer needed
  .travis.yml
Owners: @drdanz

.travis.yml: Disable ffmpeg (currently not building on xenial)
  .travis.yml
Owners: @drdanz

.travis.yml: Disable portaudio devices (cannot find card '0')
  .travis.yml
Owners: @drdanz

Fix portaudio examples
  example/portaudio/sound_loopback.cpp
  example/portaudio/sound_receiver.cpp
  example/portaudio/sound_sender_mic.cpp
Owners: @drdanz

Remove portaudio example and update docs
  doc/cmd_yarpdev.dox
  doc/yarp_code_examples.dox
  example/portaudio/CMakeLists.txt
  example/portaudio/sound_loopback.cpp
  example/portaudio/sound_receiver.cpp
  example/portaudio/sound_sender_file.cpp
  example/portaudio/sound_sender_file_chunks.cpp
  example/portaudio/sound_sender_file_sum.cpp
  example/portaudio/sound_sender_mic.cpp
Owners: @drdanz

Update .mailmap
  .mailmap
Owners: @drdanz

Update release notes
  doc/release/v3_2_0.md
Owners: @drdanz

Update README_RELEASE.md
  scripts/admin/README_RELEASE.md
Owners: @drdanz

YARP 3.2.0
  doc/release/v3_2_0.md
Owners: @drdanz

[yarpdatadumper] added new feature
  doc/cmd_yarpdatadumper.dox
  src/yarpdatadumper/CMakeLists.txt
  src/yarpdatadumper/main.cpp
Owners: @drdanz, @pattacini

[yarpdatasetplayer] updated
  src/yarpdataplayer/src/utils.cpp
Owners: @vtikha

fix MultipleAnalogSensorsRemapper::getTemperatureSensorMeasure (vector version)
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.cpp
Owners: @traversaro

[yarpdatadumper] fixed handling of OpenCV
  src/yarpdatadumper/CMakeLists.txt
  src/yarpdatadumper/main.cpp
Owners: @drdanz, @pattacini

updated release info
  doc/release/devel.md
Owners: @drdanz

[yarpdatadumper] final touch on handling of OpenCV
  src/yarpdatadumper/main.cpp
Owners: @pattacini

[yarpdataplayer]
  src/yarpdataplayer/src/utils.cpp
Owners: @vtikha

carriers: fix mjpeg carrier for BGR images
  src/carriers/mjpeg_carrier/MjpegCarrier.cpp
Owners: @drdanz

Add release notes
  doc/release/master.md
Owners: @drdanz
