Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @randaz81, @Nicogene, @pattacini, @vtikha

advancements on FrameTransformClient device
  src/devices/frameTransformClient/CMakeLists.txt
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/frameTransformClient.h
  src/devices/frameTransformClient/yarp_only.xml
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

docs: Fix changelog
  doc/releases.md
Owners: @drdanz

CI: Fix tag workflow
  .github/workflows/tag.yml
Owners: @drdanz

Update release notes
  doc/release/master/image_move_swap.md
Owners: @drdanz

Tests: add unit tests for Image::swap() and Image::move() methods
  tests/libYARP_sig/ImageTest.cpp
Owners: @drdanz

sig/Image: Add move() and swap() methods
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/Image.h
Owners: @drdanz

Move idl in proper location
  src/CMakeLists.txt
  src/idls/CMakeLists.txt
  src/yarpidl_rosmsg/CMakeLists.txt
  src/yarpidl_rosmsg/src/RosType.cpp
  src/yarpidl_rosmsg/src/RosType.h
  src/yarpidl_rosmsg/src/RosTypeCodeGenYarp.cpp
  src/yarpidl_rosmsg/src/RosTypeCodeGenYarp.h
  src/yarpidl_rosmsg/src/main.cpp
  src/yarpidl_thrift/CMakeLists.txt
  src/yarpidl_thrift/src/t_yarp_generator.cc
  tests/misc/check_license.pl
Owners: @drdanz

os/Wire: Add yarp() const overload
  src/libYARP_os/src/yarp/os/Wire.h
Owners: @drdanz

Update release notes
  doc/release/master/thrift_const_method.md
Owners: @drdanz

os/WireLink: make the write method const
  src/libYARP_os/src/yarp/os/WireLink.cpp
  src/libYARP_os/src/yarp/os/WireLink.h
Owners: @drdanz

yarpidl_thrift: allow to specify a "const" qualifier to service methods
  src/yarpidl_thrift/src/t_yarp_generator.cc
Owners: @drdanz

tests/yarpidl_thrift: Add unit test for yarp.qualifier = "const"
  tests/yarpidl_thrift/demo/demo.thrift
  tests/yarpidl_thrift/demo/main.cpp
Owners: @drdanz

Improvements on frameTransformClient (does not compile yet) frameTransformUtils files renamed to frameTransformContainer Added method to access to the internal container
  src/devices/frameTransformClient/CMakeLists.txt
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/frameTransformClient.h
  src/devices/frameTransformRepeater/frameTransformRepeater.h
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformUtils/CMakeLists.txt
  src/devices/frameTransformUtils/frameTransformContainer.cpp
  src/devices/frameTransformUtils/frameTransformContainer.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

fixed mispelled imports
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformServer/frameTransformServer.cpp
Owners: @randaz81, @traversaro, @Nicogene

multiplexer now doesn't have a limit of devices attached
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformSet/frameTransformSetMultiplexer.cpp
Owners: @randaz81, @traversaro, @Nicogene

fixed minor bug in return
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
Owners: @randaz81, @traversaro, @Nicogene

sig/Image: Simplify move constructor and assigment operator
  src/libYARP_sig/src/yarp/sig/Image.cpp
Owners: @drdanz

Added Set_nwc_ros and Get_nwc_ros
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformGet/frameTransformGet_nwc_ros.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_ros.h
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/frameTransformSet_nwc_ros.cpp
  src/devices/frameTransformSet/frameTransformSet_nwc_ros.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Added missing EOF
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

Add frameGrabber_nws_yarp device
  src/devices/ServerFrameGrabberDual/CMakeLists.txt
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_yarp.cpp
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Update release notes
  doc/release/master/frameGrabberCropper.md
Owners: @drdanz

Add frameGrabberCropper device
  src/devices/CMakeLists.txt
  src/devices/frameGrabberCropper/CMakeLists.txt
  src/devices/frameGrabberCropper/frameGrabberCropper.cpp
  src/devices/frameGrabberCropper/frameGrabberCropper.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Add frameGrabber_nwc_yarp device
  src/devices/RemoteFrameGrabber/CMakeLists.txt
  src/devices/RemoteFrameGrabber/FrameGrabber_nwc_yarp.cpp
  src/devices/RemoteFrameGrabber/FrameGrabber_nwc_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Add frameGrabber_nws_ros device
  src/devices/ServerFrameGrabberDual/CMakeLists.txt
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.cpp
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

added yWarning if the recorded audio is clipped
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.h
Owners: @randaz81

devices/frameGrabber_nws_ros: Do not fail if IRgbVisualParams is missing
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.cpp
Owners: @randaz81, @traversaro, @Nicogene

devices/frameGrabberCropper: Fix getRgbHeight and getRgbWidth
  src/devices/frameGrabberCropper/frameGrabberCropper.h
Owners: @randaz81, @traversaro, @Nicogene

Cleanup
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.cpp
  src/libYARP_os/src/yarp/os/Bottle.h
  src/libYARP_os/src/yarp/os/Value.h
Owners: @randaz81, @traversaro, @Nicogene, @drdanz

devices/frameGrabber_nws_ros: Add threadRelease
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.cpp
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.h
Owners: @randaz81, @traversaro, @Nicogene

devices/frameGrabber_nws_ros: Add assert
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.cpp
Owners: @randaz81, @traversaro, @Nicogene

docs: Fix links to joser papers
  doc/main.dox
Owners: @drdanz

examples: Integrate "motorcontrol" example in build
  example/dev/CMakeLists.txt
  example/dev/motorcontrol/CMakeLists.txt
  example/dev/motorcontrol/motorcontrol.cpp
  example/motorcontrol/CMakeLists.txt
Owners: @drdanz

examples: Integrate "send_sound_file" example in build
  example/sig/CMakeLists.txt
  example/sig/send_sound_file/CMakeLists.txt
  example/sig/send_sound_file/send_sound_file.cpp
  example/sound/CMakeLists.txt
Owners: @drdanz

examples: Integrate "rfmodule" example in build
  example/os/CMakeLists.txt
  example/os/rfmodule/CMakeLists.txt
  example/os/rfmodule/rfmodule.cpp
  example/rfmodule/CMakeLists.txt
Owners: @drdanz

examples: Integrate "bottle" example in build
  example/bottle/CMakeLists.txt
  example/os/CMakeLists.txt
  example/os/bottle/CMakeLists.txt
  example/os/bottle/bottle.cpp
Owners: @drdanz

examples: Integrate "hello" example in build
  example/hello/CMakeLists.txt
  example/os/CMakeLists.txt
  example/os/hello/CMakeLists.txt
  example/os/hello/hello.cpp
Owners: @drdanz

Tests: do not create files in the source directory
  tests/libYARP_dev/MapGrid2DTest.cpp
Owners: @drdanz

Add a check for new/modified files during build and test phase
  .github/workflows/ci.yml
Owners: @drdanz

Add websocket carrier
  src/carriers/CMakeLists.txt
  src/carriers/websocket/CMakeLists.txt
  src/carriers/websocket/WebSocketCarrier.cpp
  src/carriers/websocket/WebSocketCarrier.h
  src/carriers/websocket/WebSocketStream.cpp
  src/carriers/websocket/WebSocketStream.h
Owners: @drdanz

extern/websocket: Add missing header
  extern/websocket/WebSocket/WebSocket/WebSocket.cpp
Owners: @drdanz

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**                  @drdanz
/src/devices/**                                  @randaz81 @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**              @randaz81
/src/devices/Rangefinder2DWrapper/**             @randaz81
/src/devices/audioPlayerWrapper/**               @randaz81
/src/devices/audioRecorderWrapper/**             @randaz81
/src/devices/batteryClient/**                    @randaz81
/src/devices/batteryWrapper/**                   @randaz81
/src/devices/fakeBattery/**                      @randaz81
/src/devices/fakeLaser/**                        @randaz81
/src/devices/fakeMicrophone/**                   @randaz81
/src/devices/fakeSpeaker/**                      @randaz81
/src/devices/imuBosch_BNO055/**                  @Nicogene
/src/devices/laserFromDepth/**                   @randaz81
/src/devices/laserHokuyo/**                      @randaz81
/src/devices/localization2DClient/**             @randaz81
/src/devices/localization2DServer/**             @randaz81
/src/devices/map2DClient/**                      @randaz81
/src/devices/map2DServer/**                      @randaz81
/src/devices/multipleAnalogSensorsMsgs/**        @traversaro
/src/devices/multipleanalogsensorsclient/**      @traversaro
/src/devices/multipleanalogsensorsremapper/**    @traversaro
/src/devices/multipleanalogsensorsserver/**      @traversaro
/src/devices/navigation2DClient/**               @randaz81
/src/devices/navigation2DServer/**               @randaz81
/src/devices/portaudio/**                        @randaz81
/src/devices/portaudioPlayer/**                  @randaz81
/src/devices/portaudioRecorder/**                @randaz81
/src/devices/rpLidar/**                          @randaz81
/src/devices/rpLidar2/**                         @randaz81
/src/devices/transformClient/**                  @randaz81
/src/devices/transformServer/**                  @randaz81
/src/devices/usbCamera/**                        @Nicogene
/src/idls/rosmsg/**                              @drdanz
/src/idls/thrift/**                              @drdanz
/src/libYARP_companion/**                        @drdanz
/src/libYARP_conf/**                             @drdanz
/src/libYARP_cv/**                               @Nicogene
/src/libYARP_dev/**                              @randaz81
/src/libYARP_eigen/**                            @traversaro
/src/libYARP_gsl/**                              @traversaro
/src/libYARP_init/**                             @drdanz
/src/libYARP_logger/**                           @randaz81
/src/libYARP_manager/**                          @Nicogene
/src/libYARP_math/**                             @traversaro
/src/libYARP_name/**                             @drdanz
/src/libYARP_os/**                               @drdanz
/src/libYARP_pcl/**                              @Nicogene
/src/libYARP_profiler/**                         @Nicogene
/src/libYARP_robottestingframework/**            @Nicogene
/src/libYARP_rosmsg/**                           @drdanz
/src/libYARP_run/**                              @drdanz
/src/libYARP_serversql/**                        @drdanz
/src/libYARP_sig/**                              @drdanz
/src/libYARP_wire_rep_utils/**                   @drdanz
/src/portmonitors/depthimage_compression_zfp/**  @Nicogene
/src/portmonitors/depthimage_to_mono/**          @randaz81
/src/portmonitors/depthimage_to_rgb/**           @randaz81
/src/portmonitors/segmentationimage_to_rgb/**    @randaz81
/src/portmonitors/sound_compression_mp3/**       @randaz81
/src/robottestingframework-plugins/**            @Nicogene
/src/yarp/**                                     @drdanz
/src/yarpbatterygui/**                           @randaz81
/src/yarpdatadumper/**                           @pattacini
/src/yarpdataplayer/**                           @vtikha
/src/yarpdev/**                                  @drdanz
/src/yarplaserscannergui/**                      @randaz81
/src/yarplogger/**                               @randaz81
/src/yarplogger-console/**                       @randaz81
/src/yarpmanager/**                              @Nicogene
/src/yarpmanager-console/**                      @Nicogene
/src/yarpmotorgui/**                             @randaz81
/src/yarprobotinterface/**                       @drdanz
/src/yarprun/**                                  @drdanz
/src/yarpserver/**                               @drdanz
/src/yarpviz/**                                  @Nicogene
CMakeLists.txt                                   @drdanz
*.cmake                                          @drdanz
