Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

devices/imuBosch_BNO055: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp
  src/devices/imuBosch_BNO055/imuBosch_BNO055.h
Owners: @barbalberto, @Nicogene

devices/ovrheadset: Use std::mutex instead of yarp::os::Mutex
  src/devices/ovrheadset/OVRHeadset.cpp
  src/devices/ovrheadset/OVRHeadset.h
  src/devices/ovrheadset/TextureBuffer.h
Owners: @drdanz, @aerydna

devices/fakeMicrophone: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/fakeMicrophone/fakeMicrophone.cpp
  src/devices/fakeMicrophone/fakeMicrophone.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

devices/rpLidar: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/rpLidar/rpLidar.cpp
  src/devices/rpLidar/rpLidar.h
Owners: @randaz81

devices/map2DServer: Use std::mutex instead of yarp::os::Mutex
  src/devices/map2DServer/Map2DServer.cpp
  src/devices/map2DServer/Map2DServer.h
Owners: @randaz81

carriers/portmonitor: Use std::mutex instead of yarp::os::Mutex
  src/carriers/portmonitor_carrier/MonitorEvent.h
Owners: @drdanz

devices/localization2DClient: Use std::mutex instead of yarp::os::Mutex
  src/devices/localization2DClient/Localization2DClient.cpp
  src/devices/localization2DClient/Localization2DClient.h
Owners: @randaz81

devices/batteryClient: Use std::mutex instead of yarp::os::Mutex
  src/devices/batteryClient/BatteryClient.h
Owners: @randaz81

devices/laserFromDepth: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/laserFromDepth/laserFromDepth.cpp
  src/devices/laserFromDepth/laserFromDepth.h
Owners: @randaz81

devices/transformServer: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/transformServer/FrameTransformServer.cpp
  src/devices/transformServer/FrameTransformServer.h
Owners: @randaz81, @aerydna

devices/fakeLaser: Use std::mutex instead of yarp::os::Mutex
  src/devices/fakeLaser/fakeLaser.h
Owners: @randaz81

devices/rpLidar2: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/rpLidar2/rpLidar2.cpp
  src/devices/rpLidar2/rpLidar2.h
Owners: @randaz81

devices/portaudioRecorder: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.cpp
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

dev/devices/AnalogSensorClient: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/src/devices/AnalogSensorClient/AnalogSensorClient.h
Owners: @barbalberto, @randaz81

devices/transformClient: Use std::{mutex,recursive_mutex,lock_guard} instead of yarp::os::{Mutex,RecursiveMutex,LockGuard,RecursiveLockGuard}
  src/devices/transformClient/FrameTransformClient.cpp
  src/devices/transformClient/FrameTransformClient.h
Owners: @randaz81, @aerydna

devices/portaudioPlayer: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.cpp
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

devices/laserHokuyo: Use std::mutex instead of yarp::os::Mutex
  src/devices/laserHokuyo/laserHokuyo.h
Owners: @randaz81

carriers/h264: Use std::mutex instead of yarp::os::Mutex
  src/carriers/h264_carrier/H264Decoder.cpp
  src/carriers/h264_carrier/H264Decoder.h
Owners: @drdanz

devices/navigation2DClient: Use std::mutex instead of yarp::os::Mutex
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
Owners: @randaz81

test,example: Use std::mutex instead of yarp::os::Mutex
  example/game/game_client/keyboard.cpp
  example/game/game_client/main.cpp
  example/game/game_clientmt/main.cpp
  example/game/game_server/Game.cpp
  example/game/game_server/Player.h
  example/game/game_server/main.cpp
  example/modular_robots/main.cpp
  example/os/queue_manager.cpp
  example/profiling/thread_latency.cpp
  example/stressTests/callback.cpp
  example/stressTests/stress_name_server/stress_name_server_topics.cpp
  tests/libYARP_OS/MessageStackTest.cpp
  tests/libYARP_OS/ThreadTest.cpp
Owners: @drdanz

carriers/shmem: Use std::mutex instead of yarp::os::Mutex
  src/carriers/shmem_carrier/ShmemInputStream.h
Owners: @drdanz

devices/DynamixelAX12Ftdi: Use std::mutex instead of yarp::os::Mutex
  src/devices/DynamixelAX12Ftdi/DynamixelAX12FtdiDriver.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

carriers/portmonitor: Use std::recursive_mutex instead of yarp::os::RecursiveMutex
  src/carriers/portmonitor_carrier/lua/MonitorLua.h
Owners: @drdanz

devices/fakeAnalogSensor: Use std::mutex instead of yarp::os::Mutex
  src/devices/fakeAnalogSensor/fakeAnalogSensor.h
Owners: @barbalberto

dev/devices/ControlBoardWrapper: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/RPCMessagesParser.h
Owners: @barbalberto, @randaz81

os/impl/NameServer: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/impl/NameServer.h
Owners: @drdanz

dev/devices/DeviceGroup: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/src/devices/DeviceGroup/DeviceGroup.cpp
Owners: @barbalberto, @randaz81

dev/devices/RobotDescriptionClient: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/src/devices/RobotDescriptionClient/RobotDescriptionClient.cpp
  src/libYARP_dev/src/devices/RobotDescriptionClient/RobotDescriptionClient.h
Owners: @barbalberto, @randaz81

os/Carriers: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/libYARP_OS/src/Carriers.cpp
Owners: @drdanz

os/Election: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/Election.h
Owners: @drdanz

dev/devices/RemoteControlBoard: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.h
Owners: @barbalberto, @randaz81

dev/devices/RobotDescriptionServer: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/libYARP_dev/src/devices/RobotDescriptionServer/RobotDescriptionServer.cpp
  src/libYARP_dev/src/devices/RobotDescriptionServer/RobotDescriptionServer.h
Owners: @barbalberto, @randaz81

yarpdataplayer: Use std::mutex instead of yarp::os::Mutex
  src/yarpdataplayer/include/utils.h
Owners: @vtikha

os/Node: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/src/Node.cpp
Owners: @drdanz

os/Nodes: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/src/Nodes.cpp
Owners: @drdanz

os/impl/NameClient: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/src/NameClient.cpp
Owners: @drdanz

yarphear: Use std::mutex instead of yarp::os::Mutex
  src/yarphear/yarphear.cpp
Owners: @drdanz

dev/devices/ControlBoardRemapper: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.cpp
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapperHelpers.h
Owners: @barbalberto, @randaz81

serversql/impl/NameServiceOnTriples: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_serversql/include/yarp/serversql/impl/NameServiceOnTriples.h
Owners: @drdanz

os/impl/PortCoreOutputUnit: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/libYARP_OS/include/yarp/os/impl/PortCoreOutputUnit.h
Owners: @drdanz

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz
