Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @randaz81, @Nicogene, @pattacini, @vtikha

os/impl: Export TcpCarrier as a temporary hack for websocket carrier
  src/libYARP_os/src/yarp/os/impl/TcpCarrier.h
Owners: @drdanz

extern/websocket: Add CLOSING_OPCODE WebSocketFrameType
  extern/websocket/WebSocket/WebSocket/WebSocket.h
Owners: @drdanz

added release notes
  doc/release/master/websocket.md
Owners: @drdanz

minor bugfix, cleanup and removed c++20
  src/carriers/websocket/CMakeLists.txt
  src/carriers/websocket/WebSocketCarrier.cpp
  src/carriers/websocket/WebSocketCarrier.h
  src/carriers/websocket/WebSocketStream.cpp
  src/carriers/websocket/WebSocketStream.h
Owners: @drdanz

os/impl/HttpCarrier: do not accept "/?ws"
  src/libYARP_os/src/yarp/os/impl/HttpCarrier.cpp
Owners: @drdanz

Import WebSocket library from https://github.com/katzarsky/WebSocket
  extern/CMakeLists.txt
  extern/README.txt
  extern/websocket/README.txt
  extern/websocket/WebSocket/LICENSE
  extern/websocket/WebSocket/README.md
  extern/websocket/WebSocket/WebSocket/WebSocket.cpp
  extern/websocket/WebSocket/WebSocket/WebSocket.h
  extern/websocket/WebSocket/WebSocket/base64/base64.cpp
  extern/websocket/WebSocket/WebSocket/base64/base64.h
  extern/websocket/WebSocket/WebSocket/md5/md5.c
  extern/websocket/WebSocket/WebSocket/md5/md5.h
  extern/websocket/WebSocket/WebSocket/md5/md5.hpp
  extern/websocket/WebSocket/WebSocket/sha1/Makefile
  extern/websocket/WebSocket/WebSocket/sha1/Makefile.nt
  extern/websocket/WebSocket/WebSocket/sha1/license.txt
  extern/websocket/WebSocket/WebSocket/sha1/sha.cpp
  extern/websocket/WebSocket/WebSocket/sha1/sha1.cpp
  extern/websocket/WebSocket/WebSocket/sha1/sha1.h
  extern/websocket/WebSocket/WebSocket/sha1/shacmp.cpp
  extern/websocket/WebSocket/WebSocket/sha1/shatest.cpp
Owners: @drdanz

extern/websocket: Add patches
  extern/websocket/README.txt
  extern/websocket/patches/0001-extern-websocket-Add-missing-header.patch
  extern/websocket/patches/0002-extern-websocket-Add-CLOSING_OPCODE-WebSocketFrameTy.patch
Owners: @drdanz

updated ci files
  .ci/initial-cache.gh.linux.cmake
  .ci/initial-cache.gh.macos.cmake
  .ci/initial-cache.gh.windows.cmake
Owners: @drdanz

added thrift message
  src/devices/CMakeLists.txt
  src/devices/frameTransformStorageMsgs/CMakeLists.txt
  src/devices/frameTransformStorageMsgs/frameTransformStorageMsgs.thrift
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.h
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.h
  src/devices/frameTransformStorageMsgs/idl_generated_code/frameTransformStorageMsgs_index.txt
  src/devices/frameTransformStorageMsgs/idl_generated_code/return_getAllTransforms.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/return_getAllTransforms.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

preliminary commit
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81

added FrameTransformStorageDevice
  src/devices/CMakeLists.txt
  src/devices/frameTransformStorage/CMakeLists.txt
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

improvements to FrameTransformStorage
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
Owners: @randaz81, @traversaro, @Nicogene

FrameTransformContainer separated from FrameTransformStorage
  src/devices/CMakeLists.txt
  src/devices/frameTransformStorage/CMakeLists.txt
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformUtils/CMakeLists.txt
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/devices/frameTransformUtils/frameTransformUtils.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

fixed mispelled import and check style
  src/devices/frameTransformStorage/CMakeLists.txt
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

updated cmakelists if lib_math is not enabled
  src/devices/frameTransformStorageMsgs/CMakeLists.txt
  src/devices/frameTransformUtils/CMakeLists.txt
Owners: @drdanz

fixed frametransformstorage cmakelists
  src/devices/frameTransformStorage/CMakeLists.txt
Owners: @drdanz

fixed target yarp_math
  src/devices/frameTransformStorageMsgs/CMakeLists.txt
  src/devices/frameTransformUtils/CMakeLists.txt
Owners: @drdanz

added frametransform get wrappers and multiplexer
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGetMultiplexer.h
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

added frametransformget wrapper
  src/devices/CMakeLists.txt
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

added frametransform set multiplexer
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/frameTransformSetMultiplexer.cpp
  src/devices/frameTransformSet/frameTransformSetMultiplexer.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

fixed code style
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGetMultiplexer.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSetMultiplexer.cpp
  src/devices/frameTransformSet/frameTransformSetMultiplexer.h
Owners: @randaz81, @traversaro, @Nicogene

updated cmake for frametransform set
  src/devices/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

updated cmakelist files
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

minor bugfix
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
Owners: @randaz81, @traversaro, @Nicogene

added depends on yarp_math
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

cleanup
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
  src/devices/frameTransformSet/frameTransformSetMultiplexer.cpp
Owners: @randaz81, @traversaro, @Nicogene

added constructor in frameTransformGet_nwc_yarp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

* added method checkAndRemoveExpired() to FrameTransformContainer * added isStatic boolean to FrameTransform class * FrameTransformStorage now checks and removes non-static old transforms
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/devices/frameTransformUtils/frameTransformUtils.h
  src/libYARP_math/src/yarp/math/FrameTransform.cpp
  src/libYARP_math/src/yarp/math/FrameTransform.h
Owners: @randaz81, @traversaro, @Nicogene

Added FrameTransformContainer class plus some corrections
  src/devices/frameTransformRepeater/CMakeLists.txt
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

feature_frameTransformRepeater
  src/devices/frameTransformRepeater/CMakeLists.txt
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

CMake corrections, license fixed and no more thread
  src/devices/frameTransformRepeater/CMakeLists.txt
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Added check on expired transforms on getTransforms
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/devices/frameTransformUtils/frameTransformUtils.h
Owners: @randaz81, @traversaro, @Nicogene

removed trailing white space
  src/devices/frameTransformUtils/frameTransformUtils.cpp
Owners: @randaz81, @traversaro, @Nicogene

frameTransformSet: nws and nwc added
  src/devices/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

fixed inheritance plus various corrections
  src/devices/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

License fixed and first documentation draft added
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

style correction
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

clean nws
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

clean nwc
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

clean up
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**                  @drdanz
/src/devices/**                                  @randaz81 @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**              @randaz81
/src/devices/Rangefinder2DWrapper/**             @randaz81
/src/devices/audioPlayerWrapper/**               @randaz81
/src/devices/audioRecorderWrapper/**             @randaz81
/src/devices/batteryClient/**                    @randaz81
/src/devices/batteryWrapper/**                   @randaz81
/src/devices/fakeBattery/**                      @randaz81
/src/devices/fakeLaser/**                        @randaz81
/src/devices/fakeMicrophone/**                   @randaz81
/src/devices/fakeSpeaker/**                      @randaz81
/src/devices/imuBosch_BNO055/**                  @Nicogene
/src/devices/laserFromDepth/**                   @randaz81
/src/devices/laserHokuyo/**                      @randaz81
/src/devices/localization2DClient/**             @randaz81
/src/devices/localization2DServer/**             @randaz81
/src/devices/map2DClient/**                      @randaz81
/src/devices/map2DServer/**                      @randaz81
/src/devices/multipleAnalogSensorsMsgs/**        @traversaro
/src/devices/multipleanalogsensorsclient/**      @traversaro
/src/devices/multipleanalogsensorsremapper/**    @traversaro
/src/devices/multipleanalogsensorsserver/**      @traversaro
/src/devices/navigation2DClient/**               @randaz81
/src/devices/navigation2DServer/**               @randaz81
/src/devices/portaudio/**                        @randaz81
/src/devices/portaudioPlayer/**                  @randaz81
/src/devices/portaudioRecorder/**                @randaz81
/src/devices/rpLidar/**                          @randaz81
/src/devices/rpLidar2/**                         @randaz81
/src/devices/transformClient/**                  @randaz81
/src/devices/transformServer/**                  @randaz81
/src/devices/usbCamera/**                        @Nicogene
/src/idls/rosmsg/**                              @drdanz
/src/idls/thrift/**                              @drdanz
/src/libYARP_companion/**                        @drdanz
/src/libYARP_conf/**                             @drdanz
/src/libYARP_cv/**                               @Nicogene
/src/libYARP_dev/**                              @randaz81
/src/libYARP_eigen/**                            @traversaro
/src/libYARP_gsl/**                              @traversaro
/src/libYARP_init/**                             @drdanz
/src/libYARP_logger/**                           @randaz81
/src/libYARP_manager/**                          @Nicogene
/src/libYARP_math/**                             @traversaro
/src/libYARP_name/**                             @drdanz
/src/libYARP_os/**                               @drdanz
/src/libYARP_pcl/**                              @Nicogene
/src/libYARP_profiler/**                         @Nicogene
/src/libYARP_robottestingframework/**            @Nicogene
/src/libYARP_rosmsg/**                           @drdanz
/src/libYARP_run/**                              @drdanz
/src/libYARP_serversql/**                        @drdanz
/src/libYARP_sig/**                              @drdanz
/src/libYARP_wire_rep_utils/**                   @drdanz
/src/portmonitors/depthimage_compression_zfp/**  @Nicogene
/src/portmonitors/depthimage_to_mono/**          @randaz81
/src/portmonitors/depthimage_to_rgb/**           @randaz81
/src/portmonitors/segmentationimage_to_rgb/**    @randaz81
/src/portmonitors/sound_compression_mp3/**       @randaz81
/src/robottestingframework-plugins/**            @Nicogene
/src/yarp/**                                     @drdanz
/src/yarpbatterygui/**                           @randaz81
/src/yarpdatadumper/**                           @pattacini
/src/yarpdataplayer/**                           @vtikha
/src/yarpdev/**                                  @drdanz
/src/yarplaserscannergui/**                      @randaz81
/src/yarplogger/**                               @randaz81
/src/yarplogger-console/**                       @randaz81
/src/yarpmanager/**                              @Nicogene
/src/yarpmanager-console/**                      @Nicogene
/src/yarpmotorgui/**                             @randaz81
/src/yarprobotinterface/**                       @drdanz
/src/yarprun/**                                  @drdanz
/src/yarpserver/**                               @drdanz
/src/yarpviz/**                                  @Nicogene
CMakeLists.txt                                   @drdanz
*.cmake                                          @drdanz
