Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @randaz81, @Nicogene, @pattacini, @vtikha

improvements to FrameTransformStorage
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
Owners: @randaz81, @traversaro, @Nicogene

added frametransformget wrapper
  src/devices/CMakeLists.txt
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

added frametransform set multiplexer
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/frameTransformSetMultiplexer.cpp
  src/devices/frameTransformSet/frameTransformSetMultiplexer.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

updated cmake for frametransform set
  src/devices/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

updated cmakelist files
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

minor bugfix
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
Owners: @randaz81, @traversaro, @Nicogene

added frametransform get wrappers and multiplexer
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGetMultiplexer.h
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

added depends on yarp_math
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

fixed code style
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGetMultiplexer.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSetMultiplexer.cpp
  src/devices/frameTransformSet/frameTransformSetMultiplexer.h
Owners: @randaz81, @traversaro, @Nicogene

cleanup
  src/devices/frameTransformGet/frameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
  src/devices/frameTransformSet/frameTransformSetMultiplexer.cpp
Owners: @randaz81, @traversaro, @Nicogene

* added method checkAndRemoveExpired() to FrameTransformContainer * added isStatic boolean to FrameTransform class * FrameTransformStorage now checks and removes non-static old transforms
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/devices/frameTransformUtils/frameTransformUtils.h
  src/libYARP_math/src/yarp/math/FrameTransform.cpp
  src/libYARP_math/src/yarp/math/FrameTransform.h
Owners: @randaz81, @traversaro, @Nicogene

sig/Image: Fix topIsLow in received images
  src/libYARP_sig/src/yarp/sig/Image.cpp
Owners: @drdanz

Cleanup
  src/devices/fakeDepthCamera/fakeDepthCameraDriver.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/CameraVocabs.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.cpp
  src/libYARP_dev/src/yarp/dev/IRGBDSensor.h
  src/libYARP_sig/src/yarp/sig/Image.cpp
Owners: @randaz81, @traversaro, @Nicogene, @drdanz

framegrabber_protocol: Add missing include
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Responder-inl.h
Owners: @randaz81, @traversaro, @Nicogene

os/LogComponent: Fix C4551 warnings
  src/libYARP_os/src/yarp/os/LogComponent.h
Owners: @drdanz

os/LogComponent: Fix C4551 warnings
  src/libYARP_os/src/yarp/os/LogComponent.h
Owners: @drdanz

added constructor in frameTransformGet_nwc_yarp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

sig/Image: Fix compatibility with images with topIsLow==false sent by YARP 3.5
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
Owners: @drdanz

yarpview: Fix upside down image when topIsLow is false
  src/yarpview/plugin/ImagePort.cpp
Owners: @drdanz

Update release notes
  doc/release/yarp_3_4/fix_topIsLow_yarp-3.4.md
Owners: @drdanz

sig/ImageNetworkHeader: Cleanup
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
Owners: @drdanz

doc: Add libYARP_robotinterface to the doxygen documentation
  doc/Doxyfile.in
Owners: @drdanz

dev/IJoypadController: Cleanup and port to yarp log
  src/libYARP_dev/src/yarp/dev/IJoypadController.cpp
  src/libYARP_dev/src/yarp/dev/IJoypadController.h
Owners: @randaz81

fixed inheritance plus various corrections
  src/devices/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

frameTransformSet: nws and nwc added
  src/devices/CMakeLists.txt
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

License fixed and first documentation draft added
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

style correction
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

clean up
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

CMake corrections, license fixed and no more thread
  src/devices/frameTransformRepeater/CMakeLists.txt
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

feature_frameTransformRepeater
  src/devices/CMakeLists.txt
  src/devices/frameTransformRepeater/CMakeLists.txt
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Added FrameTransformContainer class plus some corrections
  src/devices/frameTransformRepeater/CMakeLists.txt
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

clean nwc
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

clean nws
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

Added check on expired transforms on getTransforms
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/devices/frameTransformUtils/frameTransformUtils.h
Owners: @randaz81, @traversaro, @Nicogene

doc: Add libYARP_robotinterface to the doxygen documentation
  doc/Doxyfile.in
Owners: @drdanz

removed trailing white space
  src/devices/frameTransformUtils/frameTransformUtils.cpp
Owners: @randaz81, @traversaro, @Nicogene

added missing ports closing
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

cleanup
  src/devices/frameTransformServer/CMakeLists.txt
  src/devices/frameTransformServer/frameTransformServer.cpp
  src/devices/frameTransformServer/frameTransformServer.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

cleanup
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/frameTransformClient.h
  src/devices/frameTransformServer/frameTransformServer.cpp
  src/devices/frameTransformServer/frameTransformServer.h
Owners: @randaz81, @traversaro, @Nicogene

added method hasDevice() to robotinterface APIs
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Robot.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Robot.h
Owners: @drdanz

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**                  @drdanz
/src/devices/**                                  @randaz81 @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**              @randaz81
/src/devices/Rangefinder2DWrapper/**             @randaz81
/src/devices/audioPlayerWrapper/**               @randaz81
/src/devices/audioRecorderWrapper/**             @randaz81
/src/devices/batteryClient/**                    @randaz81
/src/devices/batteryWrapper/**                   @randaz81
/src/devices/fakeBattery/**                      @randaz81
/src/devices/fakeLaser/**                        @randaz81
/src/devices/fakeMicrophone/**                   @randaz81
/src/devices/fakeSpeaker/**                      @randaz81
/src/devices/imuBosch_BNO055/**                  @Nicogene
/src/devices/laserFromDepth/**                   @randaz81
/src/devices/laserHokuyo/**                      @randaz81
/src/devices/localization2DClient/**             @randaz81
/src/devices/localization2DServer/**             @randaz81
/src/devices/map2DClient/**                      @randaz81
/src/devices/map2DServer/**                      @randaz81
/src/devices/multipleAnalogSensorsMsgs/**        @traversaro
/src/devices/multipleanalogsensorsclient/**      @traversaro
/src/devices/multipleanalogsensorsremapper/**    @traversaro
/src/devices/multipleanalogsensorsserver/**      @traversaro
/src/devices/navigation2DClient/**               @randaz81
/src/devices/navigation2DServer/**               @randaz81
/src/devices/portaudio/**                        @randaz81
/src/devices/portaudioPlayer/**                  @randaz81
/src/devices/portaudioRecorder/**                @randaz81
/src/devices/rpLidar/**                          @randaz81
/src/devices/rpLidar2/**                         @randaz81
/src/devices/transformClient/**                  @randaz81
/src/devices/transformServer/**                  @randaz81
/src/devices/usbCamera/**                        @Nicogene
/src/idls/rosmsg/**                              @drdanz
/src/idls/thrift/**                              @drdanz
/src/libYARP_companion/**                        @drdanz
/src/libYARP_conf/**                             @drdanz
/src/libYARP_cv/**                               @Nicogene
/src/libYARP_dev/**                              @randaz81
/src/libYARP_eigen/**                            @traversaro
/src/libYARP_gsl/**                              @traversaro
/src/libYARP_init/**                             @drdanz
/src/libYARP_logger/**                           @randaz81
/src/libYARP_manager/**                          @Nicogene
/src/libYARP_math/**                             @traversaro
/src/libYARP_name/**                             @drdanz
/src/libYARP_os/**                               @drdanz
/src/libYARP_pcl/**                              @Nicogene
/src/libYARP_profiler/**                         @Nicogene
/src/libYARP_robottestingframework/**            @Nicogene
/src/libYARP_rosmsg/**                           @drdanz
/src/libYARP_run/**                              @drdanz
/src/libYARP_serversql/**                        @drdanz
/src/libYARP_sig/**                              @drdanz
/src/libYARP_wire_rep_utils/**                   @drdanz
/src/portmonitors/depthimage_compression_zfp/**  @Nicogene
/src/portmonitors/depthimage_to_mono/**          @randaz81
/src/portmonitors/depthimage_to_rgb/**           @randaz81
/src/portmonitors/segmentationimage_to_rgb/**    @randaz81
/src/portmonitors/sound_compression_mp3/**       @randaz81
/src/robottestingframework-plugins/**            @Nicogene
/src/yarp/**                                     @drdanz
/src/yarpbatterygui/**                           @randaz81
/src/yarpdatadumper/**                           @pattacini
/src/yarpdataplayer/**                           @vtikha
/src/yarpdev/**                                  @drdanz
/src/yarplaserscannergui/**                      @randaz81
/src/yarplogger/**                               @randaz81
/src/yarplogger-console/**                       @randaz81
/src/yarpmanager/**                              @Nicogene
/src/yarpmanager-console/**                      @Nicogene
/src/yarpmotorgui/**                             @randaz81
/src/yarprobotinterface/**                       @drdanz
/src/yarprun/**                                  @drdanz
/src/yarpserver/**                               @drdanz
/src/yarpviz/**                                  @Nicogene
CMakeLists.txt                                   @drdanz
*.cmake                                          @drdanz
