Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz

os/impl/PortCoreAdapter: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/impl/PortCoreAdapter.h
Owners: @drdanz

os/NetworkClock: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/src/NetworkClock.cpp
Owners: @drdanz

name/NameServerManager: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_name/include/yarp/name/NameServerManager.h
Owners: @drdanz

dev/devices/VirtualAnalogWrapper: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/src/devices/VirtualAnalogWrapper/VirtualAnalogWrapper.h
Owners: @barbalberto, @randaz81

os/impl/LocalCarrier: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/impl/LocalCarrier.h
Owners: @drdanz

serversql/impl/SubscriberOnSql: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_serversql/include/yarp/serversql/impl/SubscriberOnSql.h
Owners: @drdanz

logger: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_logger/include/yarp/logger/YarpLogger.h
Owners: @randaz81

dev/devices/JoypadControl{Client,Server}: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/libYARP_dev/src/devices/JoypadControlClient/JoypadControlClient.cpp
  src/libYARP_dev/src/devices/JoypadControlServer/JoypadControlNetUtils.h
Owners: @barbalberto, @randaz81

os/impl/PortCore: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
Owners: @drdanz

os/impl/LogForwarder: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/impl/LogForwarder.h
Owners: @drdanz

os/MessageStack: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/src/MessageStack.cpp
Owners: @drdanz

yarpdatadumper: Use std::mutex instead of yarp::os::Mutex
  src/yarpdatadumper/main.cpp
Owners: @pattacini

dev/devices/RemoteFrameGrabber: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
Owners: @barbalberto, @randaz81

companion: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_companion/src/Companion.cpp
Owners: @drdanz

run/impl/RunProcManager: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_run/include/yarp/run/impl/RunProcManager.h
Owners: @drdanz

dev/Event: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/src/Event.cpp
Owners: @drdanz

os/impl/DgramTwoWayStream: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/impl/DgramTwoWayStream.h
Owners: @drdanz

dev/impl/FixedSizeBuffersManager: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_dev/include/yarp/dev/impl/FixedSizeBuffersManager.h
Owners: @barbalberto, @randaz81

serversql/impl/ConnectThread: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_serversql/include/yarp/serversql/impl/ConnectThread.h
Owners: @drdanz

math/Rand: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_math/src/Rand.cpp
Owners: @traversaro

os/RosNameSpace: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/include/yarp/os/RosNameSpace.h
Owners: @drdanz

os/YarpPluginSelector: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/libYARP_OS/include/yarp/os/YarpPluginSelector.h
  src/libYARP_OS/src/YarpPlugin.cpp
Owners: @drdanz

os/Ping: Use std::mutex instead of yarp::os::Mutex
  src/libYARP_OS/src/Ping.cpp
Owners: @drdanz

os: Move implementation in .cpp file
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/Clock.h
  src/libYARP_OS/include/yarp/os/ConnectionState.h
  src/libYARP_OS/include/yarp/os/Contactables.h
  src/libYARP_OS/src/Clock.cpp
  src/libYARP_OS/src/ConnectionState.cpp
  src/libYARP_OS/src/Contactables.cpp
Owners: @drdanz

shmem: Change header guards according to the policies
  src/carriers/shmem_carrier/ShmemCarrier.h
  src/carriers/shmem_carrier/ShmemHybridStream.h
  src/carriers/shmem_carrier/ShmemInputStream.h
  src/carriers/shmem_carrier/ShmemOutputStream.h
  src/carriers/shmem_carrier/ShmemTypes.h
Owners: @drdanz

run: Change header guards according to the policies
  src/libYARP_run/include/yarp/os/Run.h
  src/libYARP_run/include/yarp/run/impl/PlatformSysPrctl.h
  src/libYARP_run/include/yarp/run/impl/RunCheckpoints.h
  src/libYARP_run/include/yarp/run/impl/RunProcManager.h
  src/libYARP_run/include/yarp/run/impl/RunReadWrite.h
Owners: @drdanz

dev: Change header guards according to the policies
  src/libYARP_dev/include/yarp/dev/impl/FixedSizeBuffersManager.h
Owners: @barbalberto, @randaz81

os/Property: Remove unused variable
  src/libYARP_OS/src/Property.cpp
Owners: @drdanz

os/Property: Small refactor
  doc/release/devel/Property_refactor.md
  src/libYARP_OS/include/yarp/os/Property.h
  src/libYARP_OS/src/Property.cpp
Owners: @drdanz

os/Searchable: Add move constructor and assignment operator
  src/libYARP_OS/include/yarp/os/Searchable.h
Owners: @drdanz

os/Property: Remove if that is always true
  src/libYARP_OS/src/Property.cpp
Owners: @drdanz

fixup! os/Property: Small refactor
  doc/release/devel/Property_refactor.md
Owners: @drdanz

os/impl/PortCore: Create cache only when necessary
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'ver' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: make setParamPortMonitor 'param' argument const
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Add enum classes to handle commands
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Use unsigned int for flags
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Handle 'help' command in separate method
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Parse get/set separately
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Parse command separately
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz
