Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

Fix nightly-merge.yml
  .github/workflows/nightly-merge.yml
Owners: @drdanz

ci: use latest gh-action-nightly-merge
  .github/workflows/nightly-merge.yml
Owners: @drdanz

ci: Use latest gh-action-nightly-merge and configure push_token
  .github/workflows/nightly-merge.yml
Owners: @drdanz

sig: Remove useless static variable
  src/libYARP_sig/src/IplImage.cpp
Owners: @drdanz

sig: Fix several -Wunused-result warnings
  src/libYARP_sig/src/SoundFile.cpp
Owners: @drdanz

dev: Fix several -Wunused-variable warnings
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
Owners: @barbalberto, @randaz81

run: Fix -Wunused-result warnings
  src/libYARP_run/src/Run.cpp
Owners: @drdanz

dev: Fix several -Wunused-variable warnings
  src/libYARP_sig/src/ImageCopy.cpp
Owners: @drdanz

Cleanup
  src/libYARP_OS/include/yarp/os/Publisher.h
  src/libYARP_OS/include/yarp/os/Subscriber.h
Owners: @drdanz

Add useful information to the release notes
  doc/release/devel/yAssert_ndebug.md
Owners: @drdanz

os: Avoid calling expressions with side-effects in yAssert
  src/libYARP_OS/include/yarp/os/Publisher.h
  src/libYARP_OS/include/yarp/os/Subscriber.h
Owners: @drdanz

.appveyor.yml: Drop VS 2015 and add VS 2019
  .appveyor.yml
Owners: @drdanz

ci: Remove rebase.yml (not working as expected)
  .github/workflows/rebase.yml
Owners: @drdanz

.appveyor.yml: Fix VS2019
  .appveyor.yml
  cmake/YarpSystemCheck.cmake
Owners: @drdanz

bindings: Automatically extract include directories
  bindings/CMakeLists.txt
Owners: @drdanz

bindings: Fix automatically extract include directories
  bindings/CMakeLists.txt
Owners: @drdanz

cmake: Remove line that shouldn't have been there
  cmake/YarpSystemCheck.cmake
Owners: @drdanz

os/NameServer: Fix -Wdeprecated-copy warning
  src/libYARP_OS/src/NameServer.cpp
Owners: @drdanz

os/Vec2D: Fix -Wdeprecated-copy warning
  src/libYARP_math/include/yarp/math/Vec2D.h
  src/libYARP_math/src/Vec2D.cpp
Owners: @traversaro

RemoteControlBoard: Fix several -Wsign-compare warnings
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
Owners: @barbalberto, @randaz81

dev/MapGrid2D: Fix -Wunused-variable warning
  src/libYARP_dev/src/MapGrid2D.cpp
Owners: @barbalberto, @randaz81

manager: Fix several -Wdeprecated-copy warnings
  src/libYARP_manager/include/yarp/manager/graph.h
  src/libYARP_manager/include/yarp/manager/logicresource.h
  src/libYARP_manager/include/yarp/manager/node.h
  src/libYARP_manager/include/yarp/manager/primresource.h
  src/libYARP_manager/include/yarp/manager/resource.h
  src/libYARP_manager/src/logicresource.cpp
  src/libYARP_manager/src/node.cpp
  src/libYARP_manager/src/primresource.cpp
  src/libYARP_manager/src/resource.cpp
Owners: @Nicogene

math/Quaternion: Fix -Wdeprecated-copy warning
  src/libYARP_math/include/yarp/math/Quaternion.h
  src/libYARP_math/src/Quaternion.cpp
Owners: @traversaro

yarpmotorgui: Fix -Wdeprecated-copy warnings
  src/yarpmotorgui/sequencewindow.h
Owners: @randaz81

Fix typo
  src/libYARP_conf/include/yarp/conf/compiler.dox.in
Owners: @drdanz

os: Fix -Wunused-variable warnings
  src/libYARP_OS/include/yarp/os/Publisher.h
  src/libYARP_OS/include/yarp/os/Subscriber.h
Owners: @drdanz

shmem: Fix -Wformat-truncation warnings
  src/carriers/shmem_carrier/ShmemInputStream.cpp
Owners: @drdanz

shmem: Fix more -Wformat-truncation warnings
  src/carriers/shmem_carrier/ShmemOutputStream.cpp
Owners: @drdanz

os/PortCore: Fix publisherUpdate command
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Avoid repeating vocabs
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

dev: Rename PreciselyTimed.h to IPreciselyTimed.h
  doc/release/devel/PreciselyTimed.md
  src/devices/Rangefinder2DClient/Rangefinder2DClient.h
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.h
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/batteryClient/BatteryClient.h
  src/devices/fakeIMU/fakeIMU.h
  src/devices/localization2DClient/Localization2DClient.h
  src/devices/map2DClient/Map2DClient.h
  src/devices/opencv/OpenCVGrabber.h
  src/devices/test_grabber/TestFrameGrabber.h
  src/devices/transformClient/FrameTransformClient.h
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/DataSource.h
  src/libYARP_dev/include/yarp/dev/IPreciselyTimed.h
  src/libYARP_dev/include/yarp/dev/PreciselyTimed.h
  src/libYARP_dev/src/devices/AnalogSensorClient/AnalogSensorClient.h
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.h
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapperHelpers.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/RPCMessagesParser.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/StreamingMessagesParser.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/SubDevice.h
  src/libYARP_dev/src/devices/RGBDSensorClient/RGBDSensorClient.h
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.h
  src/libYARP_dev/src/devices/RobotDescriptionClient/RobotDescriptionClient.h
  src/libYARP_dev/src/devices/RobotDescriptionServer/RobotDescriptionServer.h
  src/libYARP_dev/src/devices/ServerGrabber/ServerGrabber.h
  src/libYARP_dev/src/devices/ServerInertial/ServerInertial.cpp
  src/libYARP_dev/src/devices/ServerInertial/ServerInertial.h
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene, @aerydna

dev/IPreciselyTimed: Cleanup
  src/libYARP_dev/include/yarp/dev/IPreciselyTimed.h
Owners: @barbalberto, @randaz81

dev: Move ControlBoard vocabs in separate file
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/ControlBoardInterfaces.h
  src/libYARP_dev/include/yarp/dev/ControlBoardVocabs.h
Owners: @drdanz, @barbalberto, @randaz81

dev: Move interfaces in CalibratorInterfaces in their own file
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/CalibratorInterfaces.h
  src/libYARP_dev/include/yarp/dev/CalibratorVocabs.h
  src/libYARP_dev/include/yarp/dev/ControlBoardInterfaces.h
  src/libYARP_dev/include/yarp/dev/ICalibrator.h
  src/libYARP_dev/include/yarp/dev/IRemoteCalibrator.h
  src/libYARP_dev/src/IRemoteCalibrator.cpp
Owners: @drdanz, @barbalberto, @randaz81

yarpidl_thrift: Fix deserialization for map types
  src/idls/thrift/src/t_yarp_generator.cc
Owners: @drdanz

Regenerate IDL files
  src/devices/multipleAnalogSensorsMsgs/idl_generated_code/src/SensorMeasurements.cpp
  src/devices/multipleAnalogSensorsMsgs/idl_generated_code/src/SensorRPCData.cpp
Owners: @traversaro

Add release notes
  doc/release/master/fix_2054.md
Owners: @drdanz

tests/yarpidl_thrift: Add unit test for map types
  tests/yarpidl_thrift/demo/demo.thrift
  tests/yarpidl_thrift/demo/main.cpp
Owners: @drdanz

dev: Move ControlBoardWrapper as plugin
  doc/device_invocation/controlboardwrapper2_basic.dox
  src/devices/CMakeLists.txt
  src/devices/ControlBoardWrapper/CMakeLists.txt
  src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/devices/ControlBoardWrapper/RPCMessagesParser.cpp
  src/devices/ControlBoardWrapper/RPCMessagesParser.h
  src/devices/ControlBoardWrapper/StreamingMessagesParser.cpp
  src/devices/ControlBoardWrapper/StreamingMessagesParser.h
  src/devices/ControlBoardWrapper/SubDevice.cpp
  src/devices/ControlBoardWrapper/SubDevice.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.h
  tests/libYARP_dev/GroupDriverTest.cpp
  tests/libYARP_dev/robotDescriptionTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

dev: Move ServerFrameGrabber and RemoteFrameGrabber as plugins
  doc/device_invocation/grabber_basic.dox
  src/devices/CMakeLists.txt
  src/devices/RemoteFrameGrabber/CMakeLists.txt
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.cpp
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/ServerFrameGrabber/CMakeLists.txt
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/PopulateDrivers.cpp
  src/libYARP_dev/src/devices/RemoteFrameGrabber/RemoteFrameGrabber.cpp
  tests/libYARP_dev/PolyDriverTest.cpp
  tests/libYARP_dev/TestFrameGrabberTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz
