Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

Cleanup
  src/libYARP_OS/include/yarp/os/InputProtocol.h
  src/libYARP_OS/include/yarp/os/OutputProtocol.h
  src/libYARP_OS/src/Property.cpp
Owners: @drdanz

OS/DgramTwoWayStream: Fix copy-and-paste error
  src/libYARP_OS/src/DgramTwoWayStream.cpp
Owners: @drdanz

Remove unneeded c-style casts
  src/libYARP_OS/src/Property.cpp
Owners: @drdanz

Fix -Wshadow warning
  src/libYARP_OS/src/Property.cpp
Owners: @drdanz

yarpscope: Remove unused signal
  src/yarpscope/plugin/plotter.h
Owners: @drdanz

OS/SystemClock: Fix duration_cast -> time_point_cast
  src/libYARP_OS/src/SystemClock.cpp
Owners: @drdanz

Cleanup
  doc/release/master/README.md
  doc/release/master/mjpeg_BGR.md
Owners: @drdanz

Prepare for next feature release
  CMakeLists.txt
  doc/release/devel.md
  doc/release/devel/000_devel.md
  doc/release/devel/README.md
  doc/release/devel/yarpdatadumper_png_stampsinfo.md
  doc/releases.dox
Owners: @drdanz

Update .gitattributes and renormalize files
  .gitattributes
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  extern/xmlrpcpp/xmlrpcpp/test/FileClient.cpp
  extern/xmlrpcpp/xmlrpcpp/test/FileClient.dsp
  extern/xmlrpcpp/xmlrpcpp/test/HelloClient.dsp
  extern/xmlrpcpp/xmlrpcpp/test/HelloServer.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Client.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Client.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Server.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Server.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestValues.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestValues.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestValuesWin32.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestXml.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestXml.dsp
  extern/xmlrpcpp/xmlrpcpp/test/Validator.cpp
  extern/xmlrpcpp/xmlrpcpp/test/Validator.dsp
  extern/xmlrpcpp/xmlrpcpp/test/arrayOfStructsTest.xml
  extern/xmlrpcpp/xmlrpcpp/test/countTheEntities.xml
  extern/xmlrpcpp/xmlrpcpp/test/easyStructTest.xml
  extern/xmlrpcpp/xmlrpcpp/test/echo.xml
  extern/xmlrpcpp/xmlrpcpp/test/echoStructTest.xml
  extern/xmlrpcpp/xmlrpcpp/xmlrpc.dsp
  extern/xmlrpcpp/xmlrpcpp/xmlrpc.dsw
Owners: @drdanz

Remove useless file
  doc/images/yarp-robot-16.xcf
Owners: @drdanz

yarpmanager: fix cluster yarprun nodes
  src/yarpmanager/src-manager/clusterWidget.cpp
Owners: @Nicogene

fix MultipleAnalogSensorsRemapper::getTemperatureSensorMeasure (vector version)
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.cpp
Owners: @traversaro

Fix delay function in Lua bindings
  bindings/lua/examples/driver_qos.lua
  bindings/lua/examples/example.lua
  bindings/lua/examples/example2.lua
Owners: @drdanz, @traversaro

adding timing changes to yarpdataplayer
  src/yarpdataplayer/include/worker.h
  src/yarpdataplayer/src/worker.cpp
Owners: @vtikha

adding changes requested for the PR including changelog
  doc/release/master/fix-yarpdataplayer.md
  src/yarpdataplayer/include/worker.h
  src/yarpdataplayer/src/worker.cpp
Owners: @drdanz, @vtikha

imuBosch_BNO055: fix timestamp update
  src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp
  src/devices/imuBosch_BNO055/imuBosch_BNO055.h
Owners: @barbalberto, @Nicogene

.travis.yml: Port to bionic
  .travis.yml
Owners: @drdanz

.travis.yml: Refactor completely and add cmake tests
  .travis.yml
Owners: @drdanz

tests/dev: Disable MAS test if DISABLE_FAILING_TESTS is enabled
  tests/libYARP_dev/MultipleAnalogSensorsInterfacesTest.cpp
Owners: @drdanz

Fix -Wformat-security warning
  tests/libYARP_sig/SoundTest.cpp
Owners: @drdanz

YarpPlugin: Remove stuff for CMake < 3.5
  cmake/YarpPlugin.cmake
Owners: @drdanz

yarprobotinterface: Cleanup
  src/yarprobotinterface/main.cpp
Owners: @drdanz

.clang-format: update to clang-format-10
  .clang-format
Owners: @drdanz

yarprobotinterface: Remove unused code
  src/yarprobotinterface/main.cpp
Owners: @drdanz

os: Print a warning when the deprecated header is included
  src/libYARP_OS/include/yarp/os/ConstString.h
  src/libYARP_OS/include/yarp/os/RateThread.h
  src/libYARP_OS/include/yarp/os/Searchable.h
  src/libYARP_OS/include/yarp/os/all.h
  src/libYARP_OS/src/RateThread.cpp
  src/libYARP_dev/src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  tests/libYARP_OS/PeriodicThreadTest.cpp
Owners: @drdanz, @barbalberto, @randaz81

tests/Thread: Do not use ThreadImpl for tests
  tests/libYARP_OS/ThreadTest.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'counter' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'readableCreator' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'logNeeded' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'units' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'reader' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'name' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'envelope' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'stateSema' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'log' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'waitAfterSend' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'inputCount' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'face' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'finishing' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'timeout' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz
