Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @randaz81, @Nicogene, @pattacini, @vtikha

fixed include file
  src/devices/frameTransformGet/frameTransformGet_nwc_ros.h
  src/devices/frameTransformSet/frameTransformSet_nwc_ros.h
Owners: @randaz81, @traversaro, @Nicogene

progress on FrameTransformClient
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/frameTransformClient.h
  src/devices/frameTransformUtils/frameTransformContainer.cpp
  src/devices/frameTransformUtils/frameTransformContainer.h
Owners: @randaz81, @traversaro, @Nicogene

no more compiler errors on frameTransformClient
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformUtils/frameTransformContainer.cpp
  src/devices/frameTransformUtils/frameTransformContainer.h
Owners: @randaz81, @traversaro, @Nicogene

test for FrameTransformClient
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/ftc_local_only.xml
Owners: @randaz81, @traversaro, @Nicogene

Improvements on rpc port
  src/devices/frameTransformClient/frameTransformClient.cpp
Owners: @randaz81, @traversaro, @Nicogene

fixed iterator issue
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformUtils/frameTransformContainer.cpp
  src/devices/frameTransformUtils/frameTransformContainer.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @randaz81, @traversaro, @Nicogene

updated ini parameters and documentation
  src/devices/frameTransformGet/frameTransformGetMultiplexer.h
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
  src/devices/frameTransformSet/frameTransformSetMultiplexer.h
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nwc_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

improved format handing for broadcast ports using enums
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/frameTransformClient.h
Owners: @randaz81, @traversaro, @Nicogene

ROS nwc node correction and yarp set_nws port name update
  src/devices/frameTransformGet/frameTransformGet_nwc_ros.cpp
  src/devices/frameTransformGet/frameTransformGet_nwc_ros.h
  src/devices/frameTransformSet/frameTransformSet_nwc_ros.h
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/frameTransformSet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

code cleanup and robotinterface xml files
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/ftc_local_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_full/ftc_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros/ftc_pub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros/ftc_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros/ftc_sub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_pub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_sub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_yarp_only_single_client.xml
  src/devices/frameTransformClient/robotinterface_xml/fts_full/fts_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/fts_full/yarprobotinterface.ini
  src/devices/frameTransformClient/robotinterface_xml/fts_yarp_only/fts_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/fts_yarp_only/yarprobotinterface.ini
  src/devices/frameTransformClient/yarp_only.xml
  src/devices/frameTransformGet/frameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/frameTransformGet_nws_yarp.h
Owners: @randaz81, @traversaro, @Nicogene

cleanup style check
  src/devices/frameTransformClient/robotinterface_xml/ftc_full/ftc_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros/ftc_pub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros/ftc_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros/ftc_sub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_pub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_sub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_yarp_only_single_client.xml
  src/devices/frameTransformClient/robotinterface_xml/fts_full/fts_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/fts_full/yarprobotinterface.ini
  src/devices/frameTransformClient/robotinterface_xml/fts_yarp_only/fts_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/fts_yarp_only/yarprobotinterface.ini
Owners: @randaz81, @traversaro, @Nicogene

fixed extra line
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only/ftc_sub_yarp_only.xml
Owners: @randaz81, @traversaro, @Nicogene

little fix for frameTransformGet_nwc_ros
  src/devices/frameTransformGet/frameTransformGet_nwc_ros.cpp
Owners: @randaz81, @traversaro, @Nicogene

fixed conflict after rebase
  src/devices/frameTransformSet/CMakeLists.txt
Owners: @drdanz

CMakeRC static library workaround
  src/devices/frameTransformClient/CMakeLists.txt
  src/devices/frameTransformClient/frameTransformClient.cpp
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

CMakeRC integration first test
  src/devices/frameTransformClient/CMakeLists.txt
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/robotinterface_xml/ftc_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_local_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_pub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_pub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_sub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_sub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only_single_client.xml
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Clang-tidy issues addressed
  src/devices/frameTransformClient/frameTransformClient.cpp
Owners: @randaz81, @traversaro, @Nicogene

added frametransformclient documentation
  doc/images/frametransform/FTC_Local_only.png
  doc/images/frametransform/FTC_PUB_YARP_only.png
  doc/images/frametransform/FTC_ROS_Only.png
  doc/images/frametransform/FTC_ROS_Pub_Only.png
  doc/images/frametransform/FTC_ROS_Sub_Only.png
  doc/images/frametransform/FTC_SUB_YARP_only.png
  doc/images/frametransform/FTC_YARP_+_ROS.png
  doc/images/frametransform/FTC_YARP_only.png
  doc/images/frametransform/FTC_YARP_only_single_client.png
  src/devices/frameTransformClient/frameTransformClient.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

* added changelog * removed frameTransformRepeater
  doc/release/master/frameTransform_interfaces.md
  src/devices/frameTransformRepeater/CMakeLists.txt
  src/devices/frameTransformRepeater/frameTransformRepeater.cpp
  src/devices/frameTransformRepeater/frameTransformRepeater.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Deprecate *Int and *Double methods in favour of *Int32 and *Float64
  doc/release/master/deprecated_internal.md
  src/libYARP_os/src/yarp/os/Bottle.h
  src/libYARP_os/src/yarp/os/ConnectionReader.h
  src/libYARP_os/src/yarp/os/ConnectionWriter.h
  src/libYARP_os/src/yarp/os/Value.h
Owners: @drdanz

Update .mailmap file
  .mailmap
Owners: @drdanz

Prepare release notes for YARP 3.4.6 release
  doc/release/yarp_3_4.md
  doc/release/yarp_3_4/000_yarp_3_4.md
  doc/release/yarp_3_4/README.md
  doc/release/yarp_3_4/fix_topIsLow_yarp-3.4.md
  doc/release/yarp_3_4/getEstimatedOdometryFix.md
  doc/release/yarp_3_4/yarpros_YARP_COMPILE_EXECUTABLES.md
Owners: @drdanz

CI: Fix tag workflow
  .github/workflows/tag.yml
Owners: @drdanz

YARP 3.4.6
  CMakeLists.txt
  doc/download.dox
  doc/release/v3_4_6.md
  doc/releases.md
Owners: @drdanz

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**                  @drdanz
/src/devices/**                                  @randaz81 @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**              @randaz81
/src/devices/Rangefinder2DWrapper/**             @randaz81
/src/devices/audioPlayerWrapper/**               @randaz81
/src/devices/audioRecorderWrapper/**             @randaz81
/src/devices/batteryClient/**                    @randaz81
/src/devices/batteryWrapper/**                   @randaz81
/src/devices/fakeBattery/**                      @randaz81
/src/devices/fakeLaser/**                        @randaz81
/src/devices/fakeMicrophone/**                   @randaz81
/src/devices/fakeSpeaker/**                      @randaz81
/src/devices/imuBosch_BNO055/**                  @Nicogene
/src/devices/laserFromDepth/**                   @randaz81
/src/devices/laserHokuyo/**                      @randaz81
/src/devices/localization2DClient/**             @randaz81
/src/devices/localization2DServer/**             @randaz81
/src/devices/map2DClient/**                      @randaz81
/src/devices/map2DServer/**                      @randaz81
/src/devices/multipleAnalogSensorsMsgs/**        @traversaro
/src/devices/multipleanalogsensorsclient/**      @traversaro
/src/devices/multipleanalogsensorsremapper/**    @traversaro
/src/devices/multipleanalogsensorsserver/**      @traversaro
/src/devices/navigation2DClient/**               @randaz81
/src/devices/navigation2DServer/**               @randaz81
/src/devices/portaudio/**                        @randaz81
/src/devices/portaudioPlayer/**                  @randaz81
/src/devices/portaudioRecorder/**                @randaz81
/src/devices/rpLidar/**                          @randaz81
/src/devices/rpLidar2/**                         @randaz81
/src/devices/transformClient/**                  @randaz81
/src/devices/transformServer/**                  @randaz81
/src/devices/usbCamera/**                        @Nicogene
/src/idls/rosmsg/**                              @drdanz
/src/idls/thrift/**                              @drdanz
/src/libYARP_companion/**                        @drdanz
/src/libYARP_conf/**                             @drdanz
/src/libYARP_cv/**                               @Nicogene
/src/libYARP_dev/**                              @randaz81
/src/libYARP_eigen/**                            @traversaro
/src/libYARP_gsl/**                              @traversaro
/src/libYARP_init/**                             @drdanz
/src/libYARP_logger/**                           @randaz81
/src/libYARP_manager/**                          @Nicogene
/src/libYARP_math/**                             @traversaro
/src/libYARP_name/**                             @drdanz
/src/libYARP_os/**                               @drdanz
/src/libYARP_pcl/**                              @Nicogene
/src/libYARP_profiler/**                         @Nicogene
/src/libYARP_robottestingframework/**            @Nicogene
/src/libYARP_rosmsg/**                           @drdanz
/src/libYARP_run/**                              @drdanz
/src/libYARP_serversql/**                        @drdanz
/src/libYARP_sig/**                              @drdanz
/src/libYARP_wire_rep_utils/**                   @drdanz
/src/portmonitors/depthimage_compression_zfp/**  @Nicogene
/src/portmonitors/depthimage_to_mono/**          @randaz81
/src/portmonitors/depthimage_to_rgb/**           @randaz81
/src/portmonitors/segmentationimage_to_rgb/**    @randaz81
/src/portmonitors/sound_compression_mp3/**       @randaz81
/src/robottestingframework-plugins/**            @Nicogene
/src/yarp/**                                     @drdanz
/src/yarpbatterygui/**                           @randaz81
/src/yarpdatadumper/**                           @pattacini
/src/yarpdataplayer/**                           @vtikha
/src/yarpdev/**                                  @drdanz
/src/yarplaserscannergui/**                      @randaz81
/src/yarplogger/**                               @randaz81
/src/yarplogger-console/**                       @randaz81
/src/yarpmanager/**                              @Nicogene
/src/yarpmanager-console/**                      @Nicogene
/src/yarpmotorgui/**                             @randaz81
/src/yarprobotinterface/**                       @drdanz
/src/yarprun/**                                  @drdanz
/src/yarpserver/**                               @drdanz
/src/yarpviz/**                                  @Nicogene
CMakeLists.txt                                   @drdanz
*.cmake                                          @drdanz
