Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @randaz81, @Nicogene, @pattacini, @vtikha

fix licence
  src/devices/usbCamera/linux/.clang-format
  src/devices/usbCamera/linux/InterfaceForCApi.h
  src/devices/usbCamera/linux/Statistics.h
  src/devices/usbCamera/linux/UltraPythonCameraHelper.h
  src/devices/usbCamera/matlabscripts/FPS_check.m
  src/devices/usbCamera/ultrapython_ini/ultrapython_hires.ini
  src/devices/usbCamera/ultrapython_ini/ultrapython_lowres.ini
  src/devices/usbCamera/unittest/CApiMock.h
  src/devices/usbCamera/unittest/CMakeLists.txt
Owners: @Nicogene, @drdanz

fix licence
  src/devices/usbCamera/Examples/ultrapython_hires.ini
  src/devices/usbCamera/Examples/ultrapython_lowres.ini
  src/devices/usbCamera/script/FPS_check.m
Owners: @Nicogene

fix licence
  src/devices/usbCamera/linux/list.cpp
  src/devices/usbCamera/linux/list.h
Owners: @Nicogene

fix licence and hires bugfix
  src/devices/usbCamera/common/USBcamera.cpp
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/common/USBcameraLogComponent.cpp
  src/devices/usbCamera/common/USBcameraLogComponent.h
  src/devices/usbCamera/linux/InterfaceForCApi.h
  src/devices/usbCamera/linux/Statistics.h
  src/devices/usbCamera/linux/UltraPythonCameraHelper.cpp
  src/devices/usbCamera/linux/UltraPythonCameraHelper.h
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/devices/usbCamera/linux/V4L_camera.h
  src/devices/usbCamera/unittest/CApiMock.h
  src/devices/usbCamera/unittest/CMakeLists.txt
  src/devices/usbCamera/unittest/gtest_main.cc
  src/devices/usbCamera/unittest/testControlBrigthness.cpp
  src/devices/usbCamera/unittest/testControlExposition.cpp
  src/devices/usbCamera/unittest/testControlGain.cpp
  src/devices/usbCamera/unittest/testDefalutOrNotUsedParam.cpp
  src/devices/usbCamera/unittest/testUltraPythonGeneral.cpp
  src/devices/usbCamera/unittest/testUltraPytonRunning.cpp
Owners: @Nicogene, @drdanz

fix style
  src/devices/usbCamera/common/USBcamera.cpp
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/common/USBcameraLogComponent.cpp
  src/devices/usbCamera/common/USBcameraLogComponent.h
  src/devices/usbCamera/linux/InterfaceForCApi.h
  src/devices/usbCamera/linux/Statistics.h
  src/devices/usbCamera/linux/UltraPythonCameraHelper.cpp
  src/devices/usbCamera/linux/UltraPythonCameraHelper.h
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/devices/usbCamera/linux/V4L_camera.h
  src/devices/usbCamera/linux/list.cpp
  src/devices/usbCamera/linux/list.h
  src/devices/usbCamera/unittest/CApiMock.h
  src/devices/usbCamera/unittest/gtest_main.cc
  src/devices/usbCamera/unittest/testControlBrigthness.cpp
  src/devices/usbCamera/unittest/testControlExposition.cpp
  src/devices/usbCamera/unittest/testControlGain.cpp
  src/devices/usbCamera/unittest/testDefalutOrNotUsedParam.cpp
  src/devices/usbCamera/unittest/testUltraPythonGeneral.cpp
  src/devices/usbCamera/unittest/testUltraPytonRunning.cpp
Owners: @Nicogene

os/Carrier: Move 'reply' method where it belongs
  src/libYARP_os/src/yarp/os/Carrier.cpp
  src/libYARP_os/src/yarp/os/Carriers.cpp
Owners: @drdanz

stat update
  src/devices/usbCamera/linux/Statistics.h
  src/devices/usbCamera/linux/UltraPythonCameraHelper.cpp
  src/devices/usbCamera/linux/UltraPythonCameraHelper.h
  src/devices/usbCamera/linux/V4L_camera.cpp
Owners: @Nicogene

Fix YARP_xxx_DEPRECATED_API implementation
  doc/release/master/fix_YARP_DEPRECATED_API.md
  src/libYARP_companion/src/yarp/companion/api.h
  src/libYARP_conf/src/yarp/conf/api.h.in
  src/libYARP_dev/src/yarp/dev/api.h
  src/libYARP_gsl/src/yarp/gsl/api.h
  src/libYARP_math/src/yarp/math/api.h
  src/libYARP_name/src/yarp/name/api.h
  src/libYARP_os/src/yarp/os/api.h
  src/libYARP_robotinterface/src/yarp/robotinterface/api.h
  src/libYARP_robottestingframework/src/yarp/robottestingframework/api.h
  src/libYARP_run/src/yarp/run/api.h
  src/libYARP_serversql/src/yarp/serversql/api.h
  src/libYARP_sig/src/yarp/sig/api.h
  src/libYARP_wire_rep_utils/src/yarp/wire_rep_utils/api.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Add framegrabber_protocol object library
  src/devices/CMakeLists.txt
  src/devices/framegrabber_protocol/CMakeLists.txt
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/CameraVocabs.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Responder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Responder.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Use the new framegrabber_protocol library inside the devices
  src/devices/RGBDSensorClient/CMakeLists.txt
  src/devices/RGBDSensorClient/RGBDSensorClient.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient.h
  src/devices/RGBDSensorFromRosTopic/RGBDSensorFromRosTopic.h
  src/devices/RGBDSensorWrapper/CMakeLists.txt
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.h
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_ros.h
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.h
  src/devices/RGBDToPointCloudSensorWrapper/RGBDToPointCloudSensor_nws_ros.h
  src/devices/RemoteFrameGrabber/CMakeLists.txt
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.cpp
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/ServerFrameGrabber/CMakeLists.txt
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/devices/ServerFrameGrabberDual/CMakeLists.txt
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.h
  src/devices/depthCamera/depthCameraDriver.h
  src/devices/opencv/OpenCVGrabber.cpp
  src/devices/opencv/OpenCVGrabber.h
  src/devices/usbCamera/common/USBcamera.cpp
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Remove classes and vocabs moved in framegrabber_protocol library
  bindings/lua/tests/test_vocab.lua
  doc/release/master/FrameGrabberInterfacesRefactor2.md
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.cpp
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Responder.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberControlImpl.cpp
  src/libYARP_dev/src/yarp/dev/FrameGrabberControlImpl.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.cpp
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IVisualParamsImpl.cpp
  src/libYARP_dev/src/yarp/dev/IVisualParamsImpl.h
Owners: @drdanz, @traversaro, @randaz81, @Nicogene

dev: Move IFrameGrabberControls interface in separate header file
  bindings/yarp.i
  example/remote_check/main.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_ros.h
  src/devices/RGBDToPointCloudSensorWrapper/RGBDToPointCloudSensor_nws_ros.h
  src/devices/depthCamera/depthCameraDriver.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.h
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberControl2.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControls.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControls.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @randaz81, @Nicogene

dev: Move IFrameGrabberControlsDC1394 interface in separate header file
  bindings/yarp.i
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControlsDC1394.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControlsDC1394.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @randaz81, @Nicogene

dev: Move IFrameGrabber interface in separate header file
  bindings/yarp.i
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @Nicogene, @randaz81

dev: Move IFrameGrabberImageRaw interface in separate header file
  src/devices/usbCamera/common/USBcamera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
Owners: @Nicogene, @drdanz, @randaz81

dev: Move IFrameGrabberRgb interface in separate header file
  bindings/yarp.i
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @Nicogene, @randaz81

dev: Move IFrameWriterImage interface in separate header file
  bindings/yarp.i
  src/devices/DevicePipe/DevicePipe.cpp
  src/devices/ffmpeg/FfmpegWriter.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameWriterImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameWriterImage.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @randaz81, @Nicogene

dev: Move IFrameGrabberImage interface in separate header file
  bindings/yarp.i
  doc/note_devices.dox
  example/dev/fake_grabber/FakeFrameGrabber.h
  example/dev/fake_grabber/fake_grabber.cpp
  example/dev/file_grabber/FileFrameGrabber.h
  example/dev/file_grabber/file_grabber.cpp
  example/dev/file_grabber/file_grabber_net.cpp
  example/dev/grabber_client/grabber_client.cpp
  example/dev_check/main.cpp
  example/remote_check/main.cpp
  example/tutorial/fakebot/FakeBot.h
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/devices/fakeDepthCamera/fakeDepthCameraDriver.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/fakebot/FakeBot.h
  src/devices/opencv/OpenCVGrabber.h
  src/devices/usbCamera/common/USBcamera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/all.h
  tests/libYARP_dev/ControlBoardWrapper2Test.cpp
  tests/libYARP_dev/GroupDriverTest.cpp
  tests/libYARP_dev/PolyDriverTest.cpp
  tests/libYARP_dev/fakeFrameGrabberTest.cpp
Owners: @drdanz, @traversaro, @randaz81, @Nicogene

dev: Remove FrameGrabberInterfaces.cpp file
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.cpp
Owners: @drdanz, @randaz81

Fix license check
  bindings/python/examples/example_callback.py
Owners: @drdanz, @traversaro

MATLAB: Fix errorID format in mexErrMsgIdAndTxt
  bindings/matlab/vectors_fromTo_matlab.i
Owners: @drdanz, @traversaro

dev: Deprecate the FrameGrabberControl2.h file
  bindings/yarp.i
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberControl2.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @randaz81

Try adding a new workflow
  .github/workflows/ci-debug2.yml
Owners: @drdanz

Update release notes
  doc/release/master/FrameGrabberInterfacesRefactor4.md
Owners: @drdanz

dev: Deprecate FrameGrabberInterfaces.h header
  bindings/yarp.i
  src/devices/DevicePipe/DevicePipe.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/ffmpeg/FfmpegGrabber.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/AudioVisualInterfaces.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @randaz81, @Nicogene

os: Deprecate PortReport in favor of standard c++11 callbacks
  src/libYARP_os/src/yarp/os/AbstractContactable.cpp
  src/libYARP_os/src/yarp/os/AbstractContactable.h
  src/libYARP_os/src/yarp/os/BufferedPort-inl.h
  src/libYARP_os/src/yarp/os/BufferedPort.h
  src/libYARP_os/src/yarp/os/Contactable.h
  src/libYARP_os/src/yarp/os/Node.cpp
  src/libYARP_os/src/yarp/os/Port.cpp
  src/libYARP_os/src/yarp/os/Port.h
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.h
  src/yarpdatadumper/main.cpp
  tests/libYARP_os/PortTest.cpp
Owners: @drdanz, @pattacini

os: Disable deprecation warnings in deprecated parts of code
  src/libYARP_os/src/yarp/os/AbstractContactable.cpp
  src/libYARP_os/src/yarp/os/BufferedPort-inl.h
  src/libYARP_os/src/yarp/os/Port.cpp
Owners: @drdanz

os: YARP_DEPRECATED is not needed in method implementations
  src/libYARP_os/src/yarp/os/AbstractContactable.cpp
  src/libYARP_os/src/yarp/os/BufferedPort-inl.h
  src/libYARP_os/src/yarp/os/Port.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
Owners: @drdanz

os: Remove deprecated calls from impl files
  src/libYARP_os/src/yarp/os/Port.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.h
Owners: @drdanz

os: Move getReport and setReporter deprecated implementation in Contactable
  src/libYARP_os/src/yarp/os/AbstractContactable.cpp
  src/libYARP_os/src/yarp/os/AbstractContactable.h
  src/libYARP_os/src/yarp/os/BufferedPort-inl.h
  src/libYARP_os/src/yarp/os/BufferedPort.h
  src/libYARP_os/src/yarp/os/Contactable.cpp
  src/libYARP_os/src/yarp/os/Contactable.h
  src/libYARP_os/src/yarp/os/Port.cpp
  src/libYARP_os/src/yarp/os/Port.h
Owners: @drdanz

os: Deprecate PortReport and hide deprecation warnings
  bindings/yarp.i
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/AbstractContactable.h
  src/libYARP_os/src/yarp/os/BufferedPort.h
  src/libYARP_os/src/yarp/os/Contactable.h
  src/libYARP_os/src/yarp/os/Node.cpp
  src/libYARP_os/src/yarp/os/Port.h
  src/libYARP_os/src/yarp/os/PortReport.cpp
  src/libYARP_os/src/yarp/os/PortReport.h
  src/libYARP_os/src/yarp/os/impl/PortCore.h
  src/libYARP_os/src/yarp/os/impl/PortCoreInputUnit.cpp
  src/libYARP_os/src/yarp/os/impl/PortCoreOutputUnit.cpp
  tests/libYARP_os/PortTest.cpp
Owners: @drdanz, @traversaro

Cleanup
  src/libYARP_os/src/yarp/os/AbstractContactable.cpp
  src/libYARP_os/src/yarp/os/AbstractContactable.h
  src/libYARP_os/src/yarp/os/Contactable.cpp
  src/libYARP_os/src/yarp/os/Node.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.h
Owners: @drdanz

Do not wrap static constexpr variables from yarp conf dirs in SWIG
  src/libYARP_conf/src/yarp/conf/dirs.h
Owners: @drdanz

now using recursive_mutex to avoid deadlock when a device re-initialization is required
  src/devices/audioToFileDevice/audioToFileDevice.cpp
  src/devices/fakeSpeaker/fakeSpeaker.cpp
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.cpp
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.h
Owners: @randaz81, @traversaro, @Nicogene

dev/IFrameGrabberImage,IFrameGrabberImageRaw: Implement getImageCrop
  doc/release/master/FrameGrabberInterfacesRefactor5.md
  doc/yarp_code_examples.dox
  example/dev/CMakeLists.txt
  example/dev/grabber_crop/CMakeLists.txt
  example/dev/grabber_crop/grabber_crop.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
  tests/libYARP_dev/fakeFrameGrabberTest.cpp
Owners: @drdanz, @randaz81

Prepare release notes for YARP 3.4.4 release
  doc/release/v3_4_2.md
  doc/release/v3_4_3.md
  doc/release/v3_4_4.md
  doc/release/yarp_3_4/000_yarp_3_4.md
  doc/release/yarp_3_4/README.md
  doc/release/yarp_3_4/add_py_callback_example.md
  doc/release/yarp_3_4/detect_clock_reset.md
  doc/release/yarp_3_4/fix_cmake_install_python.md
  doc/release/yarp_3_4/fix_float128_t.md
  doc/release/yarp_3_4/fix_python_bindings_windows.md
  doc/release/yarp_3_4/fix_race_condition_scan_plugin.md
  doc/release/yarp_3_4/fix_yarplogger_clear.md
Owners: @drdanz

Prepare release notes for YARP 3.4.4 release
  doc/release/yarp_3_4.md
Owners: @drdanz

YARP 3.4.4
  CMakeLists.txt
  doc/download.dox
  doc/release/v3_4_4.md
Owners: @drdanz

Prepare for next stable release (3.4.5)
  doc/release/yarp_3_4/000_yarp_3_4.md
  doc/release/yarp_3_4/README.md
Owners: @drdanz

Fix .mailmap and release notes
  .mailmap
  doc/release/v3_4_4.md
Owners: @drdanz

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**                  @drdanz
/src/devices/**                                  @randaz81 @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**              @randaz81
/src/devices/Rangefinder2DWrapper/**             @randaz81
/src/devices/audioPlayerWrapper/**               @randaz81
/src/devices/audioRecorderWrapper/**             @randaz81
/src/devices/batteryClient/**                    @randaz81
/src/devices/batteryWrapper/**                   @randaz81
/src/devices/fakeBattery/**                      @randaz81
/src/devices/fakeLaser/**                        @randaz81
/src/devices/fakeMicrophone/**                   @randaz81
/src/devices/fakeSpeaker/**                      @randaz81
/src/devices/imuBosch_BNO055/**                  @Nicogene
/src/devices/laserFromDepth/**                   @randaz81
/src/devices/laserHokuyo/**                      @randaz81
/src/devices/localization2DClient/**             @randaz81
/src/devices/localization2DServer/**             @randaz81
/src/devices/map2DClient/**                      @randaz81
/src/devices/map2DServer/**                      @randaz81
/src/devices/multipleAnalogSensorsMsgs/**        @traversaro
/src/devices/multipleanalogsensorsclient/**      @traversaro
/src/devices/multipleanalogsensorsremapper/**    @traversaro
/src/devices/multipleanalogsensorsserver/**      @traversaro
/src/devices/navigation2DClient/**               @randaz81
/src/devices/navigation2DServer/**               @randaz81
/src/devices/portaudio/**                        @randaz81
/src/devices/portaudioPlayer/**                  @randaz81
/src/devices/portaudioRecorder/**                @randaz81
/src/devices/rpLidar/**                          @randaz81
/src/devices/rpLidar2/**                         @randaz81
/src/devices/transformClient/**                  @randaz81
/src/devices/transformServer/**                  @randaz81
/src/devices/usbCamera/**                        @Nicogene
/src/idls/rosmsg/**                              @drdanz
/src/idls/thrift/**                              @drdanz
/src/libYARP_companion/**                        @drdanz
/src/libYARP_conf/**                             @drdanz
/src/libYARP_cv/**                               @Nicogene
/src/libYARP_dev/**                              @randaz81
/src/libYARP_eigen/**                            @traversaro
/src/libYARP_gsl/**                              @traversaro
/src/libYARP_init/**                             @drdanz
/src/libYARP_logger/**                           @randaz81
/src/libYARP_manager/**                          @Nicogene
/src/libYARP_math/**                             @traversaro
/src/libYARP_name/**                             @drdanz
/src/libYARP_os/**                               @drdanz
/src/libYARP_pcl/**                              @Nicogene
/src/libYARP_profiler/**                         @Nicogene
/src/libYARP_robottestingframework/**            @Nicogene
/src/libYARP_rosmsg/**                           @drdanz
/src/libYARP_run/**                              @drdanz
/src/libYARP_serversql/**                        @drdanz
/src/libYARP_sig/**                              @drdanz
/src/libYARP_wire_rep_utils/**                   @drdanz
/src/portmonitors/depthimage_compression_zfp/**  @Nicogene
/src/portmonitors/depthimage_to_mono/**          @randaz81
/src/portmonitors/depthimage_to_rgb/**           @randaz81
/src/portmonitors/segmentationimage_to_rgb/**    @randaz81
/src/portmonitors/sound_compression_mp3/**       @randaz81
/src/robottestingframework-plugins/**            @Nicogene
/src/yarp/**                                     @drdanz
/src/yarpbatterygui/**                           @randaz81
/src/yarpdatadumper/**                           @pattacini
/src/yarpdataplayer/**                           @vtikha
/src/yarpdev/**                                  @drdanz
/src/yarplaserscannergui/**                      @randaz81
/src/yarplogger/**                               @randaz81
/src/yarplogger-console/**                       @randaz81
/src/yarpmanager/**                              @Nicogene
/src/yarpmanager-console/**                      @Nicogene
/src/yarpmotorgui/**                             @randaz81
/src/yarprobotinterface/**                       @drdanz
/src/yarprun/**                                  @drdanz
/src/yarpserver/**                               @drdanz
/src/yarpviz/**                                  @Nicogene
CMakeLists.txt                                   @drdanz
*.cmake                                          @drdanz
