Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz

Deprecate os/{Runnable,RateThreadWrapper}, dev/Data{Source,Writer}{,2} and grabber device
  doc/cmd_yarpdev.dox
  doc/device_invocation/grabber_basic.dox
  doc/note_devices.dox
  doc/release/devel/deprecate_Runnable.md
  example/dev/double_server.cpp
  example/dev/fake_grabber_net.cpp
  example/dev/fake_grabber_net2.cpp
  example/dev/file_grabber_net.cpp
  example/plugin/userlib/fake_grabber/CMakeLists.txt
  src/devices/CMakeLists.txt
  src/devices/ServerFrameGrabber/CMakeLists.txt
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/devices/fakebot/fakebot.example.ini
  src/devices/ffmpeg/CMakeLists.txt
  src/devices/opencv/CMakeLists.txt
  src/devices/test_grabber/CMakeLists.txt
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/RateThread.h
  src/libYARP_OS/include/yarp/os/Runnable.h
  src/libYARP_OS/include/yarp/os/impl/ThreadImpl.h
  src/libYARP_OS/src/RateThread.cpp
  src/libYARP_OS/src/Runnable.cpp
  src/libYARP_OS/src/ThreadImpl.cpp
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/DataSource.h
  src/libYARP_dev/include/yarp/dev/all.h
  tests/devices/grabber_audiovisual.ini
  tests/devices/grabber_basic.ini
  tests/libYARP_dev/TestFrameGrabberTest.cpp
Owners: @drdanz, @randaz81, @barbalberto, @traversaro, @Nicogene

Disable deprecated devices by default, and move the check inside yarp_prepare_plugin
  src/devices/CMakeLists.txt
  src/devices/ServerSoundGrabber/CMakeLists.txt
  src/devices/portaudio/CMakeLists.txt
Owners: @drdanz

YARP 3.2.1
  CMakeLists.txt
  COPYING
  doc/download.dox
  doc/release/master/000_master.md
  doc/release/master/README.md
  doc/release/master/fix-yarpdataplayer.md
  doc/release/master/fix_2054.md
  doc/release/master/mjpeg_BGR.md
  doc/release/v3_2_1.md
  doc/releases.dox
  scripts/admin/update-license
Owners: @drdanz

added changelog
  doc/release/devel/Map2DPath.md
Owners: @drdanz

added changelog
  doc/release/devel/Mapinfo.md
Owners: @drdanz

Map2DLocation thrifted Map2DPath thrifted Added new Path methods to IMap2D interface
  src/devices/map2DClient/Map2DClient.cpp
  src/devices/map2DClient/Map2DClient.h
  src/devices/map2DServer/Map2DServer.cpp
  src/devices/map2DServer/Map2DServer.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/idl/Map2DLocationData.thrift
  src/libYARP_dev/idl/Map2DPathData.thrift
  src/libYARP_dev/include/yarp/dev/ILocalization2D.h
  src/libYARP_dev/include/yarp/dev/IMap2D.h
  src/libYARP_dev/include/yarp/dev/Map2DArea.h
  src/libYARP_dev/include/yarp/dev/Map2DLocation.h
  src/libYARP_dev/include/yarp/dev/Map2DPath.h
  src/libYARP_dev/src/Map2DArea.cpp
  src/libYARP_dev/src/Map2DPath.cpp
  tests/libYARP_dev/MapGrid2DTest.cpp
Owners: @randaz81, @drdanz, @barbalberto

Added new data types: - yarp::dev::MapGrid2D::MapOrigin - yarp::dev::MapGrid2D::MapInfo
  src/libYARP_dev/include/yarp/dev/MapGrid2D.h
  src/libYARP_dev/src/MapGrid2D.cpp
Owners: @barbalberto, @randaz81

yarp::dev::Nav2D::Map2DPath is now replacing std::vector<yarp::dev::Nav2D::Map2DLocation> in all APIs
  src/devices/fakeNavigationDevice/fakeNavigationDev.cpp
  src/devices/fakeNavigationDevice/fakeNavigationDev.h
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/libYARP_dev/include/yarp/dev/INavigation2D.h
  src/libYARP_dev/include/yarp/dev/Map2DPath.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

added randaz81_TOKEN
  .github/workflows/rebase-pr.yml
Owners: @drdanz

MultiplAnalogSensorsClient: add --externalConnection option
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.h
Owners: @traversaro

Bump patch number
  CMakeLists.txt
Owners: @drdanz

Update changelog
  doc/release/devel/AddOptionMASClient.md
Owners: @drdanz

dev: Split AudioGrabberInterfaces classes in correspondent .h/.cpp files
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/AudioGrabberVocabs.h
  src/libYARP_dev/include/yarp/dev/IAudioGrabberSound.h
  src/libYARP_dev/include/yarp/dev/IAudioRender.h
  src/libYARP_dev/src/IAudioGrabberSound.cpp
  src/libYARP_dev/src/IAudioRender.cpp
Owners: @drdanz, @barbalberto, @randaz81

Prepare for next stable release (3.2.2)
  doc/release/master/000_master.md
  doc/release/master/README.md
  doc/releases.dox
Owners: @drdanz

os/Timer: add constructors that use std::mutex instead of yarp::os::Mutex
  doc/release/devel/TimerMutex.md
  src/libYARP_OS/include/yarp/os/Timer.h
  src/libYARP_OS/src/Timer.cpp
Owners: @drdanz

os: Deprecate all Mutex related classes and methods
  doc/release/devel/deprecate_Mutex.md
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/AbstractContactable.h
  src/libYARP_OS/include/yarp/os/BufferedPort-inl.h
  src/libYARP_OS/include/yarp/os/BufferedPort.h
  src/libYARP_OS/include/yarp/os/Contactable.h
  src/libYARP_OS/include/yarp/os/LockGuard.h
  src/libYARP_OS/include/yarp/os/Mutex.h
  src/libYARP_OS/include/yarp/os/Port.h
  src/libYARP_OS/include/yarp/os/RecursiveMutex.h
  src/libYARP_OS/include/yarp/os/Timer.h
  src/libYARP_OS/include/yarp/os/all.h
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/include/yarp/os/impl/PortCoreAdapter.h
  src/libYARP_OS/src/AbstractContactable.cpp
  src/libYARP_OS/src/Mutex.cpp
  src/libYARP_OS/src/Port.cpp
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/PortCoreAdapter.cpp
  src/libYARP_OS/src/RecursiveMutex.cpp
  src/libYARP_OS/src/Timer.cpp
Owners: @drdanz

os/Contactable: Add setCallbackLock override to pass a std::mutex instead of yarp::os::Mutex
  doc/release/devel/setCallBackLock.md
  src/libYARP_OS/include/yarp/os/AbstractContactable.h
  src/libYARP_OS/include/yarp/os/BufferedPort-inl.h
  src/libYARP_OS/include/yarp/os/BufferedPort.h
  src/libYARP_OS/include/yarp/os/Contactable.h
  src/libYARP_OS/include/yarp/os/Port.h
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/include/yarp/os/impl/PortCoreAdapter.h
  src/libYARP_OS/src/AbstractContactable.cpp
  src/libYARP_OS/src/Port.cpp
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/PortCoreAdapter.cpp
Owners: @drdanz

ci: Update tokens
  .github/workflows/rebase-pr.yml
Owners: @drdanz

ci: Update tokens
  .github/workflows/nightly-merge.yml
Owners: @drdanz

check_license.pl does not work properly on windows
  tests/misc/CMakeLists.txt
Owners: @drdanz

Try to fix appveyor
  .appveyor.yml
Owners: @drdanz

cmake: Move option in YarpOption.cmake
  cmake/YarpOptions.cmake
  src/CMakeLists.txt
Owners: @drdanz

cmake: Remove option deprecated since YARP 2.3.68
  src/CMakeLists.txt
Owners: @drdanz

cmake: Cleanup
  src/devices/CMakeLists.txt
Owners: @drdanz

yarpidl_thrift/YarpIDL.cmake: Allow "standard" file placements
  cmake/YarpIDL.cmake
  doc/release/devel/YarpIDL_PLACEMENT.md
  src/devices/multipleAnalogSensorsMsgs/CMakeLists.txt
  src/idls/thrift/src/t_yarp_generator.cc
  src/libYARP_rosmsg/CMakeLists.txt
Owners: @drdanz

Add the hands_relative parameter in the ovr headset device
  src/devices/ovrheadset/OVRHeadset.cpp
  src/devices/ovrheadset/OVRHeadset.h
Owners: @drdanz, @aerydna

Removed invalid escape sequence in cmake file
  cmake/YarpIDL.cmake
Owners: @drdanz

realsense2: add usage of auto
  src/devices/realsense2/realsense2Driver.cpp
Owners: @Nicogene

realsense2: use range-based loops
  src/devices/realsense2/realsense2Driver.cpp
Owners: @Nicogene

realsense2: remove useless dynamic instantiation of RGBDParamParser
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
Owners: @Nicogene

realsense2: simplify if statement
  src/devices/realsense2/realsense2Driver.cpp
Owners: @Nicogene

realsense2: make static a function that doesn't use any member
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
Owners: @Nicogene

Update release notes
  doc/release/devel/alignRGBD.md
Owners: @drdanz

realsense2: add `alignmentFrame` parameter.
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
Owners: @Nicogene

YARP_dev: fix linking error when using RGBDSensorParamParser
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/RGBDSensorParamParser.cpp
Owners: @drdanz, @barbalberto, @randaz81

realsense2: add missing initializations
  src/devices/realsense2/realsense2Driver.h
Owners: @Nicogene

fixed regex replace sintax error
  cmake/YarpIDL.cmake
Owners: @drdanz
