Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @randaz81, @Nicogene, @pattacini, @vtikha

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**                  @drdanz
/src/devices/**                                  @randaz81 @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**              @randaz81
/src/devices/Rangefinder2DWrapper/**             @randaz81
/src/devices/audioPlayerWrapper/**               @randaz81
/src/devices/audioRecorderWrapper/**             @randaz81
/src/devices/batteryClient/**                    @randaz81
/src/devices/batteryWrapper/**                   @randaz81
/src/devices/fakeBattery/**                      @randaz81
/src/devices/fakeLaser/**                        @randaz81
/src/devices/fakeMicrophone/**                   @randaz81
/src/devices/fakeSpeaker/**                      @randaz81
/src/devices/imuBosch_BNO055/**                  @Nicogene
/src/devices/laserFromDepth/**                   @randaz81
/src/devices/laserHokuyo/**                      @randaz81
/src/devices/localization2DClient/**             @randaz81
/src/devices/localization2DServer/**             @randaz81
/src/devices/map2DClient/**                      @randaz81
/src/devices/map2DServer/**                      @randaz81
/src/devices/multipleAnalogSensorsMsgs/**        @traversaro
/src/devices/multipleanalogsensorsclient/**      @traversaro
/src/devices/multipleanalogsensorsremapper/**    @traversaro
/src/devices/multipleanalogsensorsserver/**      @traversaro
/src/devices/navigation2DClient/**               @randaz81
/src/devices/navigation2DServer/**               @randaz81
/src/devices/portaudio/**                        @randaz81
/src/devices/portaudioPlayer/**                  @randaz81
/src/devices/portaudioRecorder/**                @randaz81
/src/devices/rpLidar/**                          @randaz81
/src/devices/rpLidar2/**                         @randaz81
/src/devices/transformClient/**                  @randaz81
/src/devices/transformServer/**                  @randaz81
/src/devices/usbCamera/**                        @Nicogene
/src/idls/rosmsg/**                              @drdanz
/src/idls/thrift/**                              @drdanz
/src/libYARP_companion/**                        @drdanz
/src/libYARP_conf/**                             @drdanz
/src/libYARP_cv/**                               @Nicogene
/src/libYARP_dev/**                              @randaz81
/src/libYARP_eigen/**                            @traversaro
/src/libYARP_gsl/**                              @traversaro
/src/libYARP_init/**                             @drdanz
/src/libYARP_logger/**                           @randaz81
/src/libYARP_manager/**                          @Nicogene
/src/libYARP_math/**                             @traversaro
/src/libYARP_name/**                             @drdanz
/src/libYARP_os/**                               @drdanz
/src/libYARP_pcl/**                              @Nicogene
/src/libYARP_profiler/**                         @Nicogene
/src/libYARP_robottestingframework/**            @Nicogene
/src/libYARP_rosmsg/**                           @drdanz
/src/libYARP_run/**                              @drdanz
/src/libYARP_serversql/**                        @drdanz
/src/libYARP_sig/**                              @drdanz
/src/libYARP_wire_rep_utils/**                   @drdanz
/src/portmonitors/depthimage_compression_zfp/**  @Nicogene
/src/portmonitors/depthimage_to_mono/**          @randaz81
/src/portmonitors/depthimage_to_rgb/**           @randaz81
/src/portmonitors/segmentationimage_to_rgb/**    @randaz81
/src/portmonitors/sound_compression_mp3/**       @randaz81
/src/robottestingframework-plugins/**            @Nicogene
/src/yarp/**                                     @drdanz
/src/yarpbatterygui/**                           @randaz81
/src/yarpdatadumper/**                           @pattacini
/src/yarpdataplayer/**                           @vtikha
/src/yarpdev/**                                  @drdanz
/src/yarplaserscannergui/**                      @randaz81
/src/yarplogger/**                               @randaz81
/src/yarplogger-console/**                       @randaz81
/src/yarpmanager/**                              @Nicogene
/src/yarpmanager-console/**                      @Nicogene
/src/yarpmotorgui/**                             @randaz81
/src/yarprobotinterface/**                       @drdanz
/src/yarprun/**                                  @drdanz
/src/yarpserver/**                               @drdanz
/src/yarpviz/**                                  @Nicogene
CMakeLists.txt                                   @drdanz
*.cmake                                          @drdanz

fakeFrameGrabber: Remove 'nois' mode and add a '--noise' option
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
Owners: @randaz81, @traversaro, @Nicogene

Regenerate dox
  doc/device_invocation/fakeFrameGrabber_basic.dox
  doc/device_invocation/group_basic.dox
Owners: @drdanz

Update release notes
  doc/release/master/fakeFrameGrabber_enh2.md
Owners: @drdanz

added release notes + cleanup
  doc/release/master/localization2D_nws.md
  src/devices/localization2DServer/CMakeLists.txt
  src/devices/localization2DServer/localization2D_nws_ros.cpp
  src/devices/localization2DServer/localization2D_nws_yarp.cpp
Owners: @drdanz, @randaz81

* added `localization2D_nws_ros`, `localization2D_nws_yarp` devices
  src/devices/localization2DServer/CMakeLists.txt
  src/devices/localization2DServer/localization2D_nws_ros.cpp
  src/devices/localization2DServer/localization2D_nws_ros.h
  src/devices/localization2DServer/localization2D_nws_yarp.cpp
  src/devices/localization2DServer/localization2D_nws_yarp.h
Owners: @drdanz, @randaz81

added parameters publish_xxx to [GENERAL] section
  src/devices/localization2DServer/localization2D_nws_ros.cpp
  src/devices/localization2DServer/localization2D_nws_ros.h
  src/devices/localization2DServer/localization2D_nws_yarp.cpp
  src/devices/localization2DServer/localization2D_nws_yarp.h
Owners: @randaz81

cleanup
  src/devices/localization2DServer/localization2D_nws_ros.cpp
  src/devices/localization2DServer/localization2D_nws_ros.h
  src/devices/localization2DServer/localization2D_nws_yarp.cpp
  src/devices/localization2DServer/localization2D_nws_yarp.h
Owners: @randaz81

Improved parameters section
  src/devices/localization2DServer/localization2D_nws_ros.cpp
  src/devices/localization2DServer/localization2D_nws_ros.h
  src/devices/localization2DServer/localization2D_nws_yarp.cpp
  src/devices/localization2DServer/localization2D_nws_yarp.h
Owners: @randaz81

added missing implementation for method getEstimatedOdometry()
  src/devices/localization2DServer/localization2D_nws_yarp.cpp
Owners: @randaz81

g: pointcloudutils added ordered and unordered pointcloud generation
  doc/release/master/pointcloudutils.md
  src/libYARP_sig/src/yarp/sig/PointCloudUtils-inl.h
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.h
Owners: @drdanz

minor fixes
  src/devices/localization2DServer/localization2D_nws_ros.cpp
  src/devices/localization2DServer/localization2D_nws_yarp.cpp
Owners: @randaz81

fakeFrameGrabber: Fix deadlock
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
Owners: @randaz81, @traversaro, @Nicogene

Update release notes
  doc/release/master/fix_INCLUDING_ON_PURPOSE.md
Owners: @drdanz

Add build with CMake 3.20 and use YCM 0.12.2
  .github/workflows/ci.yml
Owners: @drdanz

Add missing includes to ControlBoardInterfacesImpl.h file
  src/libYARP_dev/src/yarp/dev/ControlBoardInterfacesImpl.h
Owners: @randaz81

Fix -Wundef warnings
  tests/libYARP_sig/SoundTest.cpp
Owners: @drdanz

robotinterface: Cleanup
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/RobotInterfaceDTD.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/RobotInterfaceDTD.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
Owners: @drdanz

fixed zero points in RGBDToPointCloudSensor_nws_ros
  src/devices/RGBDToPointCloudSensorWrapper/RGBDToPointCloudSensor_nws_ros.cpp
Owners: @randaz81, @traversaro, @Nicogene

Cleanup and fixes
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
Owners: @randaz81, @traversaro, @Nicogene

robotinterface/XMLReader: Accept a Searchable in getRobotFromFile and getRobotFromString
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/XMLReader.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/XMLReader.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileVx.h
Owners: @drdanz

Update old yarprobotinterface test
  src/yarprobotinterface/tests/fakeFrameGrabber/fakeFrameGrabber.xml
  src/yarprobotinterface/tests/fakeFrameGrabber/grabber.xml
  src/yarprobotinterface/tests/fakeFrameGrabber/test_grabber.xml
Owners: @drdanz

yarprobotinterface: Handle arguments taken from the command line
  src/yarprobotinterface/Module.cpp
Owners: @drdanz

tests/robotinterface: Add unit tests for parameters
  tests/libYARP_robotinterface/RobotinterfaceTest.cpp
Owners: @drdanz

Update release notes
  doc/release/master/robotinterface_param.md
Owners: @drdanz

added new portMonitor `sensorMeasurements_to_vector`
  doc/release/master/sensorMeas_to_vec.md
  src/portmonitors/CMakeLists.txt
  src/portmonitors/sensorMeasurements_to_vector/CMakeLists.txt
  src/portmonitors/sensorMeasurements_to_vector/SM_to_vec.cpp
  src/portmonitors/sensorMeasurements_to_vector/SM_to_vec.h
Owners: @drdanz

fakeFrameGrabber: call yield after producing an image
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
Owners: @randaz81, @traversaro, @Nicogene

grabberDual: Do not change topIsLow in the image
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
Owners: @randaz81, @traversaro, @Nicogene

sig/Image: Do not change topIsLow when image is copied
  src/libYARP_sig/src/yarp/sig/Image.cpp
Owners: @drdanz

yarpview: Fix upside down image when topIsLow is false
  src/yarpview/plugin/ImagePort.cpp
Owners: @drdanz

sig/ImageNetworkHeader: Add a field for topIsLow
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
Owners: @drdanz

sig/Image: Keep info in sync with IplImage
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/Image.h
Owners: @drdanz

Update release notes
  doc/release/master/fix_topIsLow.md
Owners: @drdanz

preliminary commit
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81

added FrameTransformStorageDevice
  src/devices/CMakeLists.txt
  src/devices/frameTransformStorage/CMakeLists.txt
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

added thrift message
  src/devices/CMakeLists.txt
  src/devices/frameTransformStorageMsgs/CMakeLists.txt
  src/devices/frameTransformStorageMsgs/frameTransformStorageMsgs.thrift
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.h
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.h
  src/devices/frameTransformStorageMsgs/idl_generated_code/frameTransformStorageMsgs_index.txt
  src/devices/frameTransformStorageMsgs/idl_generated_code/return_getAllTransforms.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/return_getAllTransforms.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

fixed frametransformstorage cmakelists
  src/devices/frameTransformStorage/CMakeLists.txt
Owners: @drdanz

fixed target yarp_math
  src/devices/frameTransformStorageMsgs/CMakeLists.txt
  src/devices/frameTransformUtils/CMakeLists.txt
Owners: @drdanz

FrameTransformContainer separated from FrameTransformStorage
  src/devices/CMakeLists.txt
  src/devices/frameTransformStorage/CMakeLists.txt
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformUtils/CMakeLists.txt
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/devices/frameTransformUtils/frameTransformUtils.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

fixed mispelled import and check style
  src/devices/frameTransformStorage/CMakeLists.txt
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformUtils/frameTransformUtils.cpp
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

updated cmakelists if lib_math is not enabled
  src/devices/frameTransformStorageMsgs/CMakeLists.txt
  src/devices/frameTransformUtils/CMakeLists.txt
Owners: @drdanz
