Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @randaz81, @Nicogene, @pattacini, @vtikha

Update .mailmap file
  .mailmap
Owners: @drdanz

dev: Deprecate yarp::dev::IFrameGrabber interface
  bindings/yarp.i
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @randaz81

dev: Deprecate yarp::dev::IFrameGrabberRgb interface
  bindings/yarp.i
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.h
  src/libYARP_dev/src/yarp/dev/all.h
Owners: @drdanz, @traversaro, @randaz81

usbCamera: Remove deprecated interfaces
  src/devices/usbCamera/common/USBcamera.cpp
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/devices/usbCamera/linux/V4L_camera.h
Owners: @Nicogene

Update release notes
  doc/release/master/FrameGrabberInterfacesRefactor6.md
Owners: @drdanz

minor fix of BatteryWrapper. Values coming from methods which are not implemented by the device are now set to NaN
  src/devices/batteryWrapper/BatteryWrapper.cpp
  src/devices/batteryWrapper/BatteryWrapper.h
Owners: @randaz81

sig/Image: decode vocabs when printing
  src/libYARP_sig/src/yarp/sig/Image.copyPixels.cpp
Owners: @drdanz

sig/Image: Allocate the right amount of bytes for YUV422 images
  src/libYARP_sig/src/yarp/sig/Image.cpp
Owners: @drdanz

Prepare release notes for YARP 3.4.5 release
  doc/release/yarp_3_4.md
  doc/release/yarp_3_4/000_yarp_3_4.md
  doc/release/yarp_3_4/README.md
Owners: @drdanz

YARP 3.4.5
  CMakeLists.txt
  doc/download.dox
  doc/release/v3_4_5.md
  doc/release/yarp_3_4.md
Owners: @drdanz

Prepare for next stable release (3.4.6)
  doc/release/yarp_3_4/000_yarp_3_4.md
  doc/release/yarp_3_4/README.md
Owners: @drdanz

CI: Run on "feature/*" and "CI/*" branches
  .github/workflows/ci-debug.yml
  .github/workflows/ci.yml
Owners: @drdanz

Cleanup
  src/libYARP_dev/src/yarp/dev/IMultipleWrapper.h
  src/libYARP_dev/src/yarp/dev/IWrapper.h
Owners: @randaz81

dev: Add WrapperSingle and WrapperMultiple helpers
  doc/release/master/IWrapper_helpers.md
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/WrapperMultiple.cpp
  src/libYARP_dev/src/yarp/dev/WrapperMultiple.h
  src/libYARP_dev/src/yarp/dev/WrapperSingle.cpp
  src/libYARP_dev/src/yarp/dev/WrapperSingle.h
Owners: @drdanz, @randaz81

dev: Fix Wrapper{Single,Multiple}
  src/libYARP_dev/src/yarp/dev/WrapperMultiple.h
  src/libYARP_dev/src/yarp/dev/WrapperSingle.h
Owners: @randaz81

Removed debug message
  cmake/YarpIDL.cmake
Owners: @drdanz

Removed tab
  src/idls/rosmsg/src/RosType.cpp
Owners: @drdanz

Fix of regular expression that matches /msg/ and /srv/
  cmake/YarpIDL.cmake
Owners: @drdanz

Fix to remove .srv.srv or .msg.msg from the generated files for the ROS use-case
  src/idls/rosmsg/src/RosType.cpp
Owners: @drdanz

Drop support for Qt < 5.4
  cmake/YarpFindDependencies.cmake
  doc/release/master/qt_5_4.md
  src/yarpview/plugin/ImagePort.cpp
Owners: @drdanz

Do not compile yarpros when YARP_COMPILE_EXECUTABLES is disabled
  doc/release/yarp_3_4/yarpros_YARP_COMPILE_EXECUTABLES.md
  src/carriers/tcpros_carrier/CMakeLists.txt
Owners: @drdanz

yarp/sig/IntrinsicParams: Deprecate YARP_PLUM_BOB in favour of YARP_PLUMB_BOB
  src/devices/RGBDRosConversionUtils/RGBDRosConversionUtils.cpp
  src/libYARP_sig/src/yarp/sig/IntrinsicParams.cpp
  src/libYARP_sig/src/yarp/sig/IntrinsicParams.h
Owners: @randaz81, @traversaro, @Nicogene, @drdanz

Update release notes
  doc/release/master/fix_rectificationMatrix_param.md
Owners: @drdanz

Rename the retificationMatrix parameter -> rectificationMatrix
  data/yarpmanager/tests/xml/modules/fakeFrameGrabber.xml
  data/yarpmanager/tests/xml/modules/test_grabber.xml
  doc/device_invocation/fakeFrameGrabber_basic.dox
  doc/device_invocation/group_basic.dox
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/libYARP_dev/src/yarp/dev/IVisualParams.h
  tests/libYARP_dev/fakeFrameGrabberTest.cpp
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

conf/api: Fix definition for YARP_HELPER_DLL_{IMPORT,EXPORT}_EXTERN
  src/libYARP_conf/src/yarp/conf/api.h.in
Owners: @drdanz

dev/IFrameGrabberImage{,Raw}: Implement using a template
  doc/release/master/FrameGrabberInterfacesRefactor7.md
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage-inl.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

Cleanup
  src/libYARP_math/src/yarp/math/Vec2D.cpp
  src/libYARP_math/src/yarp/math/Vec2D.h
Owners: @traversaro

math/Vec2D: Fix -Wattributes warning
  src/libYARP_math/src/yarp/math/Vec2D.cpp
  src/libYARP_math/src/yarp/math/Vec2D.h
Owners: @traversaro

fixed missing implementation for method `getEstimatedOdometry()` in localization2DClient, navigation2DClient etc.
  src/devices/localization2DClient/Localization2DClient.cpp
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/libYARP_dev/src/yarp/dev/ILocalization2D.h
  tests/libYARP_dev/Navigation2DClientTest.cpp
Owners: @randaz81, @drdanz

Improve debugging output
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
Owners: @randaz81, @traversaro, @Nicogene

framegrabber_protocol/FrameGrabberControlsDC1394_Forwarder: remove init method
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.cpp
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
Owners: @randaz81, @traversaro, @Nicogene

framegrabber_protocol: Add FrameGrabberOf_{Forwarder,Responder}*
  src/devices/framegrabber_protocol/CMakeLists.txt
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Forwarder-inl.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Responder-inl.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Responder.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

framegrabber_protocol: Remove unused stuff
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/CameraVocabs.h
Owners: @randaz81, @traversaro, @Nicogene

framegrabber_protocol/FrameGrabberControls_Forwarder: Implement deprecated methods
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.h
Owners: @randaz81, @traversaro, @Nicogene

added changelog
  doc/release/yarp_3_4/getEstimatedOdometryFix.md
Owners: @drdanz

Remove comments
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Forwarder-inl.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Responder-inl.h
Owners: @randaz81, @traversaro, @Nicogene

fakeFrameGrabber: Add debug message when hardware crop is requested
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
Owners: @randaz81, @traversaro, @Nicogene

dev/CameraConfig: Remove constructor to enable struct initialization
  src/libYARP_dev/src/yarp/dev/IVisualParams.h
Owners: @randaz81

fakeFrameGrabber: Add topIsLow option and set_topIsLow command
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
Owners: @randaz81, @traversaro, @Nicogene

fakeFrameGrabber: Do not block caller on getImage()
  doc/device_invocation/fakeFrameGrabber_basic.dox
  doc/device_invocation/group_basic.dox
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
Owners: @drdanz, @randaz81, @traversaro, @Nicogene

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**                  @drdanz
/src/devices/**                                  @randaz81 @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**              @randaz81
/src/devices/Rangefinder2DWrapper/**             @randaz81
/src/devices/audioPlayerWrapper/**               @randaz81
/src/devices/audioRecorderWrapper/**             @randaz81
/src/devices/batteryClient/**                    @randaz81
/src/devices/batteryWrapper/**                   @randaz81
/src/devices/fakeBattery/**                      @randaz81
/src/devices/fakeLaser/**                        @randaz81
/src/devices/fakeMicrophone/**                   @randaz81
/src/devices/fakeSpeaker/**                      @randaz81
/src/devices/imuBosch_BNO055/**                  @Nicogene
/src/devices/laserFromDepth/**                   @randaz81
/src/devices/laserHokuyo/**                      @randaz81
/src/devices/localization2DClient/**             @randaz81
/src/devices/localization2DServer/**             @randaz81
/src/devices/map2DClient/**                      @randaz81
/src/devices/map2DServer/**                      @randaz81
/src/devices/multipleAnalogSensorsMsgs/**        @traversaro
/src/devices/multipleanalogsensorsclient/**      @traversaro
/src/devices/multipleanalogsensorsremapper/**    @traversaro
/src/devices/multipleanalogsensorsserver/**      @traversaro
/src/devices/navigation2DClient/**               @randaz81
/src/devices/navigation2DServer/**               @randaz81
/src/devices/portaudio/**                        @randaz81
/src/devices/portaudioPlayer/**                  @randaz81
/src/devices/portaudioRecorder/**                @randaz81
/src/devices/rpLidar/**                          @randaz81
/src/devices/rpLidar2/**                         @randaz81
/src/devices/transformClient/**                  @randaz81
/src/devices/transformServer/**                  @randaz81
/src/devices/usbCamera/**                        @Nicogene
/src/idls/rosmsg/**                              @drdanz
/src/idls/thrift/**                              @drdanz
/src/libYARP_companion/**                        @drdanz
/src/libYARP_conf/**                             @drdanz
/src/libYARP_cv/**                               @Nicogene
/src/libYARP_dev/**                              @randaz81
/src/libYARP_eigen/**                            @traversaro
/src/libYARP_gsl/**                              @traversaro
/src/libYARP_init/**                             @drdanz
/src/libYARP_logger/**                           @randaz81
/src/libYARP_manager/**                          @Nicogene
/src/libYARP_math/**                             @traversaro
/src/libYARP_name/**                             @drdanz
/src/libYARP_os/**                               @drdanz
/src/libYARP_pcl/**                              @Nicogene
/src/libYARP_profiler/**                         @Nicogene
/src/libYARP_robottestingframework/**            @Nicogene
/src/libYARP_rosmsg/**                           @drdanz
/src/libYARP_run/**                              @drdanz
/src/libYARP_serversql/**                        @drdanz
/src/libYARP_sig/**                              @drdanz
/src/libYARP_wire_rep_utils/**                   @drdanz
/src/portmonitors/depthimage_compression_zfp/**  @Nicogene
/src/portmonitors/depthimage_to_mono/**          @randaz81
/src/portmonitors/depthimage_to_rgb/**           @randaz81
/src/portmonitors/segmentationimage_to_rgb/**    @randaz81
/src/portmonitors/sound_compression_mp3/**       @randaz81
/src/robottestingframework-plugins/**            @Nicogene
/src/yarp/**                                     @drdanz
/src/yarpbatterygui/**                           @randaz81
/src/yarpdatadumper/**                           @pattacini
/src/yarpdataplayer/**                           @vtikha
/src/yarpdev/**                                  @drdanz
/src/yarplaserscannergui/**                      @randaz81
/src/yarplogger/**                               @randaz81
/src/yarplogger-console/**                       @randaz81
/src/yarpmanager/**                              @Nicogene
/src/yarpmanager-console/**                      @Nicogene
/src/yarpmotorgui/**                             @randaz81
/src/yarprobotinterface/**                       @drdanz
/src/yarprun/**                                  @drdanz
/src/yarpserver/**                               @drdanz
/src/yarpviz/**                                  @Nicogene
CMakeLists.txt                                   @drdanz
*.cmake                                          @drdanz
