Repository robotology/yarp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @drdanz, @traversaro, @barbalberto, @Nicogene, @randaz81, @aerydna, @pattacini, @vtikha

os/impl/PortCore: Rename 'flags' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'connectionListeners' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'starting' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'controlRegistration' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'connectionChange' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'verbosity' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'outputCount' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'finished' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'interruptible' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'closing' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'running' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'packets' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'eventReporter' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'address' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'listening' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'events' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'dataOutputCount' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'interrupted' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'packetMutex' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'manual' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'adminReader' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'waitBeforeSend' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'typ' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'modifier' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'checkedType' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'mutex' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'contactable' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'envelopeWriter' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'mutexOwned' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'typeMutex' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Rename 'prop' variable
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Simplify expressions
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

os/impl/PortCore: Cleanup
  src/libYARP_OS/src/PortCore.cpp
Owners: @drdanz

Remove outdated examples
  src/libYARP_OS/examples/receiver.cpp
  src/libYARP_OS/examples/sender.cpp
Owners: @drdanz

init: Use macros with meaningful names
  src/libYARP_init/CMakeLists.txt
  src/libYARP_init/src/CustomInit.cpp
Owners: @drdanz

Remove unused headers
  src/devices/SDLJoypad/SDLJoypad.h
  src/devices/fakeDepthCamera/fakeDepthCameraDriver.h
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/map2DClient/Map2DClient.cpp
  src/devices/map2DClient/Map2DClient.h
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/ovrheadset/TextureBuffer.cpp
  src/devices/ovrheadset/TextureLogo.h
  src/libYARP_OS/include/yarp/os/PeriodicThread.h
  src/libYARP_dev/src/devices/ControlBoardRemapper/RemoteControlBoardRemapper.cpp
  src/libYARP_dev/src/devices/ServerGrabber/ServerGrabber.h
Owners: @aerydna, @barbalberto, @randaz81, @traversaro, @drdanz

devices/fakeLocalizerDevice: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/fakeLocalizerDevice/fakeLocalizerDev.cpp
  src/devices/fakeLocalizerDevice/fakeLocalizerDev.h
Owners: @randaz81, @barbalberto, @traversaro, @Nicogene

devices/Rangefinder2DClient: Use std::mutex instead of yarp::os::Mutex
  src/devices/Rangefinder2DClient/Rangefinder2DClient.h
Owners: @randaz81

devices/fakeMotionControl: Use std::mutex instead of yarp::os::Mutex
  src/devices/fakeMotionControl/fakeMotionControl.h
Owners: @barbalberto

devices/depthCamera: Use std::{mutex,lock_guard} instead of yarp::os::{Mutex,LockGuard}
  src/devices/depthCamera/depthCameraDriver.cpp
Owners: @barbalberto

.github/CODEOWNERS:

*                                             @drdanz
/bindings/**                                  @drdanz @traversaro
/cmake/**                                     @drdanz
/src/**                                       @drdanz
/src/carriers/**                              @drdanz
/src/carriers/depth_image_portmonitor/**      @barbalberto
/src/carriers/mjpeg_carrier/**                @drdanz
/src/carriers/tcpros_carrier/**               @drdanz
/src/carriers/zfp_portmonitor/**              @Nicogene
/src/devices/**                               @randaz81 @barbalberto @traversaro @Nicogene
/src/devices/Rangefinder2DClient/**           @randaz81
/src/devices/Rangefinder2DWrapper/**          @randaz81
/src/devices/SDLJoypad/**                     @aerydna
/src/devices/batteryClient/**                 @randaz81
/src/devices/batteryWrapper/**                @randaz81
/src/devices/depthCamera/**                   @barbalberto
/src/devices/fakeAnalogSensor/**              @barbalberto
/src/devices/fakeBattery/**                   @randaz81
/src/devices/fakeDepthCamera/**               @barbalberto
/src/devices/fakeIMU/**                       @barbalberto
/src/devices/fakeLaser/**                     @randaz81
/src/devices/fakeMotionControl/**             @barbalberto
/src/devices/imuBosch_BNO055/**               @barbalberto @Nicogene
/src/devices/laserFromDepth/**                @randaz81
/src/devices/laserHokuyo/**                   @randaz81
/src/devices/localization2DClient/**          @randaz81
/src/devices/localization2DServer/**          @randaz81
/src/devices/map2DClient/**                   @randaz81
/src/devices/map2DServer/**                   @randaz81
/src/devices/multipleAnalogSensorsMsgs/**     @traversaro
/src/devices/multipleanalogsensorsclient/**   @traversaro
/src/devices/multipleanalogsensorsremapper/** @traversaro
/src/devices/multipleanalogsensorsserver/**   @traversaro
/src/devices/navigation2DClient/**            @randaz81
/src/devices/navigation2DServer/**            @randaz81
/src/devices/ovrheadset/**                    @drdanz @aerydna
/src/devices/realsense2/**                    @Nicogene
/src/devices/rpLidar/**                       @randaz81
/src/devices/rpLidar2/**                      @randaz81
/src/devices/transformClient/**               @randaz81 @aerydna
/src/devices/transformServer/**               @randaz81 @aerydna
/src/devices/usbCamera/**                     @barbalberto @Nicogene
/src/idls/rosmsg/**                           @drdanz
/src/idls/thrift/**                           @drdanz
/src/libYARP_conf/**                          @drdanz
/src/libYARP_dev/**                           @barbalberto @randaz81
/src/libYARP_eigen/**                         @traversaro
/src/libYARP_gsl/**                           @traversaro
/src/libYARP_init/**                          @drdanz
/src/libYARP_logger/**                        @randaz81
/src/libYARP_manager/**                       @Nicogene
/src/libYARP_profiler/**                      @Nicogene
/src/libYARP_math/**                          @traversaro
/src/libYARP_name/**                          @drdanz
/src/libYARP_OS/**                            @drdanz
/src/libYARP_robottestingframework/**         @Nicogene @aerydna
/src/libYARP_serversql/**                     @drdanz
/src/libYARP_sig/                             @drdanz
/src/libYARP_wire_rep_utils/**                @drdanz
/src/robottestingframework-plugins/**         @Nicogene @aerydna
/src/yarp/**                                  @drdanz
/src/yarpbatterygui/**                        @randaz81
/src/yarpdatadumper/**                        @pattacini
/src/yarpdataplayer/**                        @vtikha
/src/yarpdev/**                               @drdanz
/src/yarplaserscannergui/**                   @randaz81
/src/yarplogger/**                            @randaz81
/src/yarplogger-console/**                    @randaz81
/src/yarpmanager/**                           @Nicogene
/src/yarpmanager-console/**                   @Nicogene
/src/yarpmotorgui/**                          @randaz81
/src/yarprobotinterface/**                    @drdanz
/src/yarprun/**                               @drdanz
/src/yarpserver/**                            @drdanz
/src/yarpviz/**                               @Nicogene
CMakeLists.txt                                @drdanz
*.cmake                                       @drdanz
