Repository robotology/yarp, pull requests merged in 2018-12, with the labels that each got.

#1933 recomputeCurrentNavigationPath
  doc/release/v3_2_0.md
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/libYARP_dev/include/yarp/dev/ILocalization2D.h
  src/libYARP_dev/include/yarp/dev/INavigation2D.h
Labels: Component: Library - YARP_dev, Issue Type: Feat/Enh Req, PR Status: Changelog - OK, Target: YARP devel

#1931 Add Network clock initialization value that was missing in some cases.
  doc/release/v3_1_1.md
  src/libYARP_OS/src/Network.cpp
  src/libYARP_OS/src/NetworkClock.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP master

#1932 Add opencv compatibility library
  cmake/template/Doxyfile.in
  doc/release/v3_2_0.md
  src/CMakeLists.txt
  src/libYARP_cv/CMakeLists.txt
  src/libYARP_cv/include/yarp/cv/Cv-inl.h
  src/libYARP_cv/include/yarp/cv/Cv.h
  src/libYARP_pcl/CMakeLists.txt
  src/libYARP_sig/include/yarp/sig/Image.h
  src/libYARP_sig/src/Image.cpp
  src/yarpdatadumper/main.cpp
  src/yarpdataplayer/CMakeLists.txt
  src/yarpdataplayer/include/worker.h
  src/yarpdataplayer/src/worker.cpp
Labels: Component: Library - YARP_sig, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP devel
