Repository robotology/yarp, pull requests merged in 2018-10, with the labels that each got.

#1880 Add ImageUtils
  doc/release/v3_2_0.md
  src/devices/realsense2/realsense2Driver.cpp
  src/libYARP_dev/src/devices/ServerGrabber/ServerGrabber.cpp
  src/libYARP_dev/src/devices/ServerGrabber/ServerGrabber.h
  src/libYARP_sig/CMakeLists.txt
  src/libYARP_sig/include/yarp/sig/ImageUtils.h
  src/libYARP_sig/src/ImageUtils.cpp
  tests/libYARP_sig/ImageTest.cpp
Labels: Component: Devices, Component: Library - YARP_dev, Component: Library - YARP_sig, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP devel, Type: Refactor

#1881 Unit tests for checking license
  .travis.yml
  bindings/lua/tests/test_vector.lua
  bindings/macrosForMultipleAnalogSensors.i
  bindings/python/tests/test_vector.py
  bindings/ruby/tests/test_vector.rb
  tests/CMakeLists.txt
  tests/misc/CMakeLists.txt
  tests/misc/check_license.pl
Labels: Component: Tests, Target: YARP master, Type: Legal

#1876 Add localizationServer device
  doc/release/v3_2_0.md
  src/devices/CMakeLists.txt
  src/devices/localization2DClient/Localization2DClient.cpp
  src/devices/localization2DClient/Localization2DClient.h
  src/devices/localization2DServer/CMakeLists.txt
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/localization2DServer/Localization2DServer.h
  src/devices/localization2DServer/localization2DServer.ini
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/libYARP_dev/include/yarp/dev/ILocalization2D.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Changelog - OK, PR Type: Feat/Enh

#1884 Ffmpeg fix debian testing compilation and replace some deprecated functions
  doc/release/v3_1_1.md
  src/devices/ffmpeg/FfmpegGrabber.cpp
  src/devices/ffmpeg/FfmpegWriter.cpp
  src/devices/ffmpeg/README.TXT
  src/devices/ffmpeg/avpreamble.h
  src/devices/ffmpeg/ffmpeg_api.cpp
  src/devices/ffmpeg/ffmpeg_api.h
Labels: Component: Devices, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP master, Type: Cleanup

#1807 Fixed size buffers manager
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/ControlBoardHelper.h
  src/libYARP_dev/include/yarp/dev/ImplementControlLimits.h
  src/libYARP_dev/include/yarp/dev/ImplementControlMode.h
  src/libYARP_dev/include/yarp/dev/ImplementCurrentControl.h
  src/libYARP_dev/include/yarp/dev/ImplementEncodersTimed.h
  src/libYARP_dev/include/yarp/dev/ImplementInteractionMode.h
  src/libYARP_dev/include/yarp/dev/ImplementMotor.h
  src/libYARP_dev/include/yarp/dev/ImplementMotorEncoders.h
  src/libYARP_dev/include/yarp/dev/ImplementPWMControl.h
  src/libYARP_dev/include/yarp/dev/ImplementPidControl.h
  src/libYARP_dev/include/yarp/dev/ImplementPositionControl.h
  src/libYARP_dev/include/yarp/dev/ImplementPositionDirect.h
  src/libYARP_dev/include/yarp/dev/ImplementTorqueControl.h
  src/libYARP_dev/include/yarp/dev/ImplementVelocityControl.h
  src/libYARP_dev/include/yarp/dev/impl/FixedSizeBuffersManager-inl.h
  src/libYARP_dev/include/yarp/dev/impl/FixedSizeBuffersManager.h
  src/libYARP_dev/src/ControlBoardHelper.cpp
  src/libYARP_dev/src/ImplementAxisInfo.cpp
  src/libYARP_dev/src/ImplementControlLimits.cpp
  src/libYARP_dev/src/ImplementControlMode.cpp
  src/libYARP_dev/src/ImplementCurrentControl.cpp
  src/libYARP_dev/src/ImplementEncodersTimed.cpp
  src/libYARP_dev/src/ImplementImpedanceControl.cpp
  src/libYARP_dev/src/ImplementInteractionMode.cpp
  src/libYARP_dev/src/ImplementMotor.cpp
  src/libYARP_dev/src/ImplementMotorEncoders.cpp
  src/libYARP_dev/src/ImplementPWMControl.cpp
  src/libYARP_dev/src/ImplementPidControl.cpp
  src/libYARP_dev/src/ImplementPositionControl.cpp
  src/libYARP_dev/src/ImplementPositionDirect.cpp
  src/libYARP_dev/src/ImplementTorqueControl.cpp
  src/libYARP_dev/src/ImplementVelocityControl.cpp
  src/libYARP_dev/src/ImplementVirtualAnalogSensor.cpp
Labels: Component: Devices, PR Status: Changelog - Not Required, PR Status: Commits - OK, PR Status: Copyright - OK, PR Status: Rebase - OK, PR Type: Feat/Enh, Target: YARP devel

#1890 Make comparison operator const
  src/libYARP_dev/include/yarp/dev/ControlBoardPid.h
  src/libYARP_dev/include/yarp/dev/IRobotDescription.h
  src/libYARP_dev/src/ControlBoardPid.cpp
  src/libYARP_logger/include/yarp/logger/YarpLogger.h
  src/libYARP_manager/include/yarp/manager/application.h
  src/libYARP_manager/include/yarp/manager/arbitrator.h
  src/libYARP_manager/include/yarp/manager/data.h
  src/libYARP_manager/include/yarp/manager/graph.h
  src/libYARP_manager/include/yarp/manager/module.h
  src/libYARP_manager/include/yarp/manager/resource.h
  src/libYARP_math/include/yarp/math/Vec2D.h
  src/libYARP_math/src/Vec2D.cpp
Labels: Component: Library - YARP_dev, Component: Library - YARP_math, Issue Type: API Bug, Target: YARP master

#1891 Fix -Wattributes warning for yarp::dev::VAS_status
  src/libYARP_dev/include/yarp/dev/IVirtualAnalogSensor.h
Labels: Component: Library - YARP_dev, Target: YARP master

#1894 Specify a different name for the node name and the yarprun server name in the yarpmanager
  doc/release/v3_2_0.md
  src/libYARP_manager/include/yarp/manager/xmlclusterloader.h
  src/libYARP_manager/src/xmlclusterloader.cpp
  src/yarpmanager/src-manager/clusterWidget.cpp
  src/yarpmanager/src-manager/clusterWidget.h
  src/yarpmanager/src-manager/clusterWidget.ui
Labels: Component: GUI - yarpmanager, PR Status: Changelog - OK, PR Status: Rebase - OK, PR Type: Feat/Enh, Target: YARP devel

#1897 check if port is interrupted before resuming
  doc/release/v3_1_1.md
  src/libYARP_OS/src/Port.cpp
  tests/libYARP_OS/PortTest.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - OK, PR Type: Bugfix

#1909 .travis.yml: Use homebrew addon for osx
  .travis.yml
Labels: Component: Continuous Integration, Target: YARP master
