Repository robotology/yarp, pull requests merged in 2018-06, with the labels that each got.

#1730 Fix yarpdatadumper when storing float images
  src/yarpdatadumper/main.cpp
Labels: Complexity: Medium, Component: Tool - yarpdatadumper, Issue Type: Bug, Priority: High

#1731 InstallBasicPackageFiles: Support for CMake < 3.9
  cmake/template/YARPConfig.cmake.in
  cmake/template/YARPTargetsStatic.cmake.in
  cmake/ycm-0.7.0/modules/InstallBasicPackageFiles.cmake
Labels: Component: CMake, PR Type: Bugfix, Severity: Release Blocker, Sync: YCM

#1743 Add support for i2c in imuBosh.
  cmake/FindI2C.cmake
  cmake/YarpFindDependencies.cmake
  doc/release/v3_1_0.md
  src/devices/imuBosch_BNO055/CMakeLists.txt
  src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp
  src/devices/imuBosch_BNO055/imuBosch_BNO055.h
Labels: Component: CMake, Component: Devices, PR Status: Changelog - OK, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Sync: YCM, Target: YARP v3.1.0

#1740 Define YARP_HAS_MATH_LIB locally (libYARP_math), then export to parent scope
  doc/release/v3_0_1.md
  src/libYARP_math/CMakeLists.txt
Labels: Component: CMake, Component: Library - YARP_math, Target: YARP v3.0.1

#1753 Add noexcept in move operators and constructor
  src/libYARP_OS/include/yarp/os/Contact.h
  src/libYARP_OS/include/yarp/os/NestedContact.h
  src/libYARP_OS/include/yarp/os/Route.h
  src/libYARP_OS/src/Contact.cpp
  src/libYARP_OS/src/NestedContact.cpp
  src/libYARP_OS/src/Route.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - Not Required, PR Type: Feat/Enh, Target: YARP v3.1.0

#1757 [yarp bindings] Added IInteractionMode interface and a couple of methods
  bindings/yarp.i
  doc/release/v3_1_0.md
Labels: Component: Bindings, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP v3.1.0

#1759 Cmake: fix configuration when CARRIER and DEVICES are OFF
  doc/release/v3_0_1.md
  src/carriers/CMakeLists.txt
  src/devices/CMakeLists.txt
Labels: Component: CMake, Component: Carriers, Component: Devices, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v3.0.1

#1762 Fix yarpscope double free
  doc/release/v3_0_1.md
  src/yarpscope/plugin/plotter.cpp
  src/yarpscope/plugin/plotter.h
  src/yarpscope/plugin/qtyarpscope.cpp
Labels: Component: GUI - yarpscope, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v3.0.1

#1744 Drivers: c++11-fy singleton
  src/libYARP_dev/include/yarp/dev/Drivers.h
  src/libYARP_dev/src/Drivers.cpp
Labels: Component: Library - YARP_dev, PR Status: Changelog - Not Required, Target: YARP v3.0.1, Type: Cleanup

#1761 Fix negative vocab
  doc/release/v3_0_1.md
  src/libYARP_sig/include/yarp/sig/Image.h
Labels: Component: Library - YARP_sig, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v3.0.1

#1756 Add bindings for Multiple Analog Sensors interfaces
  bindings/CMakeLists.txt
  bindings/macrosForMultipleAnalogSensors.i
  bindings/matlab/IVector_fromTo_matlab.i
  bindings/matlab/vectors_fromTo_matlab.i
  bindings/yarp.i
  doc/release/v3_1_0.md
  src/libYARP_dev/include/yarp/dev/MultipleAnalogSensorsInterfaces.h
  src/libYARP_dev/include/yarp/dev/all.h
Labels: Component: Bindings, PR Status: Changelog - OK, PR Status: Rebase - OK, PR Type: Feat/Enh, Target: YARP v3.1.0, Type: Cleanup

#1741 Handle OPTIONAL_COMPONENTS in find_package(YARP)
  cmake/template/YARPConfig.cmake.in
  doc/release/v3_0_1.md
Labels: Component: CMake, Target: YARP v3.0.1

#1766 update yarp name help and add list of yarprun ports command
  doc/release/v3_1_0.md
  src/libYARP_serversql/include/yarp/serversql/impl/NameServiceOnTriples.h
  src/libYARP_serversql/src/NameServiceOnTriples.cpp
Labels: PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP v3.1.0

#1769 Fix get Current/get Currents using stateExt and iCurrentControl
  doc/release/v3_0_1.md
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Changelog - OK, PR Status: Rebase - OK, PR Type: Bugfix, Target: YARP v3.0.1
