Repository robotology/yarp, pull requests merged in 2018-08, with the labels that each got.

#1830 Bindings: Disable extended analog sensor interfaces in CSharp
  bindings/yarp.i
  doc/release/v3_1_1.md
Labels: PR Type: Bugfix, Target: YARP v3.1.1

#1835 Bindings: fix "and" to "&&" for preprocessor
  bindings/yarp.i
Labels: PR Status: Changelog - Not Required, Target: YARP v3.1.1

#1838 Fix BufferedPort::write() after interrupt-resume
  doc/release/v3_1_1.md
  src/libYARP_OS/include/yarp/os/BufferedPort-inl.h
  tests/libYARP_OS/PortTest.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v3.1.1

#1832 Improvements to navigation interfaces in yarp::dev
  doc/release/v3_2_0.md
  src/devices/map2DClient/Map2DClient.cpp
  src/devices/map2DClient/Map2DClient.h
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/libYARP_dev/include/yarp/dev/ILocalization2D.h
  src/libYARP_dev/include/yarp/dev/IMap2D.h
  src/libYARP_dev/include/yarp/dev/INavigation2D.h
  tests/libYARP_dev/MapGrid2DTest.cpp
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP v3.2.0
