Repository robotology/yarp, pull requests merged in 2018-03, with the labels that each got.

#1568 yarpidl_rosmsg: Add --no-recurse option
  cmake/YarpIDL.cmake
  doc/release/v3_0_0.md
  src/idls/rosmsg/src/RosType.cpp
  src/idls/rosmsg/src/RosType.h
  src/idls/rosmsg/src/main.cpp
Labels: Component: IDL, Component: ROS Integration, PR Status: Changelog - OK, PR Status: Commits - OK, PR Status: Rebase - OK, PR Status: Test on Hardware - Not Required, Priority: High, Target: YARP v3.0.0, Type: Enhancement

#1570 devices/serialport: Re-license BSD
  src/devices/serialport/README.TXT
  src/devices/serialport/SerialDeviceDriver.h
Labels: Component: Devices, Priority: High, Target: YARP v3.0.0, Type: Legal

#1569 yarpidl_rosmsg: Add special methods to support timestamps as a double to builtin types
  src/devices/FrameTransformServer/FrameTransformServer.cpp
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.cpp
  src/idls/rosmsg/src/RosTypeCodeGenYarp.cpp
  src/libYARP_dev/src/devices/AnalogWrapper/AnalogWrapper.cpp
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/libYARP_dev/src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/libYARP_dev/src/devices/ServerInertial/ServerInertial.cpp
  src/libYARP_dev/src/devices/msgs/ros/include/TickDuration.h
  src/libYARP_dev/src/devices/msgs/ros/include/TickTime.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_Point.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_Pose.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_Quaternion.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_Transform.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_TransformStamped.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_Vector3.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_Wrench.h
  src/libYARP_dev/src/devices/msgs/ros/include/geometry_msgs_WrenchStamped.h
  src/libYARP_dev/src/devices/msgs/ros/include/nav_msgs_MapMetaData.h
  src/libYARP_dev/src/devices/msgs/ros/include/nav_msgs_OccupancyGrid.h
  src/libYARP_dev/src/devices/msgs/ros/include/sensor_msgs_CameraInfo.h
  src/libYARP_dev/src/devices/msgs/ros/include/sensor_msgs_Image.h
  src/libYARP_dev/src/devices/msgs/ros/include/sensor_msgs_Imu.h
  src/libYARP_dev/src/devices/msgs/ros/include/sensor_msgs_JointState.h
  src/libYARP_dev/src/devices/msgs/ros/include/sensor_msgs_LaserScan.h
  src/libYARP_dev/src/devices/msgs/ros/include/sensor_msgs_RegionOfInterest.h
  src/libYARP_dev/src/devices/msgs/ros/include/std_msgs_ColorRGBA.h
  src/libYARP_dev/src/devices/msgs/ros/include/std_msgs_Header.h
  src/libYARP_dev/src/devices/msgs/ros/include/tf2_msgs_TFMessage.h
  src/libYARP_dev/src/devices/msgs/ros/include/tf_tfMessage.h
  src/libYARP_dev/src/devices/msgs/ros/include/visualization_msgs_Marker.h
  src/libYARP_dev/src/devices/msgs/ros/include/visualization_msgs_MarkerArray.h
  src/libYARP_dev/src/devices/msgs/ros/include/yarpRosHelper.h
Labels: Component: Devices, Component: IDL, Component: ROS Integration, PR Status: Changelog - Missing, PR Status: Commits - OK, PR Status: Rebase - Required, PR Status: Test on Hardware - Not Required, Priority: Normal, Target: YARP v3.0.0, Type: Cleanup, Type: Enhancement

#1572 yarpidl_rosmsg: Small fixes
  cmake/YarpIDL.cmake
  src/idls/rosmsg/src/RosType.cpp
Labels: Component: IDL, Component: ROS Integration, Target: YARP v3.0.0, Type: Bugfix, Type: Cleanup

#1562 Restore devices disabled during pre-relicense phase
  src/devices/BatteryClient/BatteryClient.ini
  src/devices/BatteryClient/CMakeLists.txt
  src/devices/BatteryWrapper/BatteryWrapper.ini
  src/devices/BatteryWrapper/CMakeLists.txt
  src/devices/CMakeLists.txt
  src/devices/FrameTransformClient/CMakeLists.txt
  src/devices/FrameTransformClient/FrameTransformClient.ini
  src/devices/FrameTransformServer/CMakeLists.txt
  src/devices/FrameTransformServer/FrameTransformServer.cpp
  src/devices/FrameTransformServer/FrameTransformServer.h
  src/devices/FrameTransformServer/FrameTransformServer.ini
  src/devices/Localization2DClient/CMakeLists.txt
  src/devices/Localization2DClient/Localization2DClient.ini
  src/devices/Map2DClient/CMakeLists.txt
  src/devices/Map2DClient/Map2DClient.ini
  src/devices/Map2DServer/CMakeLists.txt
  src/devices/Map2DServer/Map2DServer.cpp
  src/devices/Map2DServer/Map2DServer.h
  src/devices/Map2DServer/Map2DServer.ini
  src/devices/Navigation2DClient/CMakeLists.txt
  src/devices/Navigation2DClient/Navigation2DClient.ini
  src/devices/Rangefinder2DClient/CMakeLists.txt
  src/devices/Rangefinder2DClient/Rangefinder2DClient.ini
  src/devices/Rangefinder2DWrapper/CMakeLists.txt
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.cpp
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.h
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.ini
  src/devices/ServerSoundGrabber/CMakeLists.txt
  src/devices/ServerSoundGrabber/ServerSoundGrabber.h
  src/devices/ServerSoundGrabber/ServerSoundGrabber.ini
Labels: Component: Devices, PR Status: Changelog - Not Required, PR Status: Commits - OK, PR Status: Rebase - OK, Priority: High, Status: In Progress, Target: YARP v3.0.0, Type: Task

#1587 bug fix - typedReaderMissingCallback with Sound in python bindings (rebase of #1521)
  bindings/yarp.i
Labels: Component: Bindings, PR Status: Branch - OK, PR Status: Rebase - OK, Status: In Progress, Target: YARP v3.0.0, Type: Bugfix

#1590 Bugfix/yarpscope
  src/yarpscope/plugin/plotter.cpp
Labels: Component: GUI - yarpscope, PR Status: Changelog - Not OK, Status: In Progress, Type: Bugfix

#1560 Fix bug in yarp::sig::Sound append (+= operator)
  doc/release/v2_3_72_1.md
  src/libYARP_sig/src/Sound.cpp
  tests/libYARP_sig/SoundTest.cpp
Labels: Component: Library - YARP_sig, PR Status: Changelog - Not OK, Target: YARP v2.3.72.1, Type: Bugfix

#1534 Add error code in attaching subdevices
  doc/release/v3_0_0.md
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Changelog - Not OK, Status: In Progress, Target: Future

#1593 Make shmem carrier a plugin
  doc/release/v3_0_0.md
  src/carriers/CMakeLists.txt
  src/carriers/builtin/builtin.ini
  src/carriers/shmem_carrier/CMakeLists.txt
  src/carriers/shmem_carrier/ShmemCarrier.cpp
  src/carriers/shmem_carrier/ShmemCarrier.h
  src/carriers/shmem_carrier/ShmemHybridStream.cpp
  src/carriers/shmem_carrier/ShmemHybridStream.h
  src/carriers/shmem_carrier/ShmemInputStream.cpp
  src/carriers/shmem_carrier/ShmemInputStream.h
  src/carriers/shmem_carrier/ShmemOutputStream.cpp
  src/carriers/shmem_carrier/ShmemOutputStream.h
  src/carriers/shmem_carrier/ShmemTypes.h
  src/carriers/shmem_carrier/shmem.ini
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/impl/ShmemCarrier.h
  src/libYARP_OS/include/yarp/os/impl/ShmemHybridStream.h
  src/libYARP_OS/include/yarp/os/impl/ShmemTwoWayStream.h
  src/libYARP_OS/src/Carriers.cpp
  src/libYARP_OS/src/ShmemCarrier.cpp
  src/libYARP_OS/src/ShmemHybridStream.cpp
  src/libYARP_OS/src/ShmemInputStream.cpp
  src/libYARP_OS/src/ShmemOutputStream.cpp
  src/libYARP_OS/src/ShmemTwoWayStream.cpp
Labels: Component: Carriers, Component: Library - YARP_OS, Status: In Progress, Target: YARP v3.0.0, Type: Cleanup, Type: Refactor

#1596 Fix rateThread example
  example/os/rateThreadTiming.cpp
  example/os/ratethread.cpp
  example/os/threads.cpp
Labels: Component: Examples, Component: Library - YARP_OS, PR Status: Changelog - Not Required, Status: In Progress, Target: YARP v2.3.72.1, Type: Bugfix

#1600 OS: Use std::this_thread::sleep_for instead of ACE_OS::sleep/usleep in PlatformTime
  src/libYARP_OS/src/PlatformTime.cpp
Labels: Component: Library - YARP_OS, Status: In Progress, Target: YARP v3.0.0, Type: Cleanup

#1601 OS: Move Run in a separate "run" library
  cmake/YarpDescribe.cmake
  doc/release/v3_0_0.md
  src/CMakeLists.txt
  src/carriers/shmem_carrier/ShmemInputStream.h
  src/idls/rosmsg/src/RosType.cpp
  src/idls/rosmsg/src/main.cpp
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/Os.h
  src/libYARP_OS/include/yarp/os/impl/Companion.h
  src/libYARP_OS/include/yarp/os/impl/McastCarrier.h
  src/libYARP_OS/include/yarp/os/impl/PlatformSize.h
  src/libYARP_OS/include/yarp/os/impl/PlatformTime.h
  src/libYARP_OS/include/yarp/os/impl/PlatformUnistd.h
  src/libYARP_OS/include/yarp/os/impl/StreamConnectionReader.h
  src/libYARP_OS/include/yarp/os/impl/posix/TcpStream.h
  src/libYARP_OS/src/Companion.cpp
  src/libYARP_OS/src/NameClient.cpp
  src/libYARP_OS/src/NameConfig.cpp
  src/libYARP_OS/src/Os.cpp
  src/libYARP_OS/src/ResourceFinder.cpp
  src/libYARP_run/CMakeLists.txt
  src/libYARP_run/include/yarp/os/Run.h
  src/libYARP_run/include/yarp/run/Run.h
  src/libYARP_run/include/yarp/run/api.h
  src/libYARP_run/include/yarp/run/impl/PlatformSysPrctl.h
  src/libYARP_run/include/yarp/run/impl/PlatformUnistd.h
  src/libYARP_run/include/yarp/run/impl/RunCheckpoints.h
  src/libYARP_run/include/yarp/run/impl/RunProcManager.h
  src/libYARP_run/include/yarp/run/impl/RunReadWrite.h
  src/libYARP_run/src/Run.cpp
  src/libYARP_run/src/RunCheckpoints.cpp
  src/libYARP_run/src/RunProcManager.cpp
  src/libYARP_run/src/RunReadWrite.cpp
  src/yarp-config/yarpcontextutils.cpp
  src/yarp/CMakeLists.txt
  src/yarp/yarp.cpp
  src/yarprun/CMakeLists.txt
  src/yarprun/yarprun.cpp
  tests/CMakeLists.txt
  tests/libYARP_OS/ResourceFinderTest.cpp
  tests/libYARP_OS/TestList.h
  tests/libYARP_run/RunTest.cpp
  tests/libYARP_run/TestList.h
  tests/libYARP_run/harness.cpp
Labels: Component: Deprecated, Component: Library - YARP_OS, Component: Tool - yarprun, Priority: High, Status: In Progress, Target: YARP v3.0.0, Type: Breaking Change, Type: Cleanup, Type: Deprecation, Type: Refactor

#1606 Fix yarp::OS::getprogname
  src/libYARP_OS/include/yarp/os/Os.h
  src/libYARP_OS/src/Os.cpp
  src/libYARP_OS/src/ResourceFinder.cpp
Labels: Status: In Progress

#1594 Always place YARP_DEPRECATED before the return type of the function
  src/libYARP_OS/include/yarp/os/PortReaderBufferBase.h
Labels: Component: Deprecated, Component: Library - YARP_OS, Status: In Progress, Target: YARP v2.3.72.1, Type: Bugfix

#1613 getprogname replaced by SystemInfo::getProcessInfo
  doc/release/v3_0_0.md
  src/libYARP_OS/include/yarp/os/Os.h
  src/libYARP_OS/include/yarp/os/SystemInfo.h
  src/libYARP_OS/src/LogForwarder.cpp
  src/libYARP_OS/src/NetworkClock.cpp
  src/libYARP_OS/src/Os.cpp
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/ResourceFinder.cpp
  src/libYARP_OS/src/SystemInfo.cpp
  tests/libYARP_OS/SystemInfoTest.cpp
Labels: Component: Library - YARP_OS, Status: In Progress

#1623 OS: Keep only c++11 implementations and remove YARP_EXPERIMENTAL_CXX11 option
  .travis.yml
  cmake/YarpOptions.cmake
  doc/release/v3_0_0.md
  scripts/admin/initial-cache.cmake
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/idl/WireTypes.h
  src/libYARP_OS/include/yarp/os/impl/ACELockImpl.h
  src/libYARP_OS/include/yarp/os/impl/ACESemaphoreImpl.h
  src/libYARP_OS/include/yarp/os/impl/CXX11SemaphoreImpl.h
  src/libYARP_OS/include/yarp/os/impl/LockImpl.h
  src/libYARP_OS/include/yarp/os/impl/MachSemaphoreImpl.h
  src/libYARP_OS/include/yarp/os/impl/POSIXLockImpl.h
  src/libYARP_OS/include/yarp/os/impl/POSIXSemaphoreImpl.h
  src/libYARP_OS/include/yarp/os/impl/PlatformSignal.h
  src/libYARP_OS/include/yarp/os/impl/PlatformStdio.h
  src/libYARP_OS/include/yarp/os/impl/PlatformThread.h
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/include/yarp/os/impl/RecursiveLockImpl.h
  src/libYARP_OS/include/yarp/os/impl/SemaphoreImpl.h
  src/libYARP_OS/include/yarp/os/impl/ThreadImpl.h
  src/libYARP_OS/src/BottleImpl.cpp
  src/libYARP_OS/src/Logger.cpp
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/RecursiveMutex.cpp
  src/libYARP_OS/src/Stamp.cpp
  src/libYARP_OS/src/SystemClock.cpp
  src/libYARP_OS/src/ThreadImpl.cpp
  src/libYARP_conf/include/yarp/conf/system.h.in
Labels: Component: Library - YARP_OS, PR Type: Feat/Enh, Status: In Progress, Target: YARP v3.0.0, Type: Cleanup

#1624 OS: Fix race condition in Nodes
  doc/release/v3_0_0.md
  src/libYARP_OS/include/yarp/os/Nodes.h
  src/libYARP_OS/src/Nodes.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Status: In Progress, Target: YARP v3.0.0, Type: Cleanup, Type: Refactor

#1608 Actually pass monitor object to wrapped subdevices in CBW
  doc/release/v2_3_72_1.md
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
Labels: Status: In Progress

#1609 Fix bug in ControlBoardRemapper::getEncoderAccelerations method
  doc/release/v2_3_72_1.md
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.cpp
Labels: Status: In Progress

#1629 Set the PROJECT_DESCRIPTION CMake variable in way compatible with CMake <= 3.8
  CMakeLists.txt
Labels: Status: In Progress

#1627 OS: Use std::{,recursive_}mutex in yarp::os::{,Recursive}Mutex
  doc/release/v3_0_0.md
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/LockGuard.h
  src/libYARP_OS/include/yarp/os/Mutex.h
  src/libYARP_OS/include/yarp/os/RecursiveMutex.h
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/include/yarp/os/impl/RecursiveLockImpl.h
  src/libYARP_OS/src/Carriers.cpp
  src/libYARP_OS/src/Mutex.cpp
  src/libYARP_OS/src/Node.cpp
  src/libYARP_OS/src/RecursiveMutex.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - OK, PR Type: Feat/Enh, Status: In Progress, Target: YARP v3.0.0, Type: Cleanup, Type: Deprecation, Type: Refactor
