Repository robotology/yarp, pull requests merged in 2018-09, with the labels that each got.

#1845 Fix IControlLimits.h not being a self-sufficient header
  doc/release/v3_1_1.md
  src/libYARP_dev/include/yarp/dev/IControlLimits.h
Labels: Component: Library - YARP_dev, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v3.1.1

#1842 Fix yarpdataplayer memory leak.
  doc/release/v3_1_1.md
  src/yarpdataplayer/src/worker.cpp
Labels: Component: GUI - yarpdataplayer, PR Type: Bugfix, Target: YARP v3.1.1

#1825 Coverity fixes
  src/carriers/h264_carrier/H264Decoder.cpp
  src/devices/fakeLaser/fakeLaser.cpp
  src/libYARP_OS/src/NameConfig.cpp
  src/libYARP_OS/src/PortReaderBufferBase.cpp
  src/libYARP_OS/src/WireReader.cpp
  src/libYARP_companion/src/Companion.cpp
  src/libYARP_manager/src/localbroker.cpp
  src/yarp-config/yarpcontextutils.cpp
Labels: PR Type: Bugfix, Target: YARP master, Type: Cleanup

#1852 Fix "Unable to create directory" error
  src/libYARP_OS/include/yarp/os/impl/NameConfig.h
  src/libYARP_OS/src/NameConfig.cpp
  src/libYARP_OS/src/Os.cpp
  src/libYARP_OS/src/ResourceFinder.cpp
  src/libYARP_companion/src/Companion.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP master, Type: Cleanup

#1856 Tests: Small refactor, return 2 when a test is not found
  doc/release/v3_1_1.md
  src/libYARP_OS/include/yarp/os/impl/UnitTest.h
  src/libYARP_OS/src/UnitTest.cpp
  src/libYARP_dev/include/yarp/dev/IRobotDescription.h
  src/libYARP_math/src/SVD.cpp
  tests/CMakeLists.txt
  tests/libYARP_dev/robotDescriptionTest.cpp
  tests/libYARP_math/svdTest.cpp
Labels: Component: CMake, Component: Library - YARP_OS, Component: Tests, Target: YARP master, Type: Cleanup, Type: Refactor

#1858 OS/impl/LogForwarder: Heavy refactoring
  doc/release/v3_1_1.md
  src/libYARP_OS/include/yarp/os/impl/LogForwarder.h
  src/libYARP_OS/src/Log.cpp
  src/libYARP_OS/src/LogForwarder.cpp
  src/libYARP_OS/src/Network.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - OK, PR Status: Rebase - OK, Target: YARP master, Type: Cleanup, Type: Refactor

#1848 Fix serialisation / deserialisation of maps in thrift idl
  doc/release/v3_1_1.md
  src/idls/thrift/src/t_yarp_generator.cc
Labels: Component: IDL, Component: Tool - yarpidl_thrift, PR Type: Bugfix, Target: YARP master

#1860 getRate to getPeriod for ovrheadset compilation
  src/devices/ovrheadset/TextureBattery.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP master

#1878 Various fixes rgbd sensors/wrapper
  doc/release/v3_1_1.md
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
  src/libYARP_dev/include/yarp/dev/IVisualParams.h
  src/libYARP_dev/src/FrameGrabberControlImpl.cpp
  src/libYARP_dev/src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
Labels: Component: Devices, Component: Documentation, Component: Library - YARP_dev, PR Type: Bugfix, Target: YARP master, Type: Cleanup

#1872 Cleanup of getDepthImage docs
  src/libYARP_dev/include/yarp/dev/IRGBDSensor.h
Labels: Component: Documentation, Component: Library - YARP_dev, Target: YARP master, Type: Cleanup

#1864 Cleanup some of YARP devices documentation
  src/devices/depthCamera/depthCameraDriver.h
  src/devices/fakeLaser/fakeLaser.h
  src/devices/realsense2/realsense2Driver.h
  src/devices/serialport/SerialDeviceDriver.h
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.h
Labels: Component: Devices, Component: Documentation, PR Status: Changelog - Not Required, Target: YARP master, Type: Cleanup

#1879 Fix devel builds without math
  src/devices/CMakeLists.txt
  src/devices/navigation2DServer/CMakeLists.txt
Labels: Component: Devices, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP devel
