Repository robotology/yarp, pull requests merged in 2018-05, with the labels that each got.

#1655 Fix SWIG preprocessor issue with VOCABs in enums
  bindings/lua/tests/CMakeLists.txt
  bindings/lua/tests/test_vocab.lua
  bindings/yarp.i
  doc/release/v2_3_72_1.md
  src/libYARP_OS/include/yarp/os/PortInfo.h
  src/libYARP_OS/include/yarp/os/Vocab.h
  src/libYARP_dev/include/yarp/dev/IPidControl.h
  src/libYARP_sig/include/yarp/sig/Image.h
Labels: Component: Bindings, Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP v2.3.72.1

#1662 Updated/fixed LUA documentation
  doc/yarp_swig.dox
Labels: Component: Documentation, PR Status: Changelog - Not Required, Priority: Normal, Severity: Normal, Target: YARP v2.3.72.1, Type: Cleanup

#1638 add timeout support for TcpConnector::connect()
  doc/release/v2_3_72_1.md
  src/libYARP_OS/include/yarp/os/impl/TcpConnector.h
  src/libYARP_OS/src/SocketTwoWayStream.cpp
  src/libYARP_OS/src/TcpConnector.cpp
Labels: Component: Library - YARP_OS, Config: SKIP_ACE, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v2.3.72.1

#1663 Update gitignore including VS2017 files
  .gitignore
Labels: PR Status: Changelog - Not Required, PR Type: Feat/Enh, Target: YARP v2.3.72.1

#1671 Mjpeg raw
  doc/release/v3_0_0.md
  src/carriers/mjpeg_carrier/MjpegCarrier.cpp
  src/carriers/mjpeg_carrier/MjpegCarrier.h
  src/carriers/mjpeg_carrier/MjpegDecompression.cpp
  src/carriers/mjpeg_carrier/MjpegDecompression.h
  src/carriers/mjpeg_carrier/MjpegStream.h
  tests/carriers/mjpeg/test_mjpeg.cpp
Labels: Component: Carriers, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Target: YARP v3.0.0, Type: Cleanup

#1589 Fix yarpmanager
  doc/release/v2_3_72_1.md
  src/libYARP_profiler/src/NetworkProfiler.cpp
  src/yarpmanager/src-manager/clusterWidget.cpp
Labels: Component: GUI - yarpmanager, Component: GUI - yarpviz, PR Status: Changelog - OK, PR Status: Test on Hardware - OK, Status: In Progress, Target: YARP v2.3.72.1

#1599 Fix missing YARP Matrix and Vector headers
  src/libYARP_eigen/include/yarp/eigen/Eigen.h
Labels: Affects: YARP v2.3.72, PR Type: Bugfix, Priority: Normal, Severity: Normal, Status: In Progress, Target: YARP v2.3.72.1

#1673 Fix yarpmanager res/conn list
  doc/release/v2_3_72_1.md
  src/yarpmanager/src-manager/applicationviewwidget.cpp
  src/yarpmanager/src-manager/applicationviewwidget.h
Labels: Component: GUI - yarpmanager, PR Status: Test on Hardware - Required, PR Type: Bugfix, Target: YARP v2.3.72.1

#1676 Improve MultipleAnalogSensorInterfaces docs
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.cpp
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.h
  src/libYARP_dev/include/yarp/dev/MultipleAnalogSensorsInterfaces.h
Labels: Component: Devices, Component: Documentation, PR Status: Changelog - Not Required, Target: YARP v3.0.0

#1680 Fix tcp connector
  src/libYARP_OS/src/TcpConnector.cpp
Labels: Component: Library - YARP_OS, Config: SKIP_ACE, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP v2.3.72.1

#1681 change TcpConnector print method to avoid problems with remote logging
  src/libYARP_OS/src/TcpConnector.cpp
Labels: Component: Library - YARP_OS, Config: SKIP_ACE, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP v2.3.72.1

#1679 Add check on carriers for yarpserver --ros
  doc/release/v2_3_72_1.md
  src/libYARP_serversql/src/yarpserver.cpp
Labels: Component: Carriers, Component: ROS Integration, Component: Tool - yarpserver, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v2.3.72.1

#1668 ControlBoardWrapper: functions for all joints invoke the equivalent device's function for all joints
  doc/release/v3_0_0.md
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/libYARP_dev/include/yarp/dev/IControlLimits2Impl.h
  src/libYARP_dev/include/yarp/dev/IInteractionModeImpl.h
  src/libYARP_dev/include/yarp/dev/IPositionControl2Impl.h
  src/libYARP_dev/include/yarp/dev/IPositionDirectImpl.h
  src/libYARP_dev/include/yarp/dev/IVelocityControl2Impl.h
  src/libYARP_dev/include/yarp/dev/ImplementControlMode2.h
  src/libYARP_dev/include/yarp/dev/ImplementCurrentControl.h
  src/libYARP_dev/include/yarp/dev/ImplementEncodersTimed.h
  src/libYARP_dev/include/yarp/dev/ImplementMotor.h
  src/libYARP_dev/include/yarp/dev/ImplementMotorEncoders.h
  src/libYARP_dev/include/yarp/dev/ImplementTorqueControl.h
  src/libYARP_dev/src/ControlMode2Impl.cpp
  src/libYARP_dev/src/CurrentControlImpl.cpp
  src/libYARP_dev/src/IControlLimit2sImpl.cpp
  src/libYARP_dev/src/IEncodersTimedImpl.cpp
  src/libYARP_dev/src/IInteractionModeImpl.cpp
  src/libYARP_dev/src/IMotorEncodersImpl.cpp
  src/libYARP_dev/src/IMotorImpl.cpp
  src/libYARP_dev/src/IPositionControl2Impl.cpp
  src/libYARP_dev/src/IPositionDirectImpl.cpp
  src/libYARP_dev/src/IVelocityControl2Impl.cpp
  src/libYARP_dev/src/PWMControlImpl.cpp
  src/libYARP_dev/src/TorqueControlImpl.cpp
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/SubDevice.cpp
  src/libYARP_dev/src/devices/ControlBoardWrapper/SubDevice.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Changelog - OK, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Target: YARP v3.0.0

#1678 Add bindings for Motor encoders interface
  bindings/yarp.i
  doc/release/v3_0_0.md
Labels: Component: Bindings, Component: Devices, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP v3.0.0

#1685 Cleanup singleton
  src/libYARP_OS/include/yarp/os/Carriers.h
  src/libYARP_OS/include/yarp/os/impl/LogForwarder.h
  src/libYARP_OS/src/Carriers.cpp
  src/libYARP_OS/src/LogForwarder.cpp
  src/libYARP_OS/src/Network.cpp
  src/libYARP_OS/src/RFModule.cpp
  src/libYARP_init/src/CustomInit.cpp
  src/libYARP_manager/include/yarp/manager/utility.h
  src/libYARP_manager/src/utility.cpp
  src/yarpscope/plugin/plotmanager.cpp
  src/yarpscope/plugin/plotmanager.h
Labels: Component: GUI - yarpmanager, Component: GUI - yarpscope, Component: Library - YARP_OS, Component: Tool - yarpmanager-console, PR Status: Changelog - Not Required, PR Type: Feat/Enh, Target: YARP v3.0.0, Type: Cleanup

#1688 Tcp carrier performance improvement
  doc/release/v3_0_0.md
  src/libYARP_OS/include/yarp/os/impl/SocketTwoWayStream.h
  src/libYARP_OS/src/BufferedConnectionWriter.cpp
  src/libYARP_OS/src/NameClient.cpp
  src/libYARP_OS/src/NameserCarrier.cpp
  src/libYARP_OS/src/Protocol.cpp
  src/libYARP_OS/src/SocketTwoWayStream.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - OK, PR Status: Test on Hardware - Required, PR Type: Feat/Enh, Target: YARP v3.0.0

#1674 Implement improvements of Lua tests proposed at #1656
  bindings/lua/tests/CMakeLists.txt
  bindings/lua/tests/run.sh
  bindings/lua/tests/test_port.lua
  bindings/lua/tests/test_string.lua
  doc/release/v2_3_72_1.md
Labels: Component: Bindings, Component: Tests, PR Type: Feat/Enh, Target: YARP v2.3.72.1

#1699 Cleanup singleton part2
  doc/release/v3_0_0.md
  doc/yarp_env_variables.md
  src/libYARP_OS/include/yarp/os/Bottle.h
  src/libYARP_OS/include/yarp/os/SharedLibraryFactory.h
  src/libYARP_OS/include/yarp/os/Thread.h
  src/libYARP_OS/include/yarp/os/impl/BottleImpl.h
  src/libYARP_OS/include/yarp/os/impl/ThreadImpl.h
  src/libYARP_OS/src/Bottle.cpp
  src/libYARP_OS/src/BottleImpl.cpp
  src/libYARP_OS/src/Carriers.cpp
  src/libYARP_OS/src/Network.cpp
  src/libYARP_OS/src/Thread.cpp
  src/libYARP_OS/src/ThreadImpl.cpp
  src/libYARP_OS/src/Time.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - Not Required, Target: YARP v3.0.0, Type: Cleanup

#1700 move math operators outside yarp::math namespace
  doc/release/v3_0_0.md
  src/libYARP_math/include/yarp/math/Math.h
  src/libYARP_math/src/math.cpp
Labels: Affects: YARP v2.3.72, Component: Library - YARP_math, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP v3.0.0, Type: Breaking Change

#1708 Friday night cleanup (Network, Time)
  example/dev/simple_motor_client.cpp
  example/os/rateThreadTiming.cpp
  example/portaudio/sound_sender_file_chunks.cpp
  example/profiling/rateThreadTiming.cpp
  example/profiling/thread_latency.cpp
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/laserFromDepth/laserFromDepth.cpp
  src/devices/laserHokuyo/laserHokuyo.cpp
  src/devices/rpLidar/rpLidar.cpp
  src/devices/rpLidar2/rpLidar2.cpp
  src/libYARP_OS/include/yarp/os/Time.h
  src/libYARP_OS/include/yarp/os/impl/TimeImpl.h
  src/libYARP_OS/src/Network.cpp
  src/libYARP_OS/src/Time.cpp
  src/yarpdatadumper/main.cpp
  src/yarprobotinterface/main.cpp
  tests/libYARP_OS/RateThreadTest.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP v3.0.0, Type: Cleanup, Type: Deprecation

#1709 YARP_math enabled if eigen is found
  cmake/YarpFindDependencies.cmake
  doc/release/v3_0_0.md
Labels: Component: CMake, Component: Library - YARP_math, Target: YARP v3.0.0

#1703 Fix warnings
  cmake/YarpSystemCheck.cmake
  src/carriers/depth_image_portmonitor/DepthImage.cpp
  src/devices/depthCamera/depthCameraDriver.cpp
  src/idls/thrift/CMakeLists.txt
  src/libYARP_dev/src/IJoypadController.cpp
  src/libYARP_dev/src/MapGrid2D.cpp
  src/libYARP_math/src/Quaternion.cpp
  src/libYARP_math/src/Rand.cpp
  src/libYARP_sig/src/SoundFile.cpp
  src/libYARP_wire_rep_utils/WireBottle.cpp
  src/libYARP_wire_rep_utils/WireTwiddler.cpp
  tests/libYARP_OS/BottleTest.cpp
  tests/libYARP_OS/DgramTwoWayStreamTest.cpp
  tests/libYARP_OS/NetTypeTest.cpp
  tests/libYARP_dev/ControlBoardRemapperTest.cpp
  tests/libYARP_math/Vec2DTest.cpp
  tests/libYARP_math/svdTest.cpp
  tests/libYARP_sig/MatrixTest.cpp
Labels: Component: CMake, Component: Carriers, Component: Devices, Component: Library - YARP_dev, Component: Library - YARP_math, Component: Library - YARP_sig, Component: Tests, Component: Tool - yarpidl_thrift, Target: YARP v3.0.0, Type: Cleanup

#1702 FrameTransformClient: add consistency check in setTranform
  src/libYARP_dev/src/devices/FrameTransformClient/FrameTransformClient.cpp
Labels: Affects: YARP v2.3.72, Component: Library - YARP_dev, PR Type: Bugfix, Target: YARP v2.3.72.1

#1712 Support for jpg file
  doc/cmd_yarpdatadumper.dox
  doc/release/v3_0_0.md
  src/libYARP_sig/CMakeLists.txt
  src/libYARP_sig/include/yarp/sig/ImageFile.h
  src/libYARP_sig/src/ImageFile.cpp
  src/yarpdatadumper/main.cpp
Labels: Component: Library - YARP_sig, Component: Tool - yarpdatadumper, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP v3.0.0

#1711 move Companion out of YARP_OS
  doc/release/v3_0_0.md
  src/CMakeLists.txt
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/Network.h
  src/libYARP_OS/include/yarp/os/Ping.h
  src/libYARP_OS/include/yarp/os/impl/Terminal.h
  src/libYARP_OS/src/NameServer.cpp
  src/libYARP_OS/src/Network.cpp
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/PortCoreOutputUnit.cpp
  src/libYARP_OS/src/RFModule.cpp
  src/libYARP_OS/src/Terminal.cpp
  src/libYARP_OS/src/Terminator.cpp
  src/libYARP_companion/CMakeLists.txt
  src/libYARP_companion/include/yarp/companion/api.h
  src/libYARP_companion/include/yarp/companion/impl/Companion.h
  src/libYARP_companion/include/yarp/companion/yarpcompanion.h
  src/libYARP_companion/src/Companion.cpp
  src/libYARP_profiler/CMakeLists.txt
  src/libYARP_profiler/src/NetworkProfiler.cpp
  src/yarp/CMakeLists.txt
  src/yarp/yarp.cpp
  src/yarphear/yarphear.cpp
  tests/libYARP_OS/BinPortableTest.cpp
  tests/libYARP_OS/NameServerTest.cpp
  tests/libYARP_OS/PortCoreTest.cpp
  tests/libYARP_OS/PortTest.cpp
  tests/libYARP_OS/harness.cpp
  tests/libYARP_dev/harness.cpp
  tests/libYARP_math/harness.cpp
  tests/libYARP_run/harness.cpp
  tests/libYARP_serversql/ServerTest.cpp
  tests/libYARP_serversql/harness.cpp
  tests/libYARP_sig/harness.cpp
  tests/libYARP_wire_rep_utils/harness.cpp
Labels: Component: Library - YARP_OS, Component: Library - YARP_companion, Severity: Release Blocker, Target: YARP v3.0.0, Type: Breaking Change
