Repository robotology/yarp, pull requests merged in 2018-04, with the labels that each got.

#1633 Fix depthCamera and RGBDSensorWrapper
  doc/release/v2_3_72_1.md
  src/devices/depthCamera/CMakeLists.txt
  src/libYARP_dev/src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/libYARP_dev/src/devices/RGBDSensorWrapper/RGBDSensorWrapper.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Bugfix, Status: In Progress, Target: YARP v2.3.72.1

#1635 Fix macos guis compilation
  cmake/YarpOSXUtilities.cmake
  doc/release/v2_3_72_1.md
Labels: Component: CMake, PR Type: Bugfix, Platform: macOS, Target: YARP v2.3.72.1

#1634 Add realsense2 device driver
  cmake/YarpFindDependencies.cmake
  doc/release/v3_0_0.md
  src/devices/CMakeLists.txt
  src/devices/depthCamera/CMakeLists.txt
  src/devices/depthCamera/depthCameraDriver.cpp
  src/devices/depthCamera/depthCameraDriver.h
  src/devices/depthCamera/depthCameraImpl.hpp
  src/devices/realsense2/CMakeLists.txt
  src/devices/realsense2/realsense2.ini
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/RGBDSensorParamParser.h
  src/libYARP_dev/src/RGBDSensorParamParser.cpp
  src/libYARP_dev/src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/libYARP_dev/src/devices/RGBDSensorWrapper/RGBDSensorWrapper.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP v3.0.0

#1480 Timer
  doc/release/v3_0_0.md
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/Timer.h
  src/libYARP_OS/src/Timer.cpp
  tests/libYARP_OS/TestList.h
  tests/libYARP_OS/TimerTest.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - OK, PR Status: Commits - OK, PR Status: Copyright - OK, PR Status: Rebase - OK, PR Status: Test on Hardware - Not Required, PR Type: Feat/Enh, Status: In Progress, Target: YARP v3.0.0

#1586 Add multiple analog sensors interfaces and related devices
  doc/release/v3_0_0.md
  src/devices/CMakeLists.txt
  src/devices/fakeIMU/fakeIMU.cpp
  src/devices/fakeIMU/fakeIMU.h
  src/devices/multipleAnalogSensorsMsgs/CMakeLists.txt
  src/devices/multipleAnalogSensorsMsgs/multipleAnalogSensorsSerializations.thrift
  src/devices/multipleanalogsensorsclient/CMakeLists.txt
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.h
  src/devices/multipleanalogsensorsclient/multipleanalogsensorsclient.ini
  src/devices/multipleanalogsensorsremapper/CMakeLists.txt
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.cpp
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.h
  src/devices/multipleanalogsensorsremapper/multipleanalogsensorsremapper.ini
  src/devices/multipleanalogsensorsserver/CMakeLists.txt
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
  src/devices/multipleanalogsensorsserver/multipleanalogsensorsserver.ini
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/MultipleAnalogSensorsInterfaces.h
  src/libYARP_dev/src/MultipleAnalogSensorsInterfaces.cpp
  tests/CMakeLists.txt
  tests/libYARP_dev/MultipleAnalogSensorsInterfacesTest.cpp
  tests/libYARP_dev/TestList.h
Labels: Status: In Progress

#1642 Improve realsense
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
  src/libYARP_dev/src/devices/ServerGrabber/ServerGrabber.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Changelog - Not Required, PR Type: Feat/Enh, Target: YARP v3.0.0

#1615 Fix failure in compiling YARP headers in C++14 mode with GCC
  src/libYARP_conf/include/yarp/conf/api.h.in
Labels: Affects: YARP v2.3.72, Component: Library - YARP_conf, PR Type: Bugfix, Resolution: Merged, Target: YARP v2.3.72.1, Type: Reminder

#1646 os/impl/Logger: Remove ACE implementation
  src/libYARP_OS/include/yarp/os/impl/Logger.h
  src/libYARP_OS/src/Logger.cpp
Labels: Component: Deprecated, Component: Library - YARP_OS, Target: YARP v3.0.0, Type: Refactor

#1650 Let yarpdataplayer read ImageOf<PixelFloat> via OpenCV
  doc/release/v3_0_0.md
  src/yarpdataplayer/src/worker.cpp
Labels: Component: GUI - yarpdataplayer, Priority: High

#1649 OS/NestedContact: Cleanup
  src/libYARP_OS/include/yarp/os/NestedContact.h
  src/libYARP_OS/src/NestedContact.cpp
Labels: Component: Library - YARP_OS, PR Status: Branch - OK, PR Status: Changelog - Not Required, PR Status: Commits - OK, PR Status: Copyright - OK, PR Status: Test on Hardware - Not Required, Status: In Progress, Target: YARP v3.0.0, Type: Cleanup, Type: Refactor

#1612 Major changes to IPidControlImpl.cpp to allow conversion from metric to machine units of PID gains.
  CMakeLists.txt
  doc/release/v3_0_0.md
  src/devices/fakeMotionControl/CMakeLists.txt
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/devices/fakeMotionControl/fakeMotionControl.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/ControlBoardHelper.h
  src/libYARP_dev/include/yarp/dev/ControlBoardInterfaces.h
  src/libYARP_dev/include/yarp/dev/ControlBoardInterfacesImpl.inl
  src/libYARP_dev/include/yarp/dev/IControlMode.h
  src/libYARP_dev/include/yarp/dev/IControlMode2.h
  src/libYARP_dev/include/yarp/dev/IPidControl.h
  src/libYARP_dev/include/yarp/dev/IPidControlImpl.h
  src/libYARP_dev/include/yarp/dev/ITorqueControl.h
  src/libYARP_dev/include/yarp/dev/IVelocityControl2.h
  src/libYARP_dev/include/yarp/dev/IVirtualAnalogSensor.h
  src/libYARP_dev/include/yarp/dev/IVirtualAnalogSensorImpl.h
  src/libYARP_dev/include/yarp/dev/ImplementControlBoardInterfaces.h
  src/libYARP_dev/include/yarp/dev/ImplementControlMode.h
  src/libYARP_dev/include/yarp/dev/ImplementControlMode2.h
  src/libYARP_dev/include/yarp/dev/ImplementTorqueControl.h
  src/libYARP_dev/include/yarp/dev/PidEnums.h
  src/libYARP_dev/src/ControlBoardHelper.cpp
  src/libYARP_dev/src/ControlMode2Impl.cpp
  src/libYARP_dev/src/ControlModeImpl.cpp
  src/libYARP_dev/src/CurrentControlImpl.cpp
  src/libYARP_dev/src/IAxisInfoImpl.cpp
  src/libYARP_dev/src/IControlLimit2sImpl.cpp
  src/libYARP_dev/src/IEncodersTimedImpl.cpp
  src/libYARP_dev/src/IInteractionModeImpl.cpp
  src/libYARP_dev/src/IMotorEncodersImpl.cpp
  src/libYARP_dev/src/IMotorImpl.cpp
  src/libYARP_dev/src/IPidControlImpl.cpp
  src/libYARP_dev/src/IPositionControl2Impl.cpp
  src/libYARP_dev/src/IPositionDirectImpl.cpp
  src/libYARP_dev/src/IRemoteVariablesImpl.cpp
  src/libYARP_dev/src/IVelocityControl2Impl.cpp
  src/libYARP_dev/src/ImpedanceControlImpl.cpp
  src/libYARP_dev/src/PWMControlImpl.cpp
  src/libYARP_dev/src/TorqueControlImpl.cpp
  src/libYARP_dev/src/VirtualAnalogSensorImpl.cpp
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.cpp
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/RPCMessagesParser.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
Labels: Complexity: Hard, Component: Library - YARP_dev, PR Type: Feat/Enh, Status: In Progress

#1661 RealSense device: fix error in return value
  src/devices/realsense2/realsense2Driver.cpp
Labels: PR Type: Bugfix
