Repository robotology/yarp, pull requests merged in 2019-11, with the labels that each got.

#2114 [yarpmanager] Fix wrong text label in clusterWidget
  src/yarpmanager/src-manager/clusterWidget.ui
Labels: Component: GUI - yarpmanager, PR Status: Changelog - Not Required, PR Status: Test on Hardware - Not Required, PR Type: Bugfix, Target: YARP devel, Type: Cleanup

#2122 yarpdatadumper can handle dir name w/ special chars
  doc/release/devel/yarpdatadumper_dirname.md
  src/yarpdatadumper/main.cpp
Labels: Component: Tool - yarpdatadumper, PR Type: Bugfix, PR Type: Feat/Enh, Priority: Normal

#2124 Fix compilation when including Wrapper.h
  src/libYARP_dev/src/yarp/dev/Wrapper.h
Labels: Component: Library - YARP_dev, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP devel

#2127 yarpdataplayer adding missing slider functionality
  doc/release/master/yarpdataplayer_fixslider
  src/yarpdataplayer/src/worker.cpp
Labels: Component: GUI - yarpdataplayer, PR Status: Changelog - OK, PR Type: Bugfix, Severity: Normal, Target: YARP master

#2130 cleanup of the signature of several methods of yarp::os::Network
  doc/release/devel/Network_isConnected.md
  src/libYARP_os/src/yarp/os/Network.cpp
  src/libYARP_os/src/yarp/os/Network.h
Labels: Component: Library - YARP_OS, PR Type: Feat/Enh, Target: YARP devel, Type: Cleanup
