Repository robotology/yarp, pull requests merged in 2019-01, with the labels that each got.

#1942 fixed rplidar compilation on windows
  extern/rplidar/sdk/src/rplidar_driver.cpp
Labels: Component: Devices

#1943 Fix yarp_ovrheadset build
  src/devices/ovrheadset/TextureBattery.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP devel

#1941 Streaming localizer
  doc/release/v3_2_0.md
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/localization2DServer/Localization2DServer.h
  src/devices/map2DServer/Map2DServer.cpp
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/devices/navigation2DServer/navigation2DServer.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/INavigation2D.h
  src/libYARP_dev/src/INavigation2D.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh

#1947 Include cmath if std::nan is used
  src/devices/localization2DServer/Localization2DServer.cpp
Labels: Component: Devices, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP devel

#1946 H264 documentation
  doc/carrier_h264_howto.dox
  doc/images/h264GstVideoTestSrc.png
  doc/main.dox
  doc/tutorials.dox
Labels: Component: Carriers, Component: Documentation, PR Status: Changelog - Not Required, Target: YARP devel

#1948 Fix macOs build
  .travis.yml
Labels: PR Status: Changelog - Not Required, Platform: macOS, Target: YARP master, Type: Cleanup

#1951 Map2d Area
  doc/release/v3_2_0.md
  src/devices/map2DClient/Map2DClient.cpp
  src/devices/map2DClient/Map2DClient.h
  src/devices/map2DServer/Map2DServer.cpp
  src/devices/map2DServer/Map2DServer.h
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/ILocalization2D.h
  src/libYARP_dev/include/yarp/dev/IMap2D.h
  src/libYARP_dev/include/yarp/dev/INavigation2D.h
  src/libYARP_dev/include/yarp/dev/Map2DArea.h
  src/libYARP_dev/src/Map2DArea.cpp
  src/libYARP_dev/src/MapGrid2D.cpp
  tests/libYARP_dev/MapGrid2DTest.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP devel

#1954 Update zfp portmonitor README.md
  src/carriers/zfp_portmonitor/README.md
Labels: Component: Documentation, Target: YARP master, Type: Cleanup
