Repository robotology/yarp, pull requests merged in 2019-06, with the labels that each got.

#2035 Fix checkMotionDone
  src/devices/DynamixelAX12Ftdi/DynamixelAX12FtdiDriver.cpp
  src/devices/DynamixelAX12Ftdi/DynamixelAX12FtdiDriver.h
  src/libYARP_dev/include/yarp/dev/IPositionControl.h
  src/libYARP_dev/src/ImplementPositionControl.cpp
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
Labels: Component: Devices, Severity: Release Blocker

#2034 IMU bosh: read error propagated up to YARP call - issue #1994
  src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp
  src/devices/imuBosch_BNO055/imuBosch_BNO055.h
Labels: Component: Devices, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Target: YARP devel

#2033 Fix issue #1982
  src/libYARP_dev/include/yarp/dev/ImplementMotor.h
  src/libYARP_dev/src/ImplementMotor.cpp
  src/libYARP_dev/src/ImplementPositionControl.cpp
Labels: PR Status: Test on Hardware - OK

#2041 imuBosch: fix conversion factor for gyro and magnetometer
  src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp
Labels: Component: Devices, PR Status: Changelog - Not Required, PR Status: Test on Hardware - OK, PR Type: Bugfix, Severity: Release Blocker

#2040 imuBosch: fix unit measure in ThreeAxis interface
  src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp
Labels: Component: Devices, PR Type: Bugfix, Severity: Release Blocker, Target: YARP devel

#1930 Control board wrapper improvement
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/SubDevice.h
  src/libYARP_dev/src/devices/TestMotor/TestMotor.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Target: YARP devel

#2053 Improved the yarp matrix function toString, which was previously calling the c++ string method substr, which caused this function to slow down for large matrices.
  src/libYARP_sig/src/Matrix.cpp
Labels: Component: Library - YARP_sig, PR Status: Changelog - Not Required, PR Type: Feat/Enh

#1950 yarpmanager: optimize refresh of connection status and various improvements.
  src/libYARP_manager/include/yarp/manager/application.h
  src/libYARP_manager/src/manager.cpp
  src/libYARP_manager/src/yarpbroker.cpp
  src/yarpmanager/res.qrc
  src/yarpmanager/src-manager/clusterWidget.cpp
  src/yarpmanager/src-manager/clusterWidget.h
  src/yarpmanager/src-manager/clusterWidget.ui
  src/yarpmanager/src-manager/mainwindow.cpp
  src/yarpmanager/src-manager/safe_manager.cpp
Labels: Component: GUI - yarpmanager, Component: Tool - yarpmanager-console, PR Status: Changelog - Not Required, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Target: YARP master

#2051 Fix portaudio examples
  example/portaudio/sound_loopback.cpp
  example/portaudio/sound_receiver.cpp
  example/portaudio/sound_sender_mic.cpp
Labels: Component: Examples, PR Type: Bugfix, Severity: Release Blocker, Target: YARP master
