Repository robotology/yarp, pull requests merged in 2019-04, with the labels that each got.

#1926 Update AnalogWrapper to handle multiple ros topics for wrenchStamped
  doc/release/v3_2_0.md
  src/libYARP_dev/src/devices/AnalogWrapper/AnalogWrapper.cpp
  src/libYARP_dev/src/devices/AnalogWrapper/AnalogWrapper.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Branch - OK, PR Status: Changelog - OK, PR Status: Rebase - OK, PR Type: Feat/Enh, Target: YARP devel

#1990 navigation server fix
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/navigation2DServer/navigation2DServer.cpp
Labels: PR Type: Bugfix

#1991 improvements to fakeLaser device
  doc/release/v3_2_0.md
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/fakeLaser/fakeLaser.h
Labels: Component: Devices, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP devel

#1987 Timer fix
  src/libYARP_OS/src/Timer.cpp
Labels: Component: Library - YARP_OS, PR Status: Branch - Not OK, PR Status: Changelog - Not OK, PR Type: Bugfix

#1995 Import usbCamera driver from iCub
  .github/CODEOWNERS
  .travis.yml
  cmake/YarpFindDependencies.cmake
  doc/release/v3_2_0.md
  src/devices/CMakeLists.txt
  src/devices/usbCamera/CMakeLists.txt
  src/devices/usbCamera/common/USBcamera.cpp
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/devices/usbCamera/linux/V4L_camera.h
  src/devices/usbCamera/linux/list.cpp
  src/devices/usbCamera/linux/list.h
Labels: Component: Devices, PR Type: Feat/Enh, Severity: Release Blocker, Target: YARP devel

#1996 adding python examples to treat yarp images
  bindings/python/examples/yarpImage_py2.py
  bindings/python/examples/yarpImage_py3.py
Labels: Component: Bindings, Component: Examples, PR Type: Feat/Enh, Target: YARP devel

#1998 Port to RobotTestingFramework 2
  .github/CODEOWNERS
  CMakeLists.txt
  COPYING
  cmake/YarpFindDependencies.cmake
  cmake/YarpOptions.cmake
  cmake/template/Doxyfile.in
  doc/main.dox
  doc/robottestingframework_plugins.md
  doc/rtf_plugins.md
  scripts/admin/update-license
  src/CMakeLists.txt
  src/libYARP_robottestingframework/CMakeLists.txt
  src/libYARP_robottestingframework/include/yarp/robottestingframework/JointsPosMotion.h
  src/libYARP_robottestingframework/include/yarp/robottestingframework/TestAsserter.h
  src/libYARP_robottestingframework/include/yarp/robottestingframework/TestCase.h
  src/libYARP_robottestingframework/include/yarp/robottestingframework/api.h
  src/libYARP_robottestingframework/src/JointsPosMotion.cpp
  src/libYARP_robottestingframework/src/TestAsserter.cpp
  src/libYARP_robottestingframework/src/TestCase.cpp
  src/libYARP_rtf/CMakeLists.txt
  src/libYARP_rtf/include/yarp/rtf/api.h
  src/robottestingframework-plugins/CMakeLists.txt
  src/robottestingframework-plugins/fixture-managers/CMakeLists.txt
  src/robottestingframework-plugins/fixture-managers/yarpmanager/CMakeLists.txt
  src/robottestingframework-plugins/fixture-managers/yarpmanager/YarpFixManager.cpp
  src/robottestingframework-plugins/fixture-managers/yarpmanager/YarpFixManager.h
  src/robottestingframework-plugins/fixture-managers/yarpplugin/CMakeLists.txt
  src/robottestingframework-plugins/fixture-managers/yarpplugin/YarpPluginFixture.cpp
  src/robottestingframework-plugins/fixture-managers/yarpplugin/YarpPluginFixture.h
  src/robottestingframework-plugins/fixture-managers/yarpserver/CMakeLists.txt
  src/robottestingframework-plugins/fixture-managers/yarpserver/yarpserverfixture.cpp
  src/rtf-plugins/fixture-managers/yarpmanager/CMakeLists.txt
  src/rtf-plugins/fixture-managers/yarpmanager/YarpFixManager.h
  src/rtf-plugins/fixture-managers/yarpplugin/CMakeLists.txt
  src/rtf-plugins/fixture-managers/yarpplugin/YarpPluginFixture.h
  src/rtf-plugins/fixture-managers/yarpserver/CMakeLists.txt
Labels: Component: RTF Plugins, Target: YARP devel, Type: Modernization

#1999 Remove dead code in CBW (old motor interface leftovers)
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
Labels: Component: Devices, Component: Library - YARP_dev, Target: YARP master, Type: Cleanup

#1887 RemoteControlBoard fix
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
Labels: Component: Deprecated, Component: Devices, Component: Library - YARP_dev, Target: YARP master

#2001 Fix interface checks in CBW prior to forwarding a method call
  doc/release/v3_1_1.md
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Changelog - OK, PR Type: Bugfix

#1847 Move the timeout check from RemoteControlBoard to the stateExtendedReader
  doc/release/v3_1_1.md
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP devel, Type: Cleanup

#2007 Add initilizer_list constructor in Property
  doc/release/v3_2_0.md
  src/libYARP_OS/include/yarp/os/Property.h
  src/libYARP_OS/src/Property.cpp
  tests/libYARP_OS/PropertyTest.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - OK, PR Type: Feat/Enh, Status: In Progress, Target: YARP devel, Type: Modernization

#2008 Add initializer_list constructor in Bottle
  doc/release/v3_2_0.md
  src/libYARP_OS/include/yarp/os/Bottle.h
  src/libYARP_OS/src/Bottle.cpp
  tests/libYARP_OS/BottleTest.cpp
Labels: Component: Library - YARP_OS, PR Type: Feat/Enh, Status: In Progress, Target: YARP devel, Type: Modernization

#2006 Include what you use in YARP_dev interfaces
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/devices/test_grabber/TestFrameGrabber.h
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/include/yarp/dev/AudioVisualInterfaces.h
  src/libYARP_dev/include/yarp/dev/CanBusInterface.h
  src/libYARP_dev/include/yarp/dev/CartesianControl.h
  src/libYARP_dev/include/yarp/dev/ControlBoardInterfaces.h
  src/libYARP_dev/include/yarp/dev/FrameGrabberControl2.h
  src/libYARP_dev/include/yarp/dev/FrameGrabberControlImpl.h
  src/libYARP_dev/include/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/include/yarp/dev/GPUInterface.h
  src/libYARP_dev/include/yarp/dev/GazeControl.h
  src/libYARP_dev/include/yarp/dev/GenericSensorInterfaces.h
  src/libYARP_dev/include/yarp/dev/IAmplifierControl.h
  src/libYARP_dev/include/yarp/dev/IAnalogSensor.h
  src/libYARP_dev/include/yarp/dev/IAxisInfo.h
  src/libYARP_dev/include/yarp/dev/IBattery.h
  src/libYARP_dev/include/yarp/dev/IControlCalibration.h
  src/libYARP_dev/include/yarp/dev/IControlDebug.h
  src/libYARP_dev/include/yarp/dev/IControlLimits.h
  src/libYARP_dev/include/yarp/dev/IControlLimits2.h
  src/libYARP_dev/include/yarp/dev/IControlMode.h
  src/libYARP_dev/include/yarp/dev/ICurrentControl.h
  src/libYARP_dev/include/yarp/dev/IFrameTransform.h
  src/libYARP_dev/include/yarp/dev/IHapticDevice.h
  src/libYARP_dev/include/yarp/dev/IImpedanceControl.h
  src/libYARP_dev/include/yarp/dev/IInteractionMode.h
  src/libYARP_dev/include/yarp/dev/IJoypadController.h
  src/libYARP_dev/include/yarp/dev/ILocalization2D.h
  src/libYARP_dev/include/yarp/dev/IMap2D.h
  src/libYARP_dev/include/yarp/dev/IMotor.h
  src/libYARP_dev/include/yarp/dev/IMotorEncoders.h
  src/libYARP_dev/include/yarp/dev/INavigation2D.h
  src/libYARP_dev/include/yarp/dev/IPWMControl.h
  src/libYARP_dev/include/yarp/dev/IPidControl.h
  src/libYARP_dev/include/yarp/dev/IPositionDirect.h
  src/libYARP_dev/include/yarp/dev/IRGBDSensor.h
  src/libYARP_dev/include/yarp/dev/IRangefinder2D.h
  src/libYARP_dev/include/yarp/dev/IRemoteVariables.h
  src/libYARP_dev/include/yarp/dev/IRobotDescription.h
  src/libYARP_dev/include/yarp/dev/ITorqueControl.h
  src/libYARP_dev/include/yarp/dev/IVelocityControl.h
  src/libYARP_dev/include/yarp/dev/IVirtualAnalogSensor.h
  src/libYARP_dev/include/yarp/dev/IVisualServoing.h
  src/libYARP_dev/include/yarp/dev/LaserMeasurementData.h
  src/libYARP_dev/include/yarp/dev/Map2DLocation.h
  src/libYARP_dev/include/yarp/dev/MapGrid2D.h
  src/libYARP_dev/include/yarp/dev/MultipleAnalogSensorsInterfaces.h
  src/libYARP_dev/include/yarp/dev/PidEnums.h
  src/libYARP_dev/include/yarp/dev/RGBDSensorParamParser.h
  src/libYARP_dev/include/yarp/dev/SerialInterfaces.h
  src/libYARP_dev/include/yarp/dev/ServiceInterfaces.h
  src/libYARP_dev/include/yarp/dev/Wrapper.h
  src/yarpmotorgui/partitem.cpp
Labels: Component: Library - YARP_dev, Target: YARP devel, Type: Cleanup

#2003 Correctly handle return codes in IAnalogSensor server/client device pair
  doc/release/v3_2_0.md
  src/libYARP_dev/src/devices/AnalogSensorClient/AnalogSensorClient.cpp
  src/libYARP_dev/src/devices/AnalogWrapper/AnalogWrapper.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Bugfix, Status: In Progress, Target: YARP devel

#2010 Correctly detect color sensor on D435i
  src/devices/realsense2/realsense2Driver.cpp
Labels: Component: Devices, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: master
