Repository robotology/yarp, pull requests merged in 2019-12, with the labels that each got.

#2132 os/MessageStack: Refactor
  doc/release/devel/refactor_MessageStack.md
  src/libYARP_os/src/yarp/os/MessageStack.cpp
  src/libYARP_os/src/yarp/os/MessageStack.h
Labels: Component: Library - YARP_OS, Target: YARP devel, Type: Cleanup, Type: Modernization

#2076 Enable colored logger output on Windows 10
  cmake/YarpSystemCheck.cmake
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/impl/windows/WinConsole.c
Labels: Component: Library - YARP_OS, PR Type: Feat/Enh, Target: YARP devel

#2135 More updates for CMake 3.12
  CMakeLists.txt
  bindings/CMakeLists.txt
  bindings/java/CMakeLists.txt
  bindings/perl/CMakeLists.txt
  bindings/python/CMakeLists.txt
  cmake/CMakeLists.txt
  cmake/YarpFindDependencies.cmake
  cmake/YarpIDL.cmake
  cmake/YarpInstallBasicPackageFiles.cmake
  cmake/YarpInstallationHelpers.cmake
  example/stressTests/mcast_elect/CMakeLists.txt
  extern/ycm/CMakeLists.txt
  src/libYARP_companion/src/CMakeLists.txt
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_conf/src/CMakeLists.txt
  src/libYARP_cv/src/CMakeLists.txt
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_eigen/src/CMakeLists.txt
  src/libYARP_gsl/src/CMakeLists.txt
  src/libYARP_init/src/CMakeLists.txt
  src/libYARP_logger/src/CMakeLists.txt
  src/libYARP_manager/src/CMakeLists.txt
  src/libYARP_math/src/CMakeLists.txt
  src/libYARP_name/src/CMakeLists.txt
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_pcl/src/CMakeLists.txt
  src/libYARP_profiler/src/CMakeLists.txt
  src/libYARP_robottestingframework/src/CMakeLists.txt
  src/libYARP_rosmsg/src/CMakeLists.txt
  src/libYARP_run/src/CMakeLists.txt
  src/libYARP_serversql/src/CMakeLists.txt
  src/libYARP_sig/src/CMakeLists.txt
  src/libYARP_wire_rep_utils/src/CMakeLists.txt
  tests/libYARP_dev/CMakeLists.txt
Labels: Component: CMake, PR Type: Feat/Enh

#2137 os/Log: Move implementation for colored output on Win32 in Log.cpp
  cmake/YarpSystemCheck.cmake
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/impl/windows/WinConsole.c
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP devel

#2062 Add filesystem utilities
  doc/release/devel/addFilesystem.md
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_conf/src/CMakeLists.txt
  src/libYARP_conf/src/yarp/conf/filesystem.h
  src/libYARP_manager/src/yarp/manager/scriptbroker.cpp
  src/libYARP_manager/src/yarp/manager/xmlapploader.cpp
  src/libYARP_manager/src/yarp/manager/xmlmodloader.cpp
  src/libYARP_manager/src/yarp/manager/xmlresloader.cpp
  src/libYARP_manager/src/yarp/manager/xmltemploader.cpp
  src/libYARP_os/src/yarp/os/Network.cpp
  src/libYARP_os/src/yarp/os/Network.h
  src/libYARP_os/src/yarp/os/ResourceFinder.cpp
  src/libYARP_os/src/yarp/os/impl/NameConfig.cpp
  src/libYARP_run/src/yarp/run/Run.cpp
  src/yarpmanager-console/ymanager.cpp
  src/yarpmanager/src-manager/entitiestreewidget.cpp
  src/yarpmanager/src-manager/mainwindow.cpp
  src/yarpmanager/src-manager/newapplicationwizard.cpp
  src/yarprobotinterface/XMLReaderVx.cpp
  tests/devices/harness_devices.cpp
  tests/harness.cpp
  tests/libYARP_os/ResourceFinderTest.cpp
Labels: Component: GUI - yarpmanager, Component: Library - YARP_OS, Component: Tool - yarpmanager-console, Component: Tool - yarprobotinterface, Component: Tool - yarprun, PR Type: Feat/Enh, Target: YARP devel, Type: Cleanup, Type: Modernization

#2138 Conditionally enable colored logger output in runtime check (WIN10)
  src/libYARP_os/src/yarp/os/Log.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP devel

#2131 Transform client improvements
  doc/release/devel/TransformClient.md
  src/devices/transformClient/FrameTransformClient.cpp
  src/devices/transformClient/FrameTransformClient.h
  src/devices/transformServer/FrameTransformServer.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/IFrameTransformClientControl.cpp
  src/libYARP_dev/src/yarp/dev/IFrameTransformClientControl.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP devel

#2143 Fix yarpdataplayer clock drifting when pressing pause for a long time
  doc/release/yarp_3_3/fixYarpdataplayerPause.md
  src/yarpdataplayer/include/worker.h
  src/yarpdataplayer/src/worker.cpp
Labels: Component: GUI - yarpdataplayer, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP yarp-3.3

#2147 Fix yarpdataplayer play rpc
  doc/release/yarp_3_3/fixYarpdataplayerPlayRpc.md
  src/yarpdataplayer/src/mainwindow.cpp
Labels: Component: GUI - yarpdataplayer, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP yarp-3.3

#2150 Add missing header for deprecation warning macro
  doc/release/yarp_3_3/missing-depr-header.md
  src/libYARP_dev/src/yarp/dev/GenericSensorInterfaces.h
  src/libYARP_dev/src/yarp/dev/PreciselyTimed.h
  src/libYARP_dev/src/yarp/dev/SerialInterfaces.h
Labels: Component: Library - YARP_dev, PR Status: Changelog - OK, PR Type: Bugfix, Target: YARP yarp-3.3

#2148 [yarpdataplayer] add rpc method to get slider percentage
  doc/release/master/featureYarpdataplayerGetSliderPercentage.md
  src/yarpdataplayer/idl_generated_code/include/yarpdataplayer_IDL.h
  src/yarpdataplayer/idl_generated_code/src/yarpdataplayer_IDL.cpp
  src/yarpdataplayer/include/mainwindow.h
  src/yarpdataplayer/src/mainwindow.cpp
  src/yarpdataplayer/yarpdataplayer.thrift
Labels: Component: GUI - yarpdataplayer, PR Status: Changelog - Not OK, PR Type: Feat/Enh, Target: YARP master
