Repository robotology/yarp, pull requests merged in 2019-03, with the labels that each got.

#1977 include what you use fix on Types.h
  src/yarprobotinterface/Types.h
Labels: PR Type: Bugfix, Resolution: Merged, Target: YARP master

#1976 Use ACE targets + other small CMake improvements
  CMakeLists.txt
  cmake/YarpFindDependencies.cmake
  cmake/YarpSystemCheck.cmake
  src/carriers/h264_carrier/CMakeLists.txt
  src/carriers/shmem_carrier/CMakeLists.txt
  src/devices/rpLidar2/CMakeLists.txt
  src/devices/serialport/CMakeLists.txt
  src/idls/rosmsg/CMakeLists.txt
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/src/NameConfig.cpp
  src/libYARP_companion/CMakeLists.txt
  src/libYARP_conf/include/yarp/conf/system.h.in
  src/libYARP_name/CMakeLists.txt
  src/libYARP_run/CMakeLists.txt
  src/libYARP_sig/CMakeLists.txt
  src/libYARP_wire_rep_utils/CMakeLists.txt
  src/libyarpc/CMakeLists.txt
  src/yarp-config/CMakeLists.txt
  src/yarphear/CMakeLists.txt
Labels: Component: CMake, PR Type: Feat/Enh, Target: YARP devel, Type: Cleanup

#1980 YARP_sig: fix move operator of Image
  src/libYARP_sig/src/Image.cpp
Labels: Component: Library - YARP_sig, PR Status: Changelog - Not Required, PR Type: Bugfix, Severity: Release Blocker, Target: YARP devel

#1867 Fix header inclusion (ImplementControlLimits.h)
  doc/release/v3_1_1.md
  src/libYARP_dev/include/yarp/dev/ImplementControlLimits2.h
Labels: Component: Library - YARP_dev, PR Status: Changelog - OK, Type: Cleanup
