Repository robotology/yarp, pull requests merged in 2019-10, with the labels that each got.

#2102 yarpidl_thrift/YarpIDL.cmake: Allow "standard" file placements
  cmake/YarpIDL.cmake
  doc/release/devel/YarpIDL_PLACEMENT.md
  src/devices/multipleAnalogSensorsMsgs/CMakeLists.txt
  src/idls/thrift/src/t_yarp_generator.cc
  src/libYARP_rosmsg/CMakeLists.txt
Labels: Component: CMake, Component: IDL, Component: Tool - yarpidl_thrift, PR Type: Feat/Enh, Target: YARP devel

#2109 Add the possibility to align the frames of the realsense camera also to the depth frame
  doc/release/devel/alignRGBD.md
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/RGBDSensorParamParser.cpp
Labels: Component: Devices, PR Status: Changelog - OK, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Target: YARP devel, Type: Deprecation

#2106 Add the hands_relative parameter in the ovr headset device
  src/devices/ovrheadset/OVRHeadset.cpp
  src/devices/ovrheadset/OVRHeadset.h
Labels: Component: Devices, PR Type: Bugfix, Target: YARP master

#2110 fixed regex replace syntax error
  cmake/YarpIDL.cmake
Labels: Component: CMake, Component: IDL, PR Type: Bugfix, Target: YARP devel

#2112 Fix YarpConfig
  cmake/template/YARPConfig.cmake.in
Labels: Component: CMake, PR Type: Bugfix, Target: YARP devel
