Repository robotology/yarp, pull requests merged in 2019-08, with the labels that each got.

#2058 fix MultipleAnalogSensorsRemapper::getTemperatureSensorMeasure
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP master

#2072 Fix delay function in Lua bindings examples
  bindings/lua/examples/driver_qos.lua
  bindings/lua/examples/example.lua
  bindings/lua/examples/example2.lua
Labels: Component: Bindings, Component: Examples, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP master

#2074 adding timing changes to yarpdataplayer
  doc/release/master/fix-yarpdataplayer.md
  src/yarpdataplayer/include/worker.h
  src/yarpdataplayer/src/worker.cpp
Labels: Component: GUI - yarpdataplayer, Fixed in: YARP master, PR Status: Changelog - OK, PR Type: Bugfix

#2079 yarp::os::Property: Small Refactor
  doc/release/devel/Property_refactor.md
  src/libYARP_OS/include/yarp/os/Property.h
  src/libYARP_OS/include/yarp/os/Searchable.h
  src/libYARP_OS/src/Property.cpp
Labels: Component: Library - YARP_OS, PR Type: Feat/Enh, Target: YARP devel, Type: Cleanup, Type: Deprecation, Type: Modernization, Type: Refactor

#2073 PortCore refactor
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/PortCoreInputUnit.cpp
Labels: Component: Library - YARP_OS, Target: YARP devel, Type: Modernization, Type: Refactor
