Repository robotology/yarp, pull requests merged in 2019-09, with the labels that each got.

#2085 Add move ctor and copy operator to Bottle and fix property issues
  doc/release/devel/Property_refactor.md
  src/libYARP_OS/include/yarp/os/Bottle.h
  src/libYARP_OS/include/yarp/os/impl/BottleImpl.h
  src/libYARP_OS/src/Bottle.cpp
  src/libYARP_OS/src/Property.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, PR Type: Feat/Enh, Target: YARP devel, Type: Modernization

#2090 dev: Move a few interfaces in the files where they belong
  doc/release/devel/PreciselyTimed.md
  src/devices/Rangefinder2DClient/Rangefinder2DClient.h
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.h
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/batteryClient/BatteryClient.h
  src/devices/fakeIMU/fakeIMU.h
  src/devices/localization2DClient/Localization2DClient.h
  src/devices/map2DClient/Map2DClient.h
  src/devices/opencv/OpenCVGrabber.h
  src/devices/test_grabber/TestFrameGrabber.h
  src/devices/transformClient/FrameTransformClient.h
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/CalibratorInterfaces.h
  src/libYARP_dev/include/yarp/dev/CalibratorVocabs.h
  src/libYARP_dev/include/yarp/dev/ControlBoardInterfaces.h
  src/libYARP_dev/include/yarp/dev/ControlBoardVocabs.h
  src/libYARP_dev/include/yarp/dev/DataSource.h
  src/libYARP_dev/include/yarp/dev/ICalibrator.h
  src/libYARP_dev/include/yarp/dev/IPreciselyTimed.h
  src/libYARP_dev/include/yarp/dev/IRemoteCalibrator.h
  src/libYARP_dev/include/yarp/dev/PreciselyTimed.h
  src/libYARP_dev/src/IRemoteCalibrator.cpp
  src/libYARP_dev/src/devices/AnalogSensorClient/AnalogSensorClient.h
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapper.h
  src/libYARP_dev/src/devices/ControlBoardRemapper/ControlBoardRemapperHelpers.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/RPCMessagesParser.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/StreamingMessagesParser.h
  src/libYARP_dev/src/devices/ControlBoardWrapper/SubDevice.h
  src/libYARP_dev/src/devices/RGBDSensorClient/RGBDSensorClient.h
  src/libYARP_dev/src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.cpp
  src/libYARP_dev/src/devices/RemoteControlBoard/stateExtendedReader.h
  src/libYARP_dev/src/devices/RobotDescriptionClient/RobotDescriptionClient.h
  src/libYARP_dev/src/devices/RobotDescriptionServer/RobotDescriptionServer.h
  src/libYARP_dev/src/devices/ServerGrabber/ServerGrabber.h
  src/libYARP_dev/src/devices/ServerInertial/ServerInertial.cpp
  src/libYARP_dev/src/devices/ServerInertial/ServerInertial.h
Labels: Component: Library - YARP_dev, Target: YARP devel, Type: Deprecation

#2081 Deprecate os/{Runnable,RateThreadWrapper}, dev/Data{Source,Writer}{,2}
  doc/cmd_yarpdev.dox
  doc/device_invocation/grabber_basic.dox
  doc/note_devices.dox
  doc/release/devel/deprecate_Runnable.md
  example/dev/double_server.cpp
  example/dev/fake_grabber_net.cpp
  example/dev/fake_grabber_net2.cpp
  example/dev/file_grabber_net.cpp
  example/plugin/userlib/fake_grabber/CMakeLists.txt
  src/devices/CMakeLists.txt
  src/devices/ServerFrameGrabber/CMakeLists.txt
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/devices/ServerSoundGrabber/CMakeLists.txt
  src/devices/fakebot/fakebot.example.ini
  src/devices/ffmpeg/CMakeLists.txt
  src/devices/opencv/CMakeLists.txt
  src/devices/portaudio/CMakeLists.txt
  src/devices/test_grabber/CMakeLists.txt
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/RateThread.h
  src/libYARP_OS/include/yarp/os/Runnable.h
  src/libYARP_OS/include/yarp/os/impl/ThreadImpl.h
  src/libYARP_OS/src/RateThread.cpp
  src/libYARP_OS/src/Runnable.cpp
  src/libYARP_OS/src/ThreadImpl.cpp
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/include/yarp/dev/DataSource.h
  src/libYARP_dev/include/yarp/dev/all.h
  tests/devices/grabber_audiovisual.ini
  tests/devices/grabber_basic.ini
  tests/libYARP_dev/TestFrameGrabberTest.cpp
Labels: Component: Deprecated, Component: Devices, Component: Library - YARP_dev, Target: YARP devel, Type: Deprecation

#2098 MultiplAnalogSensorsClient: add --externalConnection option
  CMakeLists.txt
  doc/release/devel/AddOptionMASClient.md
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.h
Labels: Component: Library - YARP_dev, PR Status: Changelog - OK, PR Status: Test on Hardware - OK, PR Type: Feat/Enh, Target: YARP devel

#2080 Deprecate yarp::os::Mutex in favour of std::mutex
  doc/release/devel/TimerMutex.md
  doc/release/devel/deprecate_Mutex.md
  doc/release/devel/setCallBackLock.md
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/AbstractContactable.h
  src/libYARP_OS/include/yarp/os/BufferedPort-inl.h
  src/libYARP_OS/include/yarp/os/BufferedPort.h
  src/libYARP_OS/include/yarp/os/Contactable.h
  src/libYARP_OS/include/yarp/os/LockGuard.h
  src/libYARP_OS/include/yarp/os/Mutex.h
  src/libYARP_OS/include/yarp/os/Port.h
  src/libYARP_OS/include/yarp/os/RecursiveMutex.h
  src/libYARP_OS/include/yarp/os/Timer.h
  src/libYARP_OS/include/yarp/os/all.h
  src/libYARP_OS/include/yarp/os/impl/PortCore.h
  src/libYARP_OS/include/yarp/os/impl/PortCoreAdapter.h
  src/libYARP_OS/src/AbstractContactable.cpp
  src/libYARP_OS/src/Mutex.cpp
  src/libYARP_OS/src/Port.cpp
  src/libYARP_OS/src/PortCore.cpp
  src/libYARP_OS/src/PortCoreAdapter.cpp
  src/libYARP_OS/src/RecursiveMutex.cpp
  src/libYARP_OS/src/Timer.cpp
Labels: Component: Library - YARP_OS, Target: YARP devel, Type: Deprecation, Type: Modernization
