Repository robotology/yarp, pull requests merged in 2019-02, with the labels that each got.

#1957 Add move semantic in yarp image
  doc/release/v3_2_0.md
  src/libYARP_cv/include/yarp/cv/Cv-inl.h
  src/libYARP_sig/include/yarp/sig/Image.h
  src/libYARP_sig/src/Image.cpp
Labels: Component: Library - YARP_sig, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP devel, Type: Modernization

#1532 Yarp rfmodule plugin
  cmake/CMakeLists.txt
  cmake/template/yarp_plugin_RFModule.cpp.in
  doc/release/v3_2_0.md
  example/RFModulePlugin/CMakeLists.txt
  example/RFModulePlugin/moduleLoader/CMakeLists.txt
  example/RFModulePlugin/moduleLoader/main.cpp
  example/RFModulePlugin/testmoduleBar/CMakeLists.txt
  example/RFModulePlugin/testmoduleBar/main.cpp
  example/RFModulePlugin/testmoduleBar/module.h
  example/RFModulePlugin/testmoduleBar/myModuleBar.ini
  example/RFModulePlugin/testmoduleFoo/CMakeLists.txt
  example/RFModulePlugin/testmoduleFoo/main.cpp
  example/RFModulePlugin/testmoduleFoo/module.h
  example/RFModulePlugin/testmoduleFoo/myModuleFoo.ini
  src/libYARP_OS/CMakeLists.txt
  src/libYARP_OS/include/yarp/os/RFModule.h
  src/libYARP_OS/include/yarp/os/RFPlugin.h
  src/libYARP_OS/include/yarp/os/impl/RFModuleFactory.h
  src/libYARP_OS/src/RFModule.cpp
  src/libYARP_OS/src/RFModuleFactory.cpp
  src/libYARP_OS/src/RFPlugin.cpp
  src/libYARP_init/CMakeLists.txt
  src/libYARP_init/src/CustomInit.cpp
Labels: Component: Library - YARP_OS, PR Type: Feat/Enh, Target: YARP devel

#1969 Fix python Examples
  bindings/python/examples/example_enc.py
Labels: Component: Bindings, Component: Examples, PR Status: Changelog - Not Required, Target: YARP master

#1972 Synchronize "Append" and "Expect" methods for strings
  doc/release/v3_2_0.md
  example/game/game_server/main.cpp
  src/libYARP_OS/include/yarp/os/ConnectionReader.h
  src/libYARP_OS/include/yarp/os/ConnectionWriter.h
  src/libYARP_OS/include/yarp/os/NullConnectionWriter.h
  src/libYARP_OS/include/yarp/os/impl/BufferedConnectionWriter.h
  src/libYARP_OS/include/yarp/os/impl/ConnectionRecorder.h
  src/libYARP_OS/include/yarp/os/impl/StreamConnectionReader.h
  src/libYARP_OS/src/BottleImpl.cpp
  src/libYARP_OS/src/BufferedConnectionWriter.cpp
  src/libYARP_OS/src/ConnectionRecorder.cpp
  src/libYARP_OS/src/NameServer.cpp
  src/libYARP_OS/src/NullConnectionWriter.cpp
  src/libYARP_OS/src/PortCommand.cpp
  src/libYARP_OS/src/Stamp.cpp
  src/libYARP_OS/src/StreamConnectionReader.cpp
  src/libYARP_OS/src/SystemInfoSerializer.cpp
  src/libYARP_OS/src/WireWriter.cpp
  src/libYARP_dev/src/Map2DArea.cpp
  src/libYARP_dev/src/MapGrid2D.cpp
  src/libYARP_name/include/yarp/name/NameServerConnectionHandler.h
  src/libYARP_name/src/BootstrapServer.cpp
  src/libYARP_wire_rep_utils/WireImage.h
Labels: Component: Library - YARP_OS, Issue Type: API Bug, Target: YARP devel, Type: Cleanup, Type: Deprecation, Type: Refactor
