Repository robotology/yarp, pull requests merged in 2020-06, with the labels that each got.

#2281 rpLidar2 refactored
  doc/release/master/laserDevicesRefactored.md
  doc/release/master/laserDevicesRefactored2.md
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/fakeLaser/fakeLaser.h
  src/devices/laserFromDepth/laserFromDepth.cpp
  src/devices/laserFromDepth/laserFromDepth.h
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/laserFromPointCloud/laserFromPointCloud.cpp
  src/devices/laserFromPointCloud/laserFromPointCloud.h
  src/devices/rpLidar2/rpLidar2.cpp
  src/devices/rpLidar2/rpLidar2.h
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.h
  src/yarplaserscannergui/main.cpp
Labels: Component: Devices, Type: Breaking Change

#2285 Fix bug of use forward/print callback user defined
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_serversql/src/yarp/serversql/impl/LogComponent.cpp
  src/libYARP_serversql/src/yarp/serversql/impl/LogComponent.h
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP master

#2273 companion: Port to the new logging system
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
  src/libYARP_companion/src/yarp/companion/impl/Companion.qos.cpp
Labels: Component: Library - YARP_companion, Component: Tool - yarp, PR Type: Feat/Enh, Target: YARP master, Type: Cleanup

#2282 yarpview: Pixel rgb value in status bar
  doc/release/master/feature_yarpview_color_picker.md
  src/yarpview/plugin/VideoSurface.qml
  src/yarpview/plugin/YARPViewMenu.qml
  src/yarpview/plugin/YARPViewStatusBar.qml
  src/yarpview/plugin/qtyarpview.cpp
  src/yarpview/plugin/qtyarpview.h
  src/yarpview/plugin/videoproducer.cpp
  src/yarpview/plugin/videoproducer.h
  src/yarpview/src/qml/QtYARPView/main.qml
Labels: Component: GUI - yarpview, PR Type: Feat/Enh, Target: YARP master

#2271 Port a few carriers to the new logging system
  src/carriers/mpi_carrier/CMakeLists.txt
  src/carriers/mpi_carrier/MpiBcastCarrier.cpp
  src/carriers/mpi_carrier/MpiBcastStream.cpp
  src/carriers/mpi_carrier/MpiBcastStream.h
  src/carriers/mpi_carrier/MpiCarrier.cpp
  src/carriers/mpi_carrier/MpiComm.cpp
  src/carriers/mpi_carrier/MpiComm.h
  src/carriers/mpi_carrier/MpiLogComponent.cpp
  src/carriers/mpi_carrier/MpiLogComponent.h
  src/carriers/mpi_carrier/MpiP2PCarrier.h
  src/carriers/mpi_carrier/MpiP2PStream.cpp
  src/carriers/mpi_carrier/MpiP2PStream.h
  src/carriers/mpi_carrier/MpiStream.cpp
  src/carriers/shmem_carrier/CMakeLists.txt
  src/carriers/shmem_carrier/ShmemCarrier.cpp
  src/carriers/shmem_carrier/ShmemHybridStream.cpp
  src/carriers/shmem_carrier/ShmemHybridStream.h
  src/carriers/shmem_carrier/ShmemInputStream.cpp
  src/carriers/shmem_carrier/ShmemInputStream.h
  src/carriers/shmem_carrier/ShmemLogComponent.cpp
  src/carriers/shmem_carrier/ShmemLogComponent.h
  src/carriers/shmem_carrier/ShmemOutputStream.cpp
  src/carriers/shmem_carrier/ShmemOutputStream.h
  src/carriers/tcpros_carrier/CMakeLists.txt
  src/carriers/tcpros_carrier/RosHeader.cpp
  src/carriers/tcpros_carrier/RosLookup.cpp
  src/carriers/tcpros_carrier/RosLookup.h
  src/carriers/tcpros_carrier/RosSlave.h
  src/carriers/tcpros_carrier/TcpRosCarrier.cpp
  src/carriers/tcpros_carrier/TcpRosLogComponent.cpp
  src/carriers/tcpros_carrier/TcpRosLogComponent.h
  src/carriers/tcpros_carrier/TcpRosStream.cpp
  src/carriers/tcpros_carrier/yarpros.cpp
Labels: Component: Carriers, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master, Type: Cleanup

#2260 companion: Add yarp env command
  doc/release/master/companion_env.md
  src/libYARP_companion/src/CMakeLists.txt
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.env.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
Labels: Component: Tool - yarp, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master, dependent

#2292 os/impl: Remove Logger, no longer used anywhere
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/impl/Logger.cpp
  src/libYARP_os/src/yarp/os/impl/Logger.h
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Status: Documentation - Not Required, Target: YARP master, Type: Cleanup

#2291 os/Log: Add limited debug methods
  doc/release/master/log_limiter.md
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/Log.h
  src/libYARP_os/src/yarp/os/LogComponent.h
  src/libYARP_os/src/yarp/os/LogStream.h
  tests/libYARP_os/CMakeLists.txt
  tests/libYARP_os/LogStreamTest.cpp
  tests/libYARP_os/LogTest.cpp
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2288 Modify libYARP_robotinterface to enable proper error propagation
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReader.h
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReaderV1.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReaderV3.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReaderVx.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileVx.h
  src/yarprobotinterface/Module.cpp
  tests/libYARP_robotinterface/RobotinterfaceTest.cpp
Labels: Component: Library - YARP_robotinterface, Component: Tool - yarprobotinterface, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2293 Finish porting carriers to the new logging system
  src/carriers/bayer_carrier/BayerCarrier.cpp
  src/carriers/bayer_carrier/BayerCarrier.h
  src/carriers/depthimage2_portmonitor/DepthImage2.cpp
  src/carriers/depthimage_portmonitor/DepthImage.cpp
  src/carriers/h264_carrier/CMakeLists.txt
  src/carriers/h264_carrier/H264Carrier.cpp
  src/carriers/h264_carrier/H264Decoder.cpp
  src/carriers/h264_carrier/H264Decoder.h
  src/carriers/h264_carrier/H264LogComponent.cpp
  src/carriers/h264_carrier/H264LogComponent.h
  src/carriers/h264_carrier/H264Stream.cpp
  src/carriers/mjpeg_carrier/CMakeLists.txt
  src/carriers/mjpeg_carrier/MjpegCarrier.cpp
  src/carriers/mjpeg_carrier/MjpegCarrier.h
  src/carriers/mjpeg_carrier/MjpegDecompression.cpp
  src/carriers/mjpeg_carrier/MjpegLogComponent.cpp
  src/carriers/mjpeg_carrier/MjpegLogComponent.h
  src/carriers/mjpeg_carrier/MjpegStream.cpp
  src/carriers/portmonitor_carrier/CMakeLists.txt
  src/carriers/portmonitor_carrier/MonitorBinding.cpp
  src/carriers/portmonitor_carrier/MonitorLogComponent.cpp
  src/carriers/portmonitor_carrier/MonitorLogComponent.h
  src/carriers/portmonitor_carrier/PortMonitor.cpp
  src/carriers/portmonitor_carrier/lua/MonitorLua.cpp
  src/carriers/priority_carrier/PriorityCarrier.cpp
  src/carriers/segmentationimage_portmonitor/SegmentationImage.cpp
  src/carriers/shmem_carrier/ShmemCarrier.cpp
  src/carriers/xmlrpc_carrier/CMakeLists.txt
  src/carriers/xmlrpc_carrier/XmlRpcCarrier.cpp
  src/carriers/xmlrpc_carrier/XmlRpcLogComponent.cpp
  src/carriers/xmlrpc_carrier/XmlRpcLogComponent.h
  src/carriers/xmlrpc_carrier/XmlRpcStream.cpp
  src/carriers/zfp_portmonitor/zfpPortmonitor.cpp
Labels: Component: Carriers, PR Status: Changelog - Not Required, PR Type: Feat/Enh, Target: YARP master, Type: Cleanup

#2296 Add documentation for yDebug and the other logging utilities
  doc/main.dox
  doc/yarp_env_variables.md
  doc/yarp_logging.md
Labels: Component: Documentation, Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Status: Documentation - OK, PR Type: Feat/Enh, Target: YARP master

#2294 os/PortCore: Do not set TOS to 0 if DSCP is an unknown string
  doc/release/master/fix_qos_invalid_dscp.md
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/SocketTwoWayStream.cpp
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP master, Type: Breaking Change

#2295 companion: Cleanup and split into one file per command
  doc/cmd_yarp.dox
  doc/release/master/cleanup_companion.md
  src/libYARP_companion/src/CMakeLists.txt
  src/libYARP_companion/src/yarp/companion/impl/BottleReader.h
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdCMake.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdCheck.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdClean.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdClock.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdConf.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdConnect.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdDetect.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdDisconnect.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdEnv.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdExists.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdHelp.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdMerge.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdName.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdNamespace.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdPing.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdPlugin.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdPray.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdPriorityQos.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdPrioritySched.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdRead.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdReadWrite.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdResource.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdRpc.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdRpcServer.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdSample.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdTerminate.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdTime.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdTopic.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdVersion.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdWait.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdWhere.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdWrite.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
  src/libYARP_companion/src/yarp/companion/yarpcompanion.cpp
Labels: Component: Library - YARP_companion, Target: YARP master, Type: Cleanup

#2299 os/Log: Remove the limit of 1024 characters for the c-style yDebug() macro family
  doc/release/master/log_remove_limit.md
  doc/yarp_logging.md
  src/libYARP_os/src/yarp/os/Log.cpp
  tests/libYARP_os/LogTest.cpp
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Type: Bugfix, PR Type: Feat/Enh, Severity: Release Blocker, Target: YARP master, Type: Regression

#2302 Fix includes in OVRHeadset.cpp
  src/devices/ovrheadset/OVRHeadset.cpp
Labels: Component: Devices, PR Type: Bugfix, Type: Regression
