Repository robotology/yarp, pull requests merged in 2020-10, with the labels that each got.

#2373 Fix NameSpace::checkNetwork(timeout) when NetworkBase::setLocalMode(true) is called
  doc/release/yarp_3_4/fix_check_network_local_with_timeout.md
  src/libYARP_os/src/yarp/os/NameSpace.cpp
Labels: Component: Library - YARP_os, PR Type: Bugfix, Target: YARP yarp-3.4

#2375 Updated link for ACE
  doc/main.dox
Labels: Component: Documentation, Target: YARP master

#2376 os/Log: Print colored components when colors are enabled
  doc/release/yarp_3_4/log_component_color.md
  src/libYARP_os/src/yarp/os/Log.cpp
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP yarp-3.4

#2377 os: Log system errors using yCError instead of perror
  src/libYARP_os/src/yarp/os/NestedContact.cpp
  src/libYARP_os/src/yarp/os/SystemInfo.cpp
  src/libYARP_os/src/yarp/os/YarpNameSpace.cpp
  src/libYARP_os/src/yarp/os/impl/DgramTwoWayStream.cpp
  src/libYARP_os/src/yarp/os/impl/NameClient.cpp
  src/libYARP_os/src/yarp/os/impl/NameConfig.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/Protocol.cpp
  src/libYARP_os/src/yarp/os/impl/SocketTwoWayStream.cpp
  src/libYARP_os/src/yarp/os/impl/TcpFace.cpp
  src/libYARP_os/src/yarp/os/impl/posix/TcpAcceptor.cpp
  src/libYARP_os/src/yarp/os/impl/posix/TcpConnector.cpp
  src/libYARP_os/src/yarp/os/impl/posix/TcpStream.cpp
Labels: Component: Library - YARP_os, PR Status: Documentation - Not Required, Target: YARP yarp-3.4, Type: Cleanup

#2381 Minor fix of some names in GazeControl signatures
  src/libYARP_dev/src/yarp/dev/GazeControl.h
Labels: Component: Library - YARP_dev, PR Status: Continuous Integration - OK, Type: Cleanup

#2382 tests/Port: Add unit test for ModifyingCarrier
  tests/libYARP_os/PortTest.cpp
Labels: Component: Carriers, Component: Library - YARP_os, Component: Tests, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP yarp-3.4

#2383 Remove realsense2 device driver
  .github/CODEOWNERS
  cmake/YarpFindDependencies.cmake
  doc/release/master/remove_realsense2.md
  doc/subdevice_realsense.md
  doc/tutorials.dox
  src/devices/CMakeLists.txt
  src/devices/realsense2/CMakeLists.txt
  src/devices/realsense2/realsense2Driver.cpp
  src/devices/realsense2/realsense2Driver.h
  src/devices/realsense2/realsense2Tracking.cpp
  src/devices/realsense2/realsense2Tracking.h
  src/devices/realsense2/realsense2withIMUDriver.cpp
  src/devices/realsense2/realsense2withIMUDriver.h
Labels: Component: Devices, Target: YARP master, Type: Task

#2384 yarpview-feature: Added mouse button right click interception
  doc/release/master/feature_yarpview_right_click.md
  src/yarpview/plugin/VideoSurface.qml
  src/yarpview/plugin/YARPViewMenu.qml
  src/yarpview/plugin/qtyarpview.cpp
  src/yarpview/plugin/qtyarpview.h
  src/yarpview/src/qml/QtYARPView/main.qml
Labels: Component: GUI - yarpview, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2386 tests/Port: Add unit test for ModifyingCarrier with portable handling the reply
  tests/libYARP_os/PortTest.cpp
Labels: Component: Carriers, Component: Library - YARP_os, Component: Tests, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP yarp-3.4

#2390 Fix ffmpeg get audio
  doc/release/yarp_3_4/fix_ffmpeg_getAudio.md
  src/devices/ffmpeg/FfmpegGrabber.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP v3.4.0
