Repository robotology/yarp, pull requests merged in 2020-12, with the labels that each got.

#2425 Fix ROI clipping in yarp::sig::utils::depthToPC()
  doc/release/yarp_3_4/fix_depthToPC_ROI.md
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.cpp
  tests/libYARP_sig/PointCloudTest.cpp
Labels: Component: Library - YARP_sig, PR Type: Bugfix, Target: YARP yarp-3.4

#2427 Fix wrong include in PointCloudUtils.cpp
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.cpp
Labels: PR Status: Documentation - Not Required, PR Type: Bugfix, Target: YARP yarp-3.4, Type: Regression

#2426 Bindings: Add extensions to the yarp::sig::Sound class
  bindings/yarp.i
  doc/release/master/bindings_extension.md
Labels: Component: Bindings, PR Status: Continuous Integration - OK, PR Status: Documentation - Not OK, PR Type: Feat/Enh, Target: YARP master

#2428 carriers/portmonitor: Set the reply handler correctly
  doc/release/master/portmonitor_fix_reply_handler.md
  src/carriers/portmonitor_carrier/PortMonitor.cpp
Labels: Component: Carriers, PR Type: Bugfix, Target: YARP master

#2431 Fix unit tests reported as skipped when an assert is hit
  tests/CMakeLists.txt
  tests/devices/CMakeLists.txt
  tests/devices/harness_devices.cpp
  tests/harness.cpp
Labels: Component: Tests, PR Status: Documentation - Not Required, PR Type: Bugfix, Target: YARP yarp-3.4

#2439 fixed buttons of yarpmobilebasegui
  doc/release/yarp_3_4/yarpmobilebasegui_fix.md
  src/yarpmobilebasegui/display.cpp
Labels: Component: GUI - yarpmobilebasegui, PR Type: Bugfix, Target: YARP yarp-3.4
