Repository robotology/yarp, pull requests merged in 2020-03, with the labels that each got.

#2213 Improve builder integration
  doc/release/master/featureBuilderTab.md
  src/yarpmanager/src-manager/applicationviewwidget.cpp
  src/yarpmanager/src-manager/applicationviewwidget.h
  src/yarpmanager/src-manager/applicationviewwidget.ui
  src/yarpmanager/src-manager/mainwindow.cpp
  src/yarpmanager/src-manager/mainwindow.h
Labels: Component: GUI - yarpmanager, PR Status: Changelog - OK, PR Type: Feat/Enh

#2215 Add upowerBattery device
  cmake/YarpFindDependencies.cmake
  doc/release/master/upowerBattery.md
  src/devices/CMakeLists.txt
  src/devices/upowerBattery/CMakeLists.txt
  src/devices/upowerBattery/upowerBattery.cpp
  src/devices/upowerBattery/upowerBattery.h
Labels: Component: Devices, PR Type: Feat/Enh, Target: YARP master

#2219 Remove dashboard.icub.org stuff and cleanup no longer used files
  .appveyor.yml
  .ci/initial-cache.appveyor.cmake
  .ci/initial-cache.travis.cmake
  .travis.yml
  README.md
  cmake/YarpOptions.cmake
  scripts/admin/generate-cmake-options.sh
Labels: Component: Continuous Integration, Component: Deprecated, Target: YARP yarp-3.3, Type: Cleanup

#2158 Allow MAS to wrap subdevice via open() method
  CMakeLists.txt
  doc/release/master/mas-wrap-subdevice.md
  src/devices/multipleanalogsensorsserver/CMakeLists.txt
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
  tests/libYARP_dev/MultipleAnalogSensorsInterfacesTest.cpp
Labels: Component: Library - YARP_dev, PR Status: Changelog - OK, PR Type: Feat/Enh, Target: YARP master

#2221 portmonitor: Update and autogenerate the lua-swig runtime
  COPYING
  scripts/admin/update-license
  src/carriers/portmonitor_carrier/CMakeLists.txt
  src/carriers/portmonitor_carrier/lua/MonitorLua.h
  src/carriers/portmonitor_carrier/lua/lua_swig.h
  src/carriers/portmonitor_carrier/lua/src_gen/swigluarun.h
  tests/misc/check_license.pl
  tests/misc/check_style.pl
Labels: Component: Carriers, PR Type: Feat/Enh, Target: YARP master, Type: Modernization

#2224 .travis.yml: Try to reduce the number of failed builds by rerunning failed unit tests
  .travis.yml
Labels: Component: Continuous Integration, PR Type: Feat/Enh, Target: YARP yarp-3.3

#1993 Timer fixes
  doc/release/yarp_3_3/timerfix.md
  src/libYARP_os/src/yarp/os/Timer.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP yarp-3.3

#2228 MobileBaseVelocity datatype
  doc/release/master/featureMobileBaseVelocity.md
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/idl/MobileBaseVelocity.thrift
  src/libYARP_dev/src/idl_generated_code/MobileBaseVelocity_index.txt
  src/libYARP_dev/src/idl_generated_code/yarp/dev/MobileBaseVelocity.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/MobileBaseVelocity.h
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2223 yarpdataplayer is now able to reproduce ROS data types (and more!)
  doc/cmd_yarpdataplayer.dox
  doc/release/master/featureYarpDataPlayer_ROS.md
  src/yarpdataplayer/CMakeLists.txt
  src/yarpdataplayer/include/utils.h
  src/yarpdataplayer/include/worker.h
  src/yarpdataplayer/src/utils.cpp
  src/yarpdataplayer/src/worker-impl.cpp
  src/yarpdataplayer/src/worker.cpp
Labels: Component: GUI - yarpdataplayer, Component: ROS Integration, PR Type: Feat/Enh, Type: Refactor

#2230 yarpmobilebasegui
  cmake/YarpFindDependencies.cmake
  doc/release/master/yarpmobileBaseGUI.md
  src/CMakeLists.txt
  src/yarpmobilebasegui/CMakeLists.txt
  src/yarpmobilebasegui/display.cpp
  src/yarpmobilebasegui/display.h
  src/yarpmobilebasegui/display.ui
  src/yarpmobilebasegui/images/controls.png
  src/yarpmobilebasegui/joywidget.cpp
  src/yarpmobilebasegui/joywidget.h
  src/yarpmobilebasegui/main.cpp
  src/yarpmobilebasegui/res.qrc
Labels: PR Type: Feat/Enh, Target: YARP master

#2234 os: Fix reading 64 bits integer
  doc/release/yarp_3_3/fix_fromString_int64.md
  src/libYARP_os/src/yarp/os/impl/BottleImpl.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP yarp-3.3

#2236 os/Portable: Make copyPortable first argument const
  doc/release/master/copyPortable_const.md
  src/libYARP_os/src/yarp/os/Portable.cpp
  src/libYARP_os/src/yarp/os/Portable.h
Labels: Component: Library - YARP_OS, Issue Type: API Bug, PR Type: Feat/Enh, Target: YARP master

#2235 os: Fix infinity and nan writing and reading
  doc/release/yarp_3_3/fix_fromString_inf_nan.md
  doc/release/yarp_3_3/fix_fromString_int64.md
  src/libYARP_os/src/yarp/os/impl/BottleImpl.cpp
  src/libYARP_os/src/yarp/os/impl/Storable.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP yarp-3.3

#2238 os/impl/Storable: Use std::to_string instead of sprintf
  src/libYARP_os/src/yarp/os/impl/Storable.cpp
Labels: Component: Library - YARP_OS, PR Status: Changelog - Not Required, Type: Modernization

#2239 os: Fix negative infinity writing and reading
  doc/release/yarp_3_3/fix_fromString_neg_inf.md
  src/libYARP_os/src/yarp/os/impl/BottleImpl.cpp
  src/libYARP_os/src/yarp/os/impl/Storable.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP yarp-3.3

#2240 os: Increase the precision of printed floating point numbers
  doc/release/yarp_3_3/fix_float_precision.md
  src/libYARP_os/src/yarp/os/impl/Storable.cpp
Labels: Component: Library - YARP_OS, PR Type: Bugfix, Target: YARP yarp-3.3
