Repository robotology/yarp, pull requests merged in 2020-07, with the labels that each got.

#2300 Fix bug by updating MAS_NrOfSensorTypes in multipleanalogsensorsremapper to be inclusive of PositionSensors
  doc/release/master/fix_bug_MASRemapper.md
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.cpp
Labels: Component: Devices, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP master

#2306 devices/ovrheadset: Port to the new logging system
  src/devices/ovrheadset/CMakeLists.txt
  src/devices/ovrheadset/GLDebug.cpp
  src/devices/ovrheadset/InputCallback.cpp
  src/devices/ovrheadset/OVRHeadset.cpp
  src/devices/ovrheadset/OVRHeadsetLogComponent.cpp
  src/devices/ovrheadset/OVRHeadsetLogComponent.h
  src/devices/ovrheadset/TextureBattery.cpp
  src/devices/ovrheadset/TextureBuffer.cpp
  src/devices/ovrheadset/TextureLogo.cpp
  src/devices/ovrheadset/TextureStatic.cpp
Labels: Component: Devices, PR Status: Changelog - Not Required, PR Type: Feat/Enh, Target: YARP master, Type: Cleanup

#2309 Fake battery improvements
  doc/release/master/fakeBatteryImprovements3.md
  src/devices/fakeBattery/FakeBatteryService.thrift
  src/devices/fakeBattery/fakeBattery.cpp
  src/devices/fakeBattery/fakeBattery.h
  src/devices/fakeBattery/idl_generated_code/FakeBatteryService.cpp
  src/devices/fakeBattery/idl_generated_code/FakeBatteryService.h
Labels: Component: Devices, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2313 Fetch actual getInteractionModes data from stream
  doc/release/yarp_3_3/fix_remoteCB_getInteractionModesGroup.md
  src/devices/RemoteControlBoard/RemoteControlBoard.cpp
Labels: Affects: YARP v3.3.2, Component: Devices, Issue Type: Bug, PR Status: Changelog - OK

#2312 Add IMotor::setGearboxRatio in control board client-server pair
  doc/release/yarp_3_3/fix_controlBoard_setGearboxRatio.md
  src/devices/ControlBoardWrapper/RPCMessagesParser.cpp
  src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/devices/RemoteControlBoard/RemoteControlBoard.h
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.3

#2316 Expose several missing methods from motor interfaces in language bindings
  bindings/yarp.i
  doc/release/master/bindings_addMissing.md
Labels: Component: Bindings, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2318 dev/ControlBoardHelper: Do not clear memory for non-trivial types
  src/libYARP_dev/src/yarp/dev/ControlBoardHelper.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP master

#2320 fix_bug_checkNearToLocation
  doc/release/yarp_3_3/fix_bug_checkNearToLocation.md
  src/devices/navigation2DClient/Navigation2DClient.cpp
  tests/libYARP_dev/Navigation2DClientTest.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Bugfix, Target: YARP yarp-3.3

#2317 Improvements to LaserFromPointCloud (and more)
  doc/release/master/featureLaserFromPointCloudAndMore.md
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/fakeLaser/fakeLaser.h
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/laserFromPointCloud/laserFromPointCloud.cpp
  src/devices/laserFromPointCloud/laserFromPointCloud.h
  src/devices/transformClient/FrameTransformClient.cpp
  src/devices/transformClient/FrameTransformClient.h
  src/devices/transformServer/FrameTransformServer.cpp
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.cpp
  src/yarplaserscannergui/main.cpp
  tests/libYARP_dev/FrameTransformClientTest.cpp
Labels: Component: Devices, Component: GUI - yarplaserscannergui, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2319 libYARP_robotinterface: Add a method to specify an external device list to be used as a target for actions of internal devices
  doc/release/master/addYarpRobotinterfaceLibrary.md
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.h
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.h
  tests/libYARP_robotinterface/RobotinterfaceTest.cpp
Labels: Component: Library - YARP_robotinterface, Component: Tool - yarprobotinterface, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2323 Finish porting devices to the new logging system
  src/devices/DynamixelAX12Ftdi/DynamixelAX12FtdiDriver.cpp
  src/devices/Rangefinder2DClient/Rangefinder2DClient.cpp
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/devices/imuBosch_BNO055/imuBosch_BNO055.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/laserFromPointCloud/laserFromPointCloud.cpp
  src/devices/laserHokuyo/laserHokuyo.cpp
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.cpp
  src/devices/rpLidar/rpLidar.cpp
  src/devices/rpLidar/rpLidar.h
  src/devices/transformClient/FrameTransformClient.cpp
  src/devices/transformServer/FrameTransformServer.cpp
  src/devices/usbCamera/linux/V4L_camera.cpp
Labels: Component: Devices, PR Status: Continuous Integration - OK, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP master

#2321 FeatureLocalTrajectory
  doc/release/master/featureLocalTrajectory.md
  src/devices/fakeNavigationDevice/fakeNavigationDev.cpp
  src/devices/fakeNavigationDevice/fakeNavigationDev.h
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/libYARP_dev/src/yarp/dev/INavigation2D.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Type: Breaking Change

#2325 Drop support for python 2
  bindings/python/CMakeLists.txt
  doc/release/master/drop_python2.md
Labels: Component: Bindings, Component: Deprecated, PR Status: Documentation - OK, Type: Breaking Change

#2314 Add custom time
  doc/release/master/log_customTime.md
  doc/yarp_logging.md
  src/carriers/tcpros_carrier/yarpros.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/Log.h
  src/libYARP_os/src/yarp/os/LogComponent.h
  src/libYARP_os/src/yarp/os/LogStream.h
  src/libYARP_os/src/yarp/os/impl/LogComponent.cpp
  src/libYARP_os/src/yarp/os/impl/LogComponent.h
  src/libYARP_serversql/src/yarp/serversql/impl/LogComponent.cpp
  src/libYARP_serversql/src/yarp/serversql/impl/LogComponent.h
  tests/libYARP_os/LogStreamTest.cpp
  tests/libYARP_os/LogTest.cpp
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2328 CI: Use YCM 0.11.3 and add test with CMake 3.18
  .appveyor.yml
  .travis.yml
Labels: Component: Continuous Integration, PR Status: Continuous Integration - OK, PR Status: Documentation - Not Required, Priority: High, Type: Modernization

#2326 Build examples in main build
  .ci/initial-cache.appveyor.cmake
  .ci/initial-cache.travis.cmake
  .gitattributes
  .travis.yml
  CMakeLists.txt
  cmake/YarpFindDependencies.cmake
  cmake/YarpOptions.cmake
  doc/release/master/build_os_examples.md
  example/CMakeLists.txt
  example/os/CMakeLists.txt
  example/os/bottle_add/CMakeLists.txt
  example/os/bottle_add/bottle_add.cpp
  example/os/browse_bottle/CMakeLists.txt
  example/os/browse_bottle/browse_bottle.cpp
  example/os/buffered_port/CMakeLists.txt
  example/os/buffered_port/buffered_port.cpp
  example/os/database/CMakeLists.txt
  example/os/database/database.cpp
  example/os/image_process/CMakeLists.txt
  example/os/image_process/image_process.cpp
  example/os/image_process_module/CMakeLists.txt
  example/os/image_process_module/image_process_module.cpp
  example/os/image_source/CMakeLists.txt
  example/os/image_source/image_source.cpp
  example/os/internal_monologue/CMakeLists.txt
  example/os/internal_monologue/internal_monologue.cpp
  example/os/listports/CMakeLists.txt
  example/os/listports/listports.cpp
  example/os/make_count/CMakeLists.txt
  example/os/make_count/make_count.cpp
  example/os/periodicThreadTiming/CMakeLists.txt
  example/os/periodicThreadTiming/periodicThreadTiming.cpp
  example/os/periodicthread/CMakeLists.txt
  example/os/periodicthread/periodicthread.cpp
  example/os/playback/CMakeLists.txt
  example/os/playback/playback.cpp
  example/os/portable_pair/CMakeLists.txt
  example/os/portable_pair/portable_pair.cpp
  example/os/queue_manager/CMakeLists.txt
  example/os/queue_manager/queue_manager.cpp
  example/os/rpc_client/CMakeLists.txt
  example/os/rpc_client/rpc_client.cpp
  example/os/rpc_server/CMakeLists.txt
  example/os/rpc_server/rpc_server.cpp
  example/os/simple_receiver/CMakeLists.txt
  example/os/simple_receiver/simple_receiver.cpp
  example/os/simple_sender/CMakeLists.txt
  example/os/simple_sender/simple_sender.cpp
  example/os/summer/CMakeLists.txt
  example/os/summer/summer.cpp
  example/os/threads/CMakeLists.txt
  example/os/threads/threads.cpp
  example/os/view_count/CMakeLists.txt
  example/os/view_count/view_count.cpp
Labels: Component: CMake, Component: Continuous Integration, Component: Examples, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2329 Add unix_stream and unix_stream_ack carriers
  doc/release/master/unix_socket.md
  src/carriers/CMakeLists.txt
  src/carriers/unix/CMakeLists.txt
  src/carriers/unix/UnixSockTwoWayStream.cpp
  src/carriers/unix/UnixSockTwoWayStream.h
  src/carriers/unix/UnixSocketCarrier.cpp
  src/carriers/unix/UnixSocketCarrier.h
  src/carriers/unix/UnixSocketLogComponent.cpp
  src/carriers/unix/UnixSocketLogComponent.h
Labels: Component: Carriers, PR Type: Feat/Enh, Target: YARP master

#2335 Add custom time to yarplogger and yarplogger-GUI
  src/libYARP_logger/src/yarp/logger/YarpLogger.cpp
  src/libYARP_logger/src/yarp/logger/YarpLogger.h
  src/yarplogger/logmodel.cpp
  src/yarplogger/logmodel.h
  src/yarplogger/logtab.cpp
  src/yarplogger/logtab.h
  src/yarplogger/mainwindow.cpp
  src/yarplogger/mainwindow.h
  src/yarplogger/mainwindow.ui
Labels: Component: GUI - yarplogger, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP master

#2331 Rename test_motor -> fakeMotor
  bindings/java/examples/Example4.java
  bindings/java/examples/matlab/simulink/README.txt
  doc/device_invocation/controlboardwrapper2_basic.dox
  doc/device_invocation/fakeMotor_basic.dox
  doc/device_invocation/group_basic.dox
  doc/release/master/fakeMotor.md
  doc/yarp_http.dox
  doc/yarp_with_ros_existing_yarp_ports.dox
  doc/yarp_without_yarp.dox
  example/dev/simple_motor_client.cpp
  example/external/README.TXT
  example/external/tcl/control-motor.tcl
  example/stressTests/README.TXT
  example/stressTests/stress.sh
  example/stressTests/stress2.sh
  example/stressTests/stress3.sh
  example/yarpros_examples/mainpage.dox
  src/devices/CMakeLists.txt
  src/devices/TestMotor/CMakeLists.txt
  src/devices/fakeMotor/CMakeLists.txt
  src/devices/fakeMotor/FakeMotor.cpp
  src/devices/fakeMotor/FakeMotor.h
  tests/devices/CMakeLists.txt
  tests/devices/controlboardwrapper2_basic.ini
  tests/devices/fakeMotor_basic.ini
  tests/devices/group_basic.ini
  tests/libYARP_dev/ControlBoardWrapper2Test.cpp
  tests/libYARP_dev/GroupDriverTest.cpp
Labels: Component: Devices, PR Status: Continuous Integration - OK, Target: YARP master, Type: Cleanup, Type: Deprecation, dependent

#2332 Log: Rename customtime -> externaltime
  doc/release/master/log_customTime.md
  doc/yarp_logging.md
  src/carriers/tcpros_carrier/yarpros.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_logger/src/yarp/logger/YarpLogger.cpp
  src/libYARP_logger/src/yarp/logger/YarpLogger.h
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/Log.h
  src/libYARP_os/src/yarp/os/LogComponent.h
  src/libYARP_os/src/yarp/os/LogStream.h
  src/libYARP_os/src/yarp/os/impl/LogComponent.cpp
  src/libYARP_os/src/yarp/os/impl/LogComponent.h
  src/libYARP_serversql/src/yarp/serversql/impl/LogComponent.cpp
  src/libYARP_serversql/src/yarp/serversql/impl/LogComponent.h
  src/yarplogger/logmodel.cpp
  src/yarplogger/logmodel.h
  src/yarplogger/logtab.cpp
  src/yarplogger/logtab.h
  src/yarplogger/mainwindow.cpp
  src/yarplogger/mainwindow.ui
  tests/libYARP_os/LogStreamTest.cpp
  tests/libYARP_os/LogTest.cpp
Labels: Component: Library - YARP_os, Issue Type: API Bug, PR Status: Continuous Integration - OK, Severity: Release Blocker, Target: YARP master, Type: Cleanup

#2334 [Discussion] Add yarp::conf::environment::{get,set,unset}Environment() functions and deprecate NetworkBase version and yarp::os::getenv
  doc/release/master/conf_getEnvironment.md
  src/carriers/tcpros_carrier/RosLookup.cpp
  src/carriers/unix/UnixSocketCarrier.cpp
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdClock.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdDetect.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdPray.cpp
  src/libYARP_conf/src/yarp/conf/environment.h
  src/libYARP_manager/src/yarp/manager/impl/textparser.h
  src/libYARP_manager/src/yarp/manager/scriptbroker.cpp
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/Network.cpp
  src/libYARP_os/src/yarp/os/Network.h
  src/libYARP_os/src/yarp/os/Node.cpp
  src/libYARP_os/src/yarp/os/Os.cpp
  src/libYARP_os/src/yarp/os/Os.h
  src/libYARP_os/src/yarp/os/Port.cpp
  src/libYARP_os/src/yarp/os/Property.cpp
  src/libYARP_os/src/yarp/os/ResourceFinder.cpp
  src/libYARP_os/src/yarp/os/RosNameSpace.cpp
  src/libYARP_os/src/yarp/os/impl/DgramTwoWayStream.cpp
  src/libYARP_os/src/yarp/os/impl/LogComponent.cpp
  src/libYARP_os/src/yarp/os/impl/NameClient.cpp
  src/libYARP_os/src/yarp/os/impl/NameConfig.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_run/src/CMakeLists.txt
  src/libYARP_run/src/yarp/run/Run.cpp
  src/libYARP_run/src/yarp/run/impl/PlatformStdlib.h
  src/libYARP_serversql/src/yarp/serversql/impl/NameServerContainer.cpp
  src/yarp-config/yarprobot.cpp
  tests/devices/harness_devices.cpp
  tests/harness.cpp
  tests/libYARP_os/ResourceFinderTest.cpp
Labels: Component: Library - YARP_os, Issue Type: API Bug, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master, Type: Cleanup, Type: Deprecation, Type: Discussion

#2338 YARP sig: Fix yarp::sig::Image::synchronize method
  doc/release/master/fix_Image_synchronize_function.md
  src/libYARP_sig/src/yarp/sig/Image.cpp
Labels: Component: Library - YARP_sig, PR Type: Bugfix, Target: YARP master, Type: Reminder - Backport

#2339 guis: Do not make use of deprecated Qt methods
  src/yarplogger/logmodel.cpp
  src/yarplogger/messageWidget.cpp
  src/yarpmanager/src-builder/applicationitem.cpp
  src/yarpmanager/src-builder/arrow.cpp
  src/yarpmanager/src-builder/destinationportitem.cpp
  src/yarpmanager/src-builder/moduleitem.cpp
  src/yarpmanager/src-builder/sourceportitem.cpp
  src/yarpmanager/src-manager/applicationviewwidget.cpp
  src/yarpmanager/src-manager/mainwindow.cpp
  src/yarpmotorgui/mainwindow.cpp
  src/yarpmotorgui/sequencewindow.cpp
  src/yarpviz/src/portloggerdialog.cpp
  src/yarpviz/src/portloggerdialog.h
Labels: Component: GUI - yarplogger, Component: GUI - yarpmanager, Component: GUI - yarpmotorgui, Component: GUI - yarpviz, PR Status: Changelog - Not Required, PR Status: Documentation - Not Required, Target: YARP master, Type: Modernization

#2340 carrier/unix_stream: Merge unix_stream and unix_stream_ack
  src/carriers/unix/CMakeLists.txt
  src/carriers/unix/UnixSocketCarrier.cpp
  src/carriers/unix/UnixSocketCarrier.h
Labels: Component: Carriers, PR Type: Feat/Enh, Severity: Release Blocker, Target: YARP master, Type: Discussion

#2341 LaserFromRosTopic
  doc/release/master/featureLaserFromRosTopic.md
  src/devices/CMakeLists.txt
  src/devices/laserFromRosTopic/CMakeLists.txt
  src/devices/laserFromRosTopic/laserFromRosTopic.cpp
  src/devices/laserFromRosTopic/laserFromRosTopic.h
Labels: Component: Devices, PR Type: Feat/Enh, Target: YARP master
