Repository robotology/yarp, pull requests merged in 2020-09, with the labels that each got.

#2351 PointcloudUtils fix
  doc/release/yarp_3_4/fix_depthToPC.md
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.cpp
Labels: Component: Library - YARP_sig, PR Type: Bugfix, Target: YARP yarp-3.4

#2350 Fix typo on TextureBuffer.cpp
  doc/release/yarp_3_4/fix_typo_texture_buffer.md
  src/devices/ovrheadset/TextureBuffer.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.4

#2343 frameTransformServer: display transform tree
  doc/release/master/frameTransform_displayTree.md
  src/devices/transformServer/FrameTransformServer.cpp
  src/devices/transformServer/FrameTransformServer.h
  src/libYARP_math/src/yarp/math/FrameTransform.cpp
  src/libYARP_math/src/yarp/math/FrameTransform.h
Labels: Component: Devices, PR Type: Feat/Enh

#2346 RGBDSensorFromRosTopic
  doc/release/master/RGBDFromRosTopic.md
  src/devices/CMakeLists.txt
  src/devices/RGBDRosConversionUtils/CMakeLists.txt
  src/devices/RGBDRosConversionUtils/RGBDRosConversionUtils.cpp
  src/devices/RGBDRosConversionUtils/RGBDRosConversionUtils.h
  src/devices/RGBDRosConversionUtils/rosPixelCode.cpp
  src/devices/RGBDRosConversionUtils/rosPixelCode.h
  src/devices/RGBDSensorClient/RGBDSensorClient.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient.h
  src/devices/RGBDSensorFromRosTopic/CMakeLists.txt
  src/devices/RGBDSensorFromRosTopic/RGBDSensorFromRosTopic.cpp
  src/devices/RGBDSensorFromRosTopic/RGBDSensorFromRosTopic.h
  src/devices/RGBDSensorWrapper/CMakeLists.txt
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.h
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.cpp
Labels: Component: Devices

#2354 Random Fixes
  bindings/CMakeLists.txt
  cmake/YarpOptions.cmake
  cmake/template/YARPConfig.cmake.in
  data/bash-completion/yarp
  doc/release/yarp_3_4/debian_fixes.md
  extern/CMakeLists.txt
  src/devices/DynamixelAX12Ftdi/DynamixelAX12FtdiDriver.cpp
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/idls/thrift/CMakeLists.txt
  src/yarpmotorgui/main.cpp
  src/yarprobotinterface/Module.cpp
  tests/misc/CMakeLists.txt
Labels: Component: CMake, Component: Devices, Component: GUI - yarpmotorgui, Component: Tool - yarprobotinterface, PR Type: Bugfix, Target: YARP yarp-3.4

#2356 xmlrpcpp: Remove unused test directory
  .gitattributes
  extern/xmlrpcpp/README.txt
  extern/xmlrpcpp/xmlrpcpp/test/FileClient.cpp
  extern/xmlrpcpp/xmlrpcpp/test/FileClient.dsp
  extern/xmlrpcpp/xmlrpcpp/test/FileClient.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/HelloClient.cpp
  extern/xmlrpcpp/xmlrpcpp/test/HelloClient.dsp
  extern/xmlrpcpp/xmlrpcpp/test/HelloClient.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/HelloServer.cpp
  extern/xmlrpcpp/xmlrpcpp/test/HelloServer.dsp
  extern/xmlrpcpp/xmlrpcpp/test/HelloServer.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/Makefile
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Client.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Client.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Client.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Server.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Server.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestBase64Server.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/TestValues.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestValues.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestValues.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/TestValuesWin32.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestXml.cpp
  extern/xmlrpcpp/xmlrpcpp/test/TestXml.dsp
  extern/xmlrpcpp/xmlrpcpp/test/TestXml.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/Validator.cpp
  extern/xmlrpcpp/xmlrpcpp/test/Validator.dsp
  extern/xmlrpcpp/xmlrpcpp/test/Validator.vcproj
  extern/xmlrpcpp/xmlrpcpp/test/arrayOfStructsTest.xml
  extern/xmlrpcpp/xmlrpcpp/test/countTheEntities.xml
  extern/xmlrpcpp/xmlrpcpp/test/easyStructTest.xml
  extern/xmlrpcpp/xmlrpcpp/test/echo.xml
  extern/xmlrpcpp/xmlrpcpp/test/echoStructTest.xml
  extern/xmlrpcpp/xmlrpcpp/test/pngnow.png
Labels: Component: Extern, Target: YARP yarp-3.4, Type: Cleanup

#2357 FakeFrameGrabber fix
  doc/release/yarp_3_4/fix_FakeFrameGrabber.md
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.4

#2358 Zlib depth
  cmake/YarpFindDependencies.cmake
  doc/cmd_yarpdatadumper.dox
  doc/release/master/Zlib_depth.md
  src/libYARP_sig/src/CMakeLists.txt
  src/libYARP_sig/src/yarp/sig/ImageFile.cpp
  src/libYARP_sig/src/yarp/sig/ImageFile.h
  src/yarpdatadumper/main.cpp
  src/yarpdataplayer/src/mainwindow.cpp
  src/yarpdataplayer/src/utils.cpp
  src/yarpdataplayer/src/worker.cpp
Labels: Component: CMake, Component: GUI - yarpdataplayer, Component: Library - YARP_sig, Component: Tool - yarpdatadumper, PR Type: Feat/Enh, Target: YARP master

#2361 Fix/add envelope mas server
  doc/release/yarp_3_4/fix_addEnvelopeMASServer.md
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
Labels: Component: Devices, PR Status: Changelog - OK, PR Status: Commits - OK, PR Status: Test on Hardware - OK, PR Type: Bugfix, Target: YARP yarp-3.4

#2359 Cleanup, small fixes and enhance log
  example/dev/fake_grabber/FakeFrameGrabber.h
  example/dev/fake_grabber/FakeFrameGrabber2.h
  example/os/image_process/image_process.cpp
  example/os/image_process_module/image_process_module.cpp
  example/os/image_source/image_source.cpp
  src/carriers/bayer_carrier/BayerCarrier.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/devices/ControlBoardWrapper/SubDevice.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakebot/FakeBot.cpp
  src/libYARP_dev/src/yarp/dev/RGBDSensorParamParser.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Device.cpp
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/Image.h
  tests/libYARP_dev/ControlBoardWrapper2Test.cpp
  tests/libYARP_sig/ImageTest.cpp
Labels: Component: Carriers, Component: Devices, Component: Examples, Component: Library - YARP_dev, Component: Library - YARP_robotinterface, Component: Library - YARP_sig, PR Status: Continuous Integration - OK, Target: YARP yarp-3.4, Type: Cleanup

#2363 sig/PointCloudUtils: Use SFINAE to avoid failure for types without alpha channel
  doc/release/yarp_3_4/fix_1959.md
  src/libYARP_sig/src/yarp/sig/PointCloudUtils-inl.h
  tests/libYARP_sig/PointCloudTest.cpp
Labels: Component: Library - YARP_sig, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP yarp-3.4

#2364 Fix stamp max count
  doc/release/yarp_3_4/fix_stamp_max_count.md
  src/libYARP_os/src/yarp/os/Stamp.cpp
Labels: Component: Library - YARP_os, PR Status: Changelog - OK, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP yarp-3.4

#2362 Drop support for OpenCV < 3
  cmake/YarpFindDependencies.cmake
  doc/release/master/drop_opencv_2.md
  src/devices/opencv/OpenCVGrabber.cpp
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/libYARP_cv/src/yarp/cv/Cv.h
  src/yarpdatadumper/main.cpp
  src/yarpdataplayer/src/worker.cpp
  src/yarplaserscannergui/main.cpp
Labels: Component: Devices, Component: GUI - yarpdataplayer, Component: GUI - yarplaserscannergui, Component: Library - YARP_cv, Component: Tool - yarpdatadumper, Target: YARP master, Type: Breaking Change, Type: Cleanup, Type: Modernization

#2367 Fix yarpmanager tabs/buttons issue
  doc/release/yarp_3_4/fix_yarpmanager_tabs.md
  src/yarpmanager/src-manager/mainwindow.cpp
Labels: Component: GUI - yarpmanager, PR Status: Branch - OK, PR Status: Changelog - OK, PR Status: Commits - OK, PR Status: Test on Hardware - OK, PR Type: Bugfix

#2348 Improved doxygen for Yarp devices
  doc/dev_all.dox
  doc/key_modules.dox
  doc/main.dox
  doc/sig_class.dox
  doc/yarp-doxygen-layout.xml
  src/devices/AnalogWrapper/AnalogWrapper.h
  src/devices/DynamixelAX12Ftdi/DynamixelAX12FtdiDriver.h
  src/devices/JoypadControlClient/JoypadControlClient.h
  src/devices/JoypadControlServer/JoypadControlServer.h
  src/devices/Rangefinder2DClient/Rangefinder2DClient.h
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.h
  src/devices/SerialServoBoard/SerialServoBoard.h
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.h
  src/devices/batteryWrapper/BatteryWrapper.h
  src/devices/fakeAnalogSensor/fakeAnalogSensor.h
  src/devices/fakeBattery/fakeBattery.h
  src/devices/fakeDepthCamera/fakeDepthCameraDriver.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/fakeIMU/fakeIMU.h
  src/devices/fakeLaser/fakeLaser.h
  src/devices/fakeLocalizerDevice/fakeLocalizerDev.h
  src/devices/fakeMicrophone/fakeMicrophone.h
  src/devices/fakeMotionControl/fakeMotionControl.h
  src/devices/fakeNavigationDevice/fakeNavigationDev.h
  src/devices/fakeSpeaker/fakeSpeaker.h
  src/devices/fakebot/FakeBot.h
  src/devices/ffmpeg/FfmpegGrabber.h
  src/devices/ffmpeg/FfmpegWriter.h
  src/devices/laserFromDepth/laserFromDepth.h
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/laserFromPointCloud/laserFromPointCloud.h
  src/devices/laserFromRosTopic/LaserFromRosTopic.h
  src/devices/laserHokuyo/laserHokuyo.h
  src/devices/localization2DClient/Localization2DClient.h
  src/devices/localization2DServer/Localization2DServer.h
  src/devices/map2DClient/Map2DClient.h
  src/devices/map2DServer/Map2DServer.h
  src/devices/navigation2DClient/Navigation2DClient.h
  src/devices/navigation2DServer/navigation2DServer.h
  src/devices/opencv/OpenCVGrabber.h
  src/devices/portaudio/PortAudioDeviceDriver.h
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.h
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.h
  src/devices/rpLidar/rpLidar.h
  src/devices/rpLidar2/rpLidar2.h
  src/devices/test_nop/Nop.h
  src/devices/test_segfault/SegFault.h
  src/devices/transformClient/FrameTransformClient.h
  src/devices/transformServer/FrameTransformServer.h
  src/devices/upowerBattery/upowerBattery.h
  src/devices/usbCamera/common/USBcamera.h
Labels: Component: Devices, Component: Documentation, PR Type: Feat/Enh, Target: YARP master

#2368 Small refactor of the RGBDSensorClient device
  doc/release/master/RGBDSensorClient_refactor.md
  src/devices/RGBDSensorClient/RGBDSensorClient.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient.h
  src/devices/RGBDSensorClient/RGBDSensorClient_StreamingMsgParser.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient_StreamingMsgParser.h
Labels: Component: Devices, PR Type: Bugfix, Type: Refactor
