Repository robotology/yarp, pull requests merged in 2020-11, with the labels that each got.

#2391 yarpbatterygui fixes
  doc/release/yarp_3_4/yarpbatterygui_fixes.md
  src/yarpbatterygui/display.cpp
  src/yarpbatterygui/display.ui
  src/yarpbatterygui/main.cpp
Labels: Component: GUI - yarpbatterygui, PR Type: Bugfix, Target: YARP yarp-3.4

#2394 examples: Move log example in os
  example/os/CMakeLists.txt
  example/os/log/CMakeLists.txt
  example/os/log/log_test.cpp
Labels: Component: Examples, PR Status: Documentation - Not Required, Target: YARP yarp-3.4, Type: Task

#2397 devices/controlboardwrapper2: Fix access to time not protected by mutex
  doc/release/yarp_3_4/controlboardwrapper2_timeMutex.md
  src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.4

#2403 tests: Fix ModifyingCarrier tests
  tests/libYARP_os/PortTest.cpp
Labels: Component: Library - YARP_os, Component: Tests, PR Status: Documentation - Not Required, PR Type: Bugfix

#2385 os/DummyConnector: Add optional replyWriter parameter
  doc/release/master/DummyConnector_reply_writer.md
  src/libYARP_os/src/yarp/os/DummyConnector.cpp
  src/libYARP_os/src/yarp/os/DummyConnector.h
Labels: Component: Library - YARP_os, PR Type: Bugfix, PR Type: Feat/Enh, Target: YARP master

#2405 os/impl/PortCore: Refactor state semaphore
  src/libYARP_os/src/yarp/os/Contactable.h
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.h
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Status: Documentation - Not Required, Target: YARP master, Type: Cleanup, Type: Refactor

#2415 Port continuous integration to github actions
  .appveyor.yml
  .ci/bindings-cache.cmake
  .ci/initial-cache.gh.linux.cmake
  .ci/initial-cache.gh.macos.cmake
  .ci/initial-cache.gh.windows.cmake
  .coveralls.yml
  .gitattributes
  .github/workflows/check-license.yml
  .github/workflows/check-style.yml
  .github/workflows/ci.yml
  .github/workflows/run-cmake.yml
  .travis.yml
  README.md
  bindings/CMakeLists.txt
  doc/release/yarp_3_4/ci_GitHubActions.md
  src/devices/laserFromExternalPort/CMakeLists.txt
  src/devices/laserFromPointCloud/CMakeLists.txt
  src/devices/laserFromRosTopic/CMakeLists.txt
  src/devices/rpLidar2/CMakeLists.txt
  src/devices/upowerBattery/CMakeLists.txt
  tests/devices/CMakeLists.txt
  tests/libYARP_math/RandTest.cpp
Labels: Component: CMake, Component: Continuous Integration, PR Type: Feat/Enh, Target: YARP yarp-3.4

#2412 Add support for yarp::sig::VectorOf<int> in bindings/yarp.i
  bindings/yarp.i
  doc/release/master/swig_vector_int.md
Labels: Component: Bindings, PR Type: Feat/Enh, Target: YARP master

#2408 grabber rename
  src/devices/CMakeLists.txt
  src/devices/ServerFrameGrabberDual/CMakeLists.txt
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.h
Labels: Component: Devices, PR Status: Changelog - Not Required, Target: YARP master, Type: Cleanup

#2399 devices/controlboardwrapper2: Tentative to make it maintainable.
  src/devices/ControlBoardWrapper/CMakeLists.txt
  src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperAmplifierControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperAmplifierControl.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperAxisInfo.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperAxisInfo.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperCommon.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperCommon.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperControlCalibration.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperControlCalibration.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperControlLimits.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperControlLimits.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperControlMode.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperControlMode.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperCurrentControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperCurrentControl.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperEncodersTimed.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperEncodersTimed.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperImpedanceControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperImpedanceControl.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperInteractionMode.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperInteractionMode.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperMotor.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperMotor.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperMotorEncoders.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperMotorEncoders.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperPWMControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperPWMControl.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperPidControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperPidControl.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperPositionControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperPositionControl.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperPositionDirect.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperPositionDirect.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperPreciselyTimed.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperPreciselyTimed.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperRemoteCalibrator.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperRemoteCalibrator.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperRemoteVariables.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperRemoteVariables.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperTorqueControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperTorqueControl.h
  src/devices/ControlBoardWrapper/ControlBoardWrapperVelocityControl.cpp
  src/devices/ControlBoardWrapper/ControlBoardWrapperVelocityControl.h
  src/devices/ControlBoardWrapper/MultiJointData.h
  src/devices/ControlBoardWrapper/RPCMessagesParser.cpp
  src/devices/ControlBoardWrapper/RPCMessagesParser.h
  src/devices/ControlBoardWrapper/StreamingMessagesParser.cpp
  src/devices/ControlBoardWrapper/StreamingMessagesParser.h
  src/devices/ControlBoardWrapper/SubDevice.cpp
  src/devices/ControlBoardWrapper/SubDevice.h
Labels: Component: Devices, Target: YARP master, Type: Cleanup, Type: Refactor

#2407 Map2DLocation::is_near_to
  doc/release/master/location_is_near_to.md
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/Map2DLocation.cpp
  src/libYARP_dev/src/yarp/dev/Map2DLocation.h
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2409 Improvements to device fake_laser
  doc/release/master/fake_laser_obstacle.md
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/fakeLaser/fakeLaser.h
  src/libYARP_dev/src/yarp/dev/NavTypes.h
Labels: Component: Devices, Target: YARP master

#2417 Print RGBA values as ints in PointCloud data types
  doc/release/yarp_3_4/fix_pcl_toString.md
  src/libYARP_sig/src/yarp/sig/PointCloudTypes.h
Labels: Component: Library - YARP_sig, PR Type: Bugfix, Target: YARP yarp-3.4

#2419 os/impl/PortCore: Refactor connection change semaphore
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.h
Labels: Component: Library - YARP_os, PR Status: Documentation - Not Required, Target: YARP master, Type: Cleanup, Type: Refactor

#2418 Audio recorder refactor
  doc/release/master/audio_recorder_refactor.md
  example/soundgrabber/CMakeLists.txt
  example/soundgrabber/record_sound.cpp
  src/devices/CMakeLists.txt
  src/devices/audioFromFileDevice/CMakeLists.txt
  src/devices/audioFromFileDevice/audioFromFileDevice.cpp
  src/devices/audioFromFileDevice/audioFromFileDevice.h
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.cpp
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.h
  src/devices/audioToFileDevice/CMakeLists.txt
  src/devices/audioToFileDevice/audioToFileDevice.cpp
  src/devices/audioToFileDevice/audioToFileDevice.h
  src/devices/fakeMicrophone/fakeMicrophone.cpp
  src/devices/fakeMicrophone/fakeMicrophone.h
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.cpp
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master
