Repository robotology/yarp, pull requests merged in 2020-02, with the labels that each got.

#2194 Fix video generation in yarpdatadumper
  doc/release/yarp_3_3/fixYarpatadumperVideo.md
  src/yarpdatadumper/main.cpp
Labels: Complexity: Medium, Component: Tool - yarpdatadumper, PR Status: Branch - OK, PR Status: Changelog - OK, PR Status: Test on Hardware - OK, PR Type: Bugfix, Priority: Normal, Status: Feedback, Target: YARP yarp-3.3

#2197 Get estimated odometry
  CMakeLists.txt
  doc/release/master/featureGetEstimatedOdometry.md
  src/devices/fakeLaser/fakeLaser.h
  src/devices/fakeLocalizerDevice/fakeLocalizerDev.cpp
  src/devices/fakeLocalizerDevice/fakeLocalizerDev.h
  src/devices/fakeNavigationDevice/fakeNavigationDev.cpp
  src/devices/fakeNavigationDevice/fakeNavigationDev.h
  src/devices/localization2DClient/Localization2DClient.cpp
  src/devices/localization2DClient/Localization2DClient.h
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/localization2DServer/Localization2DServer.h
  src/devices/map2DClient/Map2DClient.h
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/devices/navigation2DServer/navigation2DServer.h
  src/libYARP_dev/src/yarp/dev/ILocalization2D.h
  src/libYARP_dev/src/yarp/dev/IMap2D.cpp
  src/libYARP_dev/src/yarp/dev/IMap2D.h
  src/libYARP_dev/src/yarp/dev/INavigation2D.cpp
  src/libYARP_dev/src/yarp/dev/INavigation2D.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh, Type: Breaking Change

#2198 LaserScan2D
  doc/release/master/featureLaserScan2D.md
  src/devices/Rangefinder2DClient/Rangefinder2DClient.cpp
  src/devices/Rangefinder2DClient/Rangefinder2DClient.h
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.cpp
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/idl/LaserScan2D.thrift
  src/libYARP_dev/src/idl_generated_code/LaserScan2D_index.txt
  src/libYARP_dev/src/idl_generated_code/yarp/dev/LaserScan2D.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/LaserScan2D.h
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2195 YARP_sig: add std::vector under the hood of yarp::sig::Vector
  src/libYARP_sig/src/yarp/sig/Vector.h
  tests/libYARP_sig/VectorOfTest.cpp
Labels: Component: Library - YARP_sig, PR Status: Test on Hardware - OK, PR Type: Bugfix, PR Type: Feat/Enh, Target: YARP master

#2201 YARP_sig: fix vector iterators
  src/libYARP_sig/src/yarp/sig/Vector.h
Labels: Component: Library - YARP_sig, PR Type: Bugfix

#2203 Fix usbCamera device
  doc/release/yarp_3_3/fixUsbCamera.md
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/devices/usbCamera/linux/V4L_camera.h
Labels: Component: Devices, PR Type: Bugfix, Priority: High, Target: YARP yarp-3.3

#2202 ovrheadset bugfixes and enhancements
  cmake/YarpFindDependencies.cmake
  doc/release/master/oculusUpdate.md
  src/devices/ovrheadset/InputCallback.cpp
  src/devices/ovrheadset/OVRHeadset.cpp
  src/devices/ovrheadset/OVRHeadset.h
Labels: Component: Devices, PR Type: Bugfix, PR Type: Feat/Enh, Target: YARP master

#2199 devicedriver LaserFromExternalPort
  doc/release/master/featureLaserFromExternalPort.md
  src/devices/CMakeLists.txt
  src/devices/laserFromDepth/laserFromDepth.cpp
  src/devices/laserFromDepth/laserFromDepth.h
  src/devices/laserFromExternalPort/CMakeLists.txt
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.h
Labels: Component: Devices, PR Type: Feat/Enh, Target: YARP master

#2206 Carrier for RGBDSensorClient
  src/devices/RGBDSensorClient/RGBDSensorClient.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient.h
Labels: Component: Devices, PR Type: Feat/Enh

#2204 laserFromPointCloud
  doc/release/master/featureLaserFromPointCloud.md
  src/devices/CMakeLists.txt
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/laserFromPointCloud/CMakeLists.txt
  src/devices/laserFromPointCloud/laserFromPointCloud.cpp
  src/devices/laserFromPointCloud/laserFromPointCloud.h
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.h
  src/libYARP_sig/src/yarp/sig/PointCloudTypes.h
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.cpp
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.h
Labels: Component: Devices, Component: Library - YARP_dev

#2186 Tests: Improve check_license.pl and add a very basic style check
  .travis.yml
  tests/misc/CMakeLists.txt
  tests/misc/check_license.pl
  tests/misc/check_style.pl
  tests/misc/check_style_skip.txt
Labels: Component: Continuous Integration, Component: Tests, PR Type: Feat/Enh, Target: YARP master

#2209 batteryClient: Fix methods returning integer instead of double
  doc/release/yarp_3_3/fix_batteryClient.md
  src/devices/batteryClient/BatteryClient.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.3

#2210 batteryClient: Fix PeriodicThread using 100% CPU
  doc/release/yarp_3_3/fix_batteryClient2.md
  src/devices/fakeBattery/fakeBattery.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.3

#2211 batteryWrapper: Fix parameters accepted by subdevice not printed with --verbose
  doc/release/yarp_3_3/fix_batteryWrapper.md
  src/devices/batteryWrapper/BatteryWrapper.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.3

#2212 conf: Add yarp::conf::clamp
  doc/release/master/clamp.md
  src/libYARP_conf/src/yarp/conf/numeric.h.in
Labels: Component: Library - YARP_conf, PR Type: Feat/Enh, Target: YARP master, Type: Modernization

#2208 fakeBattery: Add RPC port to change the values returned
  doc/release/master/fakeBatteryImprovements.md
  src/devices/fakeBattery/CMakeLists.txt
  src/devices/fakeBattery/fakeBattery.cpp
  src/devices/fakeBattery/fakeBattery.h
  src/devices/fakeBattery/fakeBatteryService.thrift
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2214 fakeBattery more improvements
  doc/release/master/fakeBatteryImprovements2.md
  src/devices/fakeBattery/CMakeLists.txt
  src/devices/fakeBattery/FakeBatteryService.thrift
  src/devices/fakeBattery/fakeBattery.cpp
  src/devices/fakeBattery/fakeBattery.h
Labels: Component: Devices, PR Type: Feat/Enh, Target: YARP master

#2216 dev: Fix dependency from YARP_math that should be PUBLIC
  doc/release/yarp_3_3/fix_dev_math_dependency.md
  src/libYARP_dev/src/CMakeLists.txt
Labels: Component: CMake, Component: Library - YARP_dev, PR Type: Bugfix, Target: YARP yarp-3.3

#2218 dev: Fix dependency from YARP_math that should be PUBLIC at CMake package level
  src/libYARP_dev/src/CMakeLists.txt
Labels: Component: CMake, Component: Library - YARP_dev, PR Type: Bugfix, Target: YARP master
