Repository robotology/yarp, pull requests merged in 2020-08, with the labels that each got.

#2342 Fixed realsense2tracking device timestamp
  doc/release/yarp_3_4/fix_realsense2Tracking_timestamp.md
  src/devices/realsense2/realsense2Tracking.cpp
  src/devices/realsense2/realsense2Tracking.h
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.4

#2344 Add tutorial for using RealSense cameras as YARP devices
  doc/subdevice_realsense.md
  doc/tutorials.dox
Labels: Component: Documentation, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP master

#2345 bindings/ruby: Do not use deprecated CMake variables
  bindings/ruby/CMakeLists.txt
  doc/release/yarp_3_4/cmake_3_18_ruby.md
Labels: Component: Bindings, Component: CMake, PR Type: Bugfix, Target: YARP yarp-3.4, Type: Modernization
