Repository robotology/yarp, pull requests merged in 2021-01, with the labels that each got.

#2448 Clear map temporary flags
  doc/release/master/clearMapTemporaryFlags.md
  src/devices/map2DClient/Map2DClient.cpp
  src/devices/map2DClient/Map2DClient.h
  src/devices/map2DServer/Map2DServer.cpp
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/libYARP_dev/src/yarp/dev/ILocalization2D.h
  src/libYARP_dev/src/yarp/dev/IMap2D.h
  src/libYARP_dev/src/yarp/dev/MapGrid2D.cpp
  src/libYARP_dev/src/yarp/dev/MapGrid2D.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh

#2450 ResourceFinder cleanup
  src/libYARP_os/src/yarp/os/ResourceFinder.cpp
  src/libYARP_os/src/yarp/os/ResourceFinder.h
Labels: Component: Library - YARP_os, Type: Cleanup

#2449 Compressed MapGrid2D
  doc/release/master/compressed_MapGrid2D.md
  src/devices/map2DServer/Map2DServer.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/MapGrid2D.cpp
  src/libYARP_dev/src/yarp/dev/MapGrid2D.h
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2447 Fix yarpviz grid on export
  doc/release/yarp_3_4/fix_yarpviz_gridOnExport.md
  extern/qgv/qgv/QGVCore/QGVScene.cpp
  extern/qgv/qgv/QGVCore/QGVScene.h
  src/yarpviz/src/MainWindow.cpp
  src/yarpviz/src/MainWindow.h
  src/yarpviz/src/MainWindow.ui
Labels: Component: Extern, Component: GUI - yarpviz, PR Type: Bugfix, PR Type: Feat/Enh, Target: YARP yarp-3.4

#2434 yarp repeat
  doc/release/master/yarp_repeat.md
  src/libYARP_companion/src/CMakeLists.txt
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdRepeat.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
Labels: Component: Library - YARP_companion, PR Type: Feat/Enh, Target: YARP master

#2436 Yarp trafficgen
  doc/release/master/yarp_trafficGen.md
  src/libYARP_companion/src/CMakeLists.txt
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdTrafficGen.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
Labels: Component: Library - YARP_companion, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2451 nested .ini files
  doc/release/master/rf_property.md
  doc/yarp_config_files.dox
  src/libYARP_os/src/yarp/os/Property.cpp
  tests/conf/contexts/context1/c1f1.ini
  tests/conf/contexts/context2/c2f1.ini
  tests/conf/contexts/context2/c2f2.ini
  tests/libYARP_os/PropertyTest.cpp
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2430 Yarp stats
  doc/release/master/yarp_stats.md
  src/libYARP_companion/src/CMakeLists.txt
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdStats.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
Labels: Component: Library - YARP_companion, PR Type: Feat/Enh, Target: YARP master

#2442 Refactoring of the yarpdataplayer module
  doc/release/yarp_3_4/yarpdataplayer_fix.md
  src/CMakeLists.txt
  src/libYARP_dataplayer/CMakeLists.txt
  src/libYARP_dataplayer/src/CMakeLists.txt
  src/libYARP_dataplayer/src/yarp/dataplayer/YarpDataplayer.cpp
  src/libYARP_dataplayer/src/yarp/dataplayer/YarpDataplayer.h
  src/yarpdataplayer-console/CMakeLists.txt
  src/yarpdataplayer-console/idl_generated_code/yarpdataplayer_console_IDL.cpp
  src/yarpdataplayer-console/idl_generated_code/yarpdataplayer_console_IDL.h
  src/yarpdataplayer-console/idl_generated_code/yarpdataplayer_console_index.txt
  src/yarpdataplayer-console/main.cpp
  src/yarpdataplayer-console/yarpdataplayer_console.thrift
  src/yarpdataplayer/CMakeLists.txt
  src/yarpdataplayer/idl_generated_code/yarpdataplayer_IDL.cpp
  src/yarpdataplayer/idl_generated_code/yarpdataplayer_IDL.h
  src/yarpdataplayer/include/log.h
  src/yarpdataplayer/include/mainwindow.h
  src/yarpdataplayer/include/utils.h
  src/yarpdataplayer/include/worker.h
  src/yarpdataplayer/src/main.cpp
  src/yarpdataplayer/src/mainwindow.cpp
  src/yarpdataplayer/src/utils.cpp
  src/yarpdataplayer/src/worker-impl.cpp
  src/yarpdataplayer/src/worker.cpp
  src/yarpdataplayer/yarpdataplayer.thrift
Labels: Component: GUI - yarpdataplayer, PR Type: Feat/Enh, Type: Refactor

#2454 Fix yarpviz unwanted labels text crop
  doc/release/yarp_3_4/fix_yarpviz_text.md
  src/yarpviz/src/MainWindow.cpp
Labels: Component: GUI - yarpviz, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP yarp-3.4

#2446 Deprecate old networks format
  doc/release/yarp_3_4/fix_deprecate-old-networks-format.md
  src/devices/ControlBoardWrapper/ControlBoardWrapper.h
Labels: Component: Documentation, PR Status: Continuous Integration - OK, Target: YARP yarp-3.4, Type: Deprecation

#2398 RGBDSensorWrapper split: ROS and YARP data communication split
  doc/release/master/RGBDSensorWrapper_split.md
  src/devices/RGBDSensorWrapper/CMakeLists.txt
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_ros.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_ros.h
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.h
Labels: Component: Devices, Issue Type: Feat/Enh Req, PR Status: Continuous Integration - OK, Target: YARP master

#2456 Lidar Refactor
  CMakeLists.txt
  doc/release/master/lidarRefactor.md
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/fakeLaser/fakeLaser.h
  src/devices/laserFromDepth/laserFromDepth.cpp
  src/devices/laserFromDepth/laserFromDepth.h
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/laserFromPointCloud/laserFromPointCloud.cpp
  src/devices/laserFromPointCloud/laserFromPointCloud.h
  src/devices/laserFromRosTopic/LaserFromRosTopic.cpp
  src/devices/laserFromRosTopic/LaserFromRosTopic.h
  src/devices/rpLidar/rpLidar.h
  src/devices/rpLidar2/rpLidar2.cpp
  src/devices/rpLidar2/rpLidar2.h
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.h
Labels: Component: Devices, Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master, Type: Breaking Change, Type: Refactor

#2440 Properly set dependencies for the libraries
  cmake/YarpFindDependencies.cmake
  doc/release/yarp_3_4/fix_interface_lib_deps.md
  src/libYARP_cv/CMakeLists.txt
  src/libYARP_cv/src/CMakeLists.txt
  src/libYARP_pcl/CMakeLists.txt
  src/libYARP_pcl/src/CMakeLists.txt
Labels: Component: CMake, PR Type: Bugfix, Target: YARP yarp-3.4

#2393 rangefinder2D_nws
  doc/release/master/Rangefinder2DWrapper_split.md
  src/devices/Rangefinder2DWrapper/CMakeLists.txt
  src/devices/Rangefinder2DWrapper/rangefinder2D_nws_ros.cpp
  src/devices/Rangefinder2DWrapper/rangefinder2D_nws_ros.h
  src/devices/Rangefinder2DWrapper/rangefinder2D_nws_yarp.cpp
  src/devices/Rangefinder2DWrapper/rangefinder2D_nws_yarp.h
Labels: Component: Devices, PR Status: Documentation - Not OK, Target: YARP master, Type: Refactor

#2465 Remove ovrheadset device driver
  .github/CODEOWNERS
  COPYING
  cmake/YarpFindDependencies.cmake
  doc/release/master/remove_ovrheadset.md
  scripts/admin/update-license
  src/devices/CMakeLists.txt
  src/devices/ovrheadset/CMakeLists.txt
  src/devices/ovrheadset/GLDebug.cpp
  src/devices/ovrheadset/GLDebug.h
  src/devices/ovrheadset/ImageType.h
  src/devices/ovrheadset/InputCallback.cpp
  src/devices/ovrheadset/InputCallback.h
  src/devices/ovrheadset/OVRHeadset.cpp
  src/devices/ovrheadset/OVRHeadset.h
  src/devices/ovrheadset/OVRHeadsetLogComponent.cpp
  src/devices/ovrheadset/OVRHeadsetLogComponent.h
  src/devices/ovrheadset/TextureBattery.cpp
  src/devices/ovrheadset/TextureBattery.h
  src/devices/ovrheadset/TextureBuffer.cpp
  src/devices/ovrheadset/TextureBuffer.h
  src/devices/ovrheadset/TextureLogo.cpp
  src/devices/ovrheadset/TextureLogo.h
  src/devices/ovrheadset/TextureStatic.cpp
  src/devices/ovrheadset/TextureStatic.h
  src/devices/ovrheadset/img-battery-040.h
  src/devices/ovrheadset/img-battery-060.h
  src/devices/ovrheadset/img-battery-080.h
  src/devices/ovrheadset/img-battery-100.h
  src/devices/ovrheadset/img-battery-caution.h
  src/devices/ovrheadset/img-battery-charging-040.h
  src/devices/ovrheadset/img-battery-charging-060.h
  src/devices/ovrheadset/img-battery-charging-080.h
  src/devices/ovrheadset/img-battery-charging-caution.h
  src/devices/ovrheadset/img-battery-charging-low.h
  src/devices/ovrheadset/img-battery-charging.h
  src/devices/ovrheadset/img-battery-low.h
  src/devices/ovrheadset/img-battery-missing.h
  src/devices/ovrheadset/img-crosshairs.h
  src/devices/ovrheadset/img-yarp-robot-64.h
Labels: Component: Devices, Target: YARP master, Type: Breaking Change

#2464 devices/rgbdSensor_nws_ros: Remove "ROS_" from all parameters
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_ros.h
Labels: Component: Devices, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP master

#2463 Fix handling of attach action for IWrapper devices
  doc/release/yarp_3_4/robotinterface_attach.md
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Device.cpp
Labels: Component: Library - YARP_robotinterface, PR Type: Bugfix, Target: YARP yarp-3.4

#2469 devices/ControlBoardWrapper: Do not get torque data twice
  doc/release/yarp_3_4/cbw_fix_getTorque_twice.md
  src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.4

#2468 [virtualanalogwrapper] fixed parsing
  doc/release/yarp_3_4/fix_virtualanalogwrapper_parser.md
  src/devices/VirtualAnalogWrapper/VirtualAnalogWrapper.cpp
Labels: Affects: YARP v3.4.2, Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.4
