Repository robotology/yarp, pull requests merged in 2021-05, with the labels that each got.

#2560 [YarpDataplayer] fixed timestamp propagation
  doc/release/master/yarpdataplayer_fix.md
  src/libYARP_dataplayer/src/yarp/dataplayer/YarpDataplayer.cpp
Labels: Component: GUI - yarpdataplayer, PR Type: Bugfix

#2565 Fix YARP_xxx_DEPRECATED_API implementation
  doc/release/master/fix_YARP_DEPRECATED_API.md
  src/libYARP_companion/src/yarp/companion/api.h
  src/libYARP_conf/src/yarp/conf/api.h.in
  src/libYARP_dev/src/yarp/dev/api.h
  src/libYARP_gsl/src/yarp/gsl/api.h
  src/libYARP_math/src/yarp/math/api.h
  src/libYARP_name/src/yarp/name/api.h
  src/libYARP_os/src/yarp/os/api.h
  src/libYARP_robotinterface/src/yarp/robotinterface/api.h
  src/libYARP_robottestingframework/src/yarp/robottestingframework/api.h
  src/libYARP_run/src/yarp/run/api.h
  src/libYARP_serversql/src/yarp/serversql/api.h
  src/libYARP_sig/src/yarp/sig/api.h
  src/libYARP_wire_rep_utils/src/yarp/wire_rep_utils/api.h
Labels: Component: Library - YARP_conf, Issue Type: API Bug, PR Type: Bugfix, Target: YARP master

#2566 Add framegrabber_protocol object library, and use it inside the devices
  src/devices/CMakeLists.txt
  src/devices/RGBDSensorClient/CMakeLists.txt
  src/devices/RGBDSensorClient/RGBDSensorClient.cpp
  src/devices/RGBDSensorClient/RGBDSensorClient.h
  src/devices/RGBDSensorFromRosTopic/RGBDSensorFromRosTopic.h
  src/devices/RGBDSensorWrapper/CMakeLists.txt
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.h
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_ros.h
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.h
  src/devices/RGBDToPointCloudSensorWrapper/RGBDToPointCloudSensor_nws_ros.h
  src/devices/RemoteFrameGrabber/CMakeLists.txt
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.cpp
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/ServerFrameGrabber/CMakeLists.txt
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/devices/ServerFrameGrabberDual/CMakeLists.txt
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.h
  src/devices/depthCamera/depthCameraDriver.h
  src/devices/framegrabber_protocol/CMakeLists.txt
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/CameraVocabs.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Responder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Responder.h
  src/devices/opencv/OpenCVGrabber.cpp
  src/devices/opencv/OpenCVGrabber.h
  src/devices/usbCamera/common/USBcamera.cpp
Labels: Component: Devices, Component: Library - YARP_dev, PR Status: Continuous Integration - OK, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP master

#2569 Remove classes and vocabs moved in framegrabber_protocol library
  bindings/lua/tests/test_vocab.lua
  doc/release/master/FrameGrabberInterfacesRefactor2.md
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_yarp.cpp
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/DepthVisualParams_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/RgbVisualParams_Responder.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberControlImpl.cpp
  src/libYARP_dev/src/yarp/dev/FrameGrabberControlImpl.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.cpp
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IVisualParamsImpl.cpp
  src/libYARP_dev/src/yarp/dev/IVisualParamsImpl.h
Labels: Component: Library - YARP_dev, Issue Type: API Bug, Target: YARP master, Type: Breaking/Behaviour Change, Type: Cleanup

#2570 Move interfaces in FrameGrabberInterfaces.h in separate header files
  bindings/yarp.i
  doc/note_devices.dox
  example/dev/fake_grabber/FakeFrameGrabber.h
  example/dev/fake_grabber/fake_grabber.cpp
  example/dev/file_grabber/FileFrameGrabber.h
  example/dev/file_grabber/file_grabber.cpp
  example/dev/file_grabber/file_grabber_net.cpp
  example/dev/grabber_client/grabber_client.cpp
  example/dev_check/main.cpp
  example/remote_check/main.cpp
  example/tutorial/fakebot/FakeBot.h
  src/devices/DevicePipe/DevicePipe.cpp
  src/devices/RGBDSensorWrapper/rgbdSensor_nws_ros.h
  src/devices/RGBDToPointCloudSensorWrapper/RGBDToPointCloudSensor_nws_ros.h
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/devices/depthCamera/depthCameraDriver.h
  src/devices/fakeDepthCamera/fakeDepthCameraDriver.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/fakebot/FakeBot.h
  src/devices/ffmpeg/FfmpegWriter.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Responder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Responder.h
  src/devices/opencv/OpenCVGrabber.h
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberControl2.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControls.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControls.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControlsDC1394.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControlsDC1394.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.h
  src/libYARP_dev/src/yarp/dev/IFrameWriterImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameWriterImage.h
  src/libYARP_dev/src/yarp/dev/all.h
  tests/libYARP_dev/ControlBoardWrapper2Test.cpp
  tests/libYARP_dev/GroupDriverTest.cpp
  tests/libYARP_dev/PolyDriverTest.cpp
  tests/libYARP_dev/fakeFrameGrabberTest.cpp
Labels: Component: Library - YARP_dev, Target: YARP master, Type: Cleanup

#2564 MATLAB: Fix errorID format in mexErrMsgIdAndTxt
  bindings/matlab/vectors_fromTo_matlab.i
Labels: Component: Bindings, PR Status: Continuous Integration - Broken, PR Status: Documentation - Not Required, PR Type: Bugfix, Target: YARP yarp-3.4

#2571 Deprecate the yarp/dev/FrameGrabberControl2.h and yarp/dev/FrameGrabberInterfaces.h files
  bindings/yarp.i
  doc/release/master/FrameGrabberInterfacesRefactor4.md
  src/devices/DevicePipe/DevicePipe.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/ffmpeg/FfmpegGrabber.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/AudioVisualInterfaces.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberControl2.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
  src/libYARP_dev/src/yarp/dev/all.h
Labels: Component: Deprecated, Component: Library - YARP_dev, Target: YARP master, Type: Cleanup, Type: Deprecation

#2572 dev/IFrameGrabberImage,IFrameGrabberImageRaw: Implement getImageCrop
  doc/release/master/FrameGrabberInterfacesRefactor5.md
  doc/yarp_code_examples.dox
  example/dev/CMakeLists.txt
  example/dev/grabber_crop/CMakeLists.txt
  example/dev/grabber_crop/grabber_crop.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
  tests/libYARP_dev/fakeFrameGrabberTest.cpp
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2561 fix for AudioPlayerDevices
  src/devices/audioToFileDevice/audioToFileDevice.cpp
  src/devices/fakeSpeaker/fakeSpeaker.cpp
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.cpp
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.h
Labels: Component: Devices, PR Status: Continuous Integration - OK, PR Type: Bugfix

#2582 Deprecate yarp::dev::IFrameGrabber and yarp::dev::IFrameGrabberRgb interfaces
  bindings/yarp.i
  doc/release/master/FrameGrabberInterfacesRefactor6.md
  src/devices/usbCamera/common/USBcamera.cpp
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.h
  src/libYARP_dev/src/yarp/dev/all.h
Labels: Component: Devices, Component: Library - YARP_dev, Type: Deprecation
