Repository robotology/yarp, pull requests merged in 2021-08, with the labels that each got.

#2672 Doc audio fix
  doc/audio_doc.dox
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
Labels: Component: Documentation, Target: YARP yarp-3.5

#2673 rplidar sdk update
  .reuse/dep5
  doc/release/master/rplidar_sdk_udate.md
  extern/rplidar/README.txt
  extern/rplidar/sdk/include/rplidar.h
  extern/rplidar/sdk/include/rplidar_cmd.h
  extern/rplidar/sdk/include/rplidar_driver.h
  extern/rplidar/sdk/include/rplidar_protocol.h
  extern/rplidar/sdk/include/rptypes.h
  extern/rplidar/sdk/src/arch/macOS/net_serial.cpp
  extern/rplidar/sdk/src/arch/win32/arch_win32.h
  extern/rplidar/sdk/src/arch/win32/net_serial.cpp
  extern/rplidar/sdk/src/arch/win32/net_serial.h
  extern/rplidar/sdk/src/arch/win32/timer.cpp
  extern/rplidar/sdk/src/arch/win32/timer.h
  extern/rplidar/sdk/src/arch/win32/winthread.hpp
  extern/rplidar/sdk/src/hal/abs_rxtx.h
  extern/rplidar/sdk/src/hal/event.h
  extern/rplidar/sdk/src/hal/locker.h
  extern/rplidar/sdk/src/hal/thread.cpp
  extern/rplidar/sdk/src/hal/thread.h
  extern/rplidar/sdk/src/hal/types.h
  extern/rplidar/sdk/src/hal/util.h
  extern/rplidar/sdk/src/rplidar_driver.cpp
  extern/rplidar/sdk/src/rplidar_driver_TCP.h
  extern/rplidar/sdk/src/rplidar_driver_impl.h
  extern/rplidar/sdk/src/rplidar_driver_serial.h
  extern/rplidar/sdk/src/sdkcommon.h
Labels: Component: Devices, Component: Extern, Target: YARP master

#2674 Do not use "in the past" in docs
  doc/nws_and_nwc_architecture.md
Labels: PR Status: Changelog - Not Required, Target: YARP yarp-3.5

#2668 Portmonitor: soundfilter_resample
  doc/release/master/SoundFilter_portmonitor.md
  src/portmonitors/CMakeLists.txt
  src/portmonitors/soundfilter_resample/CMakeLists.txt
  src/portmonitors/soundfilter_resample/README.md
  src/portmonitors/soundfilter_resample/SoundFilter_resample.cpp
  src/portmonitors/soundfilter_resample/SoundFilter_resample.h
Labels: PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2675 RpLidar3
  doc/release/master/rpLidar3.md
  src/devices/CMakeLists.txt
  src/devices/rpLidar3/CMakeLists.txt
  src/devices/rpLidar3/rpLidar3.cpp
  src/devices/rpLidar3/rpLidar3.h
Labels: Component: Devices, PR Status: Test on Hardware - OK, PR Status: Continuous Integration - OK, Target: YARP master

#2680 Fix build on Ubuntu bionic when both PCL and OpenNI2 are enabled
  cmake/YarpFindDependencies.cmake
  doc/release/yarp_3_5/fix_openni2.md
Labels: Platform: Linux, PR Type: Bugfix, Target: YARP yarp-3.5

#2679 Fixed little errors in Map2D_nws_yarp::parse_vocab_command
  doc/release/yarp_3_5/fix_map2D_nws.md
  src/devices/map2DServer/Map2D_nws_yarp.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.5

#2681 Rplidar3 improv (cont)
  src/devices/rpLidar2/rpLidar2.cpp
  src/devices/rpLidar3/rpLidar3.cpp
  src/devices/rpLidar3/rpLidar3.h
  src/yarplaserscannergui/main.cpp
Labels: Component: Devices, Target: YARP master

#2683 FrameTransform architecture components refactoring
  doc/release/yarp_3_5/refactor_frameTransformComponents.md
  src/devices/frameTransformClient/FrameTransformClient.h
  src/devices/frameTransformClient/robotinterface_xml/ftc_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_pub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_sub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only_single_client.xml
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.h
  src/devices/frameTransformServer/FrameTransformServer.h
  src/devices/frameTransformServer/robotinterface_xml/fts_full_ros.xml
  src/devices/frameTransformServer/robotinterface_xml/fts_yarp_only.xml
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
Labels: Component: Devices, Type: Refactor, PR Status: Continuous Integration - OK, Target: YARP v3.5.0, Component: Experimental

#2685 Fix frameTransformSet_nwc_ros
  doc/release/yarp_3_5/fix_frameTransformSet_nwc_ros.md
  src/devices/frameTransformSet/FrameTransformSet_nwc_ros.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.5

#2684 yarprun fix
  doc/release/yarp_3_5/yarprun_env_fix.md
  src/libYARP_run/src/yarp/run/Run.cpp
Labels: PR Type: Bugfix, PR Status: Continuous Integration - OK, Component: Library - YARP_run, Target: YARP yarp-3.5

#2688 Map2DArea::getCentroid
  doc/release/master/getCentroid.md
  src/libYARP_dev/src/yarp/dev/Map2DArea.cpp
  src/libYARP_dev/src/yarp/dev/Map2DArea.h
Labels: PR Type: Feat/Enh, Component: Library - YARP_dev, PR Status: Continuous Integration - OK, Target: YARP master

#2690 Fixed bug in frameTransformStorage
  doc/release/yarp_3_5/fix_frameTransformStorage_start.md
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
Labels: PR Type: Bugfix, Target: YARP yarp-3.5

#2689 Yarp log label
  doc/release/master/yarp_log_label.md
  doc/yarp_env_variables.md
  doc/yarp_logging.md
  src/libYARP_os/src/yarp/os/impl/LogForwarder.cpp
  src/libYARP_run/src/yarp/run/Run.cpp
Labels: PR Type: Feat/Enh, Component: Library - YARP_run, Target: YARP master

#2692 applyVelocityCommand
  doc/release/master/applyVelocityCommand.md
  src/devices/fakeNavigationDevice/fakeNavigationDev.h
  src/devices/navigation2DServer/navigation2DServer.cpp
  src/devices/navigation2DServer/navigation2DServer.h
  src/libYARP_dev/src/yarp/dev/INavigation2D.h
Labels: Component: Library - YARP_dev, Target: YARP master

#2687 Fix build of lidar sdk with clang.
  doc/release/yarp_3_5/lidar2_clang.md
  extern/rplidar/README.txt
  extern/rplidar/patches/0001-extern-rplidar-Fix-build-on-clang.patch
  extern/rplidar/patches/0002-extern-rplidar-Fix-ordered-comparison-of-pointer-wit.patch
  extern/rplidar/sdk/src/arch/linux/net_socket.cpp
  extern/rplidar/sdk/src/rplidar_driver.cpp
  src/devices/rpLidar2/CMakeLists.txt
  src/devices/rpLidar3/CMakeLists.txt
Labels: PR Type: Bugfix, Component: Extern, Target: YARP master

#2682 Mobile base velocity control
  doc/release/master/mobileBaseVelocityControl.md
  src/devices/CMakeLists.txt
  src/devices/fakeNavigationDevice/fakeNavigationDev.cpp
  src/devices/fakeNavigationDevice/fakeNavigationDev.h
  src/devices/mobileBaseVelocityControl/CMakeLists.txt
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nwc_yarp.cpp
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nwc_yarp.h
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_ros.cpp
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_ros.h
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_yarp.cpp
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_yarp.h
  src/devices/mobileBaseVelocityControlMsgs/CMakeLists.txt
  src/devices/mobileBaseVelocityControlMsgs/MobileBaseVelocityControlMsgs.thrift
  src/devices/mobileBaseVelocityControlMsgs/idl_generated_code/MobileBaseVelocityControlMsgs_index.txt
  src/devices/mobileBaseVelocityControlMsgs/idl_generated_code/MobileBaseVelocityControlRPC.cpp
  src/devices/mobileBaseVelocityControlMsgs/idl_generated_code/MobileBaseVelocityControlRPC.h
  src/devices/mobileBaseVelocityControlMsgs/idl_generated_code/return_getLastVelocityCommand.cpp
  src/devices/mobileBaseVelocityControlMsgs/idl_generated_code/return_getLastVelocityCommand.h
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/libYARP_dev/src/yarp/dev/INavigation2D.h
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#2695 devices/controlBoard_nws_ros: Do not append /joint_states to the topic name
  doc/release/yarp_3_5/fix_joint_states_topic.md
  src/devices/ControlBoardWrapper/ControlBoard_nws_ros.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.5, Component: Experimental
