Repository robotology/yarp, pull requests merged in 2021-07, with the labels that each got.

#2627 More fixes to Image and frameGrabber devices + enhange unit tests
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Responder-inl.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage-inl.h
  src/libYARP_sig/src/yarp/sig/Image.cpp
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/fakeFrameGrabberTest.cpp
  tests/libYARP_dev/frameGrabberCropperTest.cpp
  tests/libYARP_dev/frameGrabber_nws_yarpTest.cpp
  tests/libYARP_dev/grabberDualTest.cpp
Labels: Component: Devices, Component: Library - YARP_dev, Component: Library - YARP_sig, PR Status: Changelog - Not Required, PR Type: Bugfix, PR Type: Feat/Enh, Target: YARP master

#2633 websocket: Disable warnings when building the WebSocket library
  src/carriers/websocket/CMakeLists.txt
Labels: Component: Carriers, PR Status: Changelog - Not Required, Target: YARP master, Type: Cleanup

#2628 bindings: Fix lua tests with lua 5.4
  bindings/lua/tests/CMakeLists.txt
Labels: Component: Bindings, Component: Tests, PR Status: Changelog - Not Required, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP master

#2629 Deprecate *Int and *Double methods in favour of *Int32 and *Float64
  doc/release/master/deprecated_internal.md
  src/libYARP_os/src/yarp/os/Bottle.h
  src/libYARP_os/src/yarp/os/ConnectionReader.h
  src/libYARP_os/src/yarp/os/ConnectionWriter.h
  src/libYARP_os/src/yarp/os/Value.h
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, Target: YARP master, Type: Deprecation

#2573 Package `yarp` with setuptools
  .github/CODEOWNERS
  .github/workflows/python.yml
  bindings/python/CMakeLists.txt
  bindings/python/examples/example_enc.py
  doc/release/master/pip_support.md
  scripts/pip/pyproject.toml
  scripts/pip/setup.cfg
  scripts/pip/setup.py
  tests/misc/check_license.pl
Labels: Component: Bindings, Component: Continuous Integration, Issue Type: Feat/Enh Req, PR Status: Continuous Integration - OK

#2636 Fix branch name in Python workflow
  .github/workflows/python.yml
Labels: Component: Bindings, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP master

#2638 frameTransformClient: Produce OBJECT library instead of STATIC
  cmake/CMakeRC.cmake
  src/devices/frameTransformClient/CMakeLists.txt
  tests/misc/check_license_skip.txt
Labels: Component: CMake, PR Status: Changelog - Not Required, PR Type: Bugfix, Target: YARP master

#2632 robotinterface: Remove experimental
  doc/release/robotinterface_remove_experimental.md
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformClient/frameTransformClient.h
  src/libYARP_robotinterface/src/CMakeLists.txt
  src/libYARP_robotinterface/src/yarp/robotinterface/Action.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Action.h
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.h
  src/libYARP_robotinterface/src/yarp/robotinterface/Param.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Param.h
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.h
  src/libYARP_robotinterface/src/yarp/robotinterface/Types.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Types.h
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReader.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReader.h
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Action.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Action.h
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Device.h
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Param.h
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Types.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/Types.h
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/XMLReader.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/CalibratorThread.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/RobotInterfaceDTD.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/RobotInterfaceDTD.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileVx.h
  src/yarprobotinterface/Module.cpp
  tests/libYARP_robotinterface/RobotinterfaceTest.cpp
Labels: Component: Library - YARP_robotinterface, Component: Tool - yarprobotinterface, PR Status: Continuous Integration - OK, Target: YARP master, Type: Deprecation, Type: Task

#2641 Added yarp audio documentation
  doc/audio_doc.dox
  src/devices/audioFromFileDevice/audioFromFileDevice.h
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.h
  src/devices/audioToFileDevice/audioToFileDevice.h
  src/devices/fakeMicrophone/fakeMicrophone.h
  src/devices/fakeSpeaker/fakeSpeaker.h
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.h
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.h
  src/libYARP_dev/src/idl/audioPlayerStatus.thrift
  src/libYARP_dev/src/idl/audioRecorderStatus.thrift
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioPlayerStatus.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioRecorderStatus.h
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.h
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.h
  src/libYARP_sig/src/yarp/sig/Sound.h
  src/portmonitors/sound_compression_mp3/Mp3Sound.h
Labels: Component: Documentation, PR Status: Continuous Integration - OK, Target: YARP master

#2642 FrameTransform Client and Server dox
  doc/dev_all.dox
  doc/frametransform.dox
  doc/images/frametransform/FTC_Local_only.png
  doc/images/frametransform/FTC_Local_only.svg
  doc/images/frametransform/FTC_PUB_YARP_only.png
  doc/images/frametransform/FTC_PUB_YARP_only.svg
  doc/images/frametransform/FTC_ROS_Only.png
  doc/images/frametransform/FTC_ROS_Only.svg
  doc/images/frametransform/FTC_ROS_Pub_Only.png
  doc/images/frametransform/FTC_ROS_Pub_Only.svg
  doc/images/frametransform/FTC_ROS_Sub_Only.png
  doc/images/frametransform/FTC_ROS_Sub_Only.svg
  doc/images/frametransform/FTC_SUB_YARP_only.png
  doc/images/frametransform/FTC_SUB_YARP_only.svg
  doc/images/frametransform/FTC_YARP_+_ROS.png
  doc/images/frametransform/FTC_YARP_+_ROS.svg
  doc/images/frametransform/FTC_YARP_only.png
  doc/images/frametransform/FTC_YARP_only.svg
  doc/images/frametransform/FTC_YARP_only_single_client.png
  doc/images/frametransform/FTC_YARP_only_single_client.svg
  doc/images/frametransform/FTS_YARP_+_ROS.svg
  doc/images/frametransform/FTS_YARP_only.svg
  doc/main.dox
  src/devices/frameTransformClient/frameTransformClient.h
Labels: Component: Documentation, Target: YARP master

#2639 Require YCM 0.13
  .github/workflows/ci.yml
  CMakeLists.txt
  cmake/CMakeRC.cmake
  cmake/FindFFMPEG.cmake
  doc/release/ycm_0.13.md
  tests/misc/check_license_skip.txt
Labels: Component: CMake, PR Status: Continuous Integration - OK, Target: YARP master, Type: Task

#2647 Devices compilation warnings removed
  src/devices/frameTransformClient/frameTransformClient.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformUtils/frameTransformContainer.cpp
  src/libYARP_dev/src/yarp/dev/IJoypadController.cpp
  src/libYARP_sig/src/yarp/sig/SoundFileWav.cpp
Labels: Target: YARP master, Type: Cleanup

#2644 added documentation for frametransform devices and renamed files with uppercase initial
  src/devices/frameTransformClient/CMakeLists.txt
  src/devices/frameTransformClient/FrameTransformClient.cpp
  src/devices/frameTransformClient/FrameTransformClient.h
  src/devices/frameTransformGet/CMakeLists.txt
  src/devices/frameTransformGet/FrameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/FrameTransformGetMultiplexer.h
  src/devices/frameTransformGet/FrameTransformGet_nwc_ros.cpp
  src/devices/frameTransformGet/FrameTransformGet_nwc_ros.h
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.h
  src/devices/frameTransformServer/CMakeLists.txt
  src/devices/frameTransformServer/FrameTransformServer.cpp
  src/devices/frameTransformServer/FrameTransformServer.h
  src/devices/frameTransformSet/CMakeLists.txt
  src/devices/frameTransformSet/FrameTransformSetMultiplexer.cpp
  src/devices/frameTransformSet/FrameTransformSetMultiplexer.h
  src/devices/frameTransformSet/FrameTransformSet_nwc_ros.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_ros.h
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformUtils/CMakeLists.txt
  src/devices/frameTransformUtils/FrameTransformContainer.cpp
  src/devices/frameTransformUtils/FrameTransformContainer.h
Labels: Component: Documentation, PR Status: Continuous Integration - OK, PR Status: Documentation - OK, Target: YARP master

#2646 Added a README for devices
  src/devices/README.md
Labels: Component: Documentation, PR Status: Continuous Integration - Not Required, PR Status: Documentation - Not Required, Target: YARP master

#2648 added nws and nwc section to documentation
  doc/main.dox
  doc/nws_and_nwc_architecture.md
Labels: Component: Documentation, PR Status: Documentation - Not Required, Target: YARP master

#2649 Added docs for FrameTransformContainer and FrameTransformStorage
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformUtils/FrameTransformContainer.h
Labels: Component: Documentation, PR Status: Documentation - Not Required, Target: YARP master

#2645 Deprecated devices warnings
  doc/release/master/deprecated_devices_warnings.md
  src/devices/ControlBoardWrapper/ControlBoardWrapper.cpp
  src/devices/RGBDSensorWrapper/RGBDSensorWrapper.cpp
  src/devices/Rangefinder2DWrapper/Rangefinder2DWrapper.cpp
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/devices/ServerInertial/ServerInertial.cpp
  src/devices/fakeFrameGrabber/CMakeLists.txt
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/fakeMotor/CMakeLists.txt
  src/devices/fakebot/CMakeLists.txt
  src/devices/fakebot/FakeBot.h
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/map2DServer/Map2DServer.cpp
  src/devices/transformClient/transformClient.cpp
  src/devices/transformServer/transformServer.cpp
  src/libYARP_dev/src/yarp/dev/DeviceDriver.h
Labels: Component: Deprecated, Component: Devices, PR Status: Continuous Integration - OK, Target: YARP master, Type: Deprecation

#2653 Added brief tag and nws-nwc sections
  doc/dev_all.dox
  src/devices/ControlBoardWrapper/ControlBoard_nws_ros.h
  src/devices/ControlBoardWrapper/ControlBoard_nws_yarp.h
  src/devices/RGBDSensorWrapper/RgbdSensor_nws_ros.h
  src/devices/RGBDSensorWrapper/RgbdSensor_nws_yarp.h
  src/devices/RGBDToPointCloudSensorWrapper/CMakeLists.txt
  src/devices/RGBDToPointCloudSensorWrapper/RGBDToPointCloudSensor_nws_ros.h
  src/devices/Rangefinder2DWrapper/Rangefinder2D_nws_ros.h
  src/devices/Rangefinder2DWrapper/Rangefinder2D_nws_yarp.h
  src/devices/RemoteFrameGrabber/FrameGrabber_nwc_yarp.h
  src/devices/ServerFrameGrabberDual/FrameGrabber_nws_ros.h
  src/devices/ServerFrameGrabberDual/FrameGrabber_nws_yarp.h
  src/devices/frameTransformClient/FrameTransformClient.h
  src/devices/frameTransformGet/FrameTransformGet_nwc_ros.h
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nwc_ros.h
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformUtils/FrameTransformContainer.h
  src/devices/localization2DServer/Localization2D_nws_ros.h
  src/devices/localization2DServer/Localization2D_nws_yarp.h
  src/devices/map2DServer/Map2D_nws_ros.h
  src/devices/map2DServer/Map2D_nws_yarp.h
Labels: Component: Documentation, Target: YARP master

#2651 Refactor FrameTransformStorage
  doc/release/master/refactor_frameTransformStorage.md
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
Labels: Component: Devices, PR Status: Continuous Integration - OK, Target: YARP master

#2652 added tests for frametransformclient
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/newFrameTransformClientTest.cpp
Labels: Component: Tests, PR Status: Changelog - Not Required, PR Status: Continuous Integration - OK, Target: YARP master

#2658 yarp latency-test: A few enhancements
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdLatencyTest.cpp
Labels: Component: Tool - yarp, PR Status: Changelog - Not Required, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2657 New FrameTransformServer
  doc/images/frametransform/FTC_PUB_YARP_only.svg
  doc/images/frametransform/FTC_ROS_Pub_Only.svg
  doc/images/frametransform/FTC_SUB_YARP_only.svg
  doc/images/frametransform/FTC_YARP_+_ROS.svg
  doc/images/frametransform/FTC_YARP_only.svg
  doc/images/frametransform/FTC_YARP_only_single_client.svg
  doc/images/frametransform/FTS_YARP_+_ROS.svg
  doc/images/frametransform/FTS_YARP_only.svg
  src/devices/frameTransformClient/FrameTransformClient.cpp
  src/devices/frameTransformClient/FrameTransformClient.h
  src/devices/frameTransformClient/robotinterface_xml/ftc_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_local_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_pub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_pub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_sub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_sub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only_single_client.xml
  src/devices/frameTransformClient/robotinterface_xml/fts_full/yarprobotinterface.ini
  src/devices/frameTransformClient/robotinterface_xml/fts_yarp_only/yarprobotinterface.ini
  src/devices/frameTransformClient/yarp_only.xml
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.cpp
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.h
  src/devices/frameTransformServer/CMakeLists.txt
  src/devices/frameTransformServer/FrameTransformServer.cpp
  src/devices/frameTransformServer/FrameTransformServer.h
  src/devices/frameTransformServer/robotinterface_xml/fts_full_ros.xml
  src/devices/frameTransformServer/robotinterface_xml/fts_yarp_only.xml
  src/devices/frameTransformSet/FrameTransformSetMultiplexer.cpp
  src/devices/frameTransformSet/FrameTransformSetMultiplexer.h
  src/devices/frameTransformSet/FrameTransformSet_nwc_ros.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_ros.h
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/frameTransformStorageMsgs/frameTransformStorageMsgs.thrift
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.h
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.cpp
  src/devices/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.h
  src/devices/frameTransformUtils/FrameTransformContainer.cpp
  src/devices/frameTransformUtils/FrameTransformContainer.h
  src/devices/transformServer/transformServer.cpp
  src/devices/transformServer/transformServer.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
Labels: Component: Devices, PR Type: Feat/Enh, Target: YARP master

#2659 dev: Fix case for audio classes
  doc/audio_doc.dox
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.cpp
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/idl/AudioPlayerStatus.thrift
  src/libYARP_dev/src/idl/AudioRecorderStatus.thrift
  src/libYARP_dev/src/idl_generated_code/AudioPlayerStatus_index.txt
  src/libYARP_dev/src/idl_generated_code/AudioRecorderStatus_index.txt
  src/libYARP_dev/src/idl_generated_code/audioPlayerStatus_index.txt
  src/libYARP_dev/src/idl_generated_code/audioRecorderStatus_index.txt
  src/libYARP_dev/src/idl_generated_code/yarp/dev/AudioPlayerStatus.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/AudioPlayerStatus.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/AudioPlayerStatus_common.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/AudioRecorderStatus.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/AudioRecorderStatus.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/AudioRecorderStatus_common.h
Labels: Component: Library - YARP_dev, Issue Type: API Bug, PR Status: Changelog - Not Required, Target: YARP master

#2663 audioFromFileDevice bugfix
  doc/release/yarp_3_5/audioFromFile_fix.md
  src/devices/audioFromFileDevice/audioFromFileDevice.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.5

#2664 Audio gain fix
  doc/release/yarp_3_5/audio_gain.md
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
Labels: Component: Library - YARP_dev, PR Type: Bugfix, Target: YARP yarp-3.5

#2666 Fix infinite loop when using yarp_add_idl and yarp_idl_to_dir without idl_tools
  cmake/template/YARPConfig.cmake.in
  doc/release/YARPConfig_infinite_loop.md
Labels: Component: CMake, PR Type: Bugfix, Target: YARP yarp-3.5

#2665 Sound filters
  cmake/FindSOXR.cmake
  cmake/YarpFindDependencies.cmake
  doc/release/master/soundFilters.md
  src/libYARP_sig/src/CMakeLists.txt
  src/libYARP_sig/src/yarp/sig/SoundFilters.cpp
  src/libYARP_sig/src/yarp/sig/SoundFilters.h
Labels: PR Type: Feat/Enh, Target: YARP master
