Repository robotology/yarp, pull requests merged in 2021-11, with the labels that each got.

#2744 mobileBaseVelocityControl_nws_yarp/ros improvements
  doc/release/master/streaming_MobileBaseVelocityControl_nws_yarp.md
  src/devices/mobileBaseVelocityControl/CMakeLists.txt
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_ros.cpp
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_ros.h
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_yarp.cpp
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nws_yarp.h
Labels: PR Type: Feat/Enh, Component: Devices, PR Status: Continuous Integration - OK, Target: YARP master

#2743 improvements to yarplogger
  doc/release/master/yarploggerfix_ap5_ap6.md
  src/libYARP_logger/src/CMakeLists.txt
  src/libYARP_logger/src/yarp/logger/YarpLogger.cpp
  src/libYARP_logger/src/yarp/logger/YarpLogger.h
  src/libYARP_logger/src/yarp/logger/YarpLoggerFiles.cpp
  src/yarplogger/mainwindow.cpp
Labels: PR Type: Feat/Enh, Component: GUI - yarplogger, Target: YARP master

#2746 Fixed method delete() for transformClient device
  doc/release/yarp_3_5/fix_delete_transformClient.md
  src/devices/transformClient/transformClient.cpp
  tests/libYARP_dev/IFrameTransformTest.cpp
  tests/libYARP_dev/TransformClientTest.cpp
Labels: Component: Devices, Component: Tests, PR Type: Bugfix, Target: YARP v3.5.0

#2748 robotinterface: Pass the 'id' parameter to the device from the 'name' attribute in the xml
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.cpp
Labels: PR Type: Feat/Enh, PR Status: Changelog - Not Required, Component: Library - YARP_robotinterface, Target: YARP master

#2750 Fixed time stamp in static transforms
  doc/release/yarp_3_5/fix_frameTransformSet_nws_ros_timestamp_value.md
  src/devices/frameTransformSet/FrameTransformSet_nwc_ros.cpp
Labels: PR Type: Bugfix, Target: YARP yarp-3.5

#2747 Fix yarpmanager white spaces check in ports names and ports names color
  doc/release/yarp_3_5/fix_yarpmanager_white_spaces_and_colors_port_names.md
  src/libYARP_manager/src/yarp/manager/manager.cpp
  src/yarpmanager/src-manager/applicationviewwidget.cpp
  src/yarpmanager/src-manager/applicationviewwidget.h
Labels: Component: GUI - yarpmanager, PR Type: Bugfix, Target: YARP yarp-3.5

#2752 Robotinterface dryrun and reverse shutdown action order
  doc/release/master/robotinterface_dryrun.md
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileVx.h
  src/yarprobotinterface/Module.cpp
  src/yarprobotinterface/tests/fakeFrameGrabber/fakeFrameGrabber.xml
  src/yarprobotinterface/tests/fakeFrameGrabber/grabber.xml
Labels: PR Type: Feat/Enh, Component: Tool - yarprobotinterface, Component: Library - YARP_robotinterface, Target: YARP master

#2760 robotinterface: Pass all parames inside a `devices` tag to all `device` inside that tag
  doc/release/master/robotinterface_dryrun.md
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
Labels: PR Type: Feat/Enh, Component: Tool - yarprobotinterface, Type: Regression, Component: Library - YARP_robotinterface, Target: YARP master

#2761 yarpmotorgui improved slider
  doc/release/master/yarpmotogui_slider.md
  src/yarpmotorgui/jointitem.cpp
  src/yarpmotorgui/jointitem.h
  src/yarpmotorgui/mainwindow.cpp
  src/yarpmotorgui/mainwindow.h
  src/yarpmotorgui/partitem.cpp
  src/yarpmotorgui/partitem.h
  src/yarpmotorgui/sliderWithTarget.cpp
  src/yarpmotorgui/sliderWithTarget.h
Labels: PR Type: Feat/Enh, Component: GUI - yarpmotorgui, PR Status: Continuous Integration - OK

#2759 Add `YARP_VERSION_COMPARE` macro to yarp/conf/version.h
  doc/release/master/version_compare_macro.md
  src/libYARP_conf/src/yarp/conf/version.h.in
Labels: PR Type: Feat/Enh, Component: Library - YARP_conf, Target: YARP master
