Repository robotology/yarp, pull requests merged in 2021-04, with the labels that each got.

#2433 Audio volume
  doc/release/master/audio_volume.md
  src/devices/audioFromFileDevice/audioFromFileDevice.cpp
  src/devices/audioFromFileDevice/audioFromFileDevice.h
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.cpp
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.cpp
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.h
  src/devices/audioToFileDevice/audioToFileDevice.cpp
  src/devices/audioToFileDevice/audioToFileDevice.h
  src/devices/fakeMicrophone/fakeMicrophone.cpp
  src/devices/fakeMicrophone/fakeMicrophone.h
  src/devices/fakeSpeaker/fakeSpeaker.cpp
  src/devices/fakeSpeaker/fakeSpeaker.h
  src/devices/ffmpeg/FfmpegGrabber.h
  src/devices/portaudio/PortAudioDeviceDriver.cpp
  src/devices/portaudio/PortAudioDeviceDriver.h
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.cpp
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.h
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.cpp
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/idl/audioPlayerStatus.thrift
  src/libYARP_dev/src/idl/audioRecorderStatus.thrift
  src/libYARP_dev/src/idl_generated_code/audioPlayerStatus_index.txt
  src/libYARP_dev/src/idl_generated_code/audioRecorderStatus_index.txt
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioPlayerStatus.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioPlayerStatus.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioPlayerStatus_common.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioRecorderStatus.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioRecorderStatus.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioRecorderStatus_common.h
  src/libYARP_dev/src/yarp/dev/AudioBufferSize.h
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.h
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.h
  src/libYARP_dev/src/yarp/dev/IAudioGrabberSound.h
  src/libYARP_dev/src/yarp/dev/IAudioRender.h
  src/libYARP_sig/src/yarp/sig/Sound.cpp
  src/libYARP_sig/src/yarp/sig/Sound.h
  tests/libYARP_sig/SoundTest.cpp
Labels: Component: Devices, Component: Library - YARP_sig, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2547 MapGrid2D improvements
  doc/release/master/mapGrid2D_improvements.md
  example/ros/CMakeLists.txt
  example/ros/rosmap_publisher.cpp
  src/libYARP_dev/src/yarp/dev/MapGrid2D.cpp
  src/libYARP_dev/src/yarp/dev/MapGrid2D.h
  tests/conf/contexts/mapGrid2DTest/map_occupancyGrid.pgm
  tests/conf/contexts/mapGrid2DTest/map_occupancyGrid.yaml
  tests/conf/contexts/mapGrid2DTest/map_rosOnly.map
  tests/conf/contexts/mapGrid2DTest/map_yarpAndRos.map
  tests/conf/contexts/mapGrid2DTest/map_yarpFlags.ppm
  tests/conf/contexts/mapGrid2DTest/map_yarpOnly.map
  tests/libYARP_dev/MapGrid2DTest.cpp
  tests/misc/check_license.pl
  tests/misc/check_style.pl
Labels: Component: Examples, Component: Library - YARP_dev, Component: Tests, PR Status: Continuous Integration - OK

#2461 map2D_nws
  doc/release/master/map2D_nws.md
  src/devices/CMakeLists.txt
  src/devices/map2DClient/Map2DClient.cpp
  src/devices/map2DClient/Map2DClient.h
  src/devices/map2DServer/CMakeLists.txt
  src/devices/map2DServer/Map2DServer.cpp
  src/devices/map2DServer/map2D_nws_ros.cpp
  src/devices/map2DServer/map2D_nws_ros.h
  src/devices/map2DServer/map2D_nws_yarp.cpp
  src/devices/map2DServer/map2D_nws_yarp.h
  src/devices/map2DStorage/CMakeLists.txt
  src/devices/map2DStorage/map2DStorage.cpp
  src/devices/map2DStorage/map2DStorage.h
  src/libYARP_dev/src/yarp/dev/IMap2D.h
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/Map2DClientTest.cpp
Labels: Component: Devices, Target: YARP master, Type: Breaking/Behaviour Change, Type: Refactor

#2515 Avoid cumulative drift in PeriodicThread
  doc/release/master/fix_periodic_thread_drift.md
  src/libYARP_os/src/yarp/os/PeriodicThread.cpp
  src/libYARP_os/src/yarp/os/PeriodicThread.h
  tests/libYARP_os/PeriodicThreadTest.cpp
Labels: Component: Library - YARP_os, PR Type: Bugfix, Target: YARP master, Type: Breaking/Behaviour Change

#2550 FrameTransform is now Portable
  src/libYARP_math/src/yarp/math/FrameTransform.cpp
  src/libYARP_math/src/yarp/math/FrameTransform.h
Labels: Component: Library - YARP_math, PR Type: Feat/Enh, Target: YARP master

#2553 depthimage_compression_zlib portmonitor
  doc/release/master/zlib_portmonitor.md
  src/portmonitors/CMakeLists.txt
  src/portmonitors/depthimage_compression_zlib/CMakeLists.txt
  src/portmonitors/depthimage_compression_zlib/README.md
  src/portmonitors/depthimage_compression_zlib/zlibPortmonitor.cpp
  src/portmonitors/depthimage_compression_zlib/zlibPortmonitor.h
Labels: Component: Port Monitors, PR Status: Continuous Integration - OK, Target: YARP master

#2554 fix_yarplogger_clear
  doc/release/yarp_3_4/fix_yarplogger_clear.md
  src/yarplogger/logmodel.cpp
Labels: Component: GUI - yarplogger, PR Type: Bugfix, Target: YARP yarp-3.4

#2555 New Python example proposal: a buffered reader callback
  bindings/python/examples/example_callback.py
  bindings/python/examples/example_server.py
  bindings/python/examples/yarpImage.py
  bindings/python/examples/yarpImage_py2.py
  doc/release/yarp_3_4/add_py_callback_example.md
Labels: Component: Bindings, Component: Deprecated, Component: Examples, PR Type: Feat/Enh, Target: YARP yarp-3.4

#2559 Add `yarp::sig::utils::cropRect()`, adopt in grabberDual
  doc/release/master/add_cropRect.md
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/libYARP_sig/src/yarp/sig/ImageUtils.cpp
  src/libYARP_sig/src/yarp/sig/ImageUtils.h
  tests/libYARP_sig/ImageTest.cpp
Labels: Component: Devices, Component: Library - YARP_sig, PR Type: Feat/Enh, Target: YARP master, Type: Refactor

#2557 Move directories specifications in yarp::conf
  bindings/yarp.i
  doc/release/conf_dirs.md
  doc/resource_finder_spec.dox
  doc/yarp_env_variables.md
  doc/yarp_plugins.dox
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdWrite.cpp
  src/libYARP_conf/src/yarp/conf/dirs.h
  src/libYARP_os/src/yarp/os/ResourceFinder.cpp
  src/libYARP_os/src/yarp/os/ResourceFinder.h
  src/libYARP_os/src/yarp/os/impl/NameConfig.cpp
  src/yarp-config/yarpcontextutils.cpp
  src/yarp-config/yarpcontextutils.h
  tests/libYARP_conf/CMakeLists.txt
  tests/libYARP_conf/dirs.cpp
  tests/libYARP_os/ResourceFinderTest.cpp
Labels: Component: Library - YARP_conf, Component: Library - YARP_os, PR Type: Feat/Enh, Target: YARP master, Type: Breaking/Behaviour Change, Type: Deprecation
