Repository robotology/yarp, pull requests merged in 2021-09, with the labels that each got.

#2702 Remove all 'using namespace std' and fix build
  src/devices/rpLidar3/rpLidar3.cpp
  src/portmonitors/soundfilter_resample/SoundFilter_resample.cpp
  src/yarplaserscannergui/main.cpp
Labels: Type: Cleanup, PR Type: Bugfix, Target: YARP master, Type: Bad Practices

#2699 fixed warning for file collision on case insensitive os
  doc/release/yarp_3_5/fix_audio_case.md
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioPlayerStatus_common.h
  src/libYARP_dev/src/idl_generated_code/yarp/dev/audioRecorderStatus_common.h
Labels: Platform: Windows, PR Type: Bugfix, Target: YARP yarp-3.5

#2704 Fixed bug in rgbdSensor_nws::open
  doc/release/yarp_3_5/fix_period_RGBDSensor_nws_ros.md
  src/devices/RGBDSensorWrapper/RgbdSensor_nws_ros.cpp
  src/devices/RGBDSensorWrapper/RgbdSensor_nws_ros.h
Labels: Component: Devices, PR Type: Bugfix, Target: YARP v3.5.0

#2706 os/idl/WireReader: Fix reading an empty string as last argument
  doc/release/yarp_3_5/fix_WireReader_readString.md
  src/libYARP_os/src/yarp/os/idl/WireReader.cpp
Labels: Component: Library - YARP_os, PR Type: Bugfix, Component: Tool - yarpidl_thrift, Target: YARP yarp-3.5

#2708 Fix log under yarprun always verbose
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/impl/LogComponent.cpp
  src/libYARP_os/src/yarp/os/impl/LogComponent.h
Labels: Component: Library - YARP_os, PR Status: Changelog - Not Required, PR Type: Bugfix, Type: Regression, Target: YARP yarp-3.5

#2712 fakeLaser improvements
  doc/release/master/fakeLaser_with_localization2D_nwc_yarp.md
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/fakeLaser/fakeLaser.h
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#2717 added option `testdata_filename` to latency-test companion
  doc/release/master/testdata_filename.md
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdLatencyTest.cpp
Labels: PR Type: Feat/Enh, Component: Library - YARP_companion, Target: YARP master

#2716 New carrier option for yarp clients connections
  doc/release/master/carrier_option.md
  src/devices/RGBDSensorClient/RGBDSensorClient.cpp
  src/devices/Rangefinder2DClient/Rangefinder2DClient.cpp
  src/devices/Rangefinder2DClient/Rangefinder2DClient.h
  src/devices/batteryClient/BatteryClient.cpp
  src/devices/batteryClient/BatteryClient.h
  src/devices/localization2DClient/Localization2DClient.cpp
  src/devices/localization2DClient/Localization2DClient.h
  src/devices/map2DClient/Map2DClient.cpp
  src/devices/map2DClient/Map2DClient.h
  src/devices/map2DClient/Map2D_nwc_yarp.cpp
  src/devices/map2DClient/Map2D_nwc_yarp.h
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nwc_yarp.cpp
  src/devices/mobileBaseVelocityControl/MobileBaseVelocityControl_nwc_yarp.h
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.h
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/devices/navigation2DClient/Navigation2DClient.h
  src/yarplaserscannergui/main.cpp
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#2718 Fix Fixed symbol lookup runtime error in plugins using FFMPEG
  cmake/YarpFindDependencies.cmake
  doc/release/yarp_3_5/fix_ffmpeg.md
  src/devices/ffmpeg/CMakeLists.txt
  src/portmonitors/image_compression_ffmpeg/CMakeLists.txt
Labels: Component: CMake, Component: Devices, PR Type: Bugfix, Component: Port Monitors, Target: YARP yarp-3.5

#2715 Feature: frameTransform custom config
  doc/release/master/fix_frameTransformSet_nwc_ros.md
  src/devices/frameTransformClient/FrameTransformClient.cpp
  src/devices/frameTransformClient/FrameTransformClient.h
  src/devices/frameTransformServer/FrameTransformServer.cpp
  src/devices/frameTransformServer/FrameTransformServer.h
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master
