Repository robotology/yarp, pull requests merged in 2021-06, with the labels that each got.

#2589 dev: Add WrapperSingle and WrapperMultiple helpers
  doc/release/master/IWrapper_helpers.md
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/WrapperMultiple.cpp
  src/libYARP_dev/src/yarp/dev/WrapperMultiple.h
  src/libYARP_dev/src/yarp/dev/WrapperSingle.cpp
  src/libYARP_dev/src/yarp/dev/WrapperSingle.h
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2592 Fix message generation errors - yarpidl_rosmsg and YarpIDL.cmake
  cmake/YarpIDL.cmake
  src/idls/rosmsg/src/RosType.cpp
Labels: Component: IDL, Component: Tool - yarpidl_rosmsg, PR Type: Bugfix, PR Type: Feat/Enh, Target: YARP master

#2598 Do not compile yarpros when YARP_COMPILE_EXECUTABLES is disabled
  doc/release/yarp_3_4/yarpros_YARP_COMPILE_EXECUTABLES.md
  src/carriers/tcpros_carrier/CMakeLists.txt
Labels: Component: CMake, Component: Tool - yarpros, PR Type: Bugfix

#2597 Drop support for Qt < 5.4
  cmake/YarpFindDependencies.cmake
  doc/release/master/qt_5_4.md
  src/yarpview/plugin/ImagePort.cpp
Labels: Component: CMake, Component: GUI - yarpview, Type: Cleanup

#2593 Fix a couple of typos
  data/yarpmanager/tests/xml/modules/fakeFrameGrabber.xml
  data/yarpmanager/tests/xml/modules/test_grabber.xml
  doc/device_invocation/fakeFrameGrabber_basic.dox
  doc/device_invocation/group_basic.dox
  doc/release/master/fix_rectificationMatrix_param.md
  src/devices/RGBDRosConversionUtils/RGBDRosConversionUtils.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/usbCamera/linux/V4L_camera.cpp
  src/libYARP_dev/src/yarp/dev/IVisualParams.h
  src/libYARP_sig/src/yarp/sig/IntrinsicParams.cpp
  src/libYARP_sig/src/yarp/sig/IntrinsicParams.h
  tests/libYARP_dev/fakeFrameGrabberTest.cpp
Labels: Component: Library - YARP_dev, Component: Library - YARP_sig, PR Status: Continuous Integration - OK, Target: YARP master, Type: Breaking/Behaviour Change, Type: Cleanup, Type: Deprecation

#2583 dev/IFrameGrabberImage{,Raw}: Implement using a template
  doc/release/master/FrameGrabberInterfacesRefactor7.md
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.h
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/devices/usbCamera/common/USBcamera.h
  src/devices/usbCamera/linux/V4L_camera.h
  src/libYARP_conf/src/yarp/conf/api.h.in
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage-inl.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImageRaw.h
Labels: Component: Library - YARP_dev, PR Type: Feat/Enh, Target: YARP master

#2599 math/Vec2D: Fix -Wattributes warning
  src/libYARP_math/src/yarp/math/Vec2D.cpp
  src/libYARP_math/src/yarp/math/Vec2D.h
Labels: Component: Library - YARP_conf, Component: Library - YARP_math, PR Status: Documentation - Not Required, PR Type: Bugfix, Target: YARP master

#2602 fixed for method getEstimatedOdometry()
  doc/release/yarp_3_4/getEstimatedOdometryFix.md
  src/devices/localization2DClient/Localization2DClient.cpp
  src/devices/localization2DServer/Localization2DServer.cpp
  src/devices/navigation2DClient/Navigation2DClient.cpp
  src/libYARP_dev/src/yarp/dev/ILocalization2D.h
  tests/libYARP_dev/Navigation2DClientTest.cpp
Labels: Component: Devices, PR Type: Feat/Enh, Target: YARP yarp-3.4

#2595 framegrabber_protocol enhancement
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.cpp
  src/devices/RemoteFrameGrabber/RemoteFrameGrabber.h
  src/devices/framegrabber_protocol/CMakeLists.txt
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/CameraVocabs.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControlsDC1394_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.cpp
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberControls_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Forwarder-inl.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Forwarder.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Responder-inl.h
  src/devices/framegrabber_protocol/yarp/proto/framegrabber/FrameGrabberOf_Responder.h
Labels: Component: Devices, Component: Library - YARP_dev, Issue Type: Feat/Enh Req, Target: YARP master, Type: Breaking/Behaviour Change

#2594 fakeFrameGrabber enhancements
  doc/device_invocation/fakeFrameGrabber_basic.dox
  doc/device_invocation/group_basic.dox
  doc/release/master/fakeFrameGrabber_enh2.md
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/libYARP_dev/src/yarp/dev/IVisualParams.h
Labels: Component: Devices, PR Type: Feat/Enh, Target: YARP master

#2601 sig: pointcloudutils added ordered and unordered pointcloud generation
  doc/release/master/pointcloudutils.md
  src/libYARP_sig/src/yarp/sig/PointCloudUtils-inl.h
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.h
Labels: Component: Library - YARP_sig, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2604 Add build with CMake 3.20 and use YCM 0.12.2
  .github/workflows/ci.yml
Labels: Component: Continuous Integration, PR Status: Documentation - Not Required, PR Type: Feat/Enh, Target: YARP master

#2608 robotinterface: Allow replacing values from command line
  doc/release/master/robotinterface_param.md
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/XMLReader.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/experimental/XMLReader.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV1.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileVx.h
  src/yarprobotinterface/Module.cpp
  src/yarprobotinterface/tests/fakeFrameGrabber/fakeFrameGrabber.xml
  src/yarprobotinterface/tests/fakeFrameGrabber/grabber.xml
  src/yarprobotinterface/tests/fakeFrameGrabber/test_grabber.xml
  tests/libYARP_robotinterface/RobotinterfaceTest.cpp
Labels: Component: Library - YARP_robotinterface, Component: Tool - yarprobotinterface, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2609 sig/Image: Fix topIsLow handling
  doc/release/master/fix_topIsLow.md
  src/devices/ServerFrameGrabberDual/ServerFrameGrabberDual.cpp
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/Image.h
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
  src/yarpview/plugin/ImagePort.cpp
Labels: Component: Library - YARP_sig, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP master, Type: Breaking/Behaviour Change

#2612 sig/Image: Fix topIsLow handling in YARP 3.4
  doc/release/yarp_3_4/fix_topIsLow_yarp-3.4.md
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
  src/yarpview/plugin/ImagePort.cpp
Labels: Component: GUI - yarpview, Component: Library - YARP_sig, PR Type: Bugfix, Target: YARP yarp-3.4, Type: Breaking/Behaviour Change

#2613 sig/Image: Add move() and swap() methods
  doc/release/master/image_move_swap.md
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/Image.h
  tests/libYARP_sig/ImageTest.cpp
Labels: Component: Library - YARP_sig, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2615 Move idl in proper location
  src/CMakeLists.txt
  src/idls/CMakeLists.txt
  src/yarpidl_rosmsg/CMakeLists.txt
  src/yarpidl_rosmsg/src/RosType.cpp
  src/yarpidl_rosmsg/src/RosType.h
  src/yarpidl_rosmsg/src/RosTypeCodeGenYarp.cpp
  src/yarpidl_rosmsg/src/RosTypeCodeGenYarp.h
  src/yarpidl_rosmsg/src/main.cpp
  src/yarpidl_thrift/CMakeLists.txt
  src/yarpidl_thrift/src/t_yarp_generator.cc
  tests/misc/check_license.pl
Labels: Component: IDL, Component: Tool - yarpidl_rosmsg, Component: Tool - yarpidl_thrift, PR Status: Continuous Integration - OK, PR Status: Documentation - Not Required, Target: YARP master, Type: Cleanup

#2616 Thrift const service method
  doc/release/master/thrift_const_method.md
  src/libYARP_os/src/yarp/os/Wire.h
  src/libYARP_os/src/yarp/os/WireLink.cpp
  src/libYARP_os/src/yarp/os/WireLink.h
  src/yarpidl_thrift/src/t_yarp_generator.cc
  tests/yarpidl_thrift/demo/demo.thrift
  tests/yarpidl_thrift/demo/main.cpp
Labels: Component: IDL, Component: Tool - yarpidl_thrift, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master

#2617 sig/Image: Simplify move constructor and assigment operator
  src/libYARP_sig/src/yarp/sig/Image.cpp
Labels: Component: Library - YARP_sig, Target: YARP master, Type: Cleanup, Type: Modernization

#2618 frameGrabber NWC/NWS/Cropper
  doc/release/master/frameGrabberCropper.md
  src/devices/CMakeLists.txt
  src/devices/RemoteFrameGrabber/CMakeLists.txt
  src/devices/RemoteFrameGrabber/FrameGrabber_nwc_yarp.cpp
  src/devices/RemoteFrameGrabber/FrameGrabber_nwc_yarp.h
  src/devices/ServerFrameGrabberDual/CMakeLists.txt
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.cpp
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.h
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_yarp.cpp
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_yarp.h
  src/devices/frameGrabberCropper/CMakeLists.txt
  src/devices/frameGrabberCropper/frameGrabberCropper.cpp
  src/devices/frameGrabberCropper/frameGrabberCropper.h
Labels: Component: Devices, PR Status: Documentation - OK, PR Type: Feat/Enh, Target: YARP master

#2622 Fix frameGrabber devices
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.cpp
  src/devices/ServerFrameGrabberDual/frameGrabber_nws_ros.h
  src/devices/frameGrabberCropper/frameGrabberCropper.h
  src/libYARP_os/src/yarp/os/Bottle.h
  src/libYARP_os/src/yarp/os/Value.h
Labels: Component: Devices, PR Type: Bugfix, Target: YARP master

#2575 Add a check for new/modified files during build and test phase
  .github/workflows/ci.yml
  tests/libYARP_dev/MapGrid2DTest.cpp
Labels: Component: Continuous Integration, PR Status: Continuous Integration - OK, PR Status: Documentation - Not Required, PR Type: Feat/Enh

#2621 Websocket carrier implementation
  .ci/initial-cache.gh.linux.cmake
  .ci/initial-cache.gh.macos.cmake
  .ci/initial-cache.gh.windows.cmake
  doc/release/master/websocket.md
  extern/CMakeLists.txt
  extern/README.txt
  extern/websocket/README.txt
  extern/websocket/WebSocket/LICENSE
  extern/websocket/WebSocket/README.md
  extern/websocket/WebSocket/WebSocket/WebSocket.cpp
  extern/websocket/WebSocket/WebSocket/WebSocket.h
  extern/websocket/WebSocket/WebSocket/base64/base64.cpp
  extern/websocket/WebSocket/WebSocket/base64/base64.h
  extern/websocket/WebSocket/WebSocket/md5/md5.c
  extern/websocket/WebSocket/WebSocket/md5/md5.h
  extern/websocket/WebSocket/WebSocket/md5/md5.hpp
  extern/websocket/WebSocket/WebSocket/sha1/Makefile
  extern/websocket/WebSocket/WebSocket/sha1/Makefile.nt
  extern/websocket/WebSocket/WebSocket/sha1/license.txt
  extern/websocket/WebSocket/WebSocket/sha1/sha.cpp
  extern/websocket/WebSocket/WebSocket/sha1/sha1.cpp
  extern/websocket/WebSocket/WebSocket/sha1/sha1.h
  extern/websocket/WebSocket/WebSocket/sha1/shacmp.cpp
  extern/websocket/WebSocket/WebSocket/sha1/shatest.cpp
  extern/websocket/patches/0001-extern-websocket-Add-missing-header.patch
  extern/websocket/patches/0002-extern-websocket-Add-CLOSING_OPCODE-WebSocketFrameTy.patch
  src/carriers/CMakeLists.txt
  src/carriers/websocket/CMakeLists.txt
  src/carriers/websocket/WebSocketCarrier.cpp
  src/carriers/websocket/WebSocketCarrier.h
  src/carriers/websocket/WebSocketStream.cpp
  src/carriers/websocket/WebSocketStream.h
  src/libYARP_os/src/yarp/os/impl/HttpCarrier.cpp
  src/libYARP_os/src/yarp/os/impl/TcpCarrier.h
Labels: Component: Carriers, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master, Type: Breaking/Behaviour Change

#2625 added /zC:__cplusplus option to makefile
  cmake/YarpSystemCheck.cmake
Labels: Compiler: MSVC, PR Status: Continuous Integration - OK, PR Type: Feat/Enh, Target: YARP master, Type: Modernization
