Repository robotology/yarp, pull requests merged in 2021-03, with the labels that each got.

#2494 NetworkClock: unblock all waiting threads if a network reset is detected
  doc/release/yarp_3_4/detect_clock_reset.md
  src/libYARP_os/src/yarp/os/NetworkClock.cpp
Labels: Component: Library - YARP_os, PR Status: Continuous Integration - OK, PR Type: Bugfix, Target: YARP v3.4.3

#2518 .jpg support
  doc/release/master/jpg_support.md
  src/devices/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fakeFrameGrabber/FakeFrameGrabber.h
  src/libYARP_sig/src/yarp/sig/ImageFile.cpp
  tests/conf/contexts/fakeFrameGrabberTest/left_test.ini
  tests/conf/contexts/fakeFrameGrabberTest/right_test.ini
Labels: Component: Devices, Component: Library - YARP_sig, PR Status: Continuous Integration - OK, Target: YARP master

#2516 os: Add Header class, intended to gradually replace the Stamp class
  doc/release/master/os_Header.md
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/Header.cpp
  src/libYARP_os/src/yarp/os/Header.h
  src/libYARP_os/src/yarp/os/Stamp.cpp
  tests/libYARP_os/CMakeLists.txt
  tests/libYARP_os/HeaderTest.cpp
Labels: Component: Library - YARP_os, PR Type: Feat/Enh, Target: YARP master

#2519 support for .mp3 audio files
  doc/release/master/mp3_support.md
  src/libYARP_sig/src/CMakeLists.txt
  src/libYARP_sig/src/yarp/sig/SoundFile.cpp
  src/libYARP_sig/src/yarp/sig/SoundFile.h
  src/libYARP_sig/src/yarp/sig/SoundFileMp3.cpp
  src/libYARP_sig/src/yarp/sig/SoundFileMp3.h
  src/libYARP_sig/src/yarp/sig/SoundFileWav.cpp
  src/libYARP_sig/src/yarp/sig/SoundFileWav.h
  tests/libYARP_sig/CMakeLists.txt
  tests/libYARP_sig/SoundTest.cpp
Labels: Component: Library - YARP_sig, PR Type: Feat/Enh, Target: YARP master

#2526 mp3Sound portmonitor
  doc/release/master/mp3Sound_portmonitor.md
  src/carriers/CMakeLists.txt
  src/carriers/mp3Sound_portmonitor/CMakeLists.txt
  src/carriers/mp3Sound_portmonitor/Mp3Sound.cpp
  src/carriers/mp3Sound_portmonitor/Mp3Sound.h
Labels: Component: Carriers, PR Status: Continuous Integration - OK, Target: YARP master

#2527 Fix compilation of Python Bindings on Windows
  bindings/python/CMakeLists.txt
  doc/release/yarp_3_4/fix_python_bindings_windows.md
Labels: Component: Bindings, PR Type: Bugfix, Target: YARP yarp-3.4

#2530 Fix issues with FFMPEG libraries
  .ci/initial-cache.gh.linux.cmake
  cmake/FindFFMPEG.cmake
  cmake/YarpFindDependencies.cmake
  src/carriers/libffmpeg_portmonitor/CMakeLists.txt
  src/carriers/mp3Sound_portmonitor/CMakeLists.txt
  src/devices/ffmpeg/CMakeLists.txt
  src/libYARP_sig/src/CMakeLists.txt
  tests/misc/check_license_skip.txt
Labels: Component: CMake, PR Type: Feat/Enh, Sync: YCM
