Repository robotology/yarp, pull requests merged in 2022-06, with the labels that each got.

#2834 ControlBoardWrapper2 deprecated
  .ci/initial-cache.gh.linux.cmake
  .ci/initial-cache.gh.macos.cmake
  .ci/initial-cache.gh.windows.cmake
  doc/cmd_yarpdev.dox
  doc/dev_all.dox
  doc/device_invocation/AudioPlayerWrapper_fakeSpeaker.dox
  doc/device_invocation/AudioPlayerWrapper_portaudio.dox
  doc/device_invocation/AudioPlayerWrapper_portaudioPlayer.dox
  doc/device_invocation/AudioRecorderWrapper_fakeMicrophone.dox
  doc/device_invocation/AudioRecorderWrapper_portaudio.dox
  doc/device_invocation/AudioRecorderWrapper_portaudioRecorder.dox
  doc/device_invocation/controlboardwrapper2_basic.dox
  doc/device_invocation/fakeFrameGrabber_basic.dox
  doc/device_invocation/fakeMotionControl_basic.dox
  doc/device_invocation/ffmpeg_grabber_basic.dox
  doc/device_invocation/ffmpeg_grabber_video4linux.dox
  doc/device_invocation/ffmpeg_writer_basic.dox
  doc/device_invocation/grabber_audio.dox
  doc/device_invocation/grabber_audiovisual.dox
  doc/device_invocation/grabber_basic.dox
  doc/device_invocation/group_basic.dox
  doc/device_invocation/opencv_grabber_basic.dox
  doc/device_invocation/portaudio_basic.dox
  doc/device_invocation/remote_grabber_basic.dox
  doc/device_invocation/usbCamera.dox
  doc/yarp_without_yarp.dox
  src/devices/ControlBoardRemapper/CMakeLists.txt
  src/devices/ControlBoardRemapper/ControlBoardRemapper.h
  src/devices/ControlBoardWrapper/CMakeLists.txt
  src/devices/ControlBoardWrapper/ControlBoardWrapper.h
  src/devices/ControlBoardWrapper/RPCMessagesParser.cpp
  src/devices/RemoteControlBoard/CMakeLists.txt
  src/devices/RemoteControlBoard/RemoteControlBoard.h
  src/devices/ServerInertial/ServerInertial.cpp
  src/devices/fakeMotionControl/CMakeLists.txt
  src/devices/fakeMotionControl/fakeMotionControl.h
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.cpp
  src/yarpmotorgui/main.cpp
  tests/devices/CMakeLists.txt
  tests/devices/controlboard_nws_yarp_basic.ini
  tests/devices/group_basic.ini
  tests/devices/harness_devices.cpp
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/ControlBoardNwsTest.cpp
  tests/libYARP_dev/ControlBoardRemapperTest.cpp
  tests/libYARP_dev/GroupDriverTest.cpp
  tests/libYARP_dev/TorqueControlTest.cpp
  tests/libYARP_dev/robotDescriptionTest.cpp
Labels: Component: Devices, Type: Deprecation, Target: YARP v3.8.0

#2852 Migrate to use CMake's FindSQLite3 module
  cmake/YarpFindDependencies.cmake
  doc/release/yarp_3_7/migratefindsqlite3.md
  extern/CMakeLists.txt
  extern/sqlite/CMakeLists.txt
  src/libYARP_serversql/src/CMakeLists.txt
Labels: Component: CMake, Target: YARP v3.7.0

#2851 Fix compilation against graphviz 3 on Windows
  doc/release/yarp_3_7/fixgraphviz3.md
  extern/qgv/CMakeLists.txt
Labels: Component: CMake, Target: YARP v3.7.0

#2854 Fix IOdometry2D added missing timestamp
  doc/release/yarp_3_7/fixodometryTimestamp.md
  src/devices/fakeOdometry/FakeOdometry.cpp
  src/devices/fakeOdometry/FakeOdometry.h
  src/devices/odometry2D_nws_ros/Odometry2D_nws_ros.cpp
  src/devices/odometry2D_nws_ros/Odometry2D_nws_ros.h
  src/devices/odometry2D_nws_yarp/Odometry2D_nws_yarp.cpp
  src/devices/odometry2D_nws_yarp/Odometry2D_nws_yarp.h
  src/libYARP_dev/src/yarp/dev/IOdometry2D.h
  src/libYARP_dev/src/yarp/dev/IRangefinder2D.h
Labels: Component: Library - YARP_dev, Component: Devices, PR Type: Bugfix, Target: YARP v3.7.0

#2853 Simple fix of onHomeAllPartsToCustomPoistion
  doc/release/yarp_3_7/fix_yarpmotorgui_customPosition_error_on_missingParts.md
  src/yarpmotorgui/mainwindow.cpp
Labels: Component: GUI - yarpmotorgui, PR Type: Bugfix, Target: YARP v3.7.0

#2860 Fix regression in https://github.com/robotology/yarp/pull/2852 that created problem if no system SQLite was installed
  .ci/initial-cache.gh.macos.cmake
  extern/CMakeLists.txt
Labels: Component: CMake, Target: Yarp v3.7.1

#2864 Add missing includes
  src/libYARP_conf/src/yarp/conf/string.h
  src/libYARP_os/src/yarp/os/Header.cpp
  src/libYARP_sig/src/yarp/sig/Image.cpp
Labels: Component: Library - YARP_os, Component: Library - YARP_sig, PR Type: Bugfix, Component: Library - YARP_conf, Target: Yarp v3.7.2

#2862 Refresh timestamps on consistency check failure
  doc/release/yarp_3_7/cbw_consistency_timestamps.md
  src/devices/ControlBoardWrapper/ControlBoard_nws_yarp.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: Yarp v3.7.2

#2867 Added error message for conf file
  doc/release/yarp_3_7.md
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdConf.cpp
  src/libYARP_os/src/yarp/os/impl/NameClient.cpp
  src/libYARP_os/src/yarp/os/impl/NameConfig.cpp
Labels: Component: Library - YARP_os, PR Type: Bugfix, Component: Library - YARP_companion, Target: Yarp v3.7.2
