Repository robotology/yarp, pull requests merged in 2022-11, with the labels that each got.

#2890 yarprobotinterface with `enabled_by` and `disabled_by` xml attributes
  doc/module_executables/cmd_yarprobotinterface.dox
  doc/module_yarprobotinterface/yarp_robotinterface_xml_config_files.dox
  doc/release/master/yarprobotinterface_enable_tags.md
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
Labels: PR Type: Feat/Enh, Component: Tool - yarprobotinterface, Component: Library - YARP_robotinterface, Target: YARP master

#2895 Tests split (part 1)
  src/devices/map2D_nwc_yarp/CMakeLists.txt
  src/devices/map2D_nwc_yarp/tests/CMakeLists.txt
  src/devices/map2D_nwc_yarp/tests/Map2DnwcTest.cpp
  src/devices/map2D_nws_yarp/Map2D_nws_yarp.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/IDummyTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IDummyTest.h
  src/libYARP_dev/src/yarp/dev/tests/IMap2DTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IMap2DTest.h
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/IMap2DTest.cpp
  tests/libYARP_dev/IMap2DTest.h
Labels: Component: Library - YARP_dev, Component: Devices, Component: Tests, Type: Admin, Target: YARP v3.8.0

#2898 Refactor audioPlayer and audioRecorder wrappers for yarprobotinterface compatibility
  doc/release/master/refactor_audioWrappers_multiWrapperToSingleWrapper.md
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.cpp
  src/devices/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.cpp
  src/devices/audioRecorderWrapper/AudioRecorderWrapper.h
Labels: Component: Devices, Type: Refactor, Target: YARP master

#2900 Added --title option to yarpview
  doc/release/master/feature_yarpview_titleOption.md
  src/yarpview/plugin/VideoSurface.qml
  src/yarpview/plugin/qtyarpview.cpp
  src/yarpview/plugin/qtyarpview.h
  src/yarpview/src/qml/QtYARPView/main.qml
  src/yarpview/src/qml/QtYARPView/mainCompact.qml
Labels: PR Type: Feat/Enh, Component: GUI - yarpview, Target: YARP master

#2901 Device pipe removed
  .ci/initial-cache.gh.linux.cmake
  doc/module_executables/cmd_yarpdev.dox
  doc/release/master/device_pipe_removed.md
  example/dev/grabber_client/grabber_client.cpp
  src/devices/CMakeLists.txt
  src/devices/DevicePipe/CMakeLists.txt
  src/devices/DevicePipe/DevicePipe.cpp
  src/devices/DevicePipe/DevicePipe.h
Labels: Component: Devices, Target: YARP master

#2897 Tests split (part 2)
  src/devices/fakeNavigationDevice/CMakeLists.txt
  src/devices/fakeNavigationDevice/tests/CMakeLists.txt
  src/devices/fakeNavigationDevice/tests/FakeNavigationTest.cpp
  src/devices/frameTransformClient/CMakeLists.txt
  src/devices/frameTransformClient/tests/CMakeLists.txt
  src/devices/frameTransformClient/tests/FrameTransformClientTest.cpp
  src/devices/frameTransformServer/CMakeLists.txt
  src/devices/frameTransformServer/tests/CMakeLists.txt
  src/devices/frameTransformServer/tests/FrameTransformServerTest.cpp
  src/devices/map2DStorage/CMakeLists.txt
  src/devices/map2DStorage/tests/CMakeLists.txt
  src/devices/map2DStorage/tests/Map2DStorageTest.cpp
  src/devices/map2D_nws_yarp/CMakeLists.txt
  src/devices/map2D_nws_yarp/tests/CMakeLists.txt
  src/devices/map2D_nws_yarp/tests/Map2DnwsTest.cpp
  src/devices/navigation2D_nwc_yarp/CMakeLists.txt
  src/devices/navigation2D_nwc_yarp/tests/CMakeLists.txt
  src/devices/navigation2D_nwc_yarp/tests/Navigation2DnwcTest.cpp
  src/devices/navigation2D_nws_yarp/CMakeLists.txt
  src/devices/navigation2D_nws_yarp/tests/CMakeLists.txt
  src/devices/navigation2D_nws_yarp/tests/Navigation2DnwsTest.cpp
  src/devices/transformClient/CMakeLists.txt
  src/devices/transformClient/tests/CMakeLists.txt
  src/devices/transformClient/tests/TransformClientTest.cpp
  src/devices/transformServer/CMakeLists.txt
  src/devices/transformServer/tests/CMakeLists.txt
  src/devices/transformServer/tests/TransformServerTest.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/IFrameTransformTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IFrameTransformTest.h
  src/libYARP_dev/src/yarp/dev/tests/INavigation2DTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/INavigation2DTest.h
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/IFrameTransformTest.cpp
  tests/libYARP_dev/IFrameTransformTest.h
  tests/libYARP_dev/INavigation2DTest.cpp
  tests/libYARP_dev/INavigation2DTest.h
Labels: Component: Library - YARP_dev, Component: Devices, Component: Tests, Target: YARP master

#2904 Tests split (part 4)
  src/devices/ControlBoardRemapper/CMakeLists.txt
  src/devices/ControlBoardRemapper/tests/CMakeLists.txt
  src/devices/ControlBoardRemapper/tests/ControlBoardRemapperTest.cpp
  src/devices/ControlBoardRemapper/tests/ControlBoardRemapperTest2.cpp
  src/devices/ControlBoardWrapper/CMakeLists.txt
  src/devices/ControlBoardWrapper/tests/CMakeLists.txt
  src/devices/ControlBoardWrapper/tests/ControlBoardWrapperTest.cpp
  src/devices/ControlBoard_nws_yarp/CMakeLists.txt
  src/devices/ControlBoard_nws_yarp/tests/CMakeLists.txt
  src/devices/ControlBoard_nws_yarp/tests/ControlBoard_nws_yarpTest.cpp
  src/devices/RemoteControlBoard/CMakeLists.txt
  src/devices/RemoteControlBoard/tests/CMakeLists.txt
  src/devices/RemoteControlBoard/tests/RemoteControlBoardTest.cpp
  src/devices/RobotDescriptionClient/CMakeLists.txt
  src/devices/RobotDescriptionClient/tests/CMakeLists.txt
  src/devices/RobotDescriptionClient/tests/robotDescriptionClientTest.cpp
  src/devices/RobotDescriptionServer/CMakeLists.txt
  src/devices/RobotDescriptionServer/tests/CMakeLists.txt
  src/devices/RobotDescriptionServer/tests/robotDescriptionServerTest.cpp
  src/devices/fakeIMU/CMakeLists.txt
  src/devices/fakeIMU/tests/CMakeLists.txt
  src/devices/fakeIMU/tests/FakeImuTest.cpp
  src/devices/fakeMotionControl/CMakeLists.txt
  src/devices/fakeMotionControl/tests/CMakeLists.txt
  src/devices/fakeMotionControl/tests/FakeMotionControlTest.cpp
  src/devices/multipleanalogsensorsclient/CMakeLists.txt
  src/devices/multipleanalogsensorsclient/tests/CMakeLists.txt
  src/devices/multipleanalogsensorsclient/tests/MultipleAnalogSensorsClientTest.cpp
  src/devices/multipleanalogsensorsserver/CMakeLists.txt
  src/devices/multipleanalogsensorsserver/tests/CMakeLists.txt
  src/devices/multipleanalogsensorsserver/tests/MultipleAnalogSensorsServerTest.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/IAxisInfoTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IAxisInfoTest.h
  src/libYARP_dev/src/yarp/dev/tests/IOrientationSensorsTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IOrientationSensorsTest.h
  src/libYARP_dev/src/yarp/dev/tests/IPositionControlTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IPositionControlTest.h
  src/libYARP_dev/src/yarp/dev/tests/ITorqueControlTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/ITorqueControlTest.h
  tests/libYARP_dev/AnalogWrapperTest.cpp
  tests/libYARP_dev/CMakeLists.txt
  tests/libYARP_dev/ControlBoardNwsTest.cpp
  tests/libYARP_dev/TorqueControlTest.cpp
Labels: Component: Library - YARP_dev, Component: Devices, Component: Tests

#2875 New device: FakeLaserWithMotor
  .ci/initial-cache.gh.linux.cmake
  doc/release/master/fakeLaserWithMotor.md
  src/devices/CMakeLists.txt
  src/devices/fakeLaser/fakeLaser.cpp
  src/devices/fakeLaser/fakeLaser.h
  src/devices/fakeLaser/info/readme.txt
  src/devices/fakeLaserWithMotor/CMakeLists.txt
  src/devices/fakeLaserWithMotor/fakeLaserWithMotor.cpp
  src/devices/fakeLaserWithMotor/fakeLaserWithMotor.h
  src/devices/fakeLaserWithMotor/fakeLaserWithMotor_laser.cpp
  src/devices/fakeLaserWithMotor/fakeLaserWithMotor_motors.cpp
  src/devices/fakeLaserWithMotor/fakeLaserWithMotor_utils.cpp
  src/devices/fakeLaserWithMotor/robotinterface_xml/robot.urdf
  src/devices/fakeLaserWithMotor/robotinterface_xml/robot_state_pub.launch
  src/devices/fakeLaserWithMotor/robotinterface_xml/robot_state_pub2.py
  src/devices/fakeLaserWithMotor/robotinterface_xml/ros.xml
  src/devices/fakeLaserWithMotor/robotinterface_xml/ros2.xml
  src/devices/fakeLaserWithMotor/robotinterface_xml/ros2b.xml
  src/devices/fakeLaserWithMotor/robotinterface_xml/yarp.xml
  src/devices/fakeLaserWithMotor/tests/CMakeLists.txt
  src/devices/fakeLaserWithMotor/tests/fakeLaserWithMotorTest.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromPointCloud/laserFromPointCloud.cpp
  src/libYARP_dev/src/yarp/dev/tests/IRangefinder2DTest.h
  tests/misc/check_license.pl
  tests/misc/check_license_skip.txt
Labels: PR Type: Feat/Enh, Component: Devices, Component: Tests, Target: YARP master

#2906 Default values for thrift files
  doc/release/master/improved_thrift_gen.md
  src/yarpidl_thrift/src/t_yarp_generator.cc
Labels: PR Type: Feat/Enh, Component: Tool - yarpidl_thrift
