Repository robotology/yarp, pull requests merged in 2022-05, with the labels that each got.

#2840 yarp read once
  doc/release/master/read_just_once.md
  src/libYARP_companion/src/yarp/companion/impl/BottleReader.h
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdRead.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdReadWrite.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
Labels: PR Type: Feat/Enh, Component: Library - YARP_companion, Target: YARP master

#2833 Removed deprecated network data types
  doc/release/master/deprecation_cleanup.md
  src/libYARP_os/src/yarp/os/Bottle.h
  src/libYARP_os/src/yarp/os/ConnectionReader.h
  src/libYARP_os/src/yarp/os/ConnectionWriter.h
  src/libYARP_os/src/yarp/os/NetType.cpp
  src/libYARP_os/src/yarp/os/NetType.h
  src/libYARP_os/src/yarp/os/Value.h
  src/libYARP_os/src/yarp/os/Vocab.h
  src/libYARP_os/src/yarp/os/idl/WireReader.h
  src/libYARP_os/src/yarp/os/idl/WireWriter.h
Labels: Component: Library - YARP_os, Type: Breaking/Behaviour Change, Type: Deprecation, Target: YARP master

#2819 Modify libYARP_robotinterface and yarprobotinterface to support passing using ${portprefix} in parameters
  doc/cmd_yarprobotinterface.dox
  doc/release/master/robotinterface_portprefix.md
  doc/robotinterface_all.dox
  doc/yarp_robotinterface_xml_config_files.dox
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReader.h
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
  src/yarprobotinterface/Module.cpp
  tests/libYARP_robotinterface/RobotinterfaceTest.cpp
Labels: PR Type: Feat/Enh, Component: Documentation, Component: Tool - yarprobotinterface, Target: YARP master

#2841 CB_NWS encoder check
  src/devices/ControlBoardWrapper/ControlBoard_nws_ros.cpp
  src/devices/ControlBoardWrapper/ControlBoard_nws_yarp.cpp
Labels: PR Type: Feat/Enh, PR Type: Bugfix, Target: YARP master

#2836 yarprobotinterface extern-name fix
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/XMLReaderFileV3.cpp
Labels: Target: YARP master

#2823 Widget visualization of the joints in the yarpmotorgui
  doc/release/master/widget_tree_yarpmotorgui.md
  src/yarpmotorgui/CMakeLists.txt
  src/yarpmotorgui/customgroupbox.cpp
  src/yarpmotorgui/customgroupbox.h
  src/yarpmotorgui/customgroupbox.ui
  src/yarpmotorgui/jointItemTree.cpp
  src/yarpmotorgui/jointItemTree.h
  src/yarpmotorgui/jointItemTree.ui
  src/yarpmotorgui/mainwindow.cpp
  src/yarpmotorgui/mainwindow.h
  src/yarpmotorgui/modestreemanager.cpp
  src/yarpmotorgui/modestreemanager.h
  src/yarpmotorgui/partItemTree.cpp
  src/yarpmotorgui/partItemTree.h
  src/yarpmotorgui/partitem.cpp
  src/yarpmotorgui/partitem.h
  src/yarpmotorgui/robotWidgetTree.cpp
  src/yarpmotorgui/robotWidgetTree.h
Labels: PR Type: Feat/Enh, Component: GUI - yarpmotorgui, Target: YARP master

#2844 audioToFileDevice: audio marker
  doc/release/master/audioToFileDeviceMarked.md
  src/devices/audioToFileDevice/audioToFileDevice.cpp
  src/devices/audioToFileDevice/audioToFileDevice.h
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#2842 Joint item slider Target box position fixed
  doc/release/yarp_3_6/fix_yarpmotorgui_setPointBox.md
  src/yarpmotorgui/sliderWithTarget.cpp
Labels: Component: GUI - yarpmotorgui, PR Type: Bugfix, Target: YARP yarp-3.6

#2846 yarp::os cleanup
  bindings/yarp.i
  src/devices/CMakeLists.txt
  src/devices/ServerFrameGrabber/CMakeLists.txt
  src/devices/ServerFrameGrabber/ServerFrameGrabber.cpp
  src/devices/ServerFrameGrabber/ServerFrameGrabber.h
  src/devices/ServerSoundGrabber/CMakeLists.txt
  src/devices/ServerSoundGrabber/ServerSoundGrabber.cpp
  src/devices/ServerSoundGrabber/ServerSoundGrabber.h
  src/libYARP_dev/src/yarp/dev/DataSource.h
  src/libYARP_dev/src/yarp/dev/all.h
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/AbstractContactable.cpp
  src/libYARP_os/src/yarp/os/AbstractContactable.h
  src/libYARP_os/src/yarp/os/BufferedPort-inl.h
  src/libYARP_os/src/yarp/os/BufferedPort.h
  src/libYARP_os/src/yarp/os/ConstString.h
  src/libYARP_os/src/yarp/os/Contactable.h
  src/libYARP_os/src/yarp/os/LockGuard.h
  src/libYARP_os/src/yarp/os/Mutex.cpp
  src/libYARP_os/src/yarp/os/Mutex.h
  src/libYARP_os/src/yarp/os/Port.cpp
  src/libYARP_os/src/yarp/os/Port.h
  src/libYARP_os/src/yarp/os/RateThread.cpp
  src/libYARP_os/src/yarp/os/RateThread.h
  src/libYARP_os/src/yarp/os/RecursiveMutex.cpp
  src/libYARP_os/src/yarp/os/RecursiveMutex.h
  src/libYARP_os/src/yarp/os/Runnable.cpp
  src/libYARP_os/src/yarp/os/Runnable.h
  src/libYARP_os/src/yarp/os/Searchable.h
  src/libYARP_os/src/yarp/os/Timer.cpp
  src/libYARP_os/src/yarp/os/Timer.h
  src/libYARP_os/src/yarp/os/all.h
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/PortCore.h
  src/libYARP_os/src/yarp/os/impl/PortCoreAdapter.cpp
  src/libYARP_os/src/yarp/os/impl/PortCoreAdapter.h
  tests/libYARP_os/PeriodicThreadTest.cpp
Labels: Component: Library - YARP_os, Type: Cleanup, Target: To Be Defined
