Repository robotology/yarp, pull requests merged in 2022-09, with the labels that each got.

#2877 Improved integration tests in CI
  doc/release/yarp_3_7/improved_integration_tests.md
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdPlugin.cpp
  tests/integration/CMakeLists.txt
Labels: Component: Tests, Target: YARP yarp-3.7

#2878 Fixed yarp write segfault
  doc/release/yarp_3_7/fix_companion_cmdWrite.md
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdWrite.cpp
Labels: PR Type: Bugfix, Component: Library - YARP_companion, Target: YARP yarp-3.7

#2874 protected RPCMessagesParser
  doc/release/master/protected_control_interfaces.md
  src/devices/ControlBoardWrapper/RPCMessagesParser.cpp
  src/devices/fakeMotionControl/fakeMotionControl.cpp
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#2879 Improved plugins CI
  cmake/YarpPlugin.cmake
  src/devices/odometry2D_nws_ros/CMakeLists.txt
  src/devices/odometry2D_nws_yarp/CMakeLists.txt
  tests/integration/CMakeLists.txt
Labels: Component: Tests, Component: Continuous Integration, Target: YARP master
