Repository robotology/yarp, pull requests merged in 2023-09, with the labels that each got.

#3010 Add velocityThres param for torque control
  doc/release/yarp_3_9_master/added_velocityThres.md
  src/devices/RemoteControlBoard/RemoteControlBoard.cpp
  src/devices/controlBoard_nws_yarp/RPCMessagesParser.cpp
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/devices/fakeMotionControl/fakeMotionControl.h
  src/libYARP_dev/src/yarp/dev/ControlBoardHelper.cpp
  src/libYARP_dev/src/yarp/dev/ControlBoardHelper.h
  src/libYARP_dev/src/yarp/dev/ITorqueControl.h
  src/libYARP_dev/src/yarp/dev/ImplementTorqueControl.cpp
  src/libYARP_dev/src/yarp/dev/tests/ITorqueControlTest.h
  src/yarpmotorgui/piddlg.cpp
  src/yarpmotorgui/piddlg.ui
Labels: Component: Library - YARP_dev, Component: Devices, Type: Breaking/Behaviour Change

#3015 Time test
  src/libYARP_os/tests/TimeTest.cpp
Labels: Type: Admin

#3004 CI Sonar Fix
  doc/release/yarp_3_9_master/master.md
  tests/yarpidl_rosmsg/CMakeLists.txt
  tests/yarpidl_thrift/CMakeLists.txt
Labels: Type: Admin

#3018 ConnectThread: Include what you use
  src/libYARP_serversql/src/yarp/serversql/impl/ConnectThread.h
Labels: Component: Library - YARP_os

#3013 Removed libyarpc
  src/CMakeLists.txt
  src/libyarpc/CMakeLists.txt
  src/libyarpc/README.TXT
  src/libyarpc/test1.cpp
  src/libyarpc/test2.cpp
  src/libyarpc/yarp.cpp
  src/libyarpc/yarp.h
  src/libyarpc/yarpbottle.cpp
  src/libyarpc/yarpcontact.cpp
  src/libyarpc/yarpimpl.h
  src/libyarpc/yarpnetwork.cpp
  src/libyarpc/yarpport.cpp
  src/libyarpc/yarpportable.cpp
  src/libyarpc/yarpreader.cpp
  src/libyarpc/yarpsemaphore.cpp
  src/libyarpc/yarpstring.cpp
  src/libyarpc/yarpthread.cpp
  src/libyarpc/yarptime.cpp
  src/libyarpc/yarpwriter.cpp
Labels: Type: Admin

#3021 Fixed segfault in audioRecorderDeviceBase
  doc/release/yarp_3_8/audioRecorderBase_fix.md
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
Labels: Component: Library - YARP_dev, PR Type: Bugfix

#3019 Feature/i chat bot interface
  doc/release/yarp_3_9_master/feature_device_iChatBot_interface.md
  src/devices/CMakeLists.txt
  src/devices/IChatBotMsgs/CMakeLists.txt
  src/devices/IChatBotMsgs/IChatBotMsgs.thrift
  src/devices/IChatBotMsgs/idl_generated_code/IChatBotMsgs.cpp
  src/devices/IChatBotMsgs/idl_generated_code/IChatBotMsgs.h
  src/devices/IChatBotMsgs/idl_generated_code/IChatBotMsgs_index.txt
  src/devices/IChatBotMsgs/idl_generated_code/return_getLanguage.cpp
  src/devices/IChatBotMsgs/idl_generated_code/return_getLanguage.h
  src/devices/IChatBotMsgs/idl_generated_code/return_interact.cpp
  src/devices/IChatBotMsgs/idl_generated_code/return_interact.h
  src/devices/chatBot_nwc_yarp/CMakeLists.txt
  src/devices/chatBot_nwc_yarp/ChatBot_nwc_yarp.cpp
  src/devices/chatBot_nwc_yarp/ChatBot_nwc_yarp.h
  src/devices/chatBot_nwc_yarp/tests/CMakeLists.txt
  src/devices/chatBot_nwc_yarp/tests/chatBot_nwc_yarp_test.cpp
  src/devices/chatBot_nws_yarp/CMakeLists.txt
  src/devices/chatBot_nws_yarp/ChatBotRPC_CallbackHelper.cpp
  src/devices/chatBot_nws_yarp/ChatBot_nws_yarp.cpp
  src/devices/chatBot_nws_yarp/ChatBot_nws_yarp.h
  src/devices/chatBot_nws_yarp/IChatBotMsgsImpl.cpp
  src/devices/chatBot_nws_yarp/tests/CMakeLists.txt
  src/devices/chatBot_nws_yarp/tests/chatBot_nws_yarp_test.cpp
  src/devices/fakeChatBotDevice/CMakeLists.txt
  src/devices/fakeChatBotDevice/FakeChatBotDevice.cpp
  src/devices/fakeChatBotDevice/FakeChatBotDevice.h
  src/devices/fakeChatBotDevice/tests/CMakeLists.txt
  src/devices/fakeChatBotDevice/tests/fakeChatBotDevice_test.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/IChatBot.cpp
  src/libYARP_dev/src/yarp/dev/IChatBot.h
  src/libYARP_dev/src/yarp/dev/all.h
  src/libYARP_dev/src/yarp/dev/tests/IChatBotTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IChatBotTest.h
  tests/misc/check_tests_skip.txt
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#3023 improved audioRecorder_nws_test
  src/devices/audioRecorder_nws_yarp/tests/audioRecorder_nws_yarp_test.cpp
  src/devices/fakeMicrophone/fakeMicrophone.cpp
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
Labels: Component: Tests

#3027 Fix frameTransformServer
  doc/module_devices/frametransform.dox
  doc/release/yarp_3_8/fix_dox_frameTransformServer.md
Labels: Component: Documentation
