Repository robotology/yarp, pull requests merged in 2023-11, with the labels that each got.

#3037 FrameTransformStorage - Timed tf refresh timeout parameter
  doc/release/yarp_3_9_master/fix_frameTransform_tf_refresh_timeout.md
  src/devices/frameTransformClient/robotinterface_xml/ftc_full_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_local_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_sub_ros.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_sub_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only.xml
  src/devices/frameTransformClient/robotinterface_xml/ftc_yarp_only_single_client.xml
  src/devices/frameTransformServer/robotinterface_xml/fts_full_ros.xml
  src/devices/frameTransformServer/robotinterface_xml/fts_yarp_only.xml
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
Labels: Component: Devices, Target: YARP master

#3042 Catch library 3.4.0 update
  extern/catch2/README.txt
  extern/catch2/catch2/catch_amalgamated.cpp
  extern/catch2/catch2/catch_amalgamated.hpp
Labels: Component: Tests, Component: Extern

#3040 CPP20 fixes cumulative pack
  extern/thrift/thrift/compiler/cpp/src/thrift/generate/t_generator.h
  src/libYARP_math/src/yarp/math/Vec2D.h
  src/libYARP_os/src/yarp/os/SystemInfo.cpp
Labels: Component: Library - YARP_os, Component: Library - YARP_math, Component: Tool - yarpidl_thrift

#3041 windows<->linux timestamps sync fix
  src/libYARP_os/src/yarp/os/SystemClock.cpp
Labels: Component: Library - YARP_os

#3039 C++20 support
  cmake/YarpSystemCheck.cmake
  extern/catch2/CMakeLists.txt
  src/devices/VirtualAnalogWrapper/VirtualAnalogWrapper.h
  src/libYARP_os/src/yarp/os/Log.h
Labels: Type: Admin

#3026 IJointCoupling: an interface for handling coupled joints
  src/devices/CMakeLists.txt
  src/devices/fakeJointCoupling/CMakeLists.txt
  src/devices/fakeJointCoupling/fakeJointCoupling.cpp
  src/devices/fakeJointCoupling/fakeJointCoupling.h
  src/devices/fakeJointCoupling/tests/CMakeLists.txt
  src/devices/fakeJointCoupling/tests/fakeJointCoupling_test.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/IJointCoupling.h
  src/libYARP_dev/src/yarp/dev/ImplementJointCoupling.cpp
  src/libYARP_dev/src/yarp/dev/ImplementJointCoupling.h
Labels: Component: Library - YARP_dev, Component: Devices

#3047 fix for sonarcloud coverage
  .github/workflows/ci.yml
Labels: Type: Admin

#3049 Improved tests coverage
  src/devices/RemoteControlBoard/tests/RemoteControlBoard_test.cpp
  src/devices/controlBoardRemapper/tests/controlBoardRemapper_t2_test.cpp
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/devices/fakeMotionControl/fakeMotionControl.h
  src/devices/fakeMotionControl/tests/fakeMotionControl_test.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/IControlModeTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IControlModeTest.h
  src/libYARP_dev/src/yarp/dev/tests/ICurrentControlTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/ICurrentControlTest.h
  src/libYARP_dev/src/yarp/dev/tests/IInteractionModeTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IInteractionModeTest.h
  src/libYARP_dev/src/yarp/dev/tests/IMotorEncodersTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IMotorEncodersTest.h
  src/libYARP_dev/src/yarp/dev/tests/IMotorTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IMotorTest.h
  src/libYARP_dev/src/yarp/dev/tests/IPWMControlTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IPWMControlTest.h
  src/libYARP_dev/src/yarp/dev/tests/IPidControlTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IPidControlTest.h
  src/libYARP_dev/src/yarp/dev/tests/IRemoteCalibratorTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IRemoteCalibratorTest.h
  src/libYARP_os/src/yarp/os/Log.cpp
  src/libYARP_os/src/yarp/os/Log.h
Labels: Component: Library - YARP_os

#3048 CI transition from Ubuntu 20.04 to Ubuntu 22.04
  .ci/bindings-cache.cmake
  .github/workflows/ci.yml
  extern/CMakeLists.txt
  extern/catch2/CMakeLists.txt
  src/carriers/mjpeg_carrier/tests/mjpeg.cpp
  src/devices/fakeLaserWithMotor/fakeLaserWithMotor_motors.cpp
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/devices/usbCamera/common/USBcamera.h
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/IControlModeTest.h
  src/libYARP_dev/src/yarp/dev/tests/IPositionControlTest.h
  src/libYARP_dev/src/yarp/dev/tests/ITorqueControlTest.h
  src/libYARP_dev/src/yarp/dev/tests/IVelocityControlTest.h
  src/libYARP_os/tests/CMakeLists.txt
  src/libYARP_os/tests/ListPluginsAndOpenTest.cpp
  src/libYARP_os/tests/ListPluginsOnlyTest.cpp
Labels: Type: Admin
