Repository robotology/yarp, pull requests merged in 2023-06, with the labels that each got.

#2979 [yarpdataplayer] Remove inertial ports for robot and iCubGui from the example app
  data/yarpdataplayer/scripts/yarpdatadumper.xml.template
  data/yarpdataplayer/scripts/yarpdatadumperExample.xml
  data/yarpdataplayer/scripts/yarpdataplayer.xml.template
  data/yarpdataplayer/scripts/yarpdataplayerExample.xml
  doc/release/yarp_3_8/yarpdataplayer_cleanup_inertial_portnames.md
Labels: Type: Cleanup

#2980 multipleanalogsensorsserver: Improve message in case a sensor is not published due to non-OK status
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
Labels: Component: Devices

#2978 New interfaces for speech transcription and synthesis
  doc/release/yarp_3_8/speech_interfaces.md
  src/devices/CMakeLists.txt
  src/devices/ISpeechSynthesizerMsgs/CMakeLists.txt
  src/devices/ISpeechSynthesizerMsgs/ISpeechSynthesizerMsgs.thrift
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/ISpeechSynthesizerMsgs.cpp
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/ISpeechSynthesizerMsgs.h
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/ISpeechSynthesizerMsgs_index.txt
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_language.cpp
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_language.h
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_pitch.cpp
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_pitch.h
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_speed.cpp
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_speed.h
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_voice.cpp
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_get_voice.h
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_synthesize.cpp
  src/devices/ISpeechSynthesizerMsgs/idl_generated_code/return_synthesize.h
  src/devices/ISpeechTranscriptionMsgs/CMakeLists.txt
  src/devices/ISpeechTranscriptionMsgs/ISpeechTranscriptionMsgs.thrift
  src/devices/ISpeechTranscriptionMsgs/idl_generated_code/ISpeechTranscriptionMsgs.cpp
  src/devices/ISpeechTranscriptionMsgs/idl_generated_code/ISpeechTranscriptionMsgs.h
  src/devices/ISpeechTranscriptionMsgs/idl_generated_code/ISpeechTranscriptionMsgs_index.txt
  src/devices/ISpeechTranscriptionMsgs/idl_generated_code/return_get_language.cpp
  src/devices/ISpeechTranscriptionMsgs/idl_generated_code/return_get_language.h
  src/devices/ISpeechTranscriptionMsgs/idl_generated_code/return_transcribe.cpp
  src/devices/ISpeechTranscriptionMsgs/idl_generated_code/return_transcribe.h
  src/devices/fakeSpeechSynthesizer/CMakeLists.txt
  src/devices/fakeSpeechSynthesizer/fakeSpeechSynthesizer.cpp
  src/devices/fakeSpeechSynthesizer/fakeSpeechSynthesizer.h
  src/devices/fakeSpeechSynthesizer/tests/CMakeLists.txt
  src/devices/fakeSpeechSynthesizer/tests/fakeSpeechSynthesizer_test.cpp
  src/devices/fakeSpeechTranscription/CMakeLists.txt
  src/devices/fakeSpeechTranscription/fakeSpeechTranscription.cpp
  src/devices/fakeSpeechTranscription/fakeSpeechTranscription.h
  src/devices/fakeSpeechTranscription/tests/CMakeLists.txt
  src/devices/fakeSpeechTranscription/tests/fakeSpeechTranscription_test.cpp
  src/devices/speechSynthesizer_nws_yarp/CMakeLists.txt
  src/devices/speechSynthesizer_nws_yarp/speechSynthesizer_nws_yarp.cpp
  src/devices/speechSynthesizer_nws_yarp/speechSynthesizer_nws_yarp.h
  src/devices/speechSynthesizer_nws_yarp/tests/CMakeLists.txt
  src/devices/speechSynthesizer_nws_yarp/tests/speechSynthesizer_nws_yarp_test.cpp
  src/devices/speechTranscription_nws_yarp/CMakeLists.txt
  src/devices/speechTranscription_nws_yarp/speechTranscription_nws_yarp.cpp
  src/devices/speechTranscription_nws_yarp/speechTranscription_nws_yarp.h
  src/devices/speechTranscription_nws_yarp/tests/CMakeLists.txt
  src/devices/speechTranscription_nws_yarp/tests/speechTranscription_nws_yarp_test.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/ISpeechSynthesizer.cpp
  src/libYARP_dev/src/yarp/dev/ISpeechSynthesizer.h
  src/libYARP_dev/src/yarp/dev/ISpeechTranscription.cpp
  src/libYARP_dev/src/yarp/dev/ISpeechTranscription.h
  tests/misc/check_tests_skip.txt
Labels: Component: Library - YARP_dev, Component: Devices, Component: Tests, Target: YARP master

#2977 Categories refactoring for yapr::dev: interfaces documentation
  doc/module_yarp_dev/module_yarpdev.dox
  doc/release/yarp_3_8/refactor_doc_libYARP_dev.md
  src/libYARP_dev/src/yarp/dev/IAmplifierControl.h
  src/libYARP_dev/src/yarp/dev/IAudioRender.h
  src/libYARP_dev/src/yarp/dev/IAxisInfo.h
  src/libYARP_dev/src/yarp/dev/ICalibrator.h
  src/libYARP_dev/src/yarp/dev/IControlCalibration.h
  src/libYARP_dev/src/yarp/dev/IControlLimits.h
  src/libYARP_dev/src/yarp/dev/IControlMode.h
  src/libYARP_dev/src/yarp/dev/ICurrentControl.h
  src/libYARP_dev/src/yarp/dev/IEncoders.h
  src/libYARP_dev/src/yarp/dev/IEncodersTimed.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberControlsDC1394.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage.h
  src/libYARP_dev/src/yarp/dev/IHapticDevice.h
  src/libYARP_dev/src/yarp/dev/IInteractionMode.h
  src/libYARP_dev/src/yarp/dev/IJointFault.h
  src/libYARP_dev/src/yarp/dev/IMotor.h
  src/libYARP_dev/src/yarp/dev/IMotorEncoders.h
  src/libYARP_dev/src/yarp/dev/IPWMControl.h
  src/libYARP_dev/src/yarp/dev/IPidControl.h
  src/libYARP_dev/src/yarp/dev/IPositionControl.h
  src/libYARP_dev/src/yarp/dev/IPositionDirect.h
  src/libYARP_dev/src/yarp/dev/IRemoteCalibrator.h
  src/libYARP_dev/src/yarp/dev/IRemoteVariables.h
  src/libYARP_dev/src/yarp/dev/ITorqueControl.h
  src/libYARP_dev/src/yarp/dev/IVelocityControl.h
  src/libYARP_dev/src/yarp/dev/IVirtualAnalogSensor.h
  src/libYARP_dev/src/yarp/dev/IVisualServoing.h
Labels: Component: Documentation, Type: Refactor, Target: YARP yarp-3.8

#2981 wav files fix
  doc/release/yarp_3_8/wav_files_fix.md
  src/libYARP_sig/src/yarp/sig/SoundFileWav.cpp
Labels: Component: Library - YARP_sig, PR Type: Bugfix
