Repository robotology/yarp, pull requests merged in 2023-05, with the labels that each got.

#2967 Fix segmentation fault bug in multipleanalogsensorsserver YARP device
  doc/release/yarp_3_8/master.md
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
  src/libYARP_dev/src/yarp/dev/MultipleAnalogSensorsInterfaces.h
Labels: Component: Devices, PR Type: Bugfix

#2968 mitigating yarpdataplayer GUI race condition
  src/yarpdataplayer/src/mainwindow.cpp
  src/yarpdataplayer/src/worker.cpp
Labels: Component: GUI - yarpdataplayer, Target: YARP master

#2969 opencv_grabber: Remove use of highgui include
  src/devices/opencv/OpenCVGrabber.cpp
  src/devices/opencv/OpenCVGrabber.h
Labels: Component: Devices
