Repository robotology/yarp, pull requests merged in 2023-01, with the labels that each got.

#2916 YARP_priv_SQLite3 fix
  doc/release/master/extern_sqlite3_fix.md
  extern/sqlite/CMakeLists.txt
Labels: PR Type: Bugfix, Component: Extern

#2917 yarp_dev_tests
  doc/release/master/yarp_dev_tests.md
  src/devices/ControlBoardRemapper/tests/CMakeLists.txt
  src/devices/ControlBoardWrapper/tests/CMakeLists.txt
  src/devices/ControlBoard_nws_yarp/tests/CMakeLists.txt
  src/devices/RGBDSensorClient/tests/CMakeLists.txt
  src/devices/RGBDSensor_nws_yarp/tests/CMakeLists.txt
  src/devices/Rangefinder2DClient/tests/CMakeLists.txt
  src/devices/Rangefinder2D_nwc_yarp/tests/CMakeLists.txt
  src/devices/Rangefinder2D_nws_yarp/tests/CMakeLists.txt
  src/devices/RemoteControlBoard/tests/CMakeLists.txt
  src/devices/RobotDescriptionClient/tests/CMakeLists.txt
  src/devices/RobotDescriptionServer/tests/CMakeLists.txt
  src/devices/fakeDepthCamera/tests/CMakeLists.txt
  src/devices/fakeFrameGrabber/tests/CMakeLists.txt
  src/devices/fakeIMU/tests/CMakeLists.txt
  src/devices/fakeLaser/tests/CMakeLists.txt
  src/devices/fakeLaserWithMotor/tests/CMakeLists.txt
  src/devices/fakeMotionControl/tests/CMakeLists.txt
  src/devices/fakeNavigationDevice/tests/CMakeLists.txt
  src/devices/frameGrabberCropper/tests/CMakeLists.txt
  src/devices/frameGrabber_nwc_yarp/tests/CMakeLists.txt
  src/devices/frameGrabber_nws_yarp/tests/CMakeLists.txt
  src/devices/frameTransformClient/tests/CMakeLists.txt
  src/devices/frameTransformServer/tests/CMakeLists.txt
  src/devices/map2DStorage/tests/CMakeLists.txt
  src/devices/map2D_nwc_yarp/tests/CMakeLists.txt
  src/devices/map2D_nws_yarp/tests/CMakeLists.txt
  src/devices/multipleanalogsensorsclient/tests/CMakeLists.txt
  src/devices/multipleanalogsensorsserver/tests/CMakeLists.txt
  src/devices/navigation2D_nwc_yarp/tests/CMakeLists.txt
  src/devices/navigation2D_nws_yarp/tests/CMakeLists.txt
  src/devices/transformClient/tests/CMakeLists.txt
  src/devices/transformServer/tests/CMakeLists.txt
  src/libYARP_dev/CMakeLists.txt
  src/libYARP_dev/src/CMakeLists.txt
Labels: Component: Tests

#2919 yarp_tests_skipped incapsulation
  tests/harness.cpp
  tests/harness.h
Labels: Component: Tests

#2930 Fix: frameTransformClient interfaces check
  doc/release/master/fix_FrameTransformClient_interfaces_check.md
  src/devices/frameTransformClient/FrameTransformClient.cpp
Labels: Component: Devices, PR Type: Bugfix, Target: YARP master

#2936 FrameTransformClient+Server test xml files from ResourceFinder
  doc/release/master/feature_FrameTransform_test_xml_files_from_RF.md
  src/devices/frameTransformClient/FrameTransformClient.cpp
  src/devices/frameTransformClient/FrameTransformClient.h
  src/devices/frameTransformServer/FrameTransformServer.cpp
  src/devices/frameTransformServer/FrameTransformServer.h
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master
