Repository robotology/yarp, pull requests merged in 2023-02, with the labels that each got.

#2938 portmonitor `image_rotation`
  doc/release/master/portmoinitor_imagerotation.md
  src/portmonitors/CMakeLists.txt
  src/portmonitors/image_rotation/CMakeLists.txt
  src/portmonitors/image_rotation/imageRotation.cpp
  src/portmonitors/image_rotation/imageRotation.h
Labels: PR Type: Feat/Enh, Component: Port Monitors

#2940 Yarp compile all fake devices
  .ci/initial-cache.gh.linux.cmake
  .ci/initial-cache.gh.macos.cmake
  .ci/initial-cache.gh.windows.cmake
  doc/release/master/yarp_compile_all_fake_devices.md
  src/devices/CMakeLists.txt
  src/devices/fakeAnalogSensor/CMakeLists.txt
  src/devices/fakeBattery/CMakeLists.txt
  src/devices/fakeDepthCamera/CMakeLists.txt
  src/devices/fakeFrameGrabber/CMakeLists.txt
  src/devices/fakeIMU/CMakeLists.txt
  src/devices/fakeLaser/CMakeLists.txt
  src/devices/fakeLaserWithMotor/CMakeLists.txt
  src/devices/fakeLocalizerDevice/CMakeLists.txt
  src/devices/fakeMicrophone/CMakeLists.txt
  src/devices/fakeMotionControl/CMakeLists.txt
  src/devices/fakeNavigationDevice/CMakeLists.txt
  src/devices/fakeOdometry/CMakeLists.txt
  src/devices/fakePositionSensor/CMakeLists.txt
  src/devices/fakeSpeaker/CMakeLists.txt
  src/devices/fakebot/CMakeLists.txt
Labels: Component: CMake, Component: Devices, Component: Tests

#2883 Fixed python binding of IGazeControl storeContext()
  bindings/yarp.i
  doc/release/yarp_3_7/py_bind_gazectrl.md
Labels: Component: Bindings, PR Type: Bugfix, Target: YARP yarp-3.7

#2943 Change build path for yarp tests
  tests/CMakeLists.txt
Labels: Type: Admin

#2942 [ISSUE-2889] SWIG leak on yarp::os::Type
  bindings/yarp.i
  doc/release/master/yarp_python_bindings_update.md
Labels: PR Type: Bugfix

#2945 Fix retrieval of gearbox ratio in controlBoardRemapper
  src/devices/ControlBoardRemapper/ControlBoardRemapper.cpp
Labels: Component: Devices, PR Type: Bugfix
