Repository robotology/yarp, pull requests merged in 2023-03, with the labels that each got.

#2948 fixed some devices' segfaults on closure
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
Labels: Component: Devices

#2947 Improved yarpmotorgui labels
  doc/release/master/yarpmotorgui_improved_labels.md
  src/devices/fakeMotionControl/fakeMotionControl.cpp
  src/yarpmotorgui/jointitem.cpp
  src/yarpmotorgui/jointitem.h
  src/yarpmotorgui/mainwindow.cpp
  src/yarpmotorgui/mainwindow.h
  src/yarpmotorgui/partitem.cpp
  src/yarpmotorgui/partitem.h
  src/yarpmotorgui/sliderOptions.cpp
  src/yarpmotorgui/sliderOptions.h
  src/yarpmotorgui/sliderOptions.ui
  src/yarpmotorgui/sliderWithTarget.cpp
  src/yarpmotorgui/sliderWithTarget.h
Labels: Component: GUI - yarpmotorgui

#2954 Fixed CMakeLists.txt OpenCV dependency error
  src/libYARP_cv/CMakeLists.txt
  src/libYARP_cv/tests/CMakeLists.txt
  src/libYARP_cv/tests/LibYarpCVTest.cpp
  tests/CMakeLists.txt
Labels: Component: CMake, Component: Tests, PR Type: Bugfix, Target: YARP yarp-3.8

#2961 MultipleAnalogSensorsClient: Increase default timeout parameter to 0.02 seconds
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/multipleanalogsensorsclient/MultipleAnalogSensorsClient.h
Labels: Component: Devices
