Repository robotology/yarp, pull requests merged in 2023-07, with the labels that each got.

#2986 Feature: speechTranscription_nwc_yarp
  doc/release/yarp_3_8/feature_device_speechTranscription_nwc_yarp.md
  src/devices/CMakeLists.txt
  src/devices/speechTranscription_nwc_yarp/CMakeLists.txt
  src/devices/speechTranscription_nwc_yarp/SpeechTranscription_nwc_yarp.cpp
  src/devices/speechTranscription_nwc_yarp/SpeechTranscription_nwc_yarp.h
  src/devices/speechTranscription_nwc_yarp/tests/CMakeLists.txt
  src/devices/speechTranscription_nwc_yarp/tests/speechTranscription_nwc_yarp_test.cpp
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#2987 yarpaudiocontrolgui
  cmake/YarpFindDependencies.cmake
  doc/release/yarp_3_9_master/yarpaudiocontrolgui.md
  src/CMakeLists.txt
  src/yarpaudiocontrolgui/CMakeLists.txt
  src/yarpaudiocontrolgui/main.cpp
Labels: PR Type: Feat/Enh

#2988 Feature: speechSynthesizer_nwc_yarp
  doc/release/yarp_3_8/feature_device_speechSynthesizer_nwc_yarp.md
  src/devices/CMakeLists.txt
  src/devices/speechSynthesizer_nwc_yarp/CMakeLists.txt
  src/devices/speechSynthesizer_nwc_yarp/SpeechSynthesizer_nwc_yarp.cpp
  src/devices/speechSynthesizer_nwc_yarp/SpeechSynthesizer_nwc_yarp.h
  src/devices/speechSynthesizer_nwc_yarp/tests/CMakeLists.txt
  src/devices/speechSynthesizer_nwc_yarp/tests/speechSynthesizer_nwc_yarp_test.cpp
Labels: PR Type: Feat/Enh, Component: Devices, Target: YARP master

#2990 FrameGrabber_nwc_yarp: fix bug that forces images to be sent through RPC calls
  doc/release/yarp_3_8/fix_frameGrabber_nwc_RPC_port_bug.md
  src/devices/frameGrabber_nwc_yarp/FrameGrabber_nwc_yarp.cpp
Labels: Component: Devices, PR Type: Bugfix

#2992 improved frameGrabber_nwc test / fix for method getImageCropped()
  src/devices/JoypadControlServer/tests/joypadControlServer_test.cpp
  src/devices/battery_nws_yarp/tests/battery_nws_yarp_test.cpp
  src/devices/frameGrabber_nwc_yarp/FrameGrabber_nwc_yarp.cpp
  src/devices/frameGrabber_nwc_yarp/FrameGrabber_nwc_yarp.h
  src/devices/frameGrabber_nwc_yarp/tests/frameGrabber_nwc_yarp_test.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberImage-inl.h
Labels: Component: Devices, PR Type: Bugfix

#2994 Small pointcloud documentation fix
  doc/module_yarp_sig/yarp_pointcloud.dox
Labels: Component: Documentation

#2993 Large Language Model (LLM) interface, fake devices, nws and nwc
  doc/release/yarp_3_9_master/master.md
  src/devices/CMakeLists.txt
  src/devices/ILLMMsgs/CMakeLists.txt
  src/devices/ILLMMsgs/ILLMMsgs.thrift
  src/devices/ILLMMsgs/idl_generated_code/ILLMMsgs_index.txt
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/ILLMMsgs.cpp
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/ILLMMsgs.h
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/Message.cpp
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/Message.h
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_ask.cpp
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_ask.h
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_getConversation.cpp
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_getConversation.h
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_readPrompt.cpp
  src/devices/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_readPrompt.h
  src/devices/LLM_nwc_yarp/CMakeLists.txt
  src/devices/LLM_nwc_yarp/LLM_nwc_yarp.cpp
  src/devices/LLM_nwc_yarp/LLM_nwc_yarp.h
  src/devices/LLM_nwc_yarp/tests/CMakeLists.txt
  src/devices/LLM_nwc_yarp/tests/LLM_nwc_yarp_test.cpp
  src/devices/LLM_nws_yarp/CMakeLists.txt
  src/devices/LLM_nws_yarp/ILLMServerImpl.cpp
  src/devices/LLM_nws_yarp/ILLMServerImpl.h
  src/devices/LLM_nws_yarp/LLM_nws_yarp.cpp
  src/devices/LLM_nws_yarp/LLM_nws_yarp.h
  src/devices/LLM_nws_yarp/tests/CMakeLists.txt
  src/devices/LLM_nws_yarp/tests/LLM_nws_yarp_test.cpp
  src/devices/fakeFrameGrabber/CMakeLists.txt
  src/devices/fakeLLMDevice/CMakeLists.txt
  src/devices/fakeLLMDevice/fakeLLMDevice.cpp
  src/devices/fakeLLMDevice/fakeLLMDevice.h
  src/devices/fakeLLMDevice/tests/CMakeLists.txt
  src/devices/fakeLLMDevice/tests/fakeLLMDevice_test.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/ILLM.cpp
  src/libYARP_dev/src/yarp/dev/ILLM.h
  src/libYARP_dev/src/yarp/dev/tests/ILLMTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/ILLMTest.h
  tests/misc/check_license.pl
  tests/misc/check_tests_skip.txt
Labels: Component: Library - YARP_dev, Component: Devices, Component: Tests

#2985 [2966] Bugfix for yarprun stdio
  doc/release/yarp_3_8/yarprun_stdio_fix.md
  src/libYARP_run/src/yarp/run/Run.cpp
Labels: PR Type: Bugfix, Component: Library - YARP_run
