Repository robotology/yarp, pull requests merged in 2024-03, with the labels that each got.

#3086 Improvements on the `ffmpeg` port monitor to allow using different couples of coders/decodes
  doc/release/master.md
  src/portmonitors/image_compression_ffmpeg/README.md
  src/portmonitors/image_compression_ffmpeg/constants.h
  src/portmonitors/image_compression_ffmpeg/ffmpegPortmonitor.cpp
  src/portmonitors/image_compression_ffmpeg/ffmpegPortmonitor.h
Labels: Component: Port Monitors

#3089 Fix for yarpdev executable
  src/devices/fake/CMakeLists.txt
  src/devices/fake/fakeDeviceUnwrapped/CMakeLists.txt
  src/devices/fake/fakeDeviceUnwrapped/FakeDeviceUnwrapped.cpp
  src/devices/fake/fakeDeviceUnwrapped/FakeDeviceUnwrapped.h
  src/devices/fake/fakeDeviceUnwrapped/tests/CMakeLists.txt
  src/devices/fake/fakeDeviceUnwrapped/tests/fakeDeviceUnwrapped_test.cpp
  src/devices/fake/fakeDeviceWrapped/CMakeLists.txt
  src/devices/fake/fakeDeviceWrapped/FakeDeviceWrapped.cpp
  src/devices/fake/fakeDeviceWrapped/FakeDeviceWrapped.h
  src/devices/fake/fakeDeviceWrapped/tests/CMakeLists.txt
  src/devices/fake/fakeDeviceWrapped/tests/fakeDeviceWrapped_test.cpp
  src/devices/fake/fakeDeviceWrapper/CMakeLists.txt
  src/devices/fake/fakeDeviceWrapper/FakeDeviceWrapper.cpp
  src/devices/fake/fakeDeviceWrapper/FakeDeviceWrapper.h
  src/devices/fake/fakeDeviceWrapper/tests/CMakeLists.txt
  src/devices/fake/fakeDeviceWrapper/tests/fakeDeviceWrapper_test.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/PolyDriver.cpp
  src/libYARP_dev/src/yarp/dev/testInterfaces/IFakeDeviceInterfaceTest.cpp
  src/libYARP_dev/src/yarp/dev/testInterfaces/IFakeDeviceInterfaceTest.h
Labels: Component: Library - YARP_dev, Component: Devices, PR Type: Bugfix, Component: Tool - yarpdev

#3093 Fix NWS extra config wrapper parameter
  doc/release/yarp_3_9/fix_wrapper_name.md
  src/devices/RemoteControlBoard/CMakeLists.txt
  src/devices/controlBoardRemapper/CMakeLists.txt
Labels: Component: Devices, PR Type: Bugfix
