Repository robotology/yarp, pull requests merged in 2024-09, with the labels that each got.

#3128 Navigation through path
  doc/release/master.md
  src/devices/fake/fakeNavigationDevice/FakeNavigation.cpp
  src/devices/fake/fakeNavigationDevice/FakeNavigation.h
  src/devices/messages/INavigation2DMsgs/INavigation2DMsgs.thrift
  src/devices/messages/INavigation2DMsgs/idl_generated_code/INavigation2DMsgs.cpp
  src/devices/messages/INavigation2DMsgs/idl_generated_code/INavigation2DMsgs.h
  src/devices/networkWrappers/navigation2D_nwc_yarp/Navigation2D_nwc_yarp.cpp
  src/devices/networkWrappers/navigation2D_nwc_yarp/Navigation2D_nwc_yarp.h
  src/devices/networkWrappers/navigation2D_nwc_yarp/Navigation2D_nwc_yarp_iNav2DTarget.cpp
  src/devices/networkWrappers/navigation2D_nws_yarp/INavigation2DServerImpl.cpp
  src/devices/networkWrappers/navigation2D_nws_yarp/INavigation2DServerImpl.h
  src/libYARP_dev/src/yarp/dev/INavigation2D.h
Labels: Component: Library - YARP_dev, Component: Devices

#3132 Rangefinder2D devices refactored
  doc/release/master.md
  src/devices/CMakeLists.txt
  src/devices/Rangefinder2DTransformer/CMakeLists.txt
  src/devices/Rangefinder2DTransformer/Rangefinder2DTransformer.cpp
  src/devices/Rangefinder2DTransformer/Rangefinder2DTransformer.h
  src/devices/Rangefinder2DTransformer/Rangefinder2DTransformer_ParamsParser.cpp
  src/devices/Rangefinder2DTransformer/Rangefinder2DTransformer_ParamsParser.h
  src/devices/Rangefinder2DTransformer/Rangefinder2DTransformer_params.md
  src/devices/Rangefinder2DTransformer/tests/CMakeLists.txt
  src/devices/Rangefinder2DTransformer/tests/rangefinder2DTransformer_test.cpp
  src/devices/messages/CMakeLists.txt
  src/devices/messages/IRangefinder2DMsgs/CMakeLists.txt
  src/devices/messages/IRangefinder2DMsgs/IRangefinder2DMsgs.thrift
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/IRangefinder2DMsgs.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/IRangefinder2DMsgs.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/IRangefinder2DMsgs_index.txt
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceInfo.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceInfo.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceStatus.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceStatus.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDistanceRange.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDistanceRange.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getHorizontalResolution.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getHorizontalResolution.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanLimits.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanLimits.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanRate.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanRate.h
  src/devices/networkWrappers/CMakeLists.txt
  src/devices/networkWrappers/Rangefinder2DClient/Rangefinder2DClient.cpp
  src/devices/networkWrappers/Rangefinder2DClient/Rangefinder2DClient.h
  src/devices/networkWrappers/Rangefinder2D_nwc_yarp/CMakeLists.txt
  src/devices/networkWrappers/Rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.cpp
  src/devices/networkWrappers/Rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.h
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/CMakeLists.txt
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2DServerImpl.cpp
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2DServerImpl.h
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp.cpp
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp.h
Labels: Component: Devices

#3135 FakePythonSpeechTranscription
  doc/release/master.md
  src/devices/fake/fakePythonSpeechTranscription/CMakeLists.txt
  src/devices/fake/fakePythonSpeechTranscription/FakePythonSpeechTranscription.cpp
  src/devices/fake/fakePythonSpeechTranscription/FakePythonSpeechTranscription.h
  src/devices/fake/fakePythonSpeechTranscription/FakePythonSpeechTranscription_ParamsParser.cpp
  src/devices/fake/fakePythonSpeechTranscription/FakePythonSpeechTranscription_ParamsParser.h
  src/devices/fake/fakePythonSpeechTranscription/FakePythonSpeechTranscription_params.md
  src/devices/fake/fakePythonSpeechTranscription/Module.py
  src/devices/fake/fakePythonSpeechTranscription/tests/CMakeLists.txt
  src/devices/fake/fakePythonSpeechTranscription/tests/fakePythonSpeechTranscription_test.cpp
  src/devices/fake/fakePythonSpeechTranscription/tests/test_robotinterface.xml
Labels: Component: Devices

#3137 Fixed installation of yarp_sig header files
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_sig/src/CMakeLists.txt
Labels: PR Type: Bugfix

#3139 Deprecated devices ffmpeg_grabber, ffmpeg_writer
  doc/release/master.md
  src/devices/CMakeLists.txt
  src/devices/ffmpeg/DEPRECATION_NOTICE.TXT
  src/devices/ffmpeg/README.TXT
Labels: Component: Devices, Type: Deprecation

#3140 removed deprecated device Portaudio
  doc/release/master.md
  src/devices/CMakeLists.txt
  src/devices/portaudio/DEPRECATION_NOTICE.TXT
  src/devices/portaudio/PortAudioBuffer.h
  src/devices/portaudio/PortAudioDeviceDriver.cpp
  src/devices/portaudio/PortAudioDeviceDriver.h
Labels: Component: Devices, Type: Deprecation
