Repository robotology/yarp, pull requests merged in 2024-02, with the labels that each got.

#3079 deviceBundler
  doc/release/master.md
  src/devices/CMakeLists.txt
  src/devices/deviceBundler/CMakeLists.txt
  src/devices/deviceBundler/DeviceBundler.cpp
  src/devices/deviceBundler/DeviceBundler.h
  src/devices/deviceBundler/DeviceBundler_ParamsParser.cpp
  src/devices/deviceBundler/DeviceBundler_ParamsParser.h
  src/devices/deviceBundler/DeviceBundler_params.md
  src/devices/deviceBundler/tests/CMakeLists.txt
  src/devices/deviceBundler/tests/DeviceBundler_test.cpp
  src/devices/map2DStorage/map2DStorage.h
  src/libYARP_dev/src/yarp/dev/Drivers.cpp
  src/libYARP_dev/src/yarp/dev/PolyDriver.cpp
  src/libYARP_dev/src/yarp/dev/PolyDriver.h
  src/libYARP_dev/tests/PolyDriverTest.cpp
Labels: Component: Library - YARP_dev, Component: Devices, Component: Tool - yarpdev

#3011 Removed subdevice parameter in device wrappers implementations
  src/devices/controlBoardRemapper/ControlBoardRemapper.cpp
  src/devices/fake/fakeLaserWithMotor/robotinterface_xml/ros.xml
  src/devices/fake/fakeLaserWithMotor/robotinterface_xml/ros2.xml
  src/devices/fake/fakeLaserWithMotor/robotinterface_xml/ros2b.xml
  src/devices/fake/fakeLaserWithMotor/robotinterface_xml/yarp.xml
  src/devices/fake/fakeMotionControl/fakeMotionControl.h
  src/devices/fake/fakeMotionControlMicro/fakeMotionControlMicro.h
  src/devices/frameGrabberCropper/frameGrabberCropper.cpp
  src/devices/frameGrabberCropper/frameGrabberCropper.h
  src/devices/networkWrappers/AnalogWrapper/AnalogWrapper.cpp
  src/devices/networkWrappers/AnalogWrapper/AnalogWrapper.h
  src/devices/networkWrappers/JoypadControlServer/JoypadControlServer.cpp
  src/devices/networkWrappers/JoypadControlServer/JoypadControlServer.h
  src/devices/networkWrappers/RGBDSensor_nws_yarp/RgbdSensor_nws_yarp.cpp
  src/devices/networkWrappers/RGBDSensor_nws_yarp/RgbdSensor_nws_yarp.h
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp.cpp
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp.h
  src/devices/networkWrappers/audioPlayerWrapper/AudioPlayerWrapper.cpp
  src/devices/networkWrappers/audioPlayerWrapper/AudioPlayerWrapper.h
  src/devices/networkWrappers/audioRecorderWrapper/AudioRecorderWrapper.cpp
  src/devices/networkWrappers/audioRecorderWrapper/AudioRecorderWrapper.h
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoard_nws_yarp.cpp
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoard_nws_yarp.h
  src/devices/networkWrappers/frameGrabber_nws_yarp/FrameGrabber_nws_yarp.cpp
  src/devices/networkWrappers/frameGrabber_nws_yarp/FrameGrabber_nws_yarp.h
  src/devices/networkWrappers/mobileBaseVelocityControl_nws_yarp/MobileBaseVelocityControl_nws_yarp.cpp
  src/devices/networkWrappers/mobileBaseVelocityControl_nws_yarp/MobileBaseVelocityControl_nws_yarp.h
  src/devices/networkWrappers/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/networkWrappers/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
Labels: Component: Devices

#3080 yarpDeviceParamParserGenerator valgrind fix
  .github/workflows/ci.yml
  src/devices/audioToFileDevice/AudioToFileDevice_ParamsParser.cpp
  src/devices/audioToFileDevice/AudioToFileDevice_ParamsParser.h
  src/devices/audioToFileDevice/AudioToFileDevice_params.md
  src/devices/deviceBundler/DeviceBundler_ParamsParser.cpp
  src/devices/deviceBundler/DeviceBundler_ParamsParser.h
  src/yarpDeviceParamParserGenerator/generate_h_functions.cpp
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP_ParamsParser.cpp
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP_ParamsParser.h
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP_test.cpp
  src/yarpDeviceParamParserGenerator/tests/test1.txt
  src/yarpDeviceParamParserGenerator/tests/test2.txt
Labels: Component: Devices, Component: Tool - YarpDeviceParamParserGenerator

#3071 Added support for GPT "Functions"
  bindings/yarp.i
  doc/release/master.md
  src/devices/fake/fakeLLMDevice/fakeLLMDevice.cpp
  src/devices/fake/fakeLLMDevice/fakeLLMDevice.h
  src/devices/messages/ILLMMsgs/ILLMMsgs.thrift
  src/devices/messages/ILLMMsgs/idl_generated_code/ILLMMsgs_index.txt
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/Message.cpp
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/Message.h
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_ask.cpp
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_ask.h
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_getConversation.cpp
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_getConversation.h
  src/devices/networkWrappers/LLM_nwc_yarp/LLM_nwc_yarp.cpp
  src/devices/networkWrappers/LLM_nwc_yarp/LLM_nwc_yarp.h
  src/devices/networkWrappers/LLM_nws_yarp/ILLMServerImpl.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/idl/LLM_Message.thrift
  src/libYARP_dev/src/idl_generated_code/LLM_Message_index.txt
  src/libYARP_dev/src/idl_generated_code/yarp/dev/LLM_Message.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/LLM_Message.h
  src/libYARP_dev/src/yarp/dev/ILLM.h
  src/libYARP_dev/src/yarp/dev/tests/ILLMTest.h
  src/yarpllmgui/ConversationModel.cpp
  src/yarpllmgui/ConversationModel.h
Labels: Component: Library - YARP_dev, Component: Devices
