Repository robotology/yarp, pull requests merged in 2024-01, with the labels that each got.

#3069 Ensure that files generated by yarp_configure_plugins_installation are relocatable
  cmake/YarpInstallationHelpers.cmake
  doc/release/master.md
  src/libYARP_os/src/yarp/os/YarpPlugin.cpp
Labels: Component: CMake, Component: Library - YARP_os

#3075 Fix documentation of isConnected method
  src/libYARP_os/src/yarp/os/Network.h
Labels: Component: Documentation

#3070 Automatic generation of devices parameter parsers
  cmake/CMakeLists.txt
  cmake/YarpDeviceParamsParserGenerator.cmake
  cmake/template/YARPConfig.cmake.in
  doc/Doxyfile.in
  doc/main.dox
  doc/module_executables/cmd_yarpDeviceParamParserGenerator.dox
  doc/release/master.md
  src/CMakeLists.txt
  src/devices/CMakeLists.txt
  src/devices/audioToFileDevice/AudioToFileDevice.cpp
  src/devices/audioToFileDevice/AudioToFileDevice.h
  src/devices/audioToFileDevice/AudioToFileDevice_ParamsParser.cpp
  src/devices/audioToFileDevice/AudioToFileDevice_ParamsParser.h
  src/devices/audioToFileDevice/AudioToFileDevice_params.md
  src/devices/audioToFileDevice/CMakeLists.txt
  src/devices/audioToFileDevice/audioToFileDeviceParams.cpp
  src/devices/audioToFileDevice/audioToFileDeviceParams.h
  src/libYARP_dev/src/yarp/dev/Drivers.cpp
  src/yarpDeviceParamParserGenerator/CMakeLists.txt
  src/yarpDeviceParamParserGenerator/generate_cpp_functions.cpp
  src/yarpDeviceParamParserGenerator/generate_h_functions.cpp
  src/yarpDeviceParamParserGenerator/generate_ini.cpp
  src/yarpDeviceParamParserGenerator/generate_md.cpp
  src/yarpDeviceParamParserGenerator/generate_yarpdev.cpp
  src/yarpDeviceParamParserGenerator/generate_yarprobotinterface.cpp
  src/yarpDeviceParamParserGenerator/generator.h
  src/yarpDeviceParamParserGenerator/main.cpp
  src/yarpDeviceParamParserGenerator/paramGroupTree.cpp
  src/yarpDeviceParamParserGenerator/paramGroupTree.h
  src/yarpDeviceParamParserGenerator/parameter.cpp
  src/yarpDeviceParamParserGenerator/parameter.h
  src/yarpDeviceParamParserGenerator/parse_extraComments.cpp
  src/yarpDeviceParamParserGenerator/parse_ini.cpp
  src/yarpDeviceParamParserGenerator/parse_md.cpp
  src/yarpDeviceParamParserGenerator/tests/CMakeLists.txt
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP.cpp
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP.h
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP_ParamsParser.cpp
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP_ParamsParser.h
  src/yarpDeviceParamParserGenerator/tests/TestDeviceWGP_test.cpp
  src/yarpDeviceParamParserGenerator/tests/extraComments.md
  src/yarpDeviceParamParserGenerator/tests/test1.txt
  src/yarpDeviceParamParserGenerator/tests/test2.txt
  src/yarpDeviceParamParserGenerator/utils.h
  tests/misc/check_license.pl
Labels: Component: CMake, Component: Library - YARP_os, Component: Library - YARP_dev, Component: Devices, Component: Tool - yarp, Component: Tool - yarpdev
