Repository robotology/yarp, pull requests merged in 2024-11, with the labels that each got.

#3146 Fix loading of Python bindings on Windows when installed in arbitrary directory
  bindings/python/CMakeLists.txt
  bindings/yarp.i
  doc/release/master.md
Labels: Component: Bindings

#3145 Removed topIsLow in yarp image
  src/devices/fake/fakeFrameGrabber/FakeFrameGrabber.cpp
  src/devices/fake/fakeFrameGrabber/FakeFrameGrabber_ParamsParser.cpp
  src/devices/fake/fakeFrameGrabber/FakeFrameGrabber_ParamsParser.h
  src/devices/fake/fakeFrameGrabber/FakeFrameGrabber_params.md
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/Image.h
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
  src/libYARP_sig/tests/ImageTest.cpp
  src/yarpview/plugin/ImagePort.cpp
Labels: Component: Library - YARP_sig, Type: Breaking/Behaviour Change

#3147 Fix use of shmem and unix_stream carriers in remote_controlboard and multipleanalogsensorclient network wrapper clients
  doc/release/master.md
  src/carriers/shmem_carrier/ShmemInputStream.cpp
  src/carriers/shmem_carrier/ShmemInputStream.h
  src/devices/networkWrappers/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
Labels: Component: Carriers, PR Type: Bugfix
