Repository robotology/yarp, pull requests merged in 2024-12, with the labels that each got.

#3153 FakeMotionControl encoders timestamps
  src/devices/fake/fakeMotionControl/FakeMotionControl.cpp
  src/devices/fake/fakeMotionControl/FakeMotionControl.h
Labels: Component: Devices, PR Type: Bugfix, Target: YARP yarp-3.10

#3154 yarp read and envelope display
  src/libYARP_companion/src/yarp/companion/impl/BottleReader.h
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdRead.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.cmdReadWrite.cpp
  src/libYARP_companion/src/yarp/companion/impl/Companion.h
Labels: PR Type: Bugfix, Component: Library - YARP_companion

#3149 Add Angular Accelerometer and Linear Velocity Sensor Interfaces to the Sensor Remapper
  doc/release/master.md
  src/devices/messages/multipleAnalogSensorsMsgs/idl_generated_code/SensorRPCData.cpp
  src/devices/messages/multipleAnalogSensorsMsgs/idl_generated_code/SensorRPCData.h
  src/devices/messages/multipleAnalogSensorsMsgs/idl_generated_code/SensorStreamingData.cpp
  src/devices/messages/multipleAnalogSensorsMsgs/idl_generated_code/SensorStreamingData.h
  src/devices/messages/multipleAnalogSensorsMsgs/multipleAnalogSensorsSerializations.thrift
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.cpp
  src/devices/multipleanalogsensorsremapper/MultipleAnalogSensorsRemapper.h
  src/devices/networkWrappers/multipleanalogsensorsclient/MultipleAnalogSensorsClient.cpp
  src/devices/networkWrappers/multipleanalogsensorsclient/MultipleAnalogSensorsClient.h
  src/devices/networkWrappers/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/networkWrappers/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
  src/libYARP_dev/src/yarp/dev/MultipleAnalogSensorsInterfaces.h
  src/portmonitors/image_rotation/imageRotation.cpp
Labels: Component: Devices
