Repository robotology/yarp, pull requests merged in 2025-02, with the labels that each got.

#3174 Document breaking changes to IFrameTransform methods in YARP 3.11.0
  doc/release/master.md
Labels: Component: Documentation

#3160 Added new functionalities to pointCloud library
  doc/release/master.md
  src/libYARP_sig/src/yarp/sig/PointCloudUtils-inl.h
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.cpp
  src/libYARP_sig/src/yarp/sig/PointCloudUtils.h
  src/libYARP_sig/tests/PointCloudTest.cpp
Labels: Component: Library - YARP_sig, Type: Breaking/Behaviour Change

#3175 Feature: `yarpmanager` log messages time stamp
  doc/release/master.md
  src/guis/yarpmanager/src-manager/clusterWidget.cpp
  src/guis/yarpmanager/src-manager/clusterWidget.h
  src/guis/yarpmanager/src-manager/main.cpp
  src/guis/yarpmanager/src-manager/mainwindow.cpp
  src/libYARP_manager/src/yarp/manager/utility.cpp
  src/libYARP_manager/src/yarp/manager/utility.h
  src/yarpmanager-console/ymanager.cpp
Labels: PR Type: Feat/Enh, Component: GUI - yarpmanager

#3179 ReturnValue improvements
  src/devices/audioFromFileDevice/AudioFromFileDevice.cpp
  src/libYARP_dev/src/yarp/dev/ReturnValue.cpp
  src/libYARP_dev/src/yarp/dev/ReturnValue.h
  src/libYARP_dev/tests/ReturnValueTest.cpp
Labels: Component: Library - YARP_dev

#3180 IRangeFinder2D interface modified to use yarp::dev::ReturnValue
  CMakeLists.txt
  doc/release/master.md
  src/devices/Rangefinder2DTransformer/Rangefinder2DTransformer.cpp
  src/devices/Rangefinder2DTransformer/Rangefinder2DTransformer.h
  src/devices/fake/fakeLaser/FakeLaser.cpp
  src/devices/fake/fakeLaser/FakeLaser.h
  src/devices/fake/fakeLaserWithMotor/FakeLaserWithMotor.h
  src/devices/fake/fakeLaserWithMotor/FakeLaserWithMotor_laser.cpp
  src/devices/laserFromDepth/laserFromDepth.cpp
  src/devices/laserFromDepth/laserFromDepth.h
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/laserFromPointCloud/laserFromPointCloud.cpp
  src/devices/laserFromPointCloud/laserFromPointCloud.h
  src/devices/laserHokuyo/laserHokuyo.cpp
  src/devices/laserHokuyo/laserHokuyo.h
  src/devices/messages/IRangefinder2DMsgs/IRangefinder2DMsgs.thrift
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/IRangefinder2DMsgs.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/IRangefinder2DMsgs.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceInfo.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceInfo.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceStatus.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDeviceStatus.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDistanceRange.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getDistanceRange.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getHorizontalResolution.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getHorizontalResolution.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanLimits.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanLimits.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanRate.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/return_getScanRate.h
  src/devices/networkWrappers/Rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.cpp
  src/devices/networkWrappers/Rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.h
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2DServerImpl.cpp
  src/devices/networkWrappers/Rangefinder2D_nws_yarp/Rangefinder2DServerImpl.h
  src/libYARP_dev/src/yarp/dev/IRangefinder2D.h
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/Lidar2DDeviceBase.h
Labels: Component: Library - YARP_dev, Component: Devices, Type: Breaking/Behaviour Change

#3185 Removed deprecated Interfaces
  bindings/yarp.i
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/AudioVisualInterfaces.h
  src/libYARP_dev/src/yarp/dev/FrameGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabber.h
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.cpp
  src/libYARP_dev/src/yarp/dev/IFrameGrabberRgb.h
  src/libYARP_dev/src/yarp/dev/IVisualParams.h
  src/libYARP_dev/src/yarp/dev/all.h
Labels: Component: Library - YARP_dev
