Repository robotology/yarp, pull requests merged in 2025-01, with the labels that each got.

#3155 Layered Image
  doc/release/master.md
  src/libYARP_sig/src/CMakeLists.txt
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
  src/libYARP_sig/src/yarp/sig/ImageUtils.cpp
  src/libYARP_sig/src/yarp/sig/ImageUtils.h
  src/libYARP_sig/src/yarp/sig/LayeredImage.cpp
  src/libYARP_sig/src/yarp/sig/LayeredImage.h
  src/libYARP_sig/tests/CMakeLists.txt
  src/libYARP_sig/tests/LayeredImageTest.cpp
  src/yarpopencvdisplay/main.cpp
Labels: Component: Library - YARP_sig, Component: Tests

#3158 yarp::sig::Vector::erase()
  src/libYARP_sig/src/yarp/sig/Vector.h
  src/libYARP_sig/tests/VectorTest.cpp
Labels: Component: Library - YARP_sig

#3159 Pointcloud sorting
  src/libYARP_sig/src/CMakeLists.txt
  src/libYARP_sig/src/yarp/sig/PointCloud.cpp
  src/libYARP_sig/src/yarp/sig/PointCloud.h
  src/libYARP_sig/tests/PointCloudTest.cpp
Labels: Component: Library - YARP_sig

#3138 Added CI for Ubuntu24.04
  .github/workflows/ci.yml
Labels: Component: Continuous Integration

#3163 fix for c# with swig version 4.2.1
  .github/workflows/ci.yml
  bindings/yarp.i
Labels: Component: Bindings

#3165 MultipleAnalogSensorServer fix
  src/devices/networkWrappers/multipleanalogsensorsserver/MultipleAnalogSensorsServer.cpp
  src/devices/networkWrappers/multipleanalogsensorsserver/MultipleAnalogSensorsServer.h
Labels: Component: Devices

#3166 Update README.md
  README.md
Labels: Component: Documentation

#3164 CI update
  .github/workflows/ci.yml
Labels: Component: Continuous Integration

#3169 New class for return values of interface methods PART3
  src/devices/frameTransformClient/FrameTransformClient.cpp
  src/devices/frameTransformClient/FrameTransformClient.h
  src/devices/frameTransformGet/FrameTransformGetMultiplexer.cpp
  src/devices/frameTransformGet/FrameTransformGetMultiplexer.h
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.cpp
  src/devices/frameTransformGet/FrameTransformGet_nwc_yarp.h
  src/devices/frameTransformGet/FrameTransformGet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSetMultiplexer.cpp
  src/devices/frameTransformSet/FrameTransformSetMultiplexer.h
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nwc_yarp.h
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.cpp
  src/devices/frameTransformSet/FrameTransformSet_nws_yarp.h
  src/devices/frameTransformStorage/FrameTransformStorage.cpp
  src/devices/frameTransformStorage/FrameTransformStorage.h
  src/devices/messages/frameTransformStorageMsgs/CMakeLists.txt
  src/devices/messages/frameTransformStorageMsgs/frameTransformStorageMsgs.thrift
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.cpp
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.h
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/return_getAllTransforms.cpp
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/return_getAllTransforms.h
  src/libYARP_dev/src/yarp/dev/FrameTransformContainer.cpp
  src/libYARP_dev/src/yarp/dev/FrameTransformContainer.h
  src/libYARP_dev/src/yarp/dev/IFrameTransform.h
  src/libYARP_dev/src/yarp/dev/IFrameTransformStorage.h
  src/libYARP_dev/src/yarp/dev/ReturnValue.cpp
  src/libYARP_dev/src/yarp/dev/ReturnValue.h
  src/libYARP_dev/src/yarp/dev/tests/IFrameTransformTest.h
Labels: Component: Library - YARP_dev, Component: Devices, Type: Breaking/Behaviour Change

#3170 New class for return values of interface methods PART4
  src/devices/audioFromFileDevice/AudioFromFileDevice.cpp
  src/devices/audioFromFileDevice/AudioFromFileDevice.h
  src/devices/audioToFileDevice/AudioToFileDevice.cpp
  src/devices/audioToFileDevice/AudioToFileDevice.h
  src/devices/fake/fakeMicrophone/FakeMicrophone.cpp
  src/devices/fake/fakeMicrophone/FakeMicrophone.h
  src/devices/fake/fakeSpeaker/FakeSpeaker.cpp
  src/devices/fake/fakeSpeaker/FakeSpeaker.h
  src/devices/messages/IAudioGrabberMsgs/IAudioGrabberMsgs.thrift
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/IAudioGrabberMsgs.cpp
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/IAudioGrabberMsgs.h
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_getRecordingAudioBufferCurrentSize.cpp
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_getRecordingAudioBufferCurrentSize.h
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_getRecordingAudioBufferMaxSize.cpp
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_getRecordingAudioBufferMaxSize.h
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_getSound.cpp
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_getSound.h
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_isRecording.cpp
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/return_isRecording.h
  src/devices/networkWrappers/audioRecorder_nwc_yarp/AudioRecorder_nwc_yarp.cpp
  src/devices/networkWrappers/audioRecorder_nwc_yarp/AudioRecorder_nwc_yarp.h
  src/devices/networkWrappers/audioRecorder_nws_yarp/AudioRecorderServerImpl.cpp
  src/devices/networkWrappers/audioRecorder_nws_yarp/AudioRecorderServerImpl.h
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.cpp
  src/devices/portaudioPlayer/PortAudioPlayerDeviceDriver.h
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.cpp
  src/devices/portaudioRecorder/PortAudioRecorderDeviceDriver.h
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioPlayerDeviceBase.h
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.cpp
  src/libYARP_dev/src/yarp/dev/AudioRecorderDeviceBase.h
  src/libYARP_dev/src/yarp/dev/IAudioGrabberSound.h
  src/libYARP_dev/src/yarp/dev/IAudioRender.h
Labels: Component: Library - YARP_dev, Component: Devices, Type: Breaking/Behaviour Change
