Repository robotology/yarp, pull requests merged in 2025-05, with the labels that each got.

#3219 update of idl_generated_code
  src/devices/fake/fakeBattery/idl_generated_code/FakeBatteryService.cpp
  src/devices/fake/fakeBattery/idl_generated_code/FakeBatteryService.h
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/IAudioGrabberMsgs.cpp
  src/devices/messages/IAudioGrabberMsgs/idl_generated_code/IAudioGrabberMsgs.h
  src/devices/messages/ILocalization2DMsgs/idl_generated_code/ILocalization2DMsgs.cpp
  src/devices/messages/ILocalization2DMsgs/idl_generated_code/ILocalization2DMsgs.h
  src/devices/messages/IMap2DMsgs/idl_generated_code/IMap2DMsgs.cpp
  src/devices/messages/IMap2DMsgs/idl_generated_code/IMap2DMsgs.h
  src/devices/messages/INavigation2DMsgs/idl_generated_code/INavigation2DMsgs.cpp
  src/devices/messages/INavigation2DMsgs/idl_generated_code/INavigation2DMsgs.h
  src/devices/messages/IOdometry2DMsgs/idl_generated_code/IOdometry2DMsgs.cpp
  src/devices/messages/IOdometry2DMsgs/idl_generated_code/IOdometry2DMsgs.h
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/IRangefinder2DMsgs.cpp
  src/devices/messages/IRangefinder2DMsgs/idl_generated_code/IRangefinder2DMsgs.h
  src/devices/messages/ISerialMsgs/idl_generated_code/ISerialMsgs.cpp
  src/devices/messages/ISerialMsgs/idl_generated_code/ISerialMsgs.h
  src/devices/messages/ISpeechSynthesizerMsgs/idl_generated_code/ISpeechSynthesizerMsgs.cpp
  src/devices/messages/ISpeechSynthesizerMsgs/idl_generated_code/ISpeechSynthesizerMsgs.h
  src/devices/messages/ISpeechTranscriptionMsgs/idl_generated_code/ISpeechTranscriptionMsgs.cpp
  src/devices/messages/ISpeechTranscriptionMsgs/idl_generated_code/ISpeechTranscriptionMsgs.h
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.cpp
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageGetRPC.h
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.cpp
  src/devices/messages/frameTransformStorageMsgs/idl_generated_code/FrameTransformStorageSetRPC.h
  src/devices/messages/mobileBaseVelocityControlMsgs/idl_generated_code/MobileBaseVelocityControlRPC.cpp
  src/devices/messages/mobileBaseVelocityControlMsgs/idl_generated_code/MobileBaseVelocityControlRPC.h
  src/devices/messages/multipleAnalogSensorsMsgs/idl_generated_code/MultipleAnalogSensorsMetadata.cpp
  src/devices/messages/multipleAnalogSensorsMsgs/idl_generated_code/MultipleAnalogSensorsMetadata.h
  src/guis/yarpdataplayer/idl_generated_code/yarpdataplayer_IDL.cpp
  src/guis/yarpdataplayer/idl_generated_code/yarpdataplayer_IDL.h
  src/yarpdataplayer-console/idl_generated_code/yarpdataplayer_console_IDL.cpp
  src/yarpdataplayer-console/idl_generated_code/yarpdataplayer_console_IDL.h
  src/yarprobotinterface/idl_generated_code/yarprobotinterfaceRpc.cpp
  src/yarprobotinterface/idl_generated_code/yarprobotinterfaceRpc.h
Labels: Component: Devices

#3195 add option to load a default application in yarpmanager in the main window
  src/guis/yarpmanager/src-manager/main.cpp
  src/guis/yarpmanager/src-manager/mainwindow.cpp
Labels: Component: GUI - yarpmanager

#3222 ReturnValue fix
  doc/release/yarp_3_11/000_yarp_3_11.md
  src/libYARP_dev/src/yarp/dev/ReturnValue.cpp
Labels: Component: Library - YARP_dev, PR Type: Bugfix

#3217 IRobotDescription update
  src/devices/messages/CMakeLists.txt
  src/devices/messages/IRobotDescriptionMsgs/CMakeLists.txt
  src/devices/messages/IRobotDescriptionMsgs/IRobotDescriptionMsgs.thrift
  src/devices/messages/IRobotDescriptionMsgs/idl_generated_code/IRobotDescriptionMsgs.cpp
  src/devices/messages/IRobotDescriptionMsgs/idl_generated_code/IRobotDescriptionMsgs.h
  src/devices/messages/IRobotDescriptionMsgs/idl_generated_code/IRobotDescriptionMsgs_index.txt
  src/devices/messages/IRobotDescriptionMsgs/idl_generated_code/return_getAllDevices.cpp
  src/devices/messages/IRobotDescriptionMsgs/idl_generated_code/return_getAllDevices.h
  src/devices/messages/IRobotDescriptionMsgs/idl_generated_code/return_getAllDevicesByType.cpp
  src/devices/messages/IRobotDescriptionMsgs/idl_generated_code/return_getAllDevicesByType.h
  src/devices/networkWrappers/RobotDescriptionClient/CMakeLists.txt
  src/devices/networkWrappers/RobotDescriptionClient/RobotDescriptionClient.cpp
  src/devices/networkWrappers/RobotDescriptionClient/RobotDescriptionClient.h
  src/devices/networkWrappers/RobotDescriptionClient/tests/robotDescriptionClient_test.cpp
  src/devices/networkWrappers/RobotDescriptionServer/CMakeLists.txt
  src/devices/networkWrappers/RobotDescriptionServer/RobotDescriptionServer.cpp
  src/devices/networkWrappers/RobotDescriptionServer/RobotDescriptionServer.h
  src/devices/networkWrappers/RobotDescriptionServer/RobotDescriptionStorage.cpp
  src/devices/networkWrappers/RobotDescriptionServer/RobotDescriptionStorage.h
  src/devices/networkWrappers/RobotDescriptionServer/tests/robotDescriptionServer_test.cpp
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/idl/DeviceDescriptionData.thrift
  src/libYARP_dev/src/idl_generated_code/DeviceDescriptionData_index.txt
  src/libYARP_dev/src/idl_generated_code/yarp/dev/DeviceDescriptionData.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/DeviceDescriptionData.h
  src/libYARP_dev/src/yarp/dev/IRobotDescription.h
Labels: Component: Library - YARP_dev, Component: Devices

#3223 RobotDescriptionStorage
  .ci/initial-cache.gh.linux.cmake
  doc/release/master.md
  src/devices/CMakeLists.txt
  src/devices/README.md
  src/devices/networkWrappers/CMakeLists.txt
  src/devices/networkWrappers/RobotDescriptionClient/CMakeLists.txt
  src/devices/networkWrappers/RobotDescriptionClient/RobotDescriptionClient_params.md
  src/devices/networkWrappers/RobotDescriptionServer/tests/robotDescriptionServer_test.cpp
  src/devices/networkWrappers/map2D_nws_yarp/Map2D_nws_yarp.h
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/CMakeLists.txt
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.cpp
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.h
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp_ParamsParser.cpp
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp_ParamsParser.h
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp_params.md
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/tests/CMakeLists.txt
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/tests/rangefinder2D_nwc_yarp_test.cpp
  src/devices/networkWrappers/rangefinder2D_nws_yarp/CMakeLists.txt
  src/devices/networkWrappers/rangefinder2D_nws_yarp/Rangefinder2DServerImpl.cpp
  src/devices/networkWrappers/rangefinder2D_nws_yarp/Rangefinder2DServerImpl.h
  src/devices/networkWrappers/rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp.cpp
  src/devices/networkWrappers/rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp.h
  src/devices/networkWrappers/rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp_ParamsParser.cpp
  src/devices/networkWrappers/rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp_ParamsParser.h
  src/devices/networkWrappers/rangefinder2D_nws_yarp/Rangefinder2D_nws_yarp_params.md
  src/devices/networkWrappers/rangefinder2D_nws_yarp/tests/CMakeLists.txt
  src/devices/networkWrappers/rangefinder2D_nws_yarp/tests/rangefinder2D_nws_yarp_test.cpp
  src/devices/networkWrappers/robotDescription_nwc_yarp/CMakeLists.txt
  src/devices/networkWrappers/robotDescription_nwc_yarp/RobotDescription_nwc_yarp.cpp
  src/devices/networkWrappers/robotDescription_nwc_yarp/RobotDescription_nwc_yarp.h
  src/devices/networkWrappers/robotDescription_nwc_yarp/RobotDescription_nwc_yarp_ParamsParser.cpp
  src/devices/networkWrappers/robotDescription_nwc_yarp/RobotDescription_nwc_yarp_ParamsParser.h
  src/devices/networkWrappers/robotDescription_nwc_yarp/RobotDescription_nwc_yarp_params.md
  src/devices/networkWrappers/robotDescription_nwc_yarp/tests/CMakeLists.txt
  src/devices/networkWrappers/robotDescription_nwc_yarp/tests/robotDescription_nwc_yarp_test.cpp
  src/devices/networkWrappers/robotDescription_nws_yarp/CMakeLists.txt
  src/devices/networkWrappers/robotDescription_nws_yarp/RobotDescription_nws_yarp.cpp
  src/devices/networkWrappers/robotDescription_nws_yarp/RobotDescription_nws_yarp.h
  src/devices/networkWrappers/robotDescription_nws_yarp/RobotDescription_nws_yarp_ParamsParser.cpp
  src/devices/networkWrappers/robotDescription_nws_yarp/RobotDescription_nws_yarp_ParamsParser.h
  src/devices/networkWrappers/robotDescription_nws_yarp/RobotDescription_nws_yarp_params.md
  src/devices/networkWrappers/robotDescription_nws_yarp/tests/CMakeLists.txt
  src/devices/networkWrappers/robotDescription_nws_yarp/tests/robotDescription_nws_yarp_test.cpp
  src/devices/robotDescriptionStorage/CMakeLists.txt
  src/devices/robotDescriptionStorage/RobotDescriptionStorage.cpp
  src/devices/robotDescriptionStorage/RobotDescriptionStorage.h
  src/devices/robotDescriptionStorage/tests/CMakeLists.txt
  src/devices/robotDescriptionStorage/tests/robotDescriptionStorage_test.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Action.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Device.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Param.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/Types.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/XMLReader.cpp
  src/libYARP_robotinterface/src/yarp/robotinterface/impl/CalibratorThread.cpp
  src/yarprobotinterface/Module.cpp
  src/yarprobotinterface/tests/fakeFrameGrabber/fakeFrameGrabber.xml
  src/yarprobotinterface/tests/robotDescription/robotDescription.xml
  src/yarprobotinterface/tests/robotDescription/yarprobotinterface.ini
Labels: Component: Devices, Component: Tool - yarprobotinterface, Type: Breaking/Behaviour Change

#3216 New devices FrameWriters
  .ci/initial-cache.gh.linux.cmake
  .github/workflows/ci.yml
  doc/module_devices/dev_how_to.dox
  doc/module_executables/cmd_yarpdev.dox
  doc/release/master.md
  src/devices/CMakeLists.txt
  src/devices/README.md
  src/devices/fake/CMakeLists.txt
  src/devices/fake/fakeDevice_nwc_yarp/CMakeLists.txt
  src/devices/fake/fakeDevice_nws_yarp/CMakeLists.txt
  src/devices/fake/fakeFrameWriter/CMakeLists.txt
  src/devices/fake/fakeFrameWriter/FakeFrameWriter.cpp
  src/devices/fake/fakeFrameWriter/FakeFrameWriter.h
  src/devices/fake/fakeFrameWriter/FakeFrameWriter.md
  src/devices/fake/fakeFrameWriter/FakeFrameWriter_ParamsParser.cpp
  src/devices/fake/fakeFrameWriter/FakeFrameWriter_ParamsParser.h
  src/devices/fake/fakeFrameWriter/FakeFrameWriter_params.md
  src/devices/fake/fakeFrameWriter/tests/CMakeLists.txt
  src/devices/fake/fakeFrameWriter/tests/fakeFrameWriter_test.cpp
  src/devices/networkWrappers/CMakeLists.txt
  src/devices/networkWrappers/frameWriter_nws_yarp/CMakeLists.txt
  src/devices/networkWrappers/frameWriter_nws_yarp/FrameWriter_nws_yarp.cpp
  src/devices/networkWrappers/frameWriter_nws_yarp/FrameWriter_nws_yarp.h
  src/devices/networkWrappers/frameWriter_nws_yarp/FrameWriter_nws_yarp_ParamsParser.cpp
  src/devices/networkWrappers/frameWriter_nws_yarp/FrameWriter_nws_yarp_ParamsParser.h
  src/devices/networkWrappers/frameWriter_nws_yarp/FrameWriter_nws_yarp_params.md
  src/devices/networkWrappers/frameWriter_nws_yarp/tests/CMakeLists.txt
  src/devices/networkWrappers/frameWriter_nws_yarp/tests/frameWriter_nws_yarp_test.cpp
  src/devices/openCVGrabber/CMakeLists.txt
  src/devices/openCVGrabber/OpenCVGrabber.cpp
  src/devices/openCVGrabber/OpenCVGrabber.h
  src/devices/openCVGrabber/OpenCVGrabber.md
  src/devices/openCVGrabber/OpenCVGrabber.xml
  src/devices/openCVGrabber/OpenCVGrabber_ParamsParser.cpp
  src/devices/openCVGrabber/OpenCVGrabber_ParamsParser.h
  src/devices/openCVGrabber/OpenCVGrabber_params.md
  src/devices/openCVGrabber/tests/CMakeLists.txt
  src/devices/openCVGrabber/tests/openCVGrabber_test.cpp
  src/devices/openCVGrabber/tests/test.avi
  src/devices/openCVWriter/CMakeLists.txt
  src/devices/openCVWriter/OpenCVWriter.cpp
  src/devices/openCVWriter/OpenCVWriter.h
  src/devices/openCVWriter/OpenCVWriter.md
  src/devices/openCVWriter/OpenCVWriter_ParamsParser.cpp
  src/devices/openCVWriter/OpenCVWriter_ParamsParser.h
  src/devices/openCVWriter/OpenCVWriter_params.md
  src/devices/openCVWriter/tests/CMakeLists.txt
  src/devices/openCVWriter/tests/openCVWriter_test.cpp
  src/devices/openCVWriter/tests/test.avi
  src/libYARP_dev/src/yarp/dev/Drivers.cpp
  tests/devices/opencv_grabber_basic.ini
  tests/misc/check_license_skip.txt
Labels: Component: Devices

#3226 Yarpmotorgui gets the robot parts automatically
  doc/release/master.md
  src/devices/fake/fakeDevice_nwc_yarp/CMakeLists.txt
  src/devices/fake/fakeDevice_nwc_yarp/FakeDevice_nwc_yarp.cpp
  src/devices/fake/fakeDevice_nwc_yarp/FakeDevice_nwc_yarp.h
  src/devices/fake/fakeDevice_nws_yarp/CMakeLists.txt
  src/devices/fake/fakeDevice_nws_yarp/FakeDeviceServerImpl.cpp
  src/devices/fake/fakeDevice_nws_yarp/FakeDeviceServerImpl.h
  src/devices/fake/fakeDevice_nws_yarp/FakeDevice_nws_yarp.cpp
  src/devices/fake/fakeDevice_nws_yarp/FakeDevice_nws_yarp.h
  src/devices/robotDescriptionStorage/RobotDescriptionStorage.cpp
  src/devices/robotDescriptionStorage/tests/robotDescriptionStorage_test.cpp
  src/guis/yarpmotorgui/main.cpp
  src/guis/yarpmotorgui/mainwindow.cpp
  src/guis/yarpmotorgui/mainwindow.h
  src/guis/yarpmotorgui/partitem.cpp
  src/guis/yarpmotorgui/partitem.h
  src/guis/yarpmotorgui/startdlg.cpp
  src/guis/yarpmotorgui/startdlg.h
  src/libYARP_robotinterface/src/yarp/robotinterface/Robot.cpp
  src/yarprobotinterface/tests/controlBoardNWS/controlBoardNWS.xml
  src/yarprobotinterface/tests/controlBoardNWS/yarprobotinterface.ini
Labels: Component: Devices, Component: GUI - yarpmotorgui, Component: Tool - yarprobotinterface

#3228 removed device `audioRecorderWrapper`
  .github/CODEOWNERS
  COPYING
  doc/module_yarp_sig/audio_doc.dox
  doc/release/master.md
  scripts/admin/update-license
  src/devices/README.md
  src/devices/fake/fakeDevice_nwc_yarp/CMakeLists.txt
  src/devices/fake/fakeDevice_nws_yarp/CMakeLists.txt
  src/devices/fake/fakeDevice_nws_yarp/FakeDevice_nws_yarp.h
  src/devices/networkWrappers/CMakeLists.txt
  src/devices/networkWrappers/audioRecorderWrapper/AudioRecorderWrapper.cpp
  src/devices/networkWrappers/audioRecorderWrapper/AudioRecorderWrapper.h
  src/devices/networkWrappers/audioRecorderWrapper/CMakeLists.txt
  src/devices/networkWrappers/audioRecorderWrapper/tests/CMakeLists.txt
  src/devices/networkWrappers/audioRecorderWrapper/tests/audioRecorderWrapper_test.cpp
  src/portmonitors/sound_marker/README.md
  src/portmonitors/soundfilter_resample/README.md
Labels: Component: Devices, Type: Deprecation

#3232 Added IRGBDSensor python bindings
  bindings/yarp.i
Labels: Component: Bindings
