Repository robotology/yarp, pull requests merged in 2025-06, with the labels that each got.

#3201 NWCs with protocol check
  doc/release/master.md
  src/devices/networkWrappers/LLM_nwc_yarp/LLM_nwc_yarp.cpp
  src/devices/networkWrappers/audioRecorder_nwc_yarp/AudioRecorder_nwc_yarp.cpp
  src/devices/networkWrappers/battery_nwc_yarp/Battery_nwc_yarp.cpp
  src/devices/networkWrappers/chatBot_nwc_yarp/ChatBot_nwc_yarp.cpp
  src/devices/networkWrappers/frameGrabber_nwc_yarp/FrameGrabber_nwc_yarp.cpp
  src/devices/networkWrappers/frameTransformGet_nwc_yarp/FrameTransformGet_nwc_yarp.cpp
  src/devices/networkWrappers/frameTransformSet_nwc_yarp/FrameTransformSet_nwc_yarp.cpp
  src/devices/networkWrappers/localization2D_nwc_yarp/Localization2D_nwc_yarp.cpp
  src/devices/networkWrappers/map2D_nwc_yarp/Map2D_nwc_yarp.cpp
  src/devices/networkWrappers/mobileBaseVelocityControl_nwc_yarp/MobileBaseVelocityControl_nwc_yarp.cpp
  src/devices/networkWrappers/navigation2D_nwc_yarp/Navigation2D_nwc_yarp.cpp
  src/devices/networkWrappers/odometry2D_nwc_yarp/Odometry2D_nwc_yarp.cpp
  src/devices/networkWrappers/rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.cpp
  src/devices/networkWrappers/robotDescription_nwc_yarp/RobotDescription_nwc_yarp.cpp
  src/devices/networkWrappers/serialPort_nwc_yarp/SerialPort_nwc_yarp.cpp
  src/devices/networkWrappers/speechSynthesizer_nwc_yarp/SpeechSynthesizer_nwc_yarp.cpp
  src/devices/networkWrappers/speechTranscription_nwc_yarp/SpeechTranscription_nwc_yarp.cpp
Labels: Component: Devices, Type: Breaking/Behaviour Change

#3188 Add Motor Temperature to stateExt and Convert PWM to Float
  src/devices/networkWrappers/RemoteControlBoard/RemoteControlBoard.cpp
  src/devices/networkWrappers/RemoteControlBoard/stateExtendedReader.cpp
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoard_nws_yarp.cpp
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoard_nws_yarp.h
  src/libYARP_dev/src/idl/stateExt.thrift
  src/libYARP_dev/src/idl_generated_code/yarp/dev/impl/jointData.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/impl/jointData.h
  src/libYARP_sig/src/yarp/sig/Vector.cpp
  src/libYARP_sig/src/yarp/sig/Vector.h
Labels: Component: Library - YARP_dev, Component: Library - YARP_sig, Component: Devices, Type: Breaking/Behaviour Change

#3156 Image cleanup
  doc/release/master.md
  src/libYARP_sig/src/yarp/sig/Image.copyPixels.cpp
  src/libYARP_sig/src/yarp/sig/Image.cpp
  src/libYARP_sig/src/yarp/sig/Image.h
  src/libYARP_sig/src/yarp/sig/ImageNetworkHeader.h
  src/libYARP_sig/src/yarp/sig/impl/IplImage.cpp
  src/libYARP_sig/src/yarp/sig/impl/IplImage.h
Labels: Component: Library - YARP_sig, Type: Breaking/Behaviour Change

#3239 Removed node related classes
  doc/release/master.md
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/AbstractContactable.cpp
  src/libYARP_os/src/yarp/os/AbstractContactable.h
  src/libYARP_os/src/yarp/os/BufferedPort-inl.h
  src/libYARP_os/src/yarp/os/BufferedPort.h
  src/libYARP_os/src/yarp/os/Contactable.h
  src/libYARP_os/src/yarp/os/MultiNameSpace.cpp
  src/libYARP_os/src/yarp/os/Node.cpp
  src/libYARP_os/src/yarp/os/Node.h
  src/libYARP_os/src/yarp/os/Nodes.cpp
  src/libYARP_os/src/yarp/os/Nodes.h
  src/libYARP_os/src/yarp/os/Port.cpp
  src/libYARP_os/src/yarp/os/Port.h
  src/libYARP_os/src/yarp/os/Publisher.h
  src/libYARP_os/src/yarp/os/RosNameSpace.cpp
  src/libYARP_os/src/yarp/os/RosNameSpace.h
  src/libYARP_os/src/yarp/os/Subscriber.h
  src/libYARP_os/src/yarp/os/all.h
  src/libYARP_os/src/yarp/os/impl/NameClient.cpp
  src/libYARP_os/src/yarp/os/impl/NameClient.h
  src/libYARP_os/src/yarp/os/impl/PortCore.cpp
  src/libYARP_os/src/yarp/os/impl/PortCoreAdapter.cpp
  src/libYARP_os/src/yarp/os/impl/PortCoreAdapter.h
  src/libYARP_os/tests/CMakeLists.txt
  src/libYARP_os/tests/NodeTest.cpp
  src/libYARP_os/tests/PublisherTest.cpp
  src/libYARP_serversql/src/yarp/serversql/impl/NameServerContainer.cpp
  src/libYARP_serversql/src/yarp/serversql/impl/SubscriberOnSql.cpp
Labels: Component: ROS Integration, Type: Breaking/Behaviour Change

#3240 Removed deprecated devices `analogWrapper`, `analogSensorClient`
  doc/release/master.md
  src/devices/networkWrappers/AnalogSensorClient/AnalogSensorClient.cpp
  src/devices/networkWrappers/AnalogSensorClient/AnalogSensorClient.h
  src/devices/networkWrappers/AnalogSensorClient/CMakeLists.txt
  src/devices/networkWrappers/AnalogWrapper/AnalogWrapper.cpp
  src/devices/networkWrappers/AnalogWrapper/AnalogWrapper.h
  src/devices/networkWrappers/AnalogWrapper/CMakeLists.txt
  src/devices/networkWrappers/CMakeLists.txt
Labels: Component: Devices, Type: Breaking/Behaviour Change
