Repository robotology/yarp, pull requests merged in 2025-08, with the labels that each got.

#3262 Register bindings for `yarp::dev::ReturnValue`
  bindings/yarp.i
  src/libYARP_dev/src/yarp/dev/ReturnValue.h
Labels: Component: Bindings

#3266 cleanup: removed AudioGrabberVocabs
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/AudioGrabberInterfaces.h
  src/libYARP_dev/src/yarp/dev/AudioGrabberVocabs.h
Labels: Component: Library - YARP_dev

#3260 Added new Interface IVelocityDirect
  src/devices/controlBoardRemapper/ControlBoardRemapper.cpp
  src/devices/controlBoardRemapper/ControlBoardRemapper.h
  src/devices/controlBoardRemapper/ControlBoardRemapperHelpers.cpp
  src/devices/controlBoardRemapper/ControlBoardRemapperHelpers.h
  src/devices/controlBoardRemapper/tests/controlBoardRemapper_t1_test.cpp
  src/devices/controlBoardRemapper/tests/controlBoardRemapper_t2_test.cpp
  src/devices/fake/fakeMotionControl/FakeMotionControl.cpp
  src/devices/fake/fakeMotionControl/FakeMotionControl.h
  src/devices/fake/fakeMotionControl/tests/fakeMotionControl_test.cpp
  src/devices/messages/ControlBoardMsgs/ControlBoardMsgs.thrift
  src/devices/messages/ControlBoardMsgs/idl_generated_code/ControlBoardMsgs.cpp
  src/devices/messages/ControlBoardMsgs/idl_generated_code/ControlBoardMsgs.h
  src/devices/messages/ControlBoardMsgs/idl_generated_code/ControlBoardMsgs_index.txt
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getAxes.cpp
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getAxes.h
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getDesiredVelocityAll.cpp
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getDesiredVelocityAll.h
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getDesiredVelocityGroup.cpp
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getDesiredVelocityGroup.h
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getDesiredVelocityOne.cpp
  src/devices/messages/ControlBoardMsgs/idl_generated_code/return_getDesiredVelocityOne.h
  src/devices/networkWrappers/RemoteControlBoard/RemoteControlBoard.cpp
  src/devices/networkWrappers/RemoteControlBoard/RemoteControlBoard.h
  src/devices/networkWrappers/RemoteControlBoard/stateExtendedReader.cpp
  src/devices/networkWrappers/RemoteControlBoard/tests/RemoteControlBoard_test.cpp
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoardServerImpl.cpp
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoardServerImpl.h
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoard_nws_yarp.cpp
  src/devices/networkWrappers/controlBoard_nws_yarp/ControlBoard_nws_yarp.h
  src/devices/networkWrappers/controlBoard_nws_yarp/StreamingMessagesParser.cpp
  src/devices/networkWrappers/controlBoard_nws_yarp/StreamingMessagesParser.h
  src/guis/yarpmotorgui/jointitem.cpp
  src/guis/yarpmotorgui/jointitem.h
  src/guis/yarpmotorgui/jointitem.ui
  src/guis/yarpmotorgui/mainwindow.cpp
  src/guis/yarpmotorgui/mainwindow.h
  src/guis/yarpmotorgui/partitem.cpp
  src/guis/yarpmotorgui/partitem.h
  src/guis/yarpmotorgui/sliderOptions.cpp
  src/guis/yarpmotorgui/sliderOptions.h
  src/guis/yarpmotorgui/sliderOptions.ui
  src/guis/yarpmotorgui/yarpmotorgui.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/ControlBoardInterfaces.h
  src/libYARP_dev/src/yarp/dev/ControlBoardInterfacesImpl.h
  src/libYARP_dev/src/yarp/dev/ControlBoardVocabs.h
  src/libYARP_dev/src/yarp/dev/IControlMode.h
  src/libYARP_dev/src/yarp/dev/IVelocityControl.h
  src/libYARP_dev/src/yarp/dev/IVelocityDirect.h
  src/libYARP_dev/src/yarp/dev/ImplementVelocityDirect.cpp
  src/libYARP_dev/src/yarp/dev/ImplementVelocityDirect.h
  src/libYARP_dev/src/yarp/dev/tests/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/IVelocityDirectTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IVelocityDirectTest.h
Labels: Component: Library - YARP_dev, Component: Devices, Type: Breaking/Behaviour Change

#3267 Improvements to ReturnValue serialization
  src/libYARP_dev/src/yarp/dev/ReturnValue.cpp
  src/libYARP_dev/src/yarp/dev/ReturnValue.h
  src/libYARP_dev/tests/ReturnValueTest.cpp
Labels: Component: Library - YARP_dev

#3269 Add bindings for `yarp::dev::LLM_Message`
  bindings/yarp.i
Labels: Component: Bindings

#3274 Improvements to IImpendaceControl interface
  src/devices/controlBoardRemapper/tests/controlBoardRemapper_t2_test.cpp
  src/devices/fake/fakeMotionControl/FakeMotionControl.cpp
  src/devices/fake/fakeMotionControl/FakeMotionControl.h
  src/devices/fake/fakeMotionControl/tests/fakeMotionControl_test.cpp
  src/devices/networkWrappers/RemoteControlBoard/tests/RemoteControlBoard_test.cpp
  src/guis/yarpmotorgui/partitem.cpp
  src/guis/yarpmotorgui/partitem.h
  src/guis/yarpmotorgui/piddlg.cpp
  src/guis/yarpmotorgui/piddlg.h
  src/libYARP_dev/src/yarp/dev/tests/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/tests/IImpedanceControlTest.cpp
  src/libYARP_dev/src/yarp/dev/tests/IImpedanceControlTest.h
Labels: Component: Library - YARP_dev, Component: Devices, Component: Tests, Component: GUI - yarpmotorgui
