Repository robotology/yarp, pull requests merged in 2025-03, with the labels that each got.

#3189 Removed references to rosmsg from YarpIDL.cmake
  cmake/YarpIDL.cmake
Labels: Component: CMake, Component: IDL, Component: Tool - yarpidl_rosmsg

#3196 fakeDevice_nwc_yarp, fakeDevice_nws_yarp
  src/devices/fake/CMakeLists.txt
  src/devices/fake/fakeDeviceUnwrapped/FakeDeviceUnwrapped.cpp
  src/devices/fake/fakeDeviceUnwrapped/FakeDeviceUnwrapped.h
  src/devices/fake/fakeDeviceUnwrapped/tests/fakeDeviceUnwrapped_test.cpp
  src/devices/fake/fakeDeviceWrapped/FakeDeviceWrapped.cpp
  src/devices/fake/fakeDeviceWrapped/FakeDeviceWrapped.h
  src/devices/fake/fakeDeviceWrapped/tests/fakeDeviceWrapped_test.cpp
  src/devices/fake/fakeDeviceWrapper/FakeDeviceWrapper.cpp
  src/devices/fake/fakeDeviceWrapper/FakeDeviceWrapper.h
  src/devices/fake/fakeDeviceWrapper/tests/fakeDeviceWrapper_test.cpp
  src/devices/fake/fakeDevice_nwc_yarp/CMakeLists.txt
  src/devices/fake/fakeDevice_nwc_yarp/fakeDevice_nwc_yarp.cpp
  src/devices/fake/fakeDevice_nwc_yarp/fakeDevice_nwc_yarp.h
  src/devices/fake/fakeDevice_nwc_yarp/tests/CMakeLists.txt
  src/devices/fake/fakeDevice_nwc_yarp/tests/fake_nwc_yarp_test.cpp
  src/devices/fake/fakeDevice_nws_yarp/CMakeLists.txt
  src/devices/fake/fakeDevice_nws_yarp/fakeDeviceServerImpl.cpp
  src/devices/fake/fakeDevice_nws_yarp/fakeDeviceServerImpl.h
  src/devices/fake/fakeDevice_nws_yarp/fakeDevice_nws_yarp.cpp
  src/devices/fake/fakeDevice_nws_yarp/fakeDevice_nws_yarp.h
  src/devices/fake/fakeDevice_nws_yarp/tests/CMakeLists.txt
  src/devices/fake/fakeDevice_nws_yarp/tests/fake_nws_yarp_test.cpp
  src/devices/messages/CMakeLists.txt
  src/devices/messages/fakeTestMsgs/CMakeLists.txt
  src/devices/messages/fakeTestMsgs/fakeTestMsgs.thrift
  src/devices/messages/fakeTestMsgs/idl_generated_code/FakeTestMsgs.cpp
  src/devices/messages/fakeTestMsgs/idl_generated_code/FakeTestMsgs.h
  src/devices/messages/fakeTestMsgs/idl_generated_code/fakeTestMsgs_index.txt
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/yarp/dev/testInterfaces/IFakeDeviceInterfaceTest.cpp
  src/libYARP_dev/src/yarp/dev/testInterfaces/IFakeDeviceInterfaceTest1.cpp
  src/libYARP_dev/src/yarp/dev/testInterfaces/IFakeDeviceInterfaceTest1.h
  src/libYARP_dev/src/yarp/dev/testInterfaces/IFakeDeviceInterfaceTest2.cpp
  src/libYARP_dev/src/yarp/dev/testInterfaces/IFakeDeviceInterfaceTest2.h
Labels: Component: Library - YARP_dev, Component: Devices

#3199 Rename vendored TinyXML cmake project and package from YARP_priv_tinyxml to YARP_priv_TinyXML
  extern/tinyxml/CMakeLists.txt
Labels: Component: CMake

#3200 Improved protocol check between nws and nwc devices
  doc/release/master.md
  src/devices/fake/fakeDevice_nwc_yarp/fakeDevice_nwc_yarp.cpp
  src/devices/messages/fakeTestMsgs/fakeTestMsgs.thrift
  src/devices/messages/fakeTestMsgs/idl_generated_code/FakeTestMsgs.cpp
  src/devices/messages/fakeTestMsgs/idl_generated_code/FakeTestMsgs.h
  src/devices/messages/fakeTestMsgs/idl_generated_code/fakeTestMsgs_common.h
  src/devices/messages/fakeTestMsgs/idl_generated_code/fakeTestMsgs_index.txt
  src/libYARP_os/src/CMakeLists.txt
  src/libYARP_os/src/yarp/os/ApplicationNetworkProtocolVersion.cpp
  src/libYARP_os/src/yarp/os/ApplicationNetworkProtocolVersion.h
  src/yarpidl_thrift/src/t_yarp_generator.cc
Labels: Component: Library - YARP_os, Component: Library - YARP_dev, Component: Devices, Component: Tool - yarpidl_thrift

#3202 Plugins test (static yarpdev)
  .ci/initial-cache.gh.linux.cmake
  src/libYARP_dev/tests/CMakeLists.txt
  src/libYARP_dev/tests/StaticPluginsTest.cpp
  src/portmonitors/sound_marker/CMakeLists.txt
  src/portmonitors/soundfilter_resample/CMakeLists.txt
Labels: Component: Tests

#3209 Fix set_property of non-existant CustomInit.cpp file
  src/libYARP_init/src/CMakeLists.txt
Labels: Component: CMake

#3210 Fix for static builds: avoiding multiple symbols definitions
  doc/release/yarp_3_11/000_yarp_3_11.md
  src/devices/fake/fakeLaserWithMotor/FakeLaserWithMotor.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.cpp
  src/devices/laserFromExternalPort/laserFromExternalPort.h
  src/devices/networkWrappers/AnalogSensorClient/AnalogSensorClient.cpp
  src/devices/networkWrappers/AnalogSensorClient/AnalogSensorClient.h
  src/devices/networkWrappers/Rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.cpp
  src/devices/networkWrappers/Rangefinder2D_nwc_yarp/Rangefinder2D_nwc_yarp.h
  src/devices/networkWrappers/audioRecorder_nwc_yarp/AudioRecorder_nwc_yarp.cpp
  src/devices/networkWrappers/audioRecorder_nwc_yarp/AudioRecorder_nwc_yarp.h
  src/devices/networkWrappers/audioRecorder_nws_yarp/AudioRecorder_nws_yarp.cpp
  src/devices/networkWrappers/audioRecorder_nws_yarp/AudioRecorder_nws_yarp.h
  src/devices/networkWrappers/battery_nwc_yarp/Battery_nwc_yarp.cpp
  src/devices/networkWrappers/battery_nwc_yarp/Battery_nwc_yarp.h
  src/devices/networkWrappers/chatBot_nws_yarp/ChatBot_nws_yarp.cpp
  src/devices/networkWrappers/chatBot_nws_yarp/ChatBot_nws_yarp.h
  src/devices/networkWrappers/mobileBaseVelocityControl_nws_yarp/MobileBaseVelocityControl_nws_yarp.cpp
  src/devices/networkWrappers/mobileBaseVelocityControl_nws_yarp/MobileBaseVelocityControl_nws_yarp.h
  src/devices/networkWrappers/serialPort_nws_yarp/SerialPort_nws_yarp.cpp
  src/devices/networkWrappers/serialPort_nws_yarp/SerialPort_nws_yarp.h
  src/devices/networkWrappers/speechSynthesizer_nws_yarp/SpeechSynthesizer_nws_yarp.cpp
  src/devices/networkWrappers/speechSynthesizer_nws_yarp/SpeechSynthesizer_nws_yarp.h
  src/devices/networkWrappers/speechTranscription_nws_yarp/SpeechTranscription_nws_yarp.cpp
  src/devices/networkWrappers/speechTranscription_nws_yarp/SpeechTranscription_nws_yarp.h
  src/portmonitors/bottle_compression_zlib/BottleZlibPortmonitor.cpp
  src/portmonitors/image_compression_ffmpeg/ffmpegPortmonitor.cpp
  src/portmonitors/image_rotation/imageRotation.cpp
  src/portmonitors/sound_marker/Sound_marker.cpp
  src/portmonitors/soundfilter_resample/SoundFilter_resample.cpp
Labels: Component: Devices, Component: Port Monitors

#3212 Added methods canTransform and frameExists in bindings.
  bindings/yarp.i
Labels: Component: Bindings

#3208 ILLM, IChatBot interfaces modified to use yarp::dev::ReturnValue
  doc/release/master.md
  src/devices/fake/fakeChatBotDevice/FakeChatBotDevice.cpp
  src/devices/fake/fakeChatBotDevice/FakeChatBotDevice.h
  src/devices/fake/fakeLLMDevice/FakeLLMDevice.cpp
  src/devices/fake/fakeLLMDevice/FakeLLMDevice.h
  src/devices/messages/IChatBotMsgs/IChatBotMsgs.thrift
  src/devices/messages/IChatBotMsgs/idl_generated_code/IChatBotMsgs.cpp
  src/devices/messages/IChatBotMsgs/idl_generated_code/IChatBotMsgs.h
  src/devices/messages/IChatBotMsgs/idl_generated_code/return_getLanguage.cpp
  src/devices/messages/IChatBotMsgs/idl_generated_code/return_getLanguage.h
  src/devices/messages/IChatBotMsgs/idl_generated_code/return_getStatus.cpp
  src/devices/messages/IChatBotMsgs/idl_generated_code/return_getStatus.h
  src/devices/messages/IChatBotMsgs/idl_generated_code/return_interact.cpp
  src/devices/messages/IChatBotMsgs/idl_generated_code/return_interact.h
  src/devices/messages/ILLMMsgs/ILLMMsgs.thrift
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/ILLMMsgs.cpp
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/ILLMMsgs.h
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_ask.cpp
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_ask.h
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_getConversation.cpp
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_getConversation.h
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_readPrompt.cpp
  src/devices/messages/ILLMMsgs/idl_generated_code/yarp/dev/llm/return_readPrompt.h
  src/devices/networkWrappers/LLM_nwc_yarp/LLM_nwc_yarp.cpp
  src/devices/networkWrappers/LLM_nwc_yarp/LLM_nwc_yarp.h
  src/devices/networkWrappers/LLM_nws_yarp/ILLMServerImpl.cpp
  src/devices/networkWrappers/LLM_nws_yarp/ILLMServerImpl.h
  src/devices/networkWrappers/chatBot_nwc_yarp/ChatBot_nwc_yarp.cpp
  src/devices/networkWrappers/chatBot_nwc_yarp/ChatBot_nwc_yarp.h
  src/devices/networkWrappers/chatBot_nws_yarp/ChatBot_nws_yarp.h
  src/devices/networkWrappers/chatBot_nws_yarp/IChatBotMsgsImpl.cpp
  src/libYARP_dev/src/yarp/dev/IChatBot.h
  src/libYARP_dev/src/yarp/dev/ILLM.h
Labels: Component: Library - YARP_dev, Component: Devices, Type: Breaking/Behaviour Change

#3213 IBattery interface modified to use yarp::dev::ReturnValue
  src/devices/fake/fakeBattery/FakeBattery.cpp
  src/devices/fake/fakeBattery/FakeBattery.h
  src/devices/messages/CMakeLists.txt
  src/devices/messages/IBatteryMsgs/CMakeLists.txt
  src/devices/messages/IBatteryMsgs/IBatteryMsgs.thrift
  src/devices/messages/IBatteryMsgs/idl_generated_code/IBatteryMsgs.cpp
  src/devices/messages/IBatteryMsgs/idl_generated_code/IBatteryMsgs.h
  src/devices/messages/IBatteryMsgs/idl_generated_code/IBatteryMsgs_index.txt
  src/devices/messages/IBatteryMsgs/idl_generated_code/return_get_BatteryInfo.cpp
  src/devices/messages/IBatteryMsgs/idl_generated_code/return_get_BatteryInfo.h
  src/devices/networkWrappers/battery_nwc_yarp/Battery_nwc_yarp.cpp
  src/devices/networkWrappers/battery_nwc_yarp/Battery_nwc_yarp.h
  src/devices/networkWrappers/battery_nwc_yarp/CMakeLists.txt
  src/devices/networkWrappers/battery_nws_yarp/Battery_nws_yarp.cpp
  src/devices/networkWrappers/battery_nws_yarp/Battery_nws_yarp.h
  src/devices/networkWrappers/battery_nws_yarp/CMakeLists.txt
  src/devices/upowerBattery/upowerBattery.cpp
  src/devices/upowerBattery/upowerBattery.h
  src/libYARP_dev/src/CMakeLists.txt
  src/libYARP_dev/src/idl/BatteryData.thrift
  src/libYARP_dev/src/idl_generated_code/BatteryData_index.txt
  src/libYARP_dev/src/idl_generated_code/yarp/dev/BatteryData.cpp
  src/libYARP_dev/src/idl_generated_code/yarp/dev/BatteryData.h
  src/libYARP_dev/src/yarp/dev/IBattery.h
Labels: Component: Library - YARP_dev, Component: Devices, Type: Breaking/Behaviour Change
